{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Activity list" %}
{% set mainClasses = "app-container govuk-body" %}
{% set pageId = 'activity-list-page' %}

{% block content %}

    <h1 class="govuk-heading-l">{{ activityName }}</h1>

    <div class="page-content">
        <div class="results-activity">

        <div>
            <a href="/activity-list/select-activity-location" class="govuk-link">
                Select another activity or appointment location</a>
        </div>



        </div>
    </div>
    {{ govukTable({
        attributes: {
            'data-module': 'moj-sortable-table'
        },
        head: [
            {
                text: "Name"
            },
            {
                text: "Location"
            },
            {
                text: "Prison number"
            },
            {
                text: "Relevant alerts"
            },
            {
                text: "Activity"
            },
            {
                text: "Other activities"
            },
            {
                text: "Attended"
            },
            {
                text: "Not attended"
            }
        ],
        rows: rowData
    }) }}

{% endblock %}

