{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./macros/alertFlags.njk" import alertFlags %}
{% set pageTitle = applicationName + " - Activity list" %}
{% set mainClasses = "app-container govuk-body" %}
{% set pageId = 'activity-list-page' %}

{% block content %}

    <h1 class="govuk-heading-l">{{ activityName }}</h1>

    <div class="page-content">
        <div class="results-activity">

            <div>
                <a href="/activity-list/select-activity-location" class="govuk-link">
                    Select another activity or appointment location</a>
            </div>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Location</th>
                        <th scope="col" class="govuk-table__header">Prison number</th>
                        <th scope="col" class="govuk-table__header">Relevant alerts</th>
                        <th scope="col" class="govuk-table__header">Activity</th>
                        <th scope="col" class="govuk-table__header">Other activities</th>
                        <th scope="col" class="govuk-table__header">Attended</th>
                        <th scope="col" class="govuk-table__header">Not attended</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for item in rowData %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ item.name }}</td>
                        <td class="govuk-table__cell">{{ item.location }}</td>
                        <td class="govuk-table__cell">{{ item.prisonNumber }}</td>
                        <td class="govuk-table__cell">{{ alertFlags(item.relevantAlerts) }}</td>
                        <td class="govuk-table__cell">{{ item.activity }}</td>
                        <td class="govuk-table__cell">{{ item.otherActivities }}</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="attended" name="attended" type="radio" value="yes" aria-label="Mark as attended">
                                    <label class="govuk-label govuk-radios__label" for="attended"></label>
                                </div>
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="not-attended" name="attended" type="radio" value="no" aria-label="Mark as not attended">
                                            <label class="govuk-label govuk-radios__label" for="attended"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

