generic-service:
  nameOverride: hmpps-activities-management

  replicaCount: 4

  image:
    repository: quay.io/hmpps/hmpps-activities-management
    tag: app_version # override at deployment time
    port: 3000

  ingress:
    enabled: true
    v1_2_enabled: true
    v0_47_enabled: false
    host: app-hostname.local # override per environment
    tlsSecretName: activities-cert
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 10m
      nginx.ingress.kubernetes.io/server-snippet: |
        client_max_body_size 10m;

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping

  # Environment variables to load into the deployment
  env:
    NODE_ENV: "production"
    REDIS_TLS_ENABLED: "true"
    TOKEN_VERIFICATION_ENABLED: "true"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY);IngestionEndpoint=https://northeurope-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northeurope.livediagnostics.monitor.azure.com/"
    FRONTEND_COMPONENTS_API_FEATURE_TOGGLE_ENABLED: "true"
    REPORT_A_FAULT_URL: "https://report-problem-activities.form.service.justice.gov.uk"
    FEEDBACK_URL: "https://eu.surveymonkey.com/r/G9RZNKY"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-activities-management:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      API_CLIENT_ID: "API_CLIENT_ID"
      API_CLIENT_SECRET: "API_CLIENT_SECRET"
      SYSTEM_CLIENT_ID: "SYSTEM_CLIENT_ID"
      SYSTEM_CLIENT_SECRET: "SYSTEM_CLIENT_SECRET"
      SESSION_SECRET: "SESSION_SECRET"
      TAG_MANAGER_CONTAINER_ID: "TAG_MANAGER_CONTAINER_ID"
      TAG_MANAGER_ENVIRONMENT: "TAG_MANAGER_ENVIRONMENT"
    feature-toggles:
      VIDEO_CONFERENCE_SCHEDULE_FEATURE_TOGGLE_ENABLED: "VIDEO_CONFERENCE_SCHEDULE_FEATURE_TOGGLE_ENABLED"
    elasticache-redis:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"

  allowlist:
    ark-nps-hmcts-ttp2: 194.33.192.0/25
    ark-nps-hmcts-ttp3: 194.33.193.0/25
    ark-nps-hmcts-ttp4: 194.33.196.0/25
    ark-nps-hmcts-ttp5: 194.33.197.0/25
    ark-nps-hmcts-ttp1: 195.59.75.0/24
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-activities-management
