.separate-slip-print:not(:last-child){
  page-break-after: always;
} 

.movement-slip {
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(4);
  border: 2px dashed $govuk-border-colour;
  page-break-inside: avoid;

  .movement-slip-header {
    padding-left: 2.5rem;
    background-image: url(#{$moj-images-path}moj-logotype-crest.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position-y: center;
  }

  .movement-slip-footer {
    text-align: right;
    color: $govuk-secondary-text-colour;
    margin-bottom: govuk-spacing(0);

    @media print {
      font-size: 14px;
    }
  }

  &__summary {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    &__row {
      @extend .govuk-body;
      display: table-row;
      border-bottom: 1px solid $govuk-border-colour;

      &--no-border {
        border-bottom: 0;
      }

      &__key {
        display: table-cell;
        width: 30%;
        font-weight: bold;
        padding: 10px 20px 10px 0;
        margin: 0;
      }

      &__value {
        display: table-cell;
        padding: 10px 20px 10px 0;
        margin: 0;

        ul {
          @media print {
            font-size: 14px;
          }
        }
      }

      @media print {
        font-size: 14px;
      }
    }
  }
}
