{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Allocation error - Activities - DPS" %}
{% set pageId = 'allocation-error-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ allocateJourney.activity.name }}</span>
            <h1 class="govuk-heading-xl">{{ allocateJourney.inmate.prisonerName }} cannot be allocated at the moment</h1>

            {% if errorType == 'transferred'%}
                <p class="govuk-body">{{ allocateJourney.inmate.prisonerName }} is currently active in another prison, so cannot be allocated.</p>

                <p class="govuk-body">You can allocate them to {{ allocateJourney.activity.name }} when they are back.</p>
            {% endif %}

            <form>
                {{ govukButton({
                    classes: 'js-backlink',
                    text: "Return to waitlist applications"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
