{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Allocate to an activity - Confirmation" %}
{% set pageId = 'confirmation-page' %}

{% if otherAllocations | length > 1 %}
    {% set otherAllocationIds = otherAllocations | flatMap('id') %}
    {% set deallocationText = 'any other activities they’re allocated to' %}
    {% set deallocationHref = "/activities/allocations/remove/deallocation-select-activities?selectActivity=true&otherAllocationIds=" + otherAllocationIds %}
{% elif otherAllocations | length == 1 %}
    {% set deallocationText = otherAllocations[0].activitySummary %}
    {% set deallocationHref = "/activities/allocations/remove/deallocate-after-allocation-date?allocationIds=" + otherAllocations[0].id + "&scheduleId=" + otherAllocations[0].scheduleId %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if session.req.params.mode == 'create' %}
                {{ govukPanel({
                    titleText: "Allocation complete",
                    text: prisonerName + ' (' + prisonerNumber + ') is now allocated to ' + activityName
                }) }}

                <h2 class="govuk-heading-m">What you can do next</h2>
                <p class='govuk-body'>You can either:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    {% if otherAllocations | length %}
                        <li><a href={{ deallocationHref }} class='govuk-link'>take {{ prisonerName }} off {{ deallocationText }}</li>
                    {% endif %}
                    <li><a href="/activities/allocation-dashboard/{{ activityId }}" class='govuk-link'>review the allocations for {{ activityName }}</a> and continue allocating</li>
                    <li><a href="/activities/allocation-dashboard" class='govuk-link'>find other activities with vacancies</a></li>
                </ul>
            {% endif %}

            {% if session.req.params.mode == 'remove' %}
                {% if session.allocateJourney.inmates | length > 1 %}
                    {{ govukPanel({
                        titleText: "Removal complete",
                        text: session.allocateJourney.inmates | length + ' prisoners are now scheduled to be removed from ' + activityName + ' on ' + session.allocateJourney.endDate | formatDate
                    }) }}
                {% else %}
                    {{ govukPanel({
                        titleText: "Removal complete",
                        text: prisonerName + ' (' + prisonerNumber + ') is now scheduled to be removed from ' + activityName + ' on ' + session.allocateJourney.endDate | formatDate
                    }) }}
                {% endif %}

                <h2 class="govuk-heading-m">What you can do next</h2>
                <p class='govuk-body'>You can{% if not deallocateMultipleActivitiesMode %} either:{% else %}:{% endif %}</p>
                <ul class='govuk-list govuk-list--bullet'>
                    {% if not deallocateMultipleActivitiesMode %}<li><a href="/activities/allocation-dashboard/{{ activityId }}" class='govuk-link'>review the allocations for {{ activityName }}</a> and continue allocating</li>{% endif %}
                    <li><a href="/activities/allocation-dashboard" class='govuk-link'>find other activities with vacancies</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
