{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/activities/days-and-times.njk" import daysAndTimes %}

{% set pageTitle = applicationName + " - Allocate to an activity - Confirm Exclusions" %}
{% set pageId = 'confirm-exclusions-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Modify someone’s activity schedule</span>
            <h1 class="govuk-heading-xl">Check changes to when {{ session.allocateJourney.inmate.prisonerName }} should attend {{ session.allocateJourney.activity.name | safe }}</h1>

            {% if newSlots | length %}
                <h2 class="govuk-heading-l">Sessions you’re excluding {{ session.allocateJourney.inmate.prisonerName }} from</h2>

                {% for weekNumber, newWeekSlots in newSlots %}
                    {% if session.allocateJourney.activity.scheduleWeeks > 1 %}
                        <h3 class="govuk-heading-m">Week {{ weekNumber }}</h3>
                    {% endif %}

                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                        {% for newSlot in newWeekSlots %}
                            <li>{{ newSlot.day | capitalize }} {{ formatSlots(newSlot.slots) }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}

                <p class="govuk-body">This means they will not:</p>

                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>be on the attendance list</li>
                    <li>have this activity on unlock and movement lists</li>
                </ul>

                <p class="govuk-body">They will stay excluded until this session is added back to their schedule.</p>

                <p class="govuk-body">Changes take effect from tomorrow.</p>
            {% endif %}

            {% if removedSlots | length %}
                <h2 class="govuk-heading-l">Sessions you’re adding {{ session.allocateJourney.inmate.prisonerName }} to</h2>

               {% for weekNumber, removedWeekSlots in removedSlots %}
                    {% if session.allocateJourney.activity.scheduleWeeks > 1 %}
                        <h3 class="govuk-heading-m">Week {{ weekNumber }}</h3>
                    {% endif %}

                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                        {% for removedSlot in removedWeekSlots %}
                            <li>{{ removedSlot.day | capitalize }} {{ formatSlots(removedSlot.slots) }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}

                <p class="govuk-body">This will be on unlock, movement and attendance lists from tomorrow.</p>
            {% endif %}

            {% if removedSlots | length == 0 and newSlots | length == 0  %}
                <p class="govuk-body">You are not making any changes to when {{ session.allocateJourney.inmate.prisonerName }} should attend.</p>
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-button-group govuk-!-margin-top-6">
                    {{ govukButton({
                        text: "Confirm",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% macro formatSlots(slots) %}
    {%- set comma = joiner(', ') -%}
    {%- for slot in slots -%}
        {{ ' and ' if loop.last and not loop.first else comma() }}{{ slot | upper }}
    {%- endfor -%}
{% endmacro %}
