{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "Confirm when prisoner attends activity - Activities - DPS" %}
{% set pageId = 'confirm-exclusions-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Modify people in and out</span>
            <h1 class="govuk-heading-l">Check changes to when {{ allocateJourney.inmate.prisonerName }} should attend {{ allocateJourney.activity.name | safe }}</h1>

            {% set excludedSlotsHtml %}
                {% if excludedSlots | length %}
                    {{  formatSchedule(excludedSlots) }}
                {% else %}
                    None
                {% endif %}
            {% endset %}

            {% set addedSlotsHtml %}
                {% if addedSlots | length %}
                    {{  formatSchedule(addedSlots) }}
                {% else %}
                    None
                {% endif %}
            {% endset %}

          {% if sameDayScheduleModificationsEnabled and futureSameDaySlots | length %}
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                  text: "Sessions you’re adding " + allocateJourney.inmate.prisonerName + " to"
                },
                  value: { html: addedSlotsHtml },
                  actions: {
                  items: [{
                    href: "exclusions?preserveHistory=true",
                    classes: 'govuk-link--no-visited-state',
                    text: "Change",
                    visuallyHiddenText: "Change sessions added"
                  }]
                }
                },
                {
                  key: {
                  html: "Add to " + addToTodayText + "?"
                },
                  value: { text: addToSessionsToday | toTitleCase },
                  actions: {
                  items: [{
                    href: "addToToday?preserveHistory=true",
                    classes: 'govuk-link--no-visited-state',
                    text: "Change",
                    visuallyHiddenText: "Sessions to add to today"
                  }]
                }
                },
                {
                  key: {
                  text: "Sessions you’re excluding " + allocateJourney.inmate.prisonerName + " from"
                },
                  value: { html: excludedSlotsHtml },
                  actions: {
                  items: [{
                    href: "exclusions?preserveHistory=true",
                    classes: 'govuk-link--no-visited-state',
                    text: "Change",
                    visuallyHiddenText: "sessions modified out"
                  }]
                }
                }
              ]
            }) }}
            {% else %}
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Sessions you’re adding " + allocateJourney.inmate.prisonerName + " to"
                        },
                        value: { html: addedSlotsHtml },
                        actions: {
                        items: [{
                            href: "exclusions?preserveHistory=true",
                            classes: 'govuk-link--no-visited-state',
                            text: "Change",
                            visuallyHiddenText: "Change sessions added"
                        }]
                        }
                    },
                    {
                        key: {
                            text: "Sessions you’re excluding " + allocateJourney.inmate.prisonerName + " from"
                        },
                        value: { html: excludedSlotsHtml },
                        actions: {
                        items: [{
                            href: "exclusions?preserveHistory=true",
                            classes: 'govuk-link--no-visited-state',
                            text: "Change",
                            visuallyHiddenText: "sessions modified out"
                        }]
                        }
                    }
                ]
            }) }}
          {% endif %}

      {% if sameDayScheduleModificationsEnabled and futureSameDaySlots | length %}
          {% if addToSessionsToday === YesNo.YES %}
            <p class="govuk-body">Sessions someone has been modified out of will need to be added back to their schedule before they can attend again.</p>
            <p class="govuk-body">They’ll be added to {{ addToTodayText }}. All other changes take effect on unlock, movement and attendance lists from tomorrow.</p>
          {% else %}
            <p class="govuk-body">Sessions someone has been modified out of will need to be added back to their schedule before they can attend again.</p>
            <p class="govuk-body">Changes take effect on unlock, movement and attendance lists from tomorrow.</p>
            {% endif %}
      {% else %}
            {% if excludedSlots | length %}
                <p class="govuk-body">Sessions someone has been modified out of will need to be added back to their schedule before they can attend again.</p>
            {% endif %}

            {% if addedSlots | length or excludedSlots | length %}
                <p class="govuk-body">Changes take effect on unlock, movement and attendance lists from tomorrow.</p>
            {% endif %}

            {% if addedSlots | length == 0 and excludedSlots | length == 0  %}
                <p class="govuk-body">You are not making any changes to when {{ allocateJourney.inmate.prisonerName }} should attend.</p>
            {% endif %}
      {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-button-group govuk-!-margin-top-6">
                    {{ govukButton({
                        text: "Confirm",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% macro formatSchedule(weeks) %}
    {% for weekNumber, weekDays in weeks %}
        {% if allocateJourney.activity.scheduleWeeks > 1 %}
            <h3 class="govuk-heading-s">Week {{ weekNumber }}</h3>
        {% endif %}

        <ul class="govuk-list govuk-!-margin-bottom-6">
            {% for weekDay in weekDays %}
                {% for slot in weekDay.slots %}
                    <li>{{ weekDay.day | capitalize }} {{ slot.timeSlot }} ({{ slot.startTime }} to {{  slot.endTime }})</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endmacro %}
