{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'moj/components/date-picker/macro.njk' import mojDatePicker %}

{% set pageTitle = "Choose whether to de-allocate from session later today" %}
{% set pageId = 'deallocate-today-option-page' %}
{% set jsBackLink = true %}

{% set datePickerHTML %}
{{ mojDatePicker({
    id: 'endDate',
    name: 'endDate',
    leadingZeros: 'true',
    classes: 'moj-datepicker--fixed-width',
    label: {
        text: 'Other date',
        classes: 'govuk-visually-hidden'
    },
    hint: {
        text: 'Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select.'
    },
    errorMessage: validationErrors | findError('endDate'),
    value: formResponses.date or date | isoDateToDatePickerDate
}) }}
{% endset %}

{% set pageHeading %}
    {% if session.allocateJourney.inmates | length == 1 and session.allocateJourney.inmate %}
        When do you want {{ session.allocateJourney.inmate.prisonerName | safe }}'s allocation to end
    {% else %}
        When do you want {{ session.allocateJourney.inmates | length }} {% if session.allocateJourney.inmates | length == 1 %}person{% else %}people{% endif %}'s allocations to end
    {% endif %}
{% endset %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-xl">{{ session.allocateJourney.activity.name }}</span>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ govukRadios({
                    name: "deallocateTodayOption",
                    fieldset: {
                        legend: {
                            text: pageHeading,
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    errorMessage: validationErrors | findError('deallocateTodayOption'),
                    items: [
                        {
                            value: 'TODAY',
                            text: "Now - they'll be removed from any sessions later today"
                        } if nextAllocationToday,
                        {
                            value: 'EOD',
                            text: "At the end of today"
                        },
                        {
                            value: 'FUTURE_DATE',
                            text: "On a different date",
                            hint: {
                                text: "They'll attend any sessions they're allocated to on this date, then be removed."
                            },
                            conditional: { 
                                html: datePickerHTML
                            }
                        }
                    ]
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
