{% extends "layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Allocate to an activity - Exclusions" %}
{% set pageId = 'exclusions-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{ session.allocateJourney.activity.name | safe }}</span>
            <h1 class="govuk-heading-xl">Change when {{ prisonerName | safe }} should attend {{ session.allocateJourney.activity.name | safe }}</h1>

            {% if session.req.params.mode == 'create' %}
                <p class='govuk-body'>Unselect a session to exclude {{ prisonerName | safe }}. They will not be scheduled to attend that session.</p>
            {% else %}
                <p class='govuk-body'>Unselect a session to exclude {{ prisonerName | safe }}. They will no longer be scheduled to attend that session.</p>
                <p class='govuk-body'>Select a session to add it to their schedule.</p>
            {% endif %}

            {% if disabledSlots | length %}
                {{ govukInsetText({
                    text: "You cannot change if " + prisonerName | safe + " should attend a session where the activity runs in the same session in both weeks."
                }) }}
            {% endif %}
        </div>
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-grid-row">
                {% for weekNumber, weekSlots in weeklySlots %}
                    <div class="govuk-grid-column-one-half">
                    {% if scheduleWeeks > 1 %}
                        <h2 class="govuk-heading-l govuk-!-margin-bottom-6">
                            Week {{ weekNumber }}
                            {{ govukTag({
                                text: "Current week", classes: 'govuk-tag--green govuk-!-margin-left-2'
                            }) if currentWeek == weekNumber }}
                        </h2>
                    {% endif %}
                    {% for daySlots in weekSlots %}
                        <div>
                            {% if daySlots.slots | length %}
                                {% set exclusionsForDay = exclusions | filter('weekNumber', weekNumber | int) | filter(daySlots.day | lower, true) %}
                                {% for timeSlot in ['AM', 'PM', 'ED'] %}
                                    {% if (daySlots.day + timeSlot) in disabledSlots %}
                                        <input type='hidden' name='week{{ weekNumber }}[{{ daySlots.day | lower }}]' value='{{ timeSlot | lower }}'/>
                                    {% endif %}
                                {% endfor %}
                                {{ govukCheckboxes({
                                    name: "week" + weekNumber + "[" + daySlots.day | lower + "]",
                                    fieldset: {
                                        legend: {
                                            text: daySlots.day | toTitleCase,
                                            classes: "govuk-fieldset__legend--m"
                                        }
                                    },
                                    items: [
                                        {
                                            value: "am",
                                            text: "AM session",
                                            checked: not exclusionsForDay | filter('timeSlot', 'AM') | length,
                                            disabled: (daySlots.day + 'AM') in disabledSlots
                                        } if 'AM' in daySlots.slots,
                                        {
                                            value: "pm",
                                            text: "PM session",
                                            checked: not exclusionsForDay | filter('timeSlot', 'PM') | length,
                                            disabled: (daySlots.day + 'PM') in disabledSlots
                                        } if 'PM' in daySlots.slots,
                                        {
                                            value: "ed",
                                            text: "ED session",
                                            checked: not exclusionsForDay | filter('timeSlot', 'ED') | length,
                                            disabled: (daySlots.day + 'ED') in disabledSlots
                                        } if 'ED' in daySlots.slots
                                    ]
                                }) }}
                            {% else %}
                                <span class='govuk-heading-m'>{{ daySlots.day | toTitleCase }}</span>
                                <p class='govuk-body'>Not scheduled to run</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>

                <div class="govuk-button-group govuk-!-margin-top-6">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                    {% if session.req.params.mode != 'edit' and not session.req.query.preserveHistory %}
                        <a class="govuk-link" href="cancel">Cancel</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
