{% extends "layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Allocate to an activity - Exclusions" %}
{% set pageId = 'exclusions-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Modify someone’s activity schedule</span>
            <h1 class="govuk-heading-l">Change when {{ prisonerName | safe }} should attend {{ session.allocateJourney.activity.name | safe }}</h1>

            {% if session.req.params.mode == 'create' %}
                <p class='govuk-body'>Unselect a session to exclude {{ prisonerName | safe }}. They will not be scheduled to attend that session.</p>
            {% else %}
                <p class='govuk-body'>Unselect a session to exclude {{ prisonerName | safe }}. They will no longer be scheduled to attend that session.</p>
                <p class='govuk-body'>Select a session to add it to their schedule.</p>
            {% endif %}

            {% if disabledSlotsExist %}
                {{ govukInsetText({
                    text: "You cannot change if " + prisonerName | safe + " should attend a session where the activity runs in the same session in both week."
                }) }}
            {% endif %}
        </div>
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-grid-row">
                {% for week in weeks %}
                    <div class="govuk-grid-column-one-half">
                    {% if weeks.length > 1 %}
                        <h2 class="govuk-heading-l govuk-!-margin-bottom-6">
                            Week {{ week.weekNumber }}
                            {{ govukTag({
                                text: "Current week", classes: 'govuk-tag--green govuk-!-margin-left-2'
                            }) if week.currentWeek }}
                        </h2>
                    {% endif %}
                    {% for weekDay in week.weekDays %}
                        <div>
                            {% if weekDay.slots | length %}
                                {% set items = [] %}
                                {% for slot in weekDay.slots %}
                                    {% if slot.disabled %}
                                        <input type='hidden' name='week{{ week.weekNumber }}[{{ weekDay.day | lower }}]' value='{{ slot.timeSlot }}'/>
                                    {% endif %}
                                    {% set items = items.concat(
                                        {
                                            value: slot.timeSlot,
                                            text: slot.timeSlot + ' (' + slot.startTime + ' to ' + slot.endTime + ')',
                                            checked: not slot.excluded,
                                            disabled: slot.disabled
                                        }
                                    ) %}
                                {% endfor %}

                                {{ govukCheckboxes({
                                    name: "week" + week.weekNumber + "[" + weekDay.day | lower + "]",
                                    fieldset: {
                                        legend: {
                                            text: weekDay.day | toTitleCase,
                                            classes: "govuk-fieldset__legend--m"
                                        }
                                    },
                                    items: items
                                }) }}
                            {% else %}
                                <span class='govuk-heading-m'>{{ weekDay.day | toTitleCase }}</span>
                                <p class='govuk-body'>Not scheduled to run</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>

                <div class="govuk-button-group govuk-!-margin-top-6">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                    {% if session.req.params.mode == 'create' and not session.req.query.preserveHistory %}
                        <a class="govuk-link" href="cancel">Cancel</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
