{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Edit allocation - Remove Date option" %}
{% set pageId = 'edit-allocation-remove-date-option-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Allocation for {{prisonerName }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if session.req.params.mode == 'edit' %}
                    <h1 class='govuk-heading-xl'>Are you sure you want to remove the end date for this allocation?</h1>
                    <input type='hidden' name='endDateOption' value='remove'>
                    {{ govukInsetText({
                        text: "The prisoner will stay on the activity."
                    }) }}
                {% else %}
                    {{ govukRadios({
                        classes: "govuk-radios",
                        name: "endDateOption",
                        fieldset: {
                            legend: {
                                text: "Do you want to change or remove the end date for this allocation?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--xl"
                            }
                        },
                        items: [
                            {
                                value: "change",
                                text: "Change the date",
                                checked: endDateOption == "change"
                            },
                            {
                                value: "remove",
                                text: "Remove it, they will stay on the activity",
                                checked: endDateOption == "remove"
                            }
                        ],
                        errorMessage: validationErrors | findError('endDateOption')
                    }) }}
                {% endif %}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        preventDoubleClick: true
                    }) }}
                    <a class="govuk-link" href="{{ 'check-answers' if session.req.params.mode == 'create' else '/activities/allocations/view/' + session.req.params.allocationId }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
