{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Edit allocation - Remove Date option" %}
{% set pageId = 'edit-allocation-remove-date-option-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Allocation for {{prisonerName }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    classes: "govuk-radios",
                    name: "endDateOption",
                    fieldset: {
                        legend: {
                            text: "Do you want to change or remove the end date for this allocation?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                    },
                    items: [
                        {
                            value: "change",
                            text: "Change the date",
                            checked: endDateOption == "change"
                        },
                        {
                            value: "remove",
                            text: "Remove it, they will stay on the activity",
                            checked: endDateOption == "remove"
                        }
                    ],
                    errorMessage: validationErrors | findError('endDateOption')
                }) }}

                {{ govukButton({
                    text: "Save and continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
