{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukPhaseBanner({
  attributes: {
    role: "complementary"
  },
  tag: {
    text: "beta"
  },
  classes: 'govuk-!-display-none-print',
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

{% if backLinkHref or (returnLinkHref and returnLinkText) %}
  <nav class="govuk-!-display-none-print">
    {% if backLinkHref %}
      {{ govukBackLink({
        text: backLinkText or "Back",
        href: backLinkHref,
        classes: 'js-backlink'
      }) }}
    {% endif %}

    {% if serviceReturnLinkHref and serviceReturnLinkText %}
      <a href="{{ serviceReturnLinkHref }}"
        class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
        {{ serviceReturnLinkText }}
      </a>
    {% endif %}
  </nav>
{% endif %}

{% include './formErrorSummary.njk' %}
{% include './successMessage.njk' %}
<span class="govuk-visually-hidden" id="{{ pageId }}"></span>
