{% macro earliestReleaseDate(erd) %}
    {% if not erd.releaseDate %}
        {% if erd.isConvictedUnsentenced %}
            <div>Not sentenced</div>
            <div class='govuk-hint govuk-!-font-size-16 govuk-!-margin-0'>Convicted unsentenced</div>
        {% elseif erd.isImmigrationDetainee %}
            <div>Not sentenced</div>
            <div class='govuk-hint govuk-!-font-size-16 govuk-!-margin-0'>Immigration detainee</div>
        {% elseif erd.isRemand %}
            <div>Not sentenced</div>
            <div class='govuk-hint govuk-!-font-size-16 govuk-!-margin-0'>Remand</div>
        {% elseif erd.isIndeterminateSentence %}
            <div>No release date</div>
            <div class='govuk-hint govuk-!-font-size-16 govuk-!-margin-0'>Indeterminate sentence</div>
        {% else %}
            <div>Error. Check sentence details</div>
        {% endif %}
    {% else %}
        <div>{{ erd.releaseDate | formatDate('d MMMM yyyy') }}</div>
        {% if erd.isTariffDate %}
            <div class='govuk-hint govuk-!-font-size-16 govuk-!-margin-0'>Tariff date</div>
        {% endif %}
    {% endif %}
{% endmacro %}
