<div class="service-outage-banner-bg">
    <div class="govuk-width-container govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-margin-bottom-2">
        {% if liveIssueOutageBannerEnabled %}
            <h2 class="govuk-heading-s govuk-!-margin-0">Problems with the Activities service</h2>
            <p class="govuk-!-margin-0">We’re aware of problems with this service. We’re working on fixing them, but you may need to try again later.</p>
        {% elif plannedDowntimeOutageBannerEnabled %}
            <h2 class="govuk-heading-s govuk-!-margin-0">Important</h2>
            <p class="govuk-!-margin-0">The Activities service will be unavailable on {{ plannedDowntimeDate | formatDate }} between {{ plannedDowntimeStartTime }} and {{ plannedDowntimeEndTime }}.</p>
        {% endif %}
    </div>
</div>
