{% macro serviceUserName(user) %}
  {% if user.username == 'PRISONER_MANAGER_API' %}
    DPS user
  {% else %}
    {{ user.name | toTitleCase | initialiseName or "Unknown user" }}
  {% endif %}
{% endmacro %}
