{% macro showProfileLink(options = {}) %}
    <div {{ "class=" + options.classes if options.classes }} data-qa="prisoner-summary">
      <div data-qa="prisoner-name">
        {% if options.name != "UNKNOWN" %}
          {% set name = options.name | toTitleCase | prisonerName(options.link) %}
        {% else %}
          {% set name = 'No matching name' %}
        {% endif %}
        {% if options.link %}
          <a href="{{ dpsUrl }}/prisoner/{{ options.prisonerNumber }}"
            target="_blank"
            class="govuk-link govuk-link--no-visited-state">
            {{ name  }}
          </a>
        {% else %}
          {{ name }}
        {% endif %}
      </div>
      {% if options.prisonerNumber %}
        <div class="govuk-body-s govuk-!-margin-0" data-qa="prisoner-number">{{ options.prisonerNumber }}</div>
      {% endif %}
      {% if options.cellLocation %}
        {% set cellLocation = options.cellLocation if options.cellLocation != "UNKNOWN" else "No matching cell location" %}
        <div class="govuk-body-s govuk-!-margin-0" data-qa="prisoner-cell-location">{{ cellLocation }}</div>
      {% endif %}
    </div>
{% endmacro %}
