{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro showUnlockAlerts(alerts) %}
    <div>
        {% for a in alerts %}
            {% if a.active and ['ACCT', 'PEEP'].includes(a.alertCode) %}
                {{ govukTag({
                    text: a.alertCode | upper
                }) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
