
{% macro showUnlockProfileLink(prisonerNumber, displayName, dpsUrl) %}
  <div>
    <div>
      <a href="{{ dpsUrl }}/prisoner/{{ prisonerNumber }}"
         target="_blank"
         class="govuk-link govuk-link--no-visited-state">
        {{ displayName }}
      </a>
    </div>
    <div class="govuk-!-font-size-14 govuk-!-display-none-print">{{ prisonerNumber }}</div>
  </div>
{% endmacro %}
