{% macro showProfileLink(options = {}) %}
    <div class="hmpps-inline-block" data-qa="prisoner-summary">
      <div data-qa="prisoner-name">
        {% if options.link %}
          <a href="{{ dpsUrl }}/prisoner/{{ options.prisonerNumber }}"
            target="_blank"
            class="govuk-link govuk-link--no-visited-state">
            {{ options.name | toTitleCase | prisonerName }}
          </a>
        {% else %}
          {{ options.name | toTitleCase | prisonerName(false) }}
        {% endif %}
      </div>
      {% if options.prisonerNumber %}
        <div class="govuk-!-font-size-14" data-qa="prisoner-number">{{ options.prisonerNumber }}</div>
      {% endif %}
      {% if options.cellLocation %}
        <div class="govuk-!-font-size-14" data-qa="prisoner-cell-location">{{ options.cellLocation }}</div>
      {% endif %}
    </div>
{% endmacro %}
