
{% macro showUnlockProfileLink(prisonerNumber, displayName) %}
  <div>
    <div>
      <a href="/prisoners/{{ prisonerNumber }}/profile"
         class="govuk-link govuk-link--no-visited-state">
        {{ displayName }}
      </a>
    </div>
    <div class="govuk-!-font-size-14 govuk-!-display-none-print">{{ prisonerNumber }}</div>
  </div>
{% endmacro %}
