{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro showUnlockEvents(events) %}
    <div class="govuk-body-s govuk-!-margin-0">
        {% for e in events %}
            {% if not loop.first %}<hr class="mid-grey-tint-20-hr" />{% endif %}

            <div class="govuk-!-font-weight-bold">
                {% if e.eventType === 'ACTIVITY' and e.eventSource === 'SAA' %}
                    <a href="/activities/attendance/activities/{{ e.scheduledInstanceId }}/attendance-list?preserveHistory=true"
                    class="govuk-link govuk-link--no-visited-state">
                        {{ e.summary | trim }}
                    </a>
                {% elseif e.eventType === 'APPOINTMENT' and e.eventSource === 'SAA'%}
                    <a href="/appointments/{{ e.appointmentSeriesId }}/occurrence/{{ e.appointmentId }}?preserveHistory=true"
                    class="govuk-link govuk-link--no-visited-state">
                        {{ e.summary | trim }}
                    </a>
                    <div>
                        {% if e.cancelled %}
                            <div>{{ govukTag({ text: 'Cancelled Appointment', classes: 'govuk-tag--small govuk-tag--red' }) }}</div>
                        {% else %}
                            <div>{{ govukTag({ text: 'Appointment', classes: 'govuk-tag--small' }) }}</div>
                        {% endif %}
                        {% if e.comments %}
                            {{ govukTag({ text: 'Extra information', classes: 'govuk-tag--small govuk-tag--yellow' }) }}
                        {% endif %}
                    </div>
                {% else %}
                    {{ e.summary | trim }}
                {% endif %}
            </div>

            {% if e.suspended %}
                <strong class="govuk-tag govuk-tag--red-border govuk-tag--small">Prisoner suspended</strong>
            {% endif %}

            {% if e.eventType != 'EXTERNAL_TRANSFER' and e.eventType != 'COURT_HEARING' %}
                <div>{{ e.startTime }}{% if e.endTime %} - {{ e.endTime }}{% endif %}</div>
                <div>{{ locationText(e) }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro locationText(e) %}
    {% if e.inCell %}
        In cell
    {% elseif e.onWing %}
        On wing
    {% elseif e.offWing %}
        Off wing
    {% else %}
        {{ e.internalLocationDescription | trim | capitalize }}
    {% endif %}
{% endmacro %}
