{% macro showUnlockEvents(events) %}
    <span class="govuk-body govuk-!-font-size-14">
        {% for e in events %}
            {% if not loop.first %}<hr class="mid-grey-tint-20-hr" />{% endif %}
            <b>{{ e.event }}</b><br />
            {{ e.startTime }}{% if e.endTime %} - {{ e.endTime }}{% endif %}<br />
            {{ e.location | title }}
        {% endfor %}
    </span>
{% endmacro %}
