{% macro statusBasedCellLocation(cellLocation, status) -%}
  {% if (cellLocation == 'CSWAP' and status == PrisonerStatus.ACTIVE_OUT) or status == PrisonerStatus.INACTIVE_OUT %}
    -
  {% else %}
    {{ cellLocation or '-' }}
  {% endif %}
{%- endmacro %}
