{% macro summaryCardWithTable(prisoner) %}
    {% set rows = [] %}
    {% for na in prisoner.nonAssociations %}
        {% set rows = rows.push([
            [
                {
                    text: na.name
                },
                {
                    text: na.prisonerNumber
                },
                {
                    text: na.cellLocation
                }
            ]
        ])%}
    {% endfor %}

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                <a href="{{ dpsUrl }}/prisoner/{{ prisoner.number }}"
                target="_blank"
                class="govuk-link govuk-link--no-visited-state">
                {{ prisoner.name | toTitleCase if prisoner.name else "No matching name" }}, {{ prisoner.number }}
                </a>
            </h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="#">Remove attendee
                        <span class="govuk-visually-hidden">
                            {{ prisoner.name }}</span></a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            {{ govukTable({
            caption: Attendee,
            captionClasses: "govuk-visually-hidden",
            firstCellIsHeader: true,
            head: [
                {
                text: "Name"
                },
                {
                text: "Prison number"
                },
                {
                text: "Cell location"
                }
            ],
            rows: rows
            }) }}
        </div>
    </div>

{% endmacro %}