{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro summaryCardWithTable(attendee) %}
{% set primaryPrisoner = attendee.primaryPrisoner %}

{% set rows = [] %}
{% for otherPrisoner in attendee.nonAssociations %}
    {% set rows = (rows.push([
            {
                html: '<a href="'+ nonAssociationsUrl +'/prisoner/'+ otherPrisoner.prisonerNumber +'/non-associations"
                target="_blank"
                class="govuk-link govuk-link--no-visited-state">'+
                otherPrisoner.name | toTitleCase if otherPrisoner.name
                +'</a>'
            },
            {
                text: otherPrisoner.prisonerNumber
            },
            {
                text: otherPrisoner.cellLocation
            },
            {
                text: otherPrisoner.lastUpdated | parseISODate | formatDate('d MMMM yyyy')
            }
    ]), rows) %}
{% endfor %}

    <div class="govuk-summary-card" data-qa="card-{{primaryPrisoner.prisonerNumber}}">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                <a href="{{ nonAssociationsUrl }}/prisoner/{{ primaryPrisoner.prisonerNumber }}/non-associations"
                target="_blank"
                class="govuk-link govuk-link--no-visited-state">
                {{ primaryPrisoner.name | toTitleCase if primaryPrisoner.name else 'No matching name' }}, {{ primaryPrisoner.prisonerNumber }}
                </a>
            </h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="review-non-associations/{{ primaryPrisoner.prisonerNumber }}/remove{{ '?preserveHistory=true' if preserveHistory else '' }}" data-qa="remove-attendee-link-{{primaryPrisoner.prisonerNumber}}">Remove attendee
                        <span class="govuk-visually-hidden">
                            {{ primaryPrisoner.prisonerNumber }}</span></a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            {{ govukTable({
            caption: 'Attendee',
            captionClasses: "govuk-visually-hidden",
            firstCellIsHeader: false,
            classes: "govuk-!-margin-bottom-1",
            head: [
                {
                    text: "Name",
                    classes: "govuk-!-padding-top-0"
                },
                {
                    text: "Prison number",
                    classes: "govuk-!-padding-top-0"
                },
                {
                    text: "Cell location",
                    classes: "govuk-!-padding-top-0"
                },
                {
                    html: "Non-association <br>last updated",
                    classes: "govuk-!-padding-top-0"
                }
            ],
            rows: rows
            }) }}
        </div>
    </div>

{% endmacro %}