{% macro waitingListStatusDescription(waitingListStatus) -%}
  {% if waitingListStatus == 'PENDING' %}
    Pending
  {% elseif waitingListStatus == 'APPROVED' %}
    Approved and on the waitlist
  {% elseif waitingListStatus == 'DECLINED' %}
    Rejected
  {% elseif waitingListStatus == 'ALLOCATED' %}
    Allocated
  {% else %}
    unknown status
  {% endif %}
{%- endmacro %}
