{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/attendance/attendanceTag.njk" import attendanceTag %}
{% from "partials/searchInput.njk" import searchInput %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Daily attendance list" %}
{% set pageId = 'daily-attendance-detail-page' %}
{% set jsBackLink = true %}
{% set tab = '' %}

{% block content %}
    {% set filterOptionsHtml %}
    {% set categoryFilters = [] %}
    {% for category in uniqueCategories %}
        {% set categoryFilters = (categoryFilters.push({
            value: category, 
            text: category, 
            checked: category in session.attendanceSummaryJourney.categoryFilters
        }), categoryFilters) %}
    {% endfor %}

    {% set absenceReasonFilters = [] %}
    {% for reason in absenceReasons %}
        {% set absenceReasonFilters = (absenceReasonFilters.push({
        value: reason, 
        text: reason | absenceReasonDisplayConverter, 
        checked: reason in session.attendanceSummaryJourney.absenceReasonFilters
    }), absenceReasonFilters) %}
    {% endfor %}

    {% if status == 'Absences' %}
        {% include "../../../partials/activities/absencesCheckboxes.njk" %}
    {% endif %}
    
    {{ govukCheckboxes({
        idPrefix: 'categoryFilters',
        name: 'categoryFilters',
        classes: "govuk-radios--small",
        attributes: { "data-qa": "category-radio-buttons" },
        fieldset: {
            legend: {
                text: 'Categories',
                classes: 'govuk-fieldset__legend--m'
            }
        },
        items: categoryFilters
    }) }}

    <div class="govuk-!-margin-bottom-4">
        <a href="#" class="govuk-link govuk-link--no-visited-state" data-module="select-all-link" data-checkbox-name="categoryFilters"></a>
    </div>

    <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
            Apply filters
        </button>
    {% endset %}

    {% if status == 'Attended' %}
        {% if tier == EventTier.TIER_1 %}
            {% set h1Title = "All Tier 1 attendances" %}
        {% elif tier == EventTier.TIER_2 %}
            {% set h1Title = "All Tier 2 attendances" %}
        {% elif tier == EventTier.FOUNDATION %}
            {% set h1Title = "All routine attendances" %}
        {% else %}
            {% set h1Title = "All attended" %}
        {% endif %}
    {% elif status == 'Absences' %}
        {% set h1Title = "All absences" %}
    {% elif status == 'NotAttended' %}
        {% set h1Title = "All not attended yet" %}
    {% else %} 
        {# default #}
        {% set h1Title = "Attendance summary" %}
    {% endif %}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ h1Title }}
                <span class="govuk-caption-l">{{ activityDate | formatDate }}</span>
            </h1>
            {{ searchInput({
                    classes: "search-input--inline-search",
                    input: {
                        id: 'searchTerm',
                        name: 'searchTerm',
                        type: "search",
                        label: {
                            text: 'Search by name or prison number',
                            classes: 'govuk-label--s'
                        },
                        value: session.attendanceSummaryJourney.searchTerm,
                        attributes: {
                            form: 'filter-form'
                        }
                    },
                    button: {
                        text: "Search",
                        attributes: {
                            form: 'filter-form'
                        }
                    }
                }) }}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <div class="govuk-hint govuk-!-font-size-16">Updated at {{ now | formatDate('HH:mm') }} on {{ now | formatDate('d MMMM yyyy') }}</div>
            {{ govukButton({
                    text: "Refresh",
                    classes: "govuk-button--blue",
                    attributes: {
                        form: 'filter-form'
                    }
                }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="moj-filter-layout moj-filter-layout__flex" data-module="activities-list-filter">
                <div class="moj-filter-layout__filter moj-filter-layout__flex">
                    <form id="filter-form" method="POST" action="update-filters" novalidate>
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                        {{ mojFilter({
                    heading: {
                        text: 'Filter'
                    },
                    optionsHtml: filterOptionsHtml
                }) }}
                    </form>
                </div>

                <div class="moj-filter-layout__content">
                    <div class="moj-action-bar">
                        <div class="moj-action-bar__filter moj-action-bar__filter--no-actions"></div>
                    </div>
                    {{ govukTabs({
                    classes: "govuk-tabs--borderless",
                    items: [
                        {
                            label: "Daily summary",
                            id: "day-tab",
                            panel: {
                                html: summaryHtml("DAY", "daily", activityDate, user)
                            }
                        },
                        {
                            label: "AM session",
                            id: "am-tab",
                            panel: {
                                html: summaryHtml("AM", "morning", activityDate, user)
                            }
                        },
                        {
                            label: "PM session",
                            id: "pm-tab",
                            panel: {
                                html: summaryHtml("PM", "afternoon", activityDate, user)
                            }
                        },
                        {
                            label: "ED session",
                            id: "ed-tab",
                            panel: {
                                html: summaryHtml("ED", "evening", activityDate, user)
                            }
                        }
                    ]
                }) }}
                </div>
            </div>
        </div>
        </div>
    {% endblock %}

    {% macro summaryHtml(timeSlot, timeSlotDescription, activityDate, user) %}
        {% set tab = 'day-tab' if timeSlot == 'DAY' %}
        {% set attendanceRows = [] %}
        {% for attendee in attendees %}
            {% if timeSlot === 'DAY' or timeSlot === attendee.attendance.timeSlot %}
                {% set attendanceRows = (attendanceRows.push([
                {
                    attributes: { id: 'activity-' + loop.index, "data-sort-value": attendee.name | prisonerNameForSorting },
                    html: showProfileLink({
                        name: attendee.name,
                        prisonerNumber: attendee.prisonerNumber,
                        inCaseLoad: attendee.prisonCode == user.activeCaseLoadId,
                        classes: 'hmpps-inline-block'
                    }),
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'cell-location-' + loop.index, "data-sort-value": attendee.location },
                    html: statusBasedCellLocation(attendee.location, attendee.status, attendee.prisonCode == user.activeCaseLoadId),
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'activity-' + loop.index, "data-sort-value": attendee.attendance.activitySummary },
                    html: '<a href="/activities/attendance/activities/' + attendee.attendance.scheduledInstanceId + '/attendance-list?mode=standalone" class="govuk-link govuk-link--no-visited-state" target="_blank">' + (attendee.attendance.activitySummary | escape) + '</a>',
                    classes: 'govuk-table__cell'
                },
                {
                    attributes: { id: 'session-' + loop.index, "data-sort-value": attendee.attendance.timeSlot },
                    text: attendee.attendance.timeSlot,
                    classes: 'govuk-table__cell'
                } if (status == "NotAttended" or status == "Attended") and tab == "day-tab",
                {
                    attributes: { id: 'recorded-time-' + loop.index, "data-sort-value": attendee.location },
                    text: attendee.attendance.recordedTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate('HH:mm:ss') + ' on ' + attendee.attendance.recordedTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate('d MMM yyyy'),
                    classes: 'govuk-table_cell'
                } if status != "NotAttended",
                {
                    html: attendanceTag(attendee.attendance.status, attendee.attendance.attendanceReasonCode) + ' ' + renderPayStatus(attendee.attendance),
                    attributes: {
                        "data-qa": "attendance"
                    }
                },
                {
                    html: '<a href="/activities/attendance/activities/' + attendee.attendance.scheduledInstanceId + '/attendance-details/' + attendee.attendance.attendanceId + '" class="govuk-link govuk-link--no-visited-state">' + 'View or edit</a>'
                } if status != "NotAttended"
            ] | removeUndefined), attendanceRows) %}
            {% endif %}
        {% endfor %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% if status == 'Attended' %}
                    <h2 class="govuk-heading-m">{{ attendanceRows | length }} attended</h2>
                {% elseif status == 'NotAttended' %}
                    <h2 class="govuk-heading-m">{{ attendanceRows | length }} not attended yet</h2>
                {% elseif status == 'Absences' %}
                    <h2 class="govuk-heading-m">{{ attendanceRows | length }} absence{% if attendanceRows | length != 1 %}s{% endif %}
                    </h2>
                {% endif %}
            </div>
        </div>

        {{ govukTable({
        attributes: {
            'data-module': 'moj-sortable-table',
            id: 'attendee-list-table'
        },
        classes: "alternating-row-shading fixed-layout-table sticky-header",
        captionClasses: "govuk-visually-hidden",
        head: [
            {
                text: "Attendee",
                attributes: { "aria-sort": "none" }
            },
            {
                text: "Cell location",
                attributes: { "aria-sort": "none" }
            },
            {
                text: "Activity" if tab == 'day-tab' and (status == "NotAttended" or status == "Attended") else "Session",
                attributes: { "aria-sort": "ascending" }
            },
            {
                text: "Session",
                attributes: { "aria-sort": "none" }
            }  if (status == "NotAttended" or status == "Attended") and tab == 'day-tab',
            {
                html: "Time recorded",
                attributes: { "aria-sort": "none" }
            }  if status != "NotAttended",
            {
                text: "Attendance details",
                attributes: { "aria-sort": "none" }
            },
            {
                html: '<span class="govuk-visually-hidden">View or edit</span>'
            } if status != "NotAttended"
        ] | removeUndefined,
        rows: attendanceRows
    }) }}
    {% endmacro %}

    {% macro renderPayStatus(attendance) %}
        {% if attendance.issuePayment %}
            {{ govukTag({
            text: "Pay",
            classes: "govuk-tag--green"
        }) }}
        {% elseif attendance.status !=  'WAITING' %}
            {{ govukTag({
            text: "No pay",
            classes: "govuk-tag--red"
        }) }}
        {% endif %}
    {% endmacro %}
    