{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/searchInput.njk" import searchInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Cancelled Sessions" %}
{% set pageId = 'cancelled-sessions-detail-page' %}
{% set backLinkHref = "summary?date=" + activityDate | formatDate('yyyy-MM-dd') %}

{% block content %}
    <form id="filter-form" method="POST" action="update-filters" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ searchInput({
            classes: "search-input--inline-search",
            input: {
                id: 'searchTerm',
                name: 'searchTerm',
                type: "search",
                label: {
                    text: 'Search by session name',
                    classes: 'govuk-label--s'
                },
                value: session.attendanceSummaryJourney.searchTerm
            },
            button: {
                text: "Search"
            }
        }) }}

        <div>
            {{ govukTabs({
                classes: "govuk-tabs--borderless",
                items: [
                    {
                        label: "Daily summary",
                        id: "day-tab",
                        panel: {
                            html: summaryHtml("DAY", "daily", activityDate)
                        }
                    },
                    {
                        label: "AM session",
                        id: "am-tab",
                        panel: {
                            html: summaryHtml("AM", "morning", activityDate)
                        }
                    },
                    {
                        label: "PM session",
                        id: "pm-tab",
                        panel: {
                            html: summaryHtml("PM", "afternoon", activityDate)
                        }
                    },
                    {
                        label: "ED session",
                        id: "ed-tab",
                        panel: {
                            html: summaryHtml("ED", "evening", activityDate)
                        }
                    }
                ]
            }) }}
        </div>
    </form>
{% endblock %}
{% macro summaryHtml(timeSlot, timeSlotDescription, activityDate) %}
    {% set cancelledSessionsRows = [] %}
    {% for cancelledSession in cancelledSessions %}
        {% if timeSlot === 'DAY' or timeSlot === cancelledSession.timeSlot %}
            {% set cancelledSessionsRows = (cancelledSessionsRows.push([
                {
                    attributes: { id: 'activity-' + loop.index, "data-sort-value": cancelledSession.summary },
                    html: '<a href=/activities/attendance/activities/' + cancelledSession.id + '/attendance-list class="govuk-link govuk-link--no-visited-state" target="_blank">' + (cancelledSession.summary | escape) + '</a>',
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'cell-location-' + loop.index, "data-sort-value": ("In cell" if cancelledSession.inCell) or ("On wing" if cancelledSession.onWing) or cancelledSession.location },
                    text: ("In cell" if cancelledSession.inCell) or ("On wing" if cancelledSession.onWing) or cancelledSession.location,
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'cell-location-' + loop.index, "data-sort-value": cancelledSession.timeSlot },
                    text: cancelledSession.timeSlot,
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'cell-location-' + loop.index, "data-sort-value": cancelledSession.reason },
                    text: cancelledSession.reason,
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'cell-location-' + loop.index, "data-sort-value": cancelledSession.allocated  },
                    text: cancelledSession.allocated,
                    classes: 'govuk-table__cell'
                },
                {
                    attributes: { id: 'cell-location-' + loop.index, "data-sort-value": cancelledSession.comment },
                    text: cancelledSession.comment,
                    classes: 'govuk-table_cell'
                }
            ]), cancelledSessionsRows) %}
        {% endif %}
    {% endfor %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ activityDate | formatDate('EEEE, dd MMMM yyyy') }}</span>
            <h1 class="govuk-heading-xl">{{ cancelledSessionsRows | length }} {{ timeSlotDescription }}
                session{% if cancelledSessionsRows | length != 1 %}s{% endif %} cancelled</h1>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-padding-right-0 govuk-!-text-align-right">
            <div class="govuk-hint govuk-!-font-size-16">Updated at {{ now | formatDate('HH:mm') }}
                on {{ now | formatDate('dd MMMM yyyy') }}</div>
            {{ govukButton({
                text: "Refresh",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </div>

    {{ govukTable({
        attributes: {
            'data-module': 'moj-sortable-table',
            id: 'attendee-list-table'
        },
        classes: "alternating-row-shading fixed-layout-table",
        captionClasses: "govuk-visually-hidden",
        head: [
            {
                text: "Activity",
                attributes: { "aria-sort": "ascending" },
                classes: 'govuk-table__header'
            },
            {
                text: "Location",
                attributes: { "aria-sort": "none" },
                classes: 'govuk-table__header'
            },
            {
                html: "Session",
                attributes: { "aria-sort": "none" },
                classes: 'govuk-table__header'
            },
            {
                text: "Reason",
                attributes: { "aria-sort": "none" },
                classes: 'govuk-table__header'
            },
            {
                text: "Allocated",
                attributes: { "aria-sort": "none" },
                classes: 'govuk-table__header'
            },
            {
                html: "Comments",
                attributes: { "aria-sort": "none" },
                classes: 'govuk-table__header'
            }

        ],
        rows: cancelledSessionsRows if cancelledSessionsRows | length > 0 else [[{
            text: "No cancelled sessions",
            attributes: { "colspan": "6" },
            classes: 'govuk-table_cell govuk-!-text-align-centre'
        }]]
    }) }}
{% endmacro %}
