{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Daily attendance summary" %}
{% set pageId = 'daily-attendance-summary-page' %}
{% set hardBackLinkText = 'Back' %}
{% set hardBackLinkHref = "select-period" %}

{% block content %}
    {% set filterOptionsHtml %}
        {% set categoryFilters = [] %}
        {% for category in uniqueCategories %}
            {% set categoryFilters = (categoryFilters.push({
                value: category,
                text: category,
                checked: category in session.attendanceSummaryJourney.categoryFilters
            }), categoryFilters) %}
        {% endfor %}

        {{ govukCheckboxes({
            idPrefix: 'categoryFilters',
            name: 'categoryFilters',
            classes: "govuk-radios--small",
            hint: {
                text: "Select all that apply"
            },
            fieldset: {
                legend: {
                    text: 'Categories',
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            items: categoryFilters
        }) }}
        <div class="govuk-!-margin-bottom-4">
            <a href="#" class="govuk-link govuk-link--no-visited-state" data-module="select-all-link" data-checkbox-name="categoryFilters">Select all</a>
        </div>
        <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
            Apply filters
        </button>
    {% endset %}

    <div class="moj-filter-layout" data-module="activities-list-filter">
        <form id="filter-form" method="POST" action="update-filters" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <div class="moj-filter-layout__filter">
                {{ mojFilter({
                    heading: {
                        text: 'Filter'
                    },
                    optionsHtml: filterOptionsHtml
                }) }}
            </div>
            <div class="moj-filter-layout__content">
                <div class="moj-action-bar">
                    <div class="moj-action-bar__filter moj-action-bar__filter--no-actions"></div>
                </div>
                {{ govukTabs({
                    classes: "govuk-tabs--borderless",
                    items: [
                        {
                            label: "Daily summary",
                            id: "day-tab",
                            panel: {
                                html: summaryHtml("DAY", "Daily", activityDate)
                            }
                        },
                        {
                            label: "AM session",
                            id: "am-tab",
                            panel: {
                                html: summaryHtml("AM", "Morning", activityDate)
                            }
                        },
                        {
                            label: "PM session",
                            id: "pm-tab",
                            panel: {
                                html: summaryHtml("PM", "Afternoon", activityDate)
                            }
                        },
                        {
                            label: "ED session",
                            id: "ed-tab",
                            panel: {
                                html: summaryHtml("ED", "Evening", activityDate)
                            }
                        }
                    ]
                }) }}
            </div>
        </form>
    </div>
{% endblock %}

{% macro summaryHtml(timeSlot, timeSlotDescription, activityDate) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ activityDate | formatDate }}</span>
            <h1 class="govuk-heading-xl">{{ timeSlotDescription }} attendance summary</h1>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-padding-right-0 govuk-!-text-align-right">
            <div class="govuk-hint govuk-!-font-size-16">Updated at {{ now | formatDate('HH:mm') }} on {{ now | formatDate('dd MMMM yyyy') }}</div>
            {{ govukButton({
                text: "Refresh",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-body-l">
                {{ totalAllocated[timeSlot] }} total allocation{% if totalAllocated[timeSlot] != 1 %}s{% endif %} for
                <a href="/activities/attendance/activities?date={{ activityDate | formatDate('yyyy-MM-dd') }}&preserveHistory=true" class="govuk-link govuk-link--no-visited-state" data-qa="create-another-link" target='_blank'>{{ totalActivities[timeSlot] }} session{% if totalActivities[timeSlot] != 1 %}s{% endif %}</a>
            </div>
        </div>

        {{ stat({
            heading: 'Not yet attended',
            number: totalNotAttended[timeSlot],
            visuallyHiddenText: 'prisoners, which is',
            percentage: (totalNotAttended[timeSlot] / totalAllocated[timeSlot] * 100) | toFixed(1),
            link: {
                href: 'attendance?date=' + activityDate | formatDate('yyyy-MM-dd') + '&status=NotAttended#' + timeSlot | lower + '-tab',
                text: 'All not yet attended'
            }
        }) }}

        {{ stat({
            heading: 'Absences',
            number: totalAbsences[timeSlot],
            visuallyHiddenText: 'prisoners, which is',
            percentage: (totalAbsences[timeSlot] / totalAllocated[timeSlot] * 100) | toFixed(1),
            link: {
                href: 'attendance?date=' + activityDate | formatDate('yyyy-MM-dd') + '&status=Absences#' + timeSlot | lower + '-tab',
                text: 'All absences'
            }
        }) }}

        {{ stat({
            heading: 'Attended',
            number: totalAttended[timeSlot],
            visuallyHiddenText: 'prisoners, which is',
            percentage: (totalAttended[timeSlot] / totalAllocated[timeSlot] * 100) | toFixed(1),
            link: {
                href: 'attendance?date=' + activityDate | formatDate('yyyy-MM-dd') + '&status=Attended#' + timeSlot | lower + '-tab',
                text: 'All attended'
            }
        }) }}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Absences</h2>
        </div>
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">{{ totalPaidAbsences[timeSlot] }} paid {{ "absence" if totalPaidAbsences[timeSlot] == 1 else "absences" }}</h2>
        </div>

        {{ stat({
            heading: 'People with cancelled sessions',
            number: totalCancelled[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Sick',
            number: totalPaidSick[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Not required',
            number: totalNotRequired[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Rest day',
            number: totalPaidRest[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Clash',
            number: totalClash[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Other',
            number: totalPaidOther[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        <div class="govuk-grid-column-full govuk-!-margin-top-3">
            <h4 class="govuk-heading-m">{{ totalUnPaidAbsences[timeSlot] }} unpaid {{ "absence" if totalUnPaidAbsences[timeSlot] == 1 else "absences" }}</h4>
        </div>

        {{ stat({
            heading: 'Sick',
            number: totalUnpaidSick[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Refused',
            number: totalRefused[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Rest day',
            number: totalUnpaidRest[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}

        {{ stat({
            heading: 'Other',
            number: totalUnpaidOther[timeSlot],
            visuallyHiddenText: 'prisoners'
        }) }}
    </div>

    {% if totalCancelledSessions[timeSlot] > 0 %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-l">Cancelled sessions</h3>
            </div>
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">
                    {{ totalCancelledSessions[timeSlot] }} cancelled sessions
                    <span><a href="cancelled-sessions?date={{ activityDate | formatDate('yyyy-MM-dd') }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">(View cancelled sessions)</a></span>
                </h3>
            </div>

            {{ stat({
                heading: 'Staff unavailable',
                number: totalStaffUnavailable[timeSlot],
                visuallyHiddenText: 'sessions'
            }) }}

            {{ stat({
                heading: 'Staff training',
                number: totalStaffTraining[timeSlot],
                visuallyHiddenText: 'sessions'
            }) }}

            {{ stat({
                heading: 'Session not required',
                number: totalActivityNotRequired[timeSlot],
                visuallyHiddenText: 'sessions'
            }) }}

            {{ stat({
                heading: 'Location unavailable',
                number: totalLocationUnavailable[timeSlot],
                visuallyHiddenText: 'sessions'
            }) }}

            {{ stat({
                heading: 'Prison operational issue',
                number: totalOperationalIssue[timeSlot],
                visuallyHiddenText: 'sessions'
            }) }}
        </div>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-l">Suspended prisoners</h3>
        </div>

        {{ stat({
            heading: 'Suspended',
            number: suspendedPrisonerCount[timeSlot],
            visuallyHiddenText: 'prisoners',
            forceDisplay: true
        }) }}
    </div>
{% endmacro %}

{% macro stat(params) %}
    {% if params.number > 0 or params.forceDisplay %}
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-3">
            <div class="govuk-hint govuk-!-margin-bottom-0">{{ params.heading }}</div>
            <span class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-0 ">
                <span>{{ params.number }}</span>
                {% if params.visuallyHiddenText %}<span class="govuk-visually-hidden">{{ params.visuallyHiddenText }}</span>{% endif %}
                {% if params.percentage %}<span class="govuk-tag govuk-tag--grey govuk-!-display-inline-block">{{ params.percentage }}%</span>{% endif %}
            </span>

            {% if params.link %}
                <p class="govuk-!-margin-bottom-0">
                    <a href="{{ params.link.href }}" class="govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">
                        {{ params.link.text }}
                    </a>
                </p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
