{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Daily attendance summary" %}
{% set pageId = 'daily-attendance-summary-page' %}
{% set backLinkHref = "/activities/attendance-summary/select-period" %}

{% block content %}
    {% set filterOptionsHtml %}
    {{ govukCheckboxes({
            idPrefix: 'categoryFilters',
            name: 'categoryFilters',
            classes: "govuk-radios--small",
            hint: {
                text: "Select all that apply"
            },
            fieldset: {
                legend: {
                    text: 'Categories',
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            items: attendanceSummaryFilters.categoryFilters
        }) }}
        <div class="govuk-!-margin-bottom-4">
            <a href="#" class="govuk-link govuk-link--no-visited-state" data-module="select-all-link" data-checkbox-name="categoryFilters">Select all</a>
        </div>
        <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
            Apply filters
        </button>
    {% endset %}
    <div class="moj-filter-layout" data-module="activities-list-filter">
        <form id="filter-form" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <input type="hidden" name="activityDate" value="{{ activityDate | formatDate('yyyy-MM-dd') }}">
            <div class="moj-filter-layout__filter govuk-!-display-none-print">
                {% set selectedCategories = [] %}
                {% for category in attendanceSummaryFilters.categoryFilters %}
                    {% if (category.checked === true) %}
                        {% set selectedCategories = (selectedCategories.push({
                           href: 'update-filters?clearCategory=' + category.value, text: category.value
                       }), selectedCategories) %}
                    {% endif %}
                {% endfor %}
                {{ mojFilter({
                    heading: {
                        text: 'Filter'
                    },
                    optionsHtml: filterOptionsHtml
                }) }}
            </div>
            <hr class="print-only"/>
            <div class="moj-filter-layout__content">
                <div class="moj-action-bar govuk-!-display-none-print">
                    <div class="moj-action-bar__filter"></div>
                </div>
                {{ govukTabs({
                    classes: "govuk-tabs--borderless",
                    items: [
                        {
                            label: "Daily summary",
                            id: "day-tab",
                            panel: {
                                html: summaryHtml("DAY", "Daily", activityDate)
                            }
                        },
                        {
                            label: "AM session",
                            id: "am-tab",
                            panel: {
                                html: summaryHtml("AM", "AM session", activityDate)
                            }
                        },
                        {
                            label: "PM session",
                            id: "pm-tab",
                            panel: {
                                html: summaryHtml("PM", "PM session", activityDate)
                            }
                        },
                        {
                            label: "ED session",
                            id: "ed-tab",
                            panel: {
                                html: summaryHtml("ED", "ED session", activityDate)
                            }
                        }
                    ]
                }) }}
            </div>
        </form>
    </div>
{% endblock %}

{% macro summaryHtml(timeSlot, timeSlotDescription, activityDate) %}
    <div class="govuk-grid-column-one-half govuk-!-padding-0 govuk-!-text-align-left">
        <p class="govuk-body govuk-!-margin-bottom-0">{{ activityDate | formatDate('EEEE, dd MMMM yyyy') }}</p>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-padding-0 govuk-!-text-align-right">
        <p class="govuk-body govuk-!-margin-bottom-0">Updated at {{ now | formatDate('HH:mm') }} on {{ now | formatDate('dd MMMM yyyy') }} </p>
    </div>
    <div>
        <h1 class="govuk-grid-column-one-half govuk-!-padding-0">{{ timeSlotDescription }} attendance summary</h1>
    </div>
    <div>
        <div class="govuk-grid-column-one-half govuk-!-padding-0 govuk-!-text-align-right">
              <div class="govuk-button-group float-right">
                    {{ govukButton({
                        text: "Refresh",
                        classes: "govuk-button--secondary"
                    }) }}
              </div>
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ totalAllocated[timeSlot] }} total allocation{% if totalAllocated[timeSlot] != 1 %}s{% endif %} for
        <a href="/activities/attendance/activities?date={{ activityDate | formatDate('yyyy-MM-dd') }}&preserveHistory=true" class="govuk-link govuk-link--no-visited-state" data-qa="create-another-link">{{ totalActivities[timeSlot] }} session{% if totalActivities[timeSlot] != 1 %}s{% endif %}</a></h2>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Not yet attended</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><font size="+4">{{ totalNotAttended[timeSlot] }}</font> {{ totalNotAttendedPercentage[timeSlot] }}%</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a href="/activities/attendance-summary/attendance?date={{ activityDate | formatDate('yyyy-MM-dd') }}&status=NotAttended">All not yet attended</a></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Absences</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><font size="+4">{{ totalAbsences[timeSlot] }}</font> {{ totalAbsencesPercentage[timeSlot] }}%</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a href="/activities/attendance-summary/attendance?date={{ activityDate | formatDate('yyyy-MM-dd') }}&status=Absences">All absences</a></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Attended</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><font size="+4">{{ totalAttended[timeSlot] }}</font> {{ totalAttendedPercentage[timeSlot] }}%</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a href="/activities/attendance-summary/attendance?date={{ activityDate | formatDate('yyyy-MM-dd') }}&status=Attended">All attended</a></p>
        </div>
    </div>
    <hr />
    {% if totalAbsences[timeSlot] > 0 %}
        <h3 class="govuk-heading-s">Absences</h3>
        <h3 class="govuk-heading-s">{{ totalPaidAbsences[timeSlot] }} paid absence{% if totalPaidAbsences[timeSlot] != 1 %}s{% endif %}</h3>
        <div class="govuk-grid-row govuk-!-margin-bottom-1">
            {% if totalCancelled[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">People with cancelled sessions</p>
                    <p class="govuk-body govuk-!-margin-bottom-1">{{ totalCancelled[timeSlot]  }}</p>
                </div>
            {% endif %}
            {% if totalPaidSick[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Sick</p>
                    <p class="govuk-body govuk-!-margin-bottom-1">{{ totalPaidSick[timeSlot] }}</p>
                </div>
            {% endif %}
            {% if totalNotRequired[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Not required</p>
                    <p class="govuk-body govuk-!-margin-bottom-1">{{ totalNotRequired[timeSlot] }}</p>
                </div>
            {% endif %}
            {% if totalPaidRest[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                  <p class="govuk-body govuk-!-margin-bottom-0">Rest day</p>
                  <p class="govuk-body govuk-!-margin-bottom-1">{{ totalPaidRest[timeSlot] }}</p>
                </div>
            {% endif %}
            {% if totalClash[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Clash</p>
                    <p class="govuk-body govuk-!-margin-bottom-1">{{ totalClash[timeSlot] }}</p>
                </div>
            {% endif %}
            {% if totalPaidOther[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Other</p>
                    <p class="govuk-body govuk-!-margin-bottom-1">{{ totalPaidOther[timeSlot] }}</p>
                </div>
            {% endif %}
        </div>
        </br>
        <h3 class="govuk-heading-s">{{ totalUnPaidAbsences[timeSlot] }} unpaid absence{% if totalUnPaidAbsences[timeSlot] != 1 %}s{% endif %}</h3>
        <div class="govuk-grid-row govuk-!-margin-bottom-1">
            {% if totalUnpaidSick[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Sick</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ totalUnpaidSick[timeSlot] }}</p>
                </div>
            {% endif %}
            {% if totalRefused[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Refused</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ totalRefused[timeSlot] }}</p>
                </div>
            {% endif %}
            {% if totalUnpaidRest[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Rest day</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ totalUnpaidRest[timeSlot] }}</p>
                </div>
            {% endif %}
            {% if totalUnpaidOther[timeSlot] > 0 %}
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body govuk-!-margin-bottom-0">Other</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ totalUnpaidOther[timeSlot] }}</p>
                </div>
            {% endif %}
        </div>
        <hr />
    {% endif %}
    <h3 class="govuk-heading-s">{{ totalCancelledSessions[timeSlot] }} session{% if totalCancelledSessions[timeSlot] != 1 %}s{% endif %} cancelled</h3>
    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        {% if totalStaffUnavailable[timeSlot] > 0 %}
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-0">Staff unavailable</p>
                <p class="govuk-body govuk-!-margin-bottom-0">{{ totalStaffUnavailable[timeSlot] }}</p>
            </div>
        {% endif %}
        {% if totalStaffTraining[timeSlot] > 0 %}
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-0">Staff training</p>
                <p class="govuk-body govuk-!-margin-bottom-0">{{ totalStaffTraining[timeSlot] }}</p>
            </div>
        {% endif %}
        {% if totalActivityNotRequired[timeSlot] > 0 %}
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-0">Session not required</p>
                <p class="govuk-body govuk-!-margin-bottom-0">{{ totalActivityNotRequired[timeSlot] }}</p>
            </div>
        {% endif %}
        {% if totalLocationUnavailable[timeSlot] > 0 %}
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-0">Location unavailable</p>
                <p class="govuk-body govuk-!-margin-bottom-0">{{ totalLocationUnavailable[timeSlot] }}</p>
            </div>
        {% endif %}
        {% if totalOperationalIssue[timeSlot] > 0 %}
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-0">Prison operational issue</p>
                <p class="govuk-body govuk-!-margin-bottom-0">{{ totalOperationalIssue[timeSlot] }}</p>
            </div>
        {% endif %}
    </div>
    {% if totalCancelledSessions[timeSlot] > 0 %}
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="cancelled-sessions?date={{ activityDate | formatDate('yyyy-MM-dd') }}">View cancelled sessions</a></p>
    {% endif %}
    <hr />
    <h3 class="govuk-heading-s">Suspended prisoners</h3>
    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Suspended</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ suspendedPrisonerCount[timeSlot] }}</p>
        </div>
    </div>
{% endmacro %}
