{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}

{% set pageTitle = applicationName + " - " + title %}
{% set pageId = 'select-period-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    name: "datePresetOption",
                    fieldset: {
                        legend: {
                            text: title,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                    },
                    hint: {
                        text: "You can view the summary for any of the last 15 days."
                    },
                    errorMessage: validationErrors | findError('datePresetOption'),
                    items: [
                        {
                            value: "today",
                            text: "Today - " + now | formatDate('dd MMMM yyyy'),
                            checked: formResponses.datePresetOption == 'today'
                        },
                        {
                            value: "yesterday",
                            text: "Yesterday - " + (now - 86400000) | formatDate('dd MMMM yyyy'),
                            checked: formResponses.datePresetOption == 'yesterday'
                        },
                        {
                            value: "other",
                            text: "A different date",
                            checked: formResponses.datePresetOption == 'other',
                            conditional: { 
                                html: hmppsDatePicker({
                                    id: 'date',
                                    name: 'date',
                                    classes: 'hmpps-datepicker--fixed-width',
                                    hint: {
                                        html: 'Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select.'
                                    },
                                    errorMessage: validationErrors | findError('date'),
                                    value: formResponses.date or date
                                })
                            }
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Submit"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
