{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/searchInput.njk" import searchInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}

{% set pageTitle = applicationName + " - Suspended Prisoners" %}
{% set pageId = 'suspended-prisoners-detail-page' %}
{% set jsBackLink = true %}

{% block content %}
    {% set filterOptionsHtml %}
        {% set categoryFilters = [] %}
        {% for category in uniqueCategories %}
            {% set categoryFilters = (categoryFilters.push({
                value: category,
                text: category,
                checked: category in session.attendanceSummaryJourney.categoryFilters
            }), categoryFilters) %}
        {% endfor %}

        {{ govukCheckboxes({
            idPrefix: 'categoryFilters',
            name: 'categoryFilters',
            classes: "govuk-radios--small",
            hint: {
                text: "Select all that apply"
            },
            fieldset: {
                legend: {
                    text: 'Categories',
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            items: categoryFilters
        }) }}
        <div class="govuk-!-margin-bottom-4">
            <a href="#" class="govuk-link govuk-link--no-visited-state" data-module="select-all-link" data-checkbox-name="categoryFilters"></a>
        </div>

        <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
            Apply filters
        </button>
    {% endset %}
    <div class="moj-filter-layout" data-module="activities-list-filter">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                    Suspended from activities
                    <span class="govuk-caption-l">{{ activityDate | formatDate }}</span>
                </h1>

                {{ searchInput({
                    classes: "search-input--inline-search",
                    input: {
                        id: 'searchTerm',
                        name: 'searchTerm',
                        type: "search",
                        label: {
                            text: 'Search by name or prison number',
                            classes: 'govuk-label--s'
                        },
                        value: session.attendanceSummaryJourney.searchTerm,
                        attributes: {
                            form: 'filter-form'
                        }
                    },
                    button: {
                        text: "Search",
                        attributes: {
                            form: 'filter-form'
                        }
                    }
                }) }}
            </div>
            <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                <div class="govuk-hint govuk-!-font-size-16">Updated at {{ now | formatDate('HH:mm') }} on {{ now | formatDate('d MMMM yyyy') }}</div>
                {{ govukButton({
                    text: "Refresh",
                    classes: "govuk-button--secondary",
                    attributes: {
                        form: 'filter-form'
                    }
                }) }}
            </div>
        </div>

        <form id="filter-form" method="POST" action="update-filters" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <div class="moj-filter-layout__filter">
                {{ mojFilter({
                    heading: {
                        text: 'Filter'
                    },
                    optionsHtml: filterOptionsHtml
                }) }}
            </div>

            <div class="moj-filter-layout__content">
                <div class="moj-action-bar">
                    <div class="moj-action-bar__filter moj-action-bar__filter--no-actions"></div>
                </div>
                {{ govukTabs({
                    classes: "govuk-tabs--borderless",
                    items: [
                        {
                            label: "Daily summary",
                            id: "day-tab",
                            panel: {
                            html: summaryHtml("DAY", "daily", activityDate)
                        }
                        },
                        {
                            label: "AM session",
                            id: "am-tab",
                            panel: {
                            html: summaryHtml("AM", "morning", activityDate)
                        }
                        },
                        {
                            label: "PM session",
                            id: "pm-tab",
                            panel: {
                            html: summaryHtml("PM", "afternoon", activityDate)
                        }
                        },
                        {
                            label: "ED session",
                            id: "ed-tab",
                            panel: {
                            html: summaryHtml("ED", "evening", activityDate)
                        }
                        }
                    ]
                }) }}
            </div>
        </form>
    </div>
{% endblock %}
{% macro summaryHtml(timeSlot, timeSlotDescription, activityDate) %}
    {% set suspendedPrisonersRows = [] %}
    {% for suspendedPrisoner in suspendedAttendancesByPrisoner %}
        {% if timeSlot === 'DAY' or timeSlot in suspendedPrisoner.timeSlots %}
            {% set sessions %}
                {% for session in (suspendedPrisoner.sessions if timeSlot === 'DAY' else suspendedPrisoner.sessions | filter('sessionSlot', timeSlot)) %}
                    <div class="govuk-body-s govuk-!-margin-0">
                        <div class="govuk-!-margin-right-2">
                            <div class="govuk-!-font-weight-bold">
                                <a href="/activities/attendance/activities/{{ session.sessionId }}/attendance-list"
                                   class="govuk-link govuk-link--no-visited-state" target='_blank'>{{ session.sessionSummary }}</a>
                            </div>
                            <div>{{ session.sessionStartTime }} - {{ session.sessionEndTime }}</div>
                            <div>{{ session.sessionLocation }}</div>
                        </div>
                    </div>
                    {% if not loop.last %}<hr class="mid-grey-tint-20-hr dash-border">{% endif %}
                {% endfor %}
            {% endset %}
            {% set suspendedPrisonersRows = (suspendedPrisonersRows.push([
                {
                    attributes: { id: 'prisoner-' + loop.index, "data-sort-value": suspendedPrisoner.prisonerName },
                    html: showProfileLink({
                        name: suspendedPrisoner.prisonerName,
                        prisonerNumber: suspendedPrisoner.prisonerNumber,
                        inCaseLoad: suspendedPrisoner.prisonCode == user.activeCaseLoadId,
                        classes: 'hmpps-inline-block'
                    }),
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'cell-location-' + loop.index },
                    text: statusBasedCellLocation(suspendedPrisoner.cellLocation, suspendedPrisoner.status, suspendedPrisoner.prisonCode == user.activeCaseLoadId),
                    classes: 'govuk-table_cell'
                },
                {
                    attributes: { id: 'activities-' + loop.index },
                    html: sessions,
                    classes: 'govuk-table_cell'
                }
            ]), suspendedPrisonersRows) %}
        {% endif %}
    {% endfor %}

    <h2 class="govuk-heading-m">
        {{ suspendedPrisonersRows | length }}
        prisoner{% if suspendedPrisonersRows | length != 1 %}s{% endif %} suspended
    </h2>

    {{ govukTable({
        attributes: {
            'data-module': 'moj-sortable-table',
            id: 'attendee-list-table'
        },
        classes: "alternating-row-shading fixed-layout-table",
        captionClasses: "govuk-visually-hidden",
        head: [
            {
                text: "Name",
                attributes: { "aria-sort": "ascending" },
                classes: 'govuk-table__header'
            },
            {
                text: "Cell location",
                attributes: { "aria-sort": "none" },
                classes: 'govuk-table__header'
            },
            {
                html: "Activity",
                classes: 'govuk-table__header'
            }
        ],
        rows: suspendedPrisonersRows if suspendedPrisonersRows | length > 0 else [[{
            text: "No suspended prisoners",
            attributes: { "colspan": "3" },
            classes: 'govuk-table_cell govuk-!-text-align-centre'
        }]]
    }) }}
{% endmacro %}
