{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "components/alertsList.njk" import alertsList %}
{% from "partials/showProfileLink.njk" import showProfileLink %}

{% set pageTitle = locations[0].description + " - movement list" %}
{% set pageId = 'movement-list-location-events-page' %}
{% set backLinkHref = "locations?dateOption=" + dateOption + ("&date=" + date if dateOption == DateOption.OTHER) + "&timeSlot=" + timeSlot %}

{% set locationEventsTableRows = [] %}
{% for locationEvent in locationEvents %}
    {% set locationEventsTableRows = (locationEventsTableRows.push([
        {
            html: showProfileLink({
                name: locationEvent.firstName + " " + locationEvent.lastName,
                prisonerNumber: locationEvent.prisonerNumber,
                link: true
            }),
            attributes: { 'data-qa': 'location-event-' + loop.index + '-prisoner' }
        }, {
            text: locationEvent.cellLocation,
            attributes: { 'data-qa': 'location-event-' + loop.index + '-cell-location' }
        }, {
            html: alertsList({ alerts: item.alerts, category: item.category }),
            attributes: { 'data-qa': 'location-event-' + loop.index + '-alerts' }
        }, {
            html: "<span></span>",
            attributes: { 'data-qa': 'location-event-' + loop.index + '-activity' }
        }, {
            html: "<span>None</span>",
            attributes: { 'data-qa': 'location-event-' + loop.index + '-clashing-events' }
        }
    ]), locationEventsTableRows) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-0">{{ locations[0].description }} - movement list</h1>
            <span class="govuk-caption-l" data-qa="time-slot-caption">{{ timeSlot | upper }} session</span>
            <span class="govuk-caption-l govuk-!-margin-bottom-6" data-qa="date-caption">{{ date | toDate | formatDate }}</span>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">{{ "1 person allocated" if locationEvents | length == 1 else locationEvents | length + " people allocated" }}</h2>
            <div class="moj-action-bar govuk-!-display-none-print">
                {{ mojButtonMenu({
                    items: [{
                        attributes: { id: 'print-movement-list' },
                        text: "Print this movement list",
                        classes: "govuk-button--blue js-print no-js-hidden",
                        preventDoubleClick: true
                    }]
                }) }}
            </div>

            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table',
                    'data-qa': 'location-events'
                },
                head: [
                    {
                        text: "Name",
                        attributes: { "aria-sort": "none" }
                    }, {
                        text: "Cell location",
                        attributes: { "aria-sort": "ascending" }
                    }, {
                        text: "Relevant alerts"
                    }, {
                        text: "Activity",
                        attributes: { "aria-sort": "none" }
                    }, {
                        text: "Clashing events",
                        attributes: { "aria-sort": "none" }
                    }],
                rows: locationEventsTableRows
            }) }}
        </div>
    </div>
{% endblock %}
