{% extends "layout.njk" %}

{% set pageTitle = "Locations with activities or appointments in this session" %}
{% set pageId = 'movement-list-choose details-page' %}
{% set backLinkHref = "../unlock-list" %}