.prisonerInfoBanner {
    background-color: govuk-colour("black", $variant: "tint-95");
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: govuk-spacing(3);

    &__item {
        padding-bottom: 0;
        margin-right: govuk-spacing(4);
    }

    &__prisoner-image {
        width: 90px;
        height: 100%;
      }
}
