{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Deallocate from an activity - Confirmation" %}
{% set pageId = 'confirmation-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if deallocateJourney.allocationsToRemove | length == 1  %}
                {% set title = "You've scheduled " + deallocateJourney.prisoners[0].name + ", " +
                    deallocateJourney.prisoners[0].prisonerNumber + " to be taken off " + deallocateJourney.activityName %}
            {% else %}
                {% set title = "You've scheduled " + deallocateJourney.prisoners | length + " people to be taken off " + deallocateJourney.activityName %}
            {% endif %}

            {{ govukPanel({
                titleText: title
            }) }}

            {% if deallocateJourney.allocationsToRemove | length > 1 %}
                <p class="govuk-body">
                    {{ deallocateJourney.allocationsToRemove | length }} people will be taken off {{ deallocateJourney.activityName }}:
                </p>
                <ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-6'>
                    {% for prisoner in deallocateJourney.prisoners %}
                        <li>{{ prisoner.name }} ({{ prisoner.prisonerNumber }})</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <a href="/activities/allocation-dashboard/{{ deallocateJourney.scheduleId }}" class="govuk-link govuk-link--no-visited-state">Finish and return to {{ deallocateJourney.activityName }}</a>
        </div>
    </div>
{% endblock %}
