{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Deallocate from an activity - Deallocation reason" %}
{% set pageId = 'deallocation-reason-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{ session.deallocateJourney.activity.activityName }}</span>
            {% if session.deallocateJourney.allocationsToRemove | length == 1 %}
                <span class="govuk-heading-xl">Why are you taking {{ session.deallocateJourney.prisoners[0].name }} off this activity?</span>
            {% else %}
                <span class="govuk-heading-xl">Why are you taking {{ session.deallocateJourney.allocationsToRemove | length }} people off this activity?</span>
            {% endif %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {% set options = [] %}
                {% for reason in deallocationReasons %}
                    {% set options = (options.push(
                        {
                            value: reason.code,
                            text: reason.description,
                            checked: formResponses.deallocationReason == reason.code or session.deallocateJourney.deallocationReason == reason.code
                        }
                    ), options) %}
                {% endfor %}

                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Select a deallocation reason",
                            classes: "govuk-visually-hidden"
                        }
                    },
                    name: "deallocationReason",
                    errorMessage: validationErrors | findError('deallocationReason'),
                    items: options
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

                {% if session.deallocateJourney.allocationsToRemove | length > 1 %}
                    {% set rows = [] %}
                    {% for prisoner in session.deallocateJourney.prisoners %}
                        {% set rows = (rows.push([
                            {
                                text: prisoner.name
                            },
                            {
                                text: prisoner.prisonerNumber
                            },
                            {
                                text: prisoner.cellLocation
                            }
                        ]), rows) %}
                    {% endfor %}

                    {{ govukDetails({
                        summaryText: "People you are taking off " + session.deallocateJourney.activity.activityName,
                        html: govukTable({
                            caption: "People you are taking off " + session.deallocateJourney.activity.activityName,
                            captionClasses: "govuk-visually-hidden",
                            firstCellIsHeader: true,
                            classes: 'govuk-!-width-two-thirds',
                            rows: rows
                        })
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
