{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% from "components/timePicker.njk" import timePicker %}

{% set pageTitle = applicationName + " - Administration - Amend regime times" %}
{% set pageId = 'regime-times-page' %}
{% if createMode %}
    {% set pageHeading = "Create the start and end times for the prison regime schedule" %}
{% else %}
    {% set pageHeading = "Amend the start and end times for the prison regime schedule" %}
{% endif %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Important</h2>
            {{ govukWarningText({
                text: "This page is for configuring prison regime times before migrating a prison from NOMIS to the new Activities service in DPS.
                Do not use it for prisons that are already using the new Activities service.
                For help or guidance, email DPSActivity@digital.justice.gov.uk.",
                iconFallbackText: "Warning"
            }) }}
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% for prisonRegimeSchedule, slots in regimeSlots %}
                        {% set rows = [] %} 
                        {% for regimeSlot in slots %}
                            {% set formattedStart = regimeSlot.start | getSplitTime %}
                            {% set formattedFinish = regimeSlot.finish | getSplitTime %}
                            {% set rows = (rows.push([
                                {
                                    html: regimeSlot.dayOfWeek | title
                                },
                                {
                                    html: regimeSlot.timeSlot
                                },
                                {
                                    html: timePicker({
                                        id: 'startTimes-' + prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot,
                                        name: 'startTimes[' + prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot + ']',
                                        renderedErrorMessage: validationErrors | findError('startTimes-' + prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot),
                                        validationErrors: validationErrors,
                                        formResponses: formResponses.startTimes[prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot] or formattedStart
                                })
                                },
                                {
                                    html: timePicker({
                                        id: 'endTimes-' + prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot,
                                        name: 'endTimes[' + prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot + ']',
                                        renderedErrorMessage: validationErrors | findError('endTimes-' + prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot),
                                        validationErrors: validationErrors,
                                        formResponses: formResponses.endTimes[prisonRegimeSchedule + '-' + regimeSlot.dayOfWeek + '-' + regimeSlot.timeSlot] or formattedFinish
                                        })
                                }]), rows) %}
                        {% endfor %}
                    
                    {{ govukTable({
                        head: [
                                {
                                text: "Day"
                                },
                                 {
                                text: "Session"
                                },
                                {
                                text: "Start time"
                                },
                                {
                                text: "End time"
                                }
                            ],
                        rows: rows,
                        attributes: {"data-qa": "session-times-table"}         
                    }) }}
                {% endfor %} 
                {{ govukButton({
                    text: "Update regime times"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
