{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Appointments Management - Create Single Appointment - Category" %}
{% set pageId = 'appointments-create-single-category-page' %}
{% set backLinkHref = "/select-prisoner" %}

{% set categoryOptions = [] %}
{% for category in categories %}
    {% set categoryOptions = (categoryOptions.push(
        {
            value: category.id,
            text: category.description,
            selected: formResponses.categoryId == category.id or session.createSingleAppointmentJourney.category.id == category.id
        }
    ), categoryOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSelect({
                    label: {
                        text: "What is the appointment category?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Select one option"
                    },
                    id: "categoryId",
                    name: "categoryId",
                    classes: "govuk-input--width-20",
                    errorMessage: validationErrors | findError('categoryId'),
                    items: categoryOptions
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
