{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "partials/appointmentPrisonerSummary.njk" import appointmentPrisonerSummary %}

{% set pageTitle = "Appointments Management - Create Single Appointment - Check Answers" %}
{% set pageId = 'appointments-create-single-check-answers-page' %}

{% set summaryListRows = [
    {
        key: {
            text: "Prisoner"
        },
        value: {
            html: appointmentPrisonerSummary(session.createSingleAppointmentJourney.prisoner.name, session.createSingleAppointmentJourney.prisoner.number, session.createSingleAppointmentJourney.prisoner.cellLocation, dpsUrl)
        },
        actions: {
            items: [
                {
                    href: "select-prisoner?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "change prisoner",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-prisoner' }
                }
            ]
        }
    },
    {
        key: {
            text: "Category"
        },
        value: {
            text: session.createSingleAppointmentJourney.category.description
        },
        actions: {
            items: [
                {
                    href: "category?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "change category",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-category' }
                }
            ]
        }
    },
    {
        key: {
            text: "Location"
        },
        value: {
            text: session.createSingleAppointmentJourney.location.description
        },
        actions: {
            items: [
                {
                    href: "location?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "change location",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-location' }
                }
            ]
        }
    },
    {
        key: {
            text: "Date"
        },
        value: {
            text: startDate | formatDate('EEEE d MMMM yyyy')
        },
        actions: {
            items: [
                {
                    href: "date-and-time?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "change date",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-start-date' }
                }
            ]
        }
    },
    {
        key: {
            text: "Start time"
        },
        value: {
            text: startTime | formatDate('HH:mm')
        },
        actions: {
            items: [
                {
                    href: "date-and-time?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "change start time",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-start-time' }
                }
            ]
        }
    },
    {
        key: {
            text: "End time"
        },
        value: {
            text: endTime | formatDate('HH:mm')
        },
        actions: {
            items: [
                {
                    href: "date-and-time?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "change end time",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-end-time' }
                }
            ]
        }
    },
    {
        key: {
            text: "Repeat appointment"
        },
        value: {
            text: ("Yes" if session.createSingleAppointmentJourney.repeat == YesNo.YES) +
                  ("No" if session.createSingleAppointmentJourney.repeat == YesNo.NO)
        },
        actions: {
            items: [
                {
                    href: "repeat?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "change repeat appointment",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-repeat' }
                }
            ]
        }
    }
] %}
{% if session.createSingleAppointmentJourney.repeat == YesNo.YES %}
  {% set summaryListRows = (summaryListRows.push({
      key: {
          text: "Frequency"
      },
      value: {
          text: ("Every weekday (Monday to Friday)" if session.createSingleAppointmentJourney.repeatPeriod == AppointmentRepeatPeriod.WEEKDAY) +
                ("Daily (includes weekends)" if session.createSingleAppointmentJourney.repeatPeriod == AppointmentRepeatPeriod.DAILY) +
                ("Weekly" if session.createSingleAppointmentJourney.repeatPeriod == AppointmentRepeatPeriod.WEEKLY) +
                ("Fortnightly" if session.createSingleAppointmentJourney.repeatPeriod == AppointmentRepeatPeriod.FORTNIGHTLY) +
                ("Monthly" if session.createSingleAppointmentJourney.repeatPeriod == AppointmentRepeatPeriod.MONTHLY)
      },
      actions: {
          items: [
              {
                  href: "repeat-period-and-count?fromReview=true",
                  text: "Change",
                  visuallyHiddenText: "change repeat period",
                  classes: "govuk-link--no-visited-state",
                  attributes: { 'data-qa': 'change-repeat-period' }
              }
          ]
      }
  }), summaryListRows) %}
  {% set summaryListRows = (summaryListRows.push({
      key: {
          text: "Occurrences"
      },
      value: {
          text: session.createSingleAppointmentJourney.repeatCount
      },
      actions: {
          items: [
              {
                  href: "repeat-period-and-count?fromReview=true",
                  text: "Change",
                  visuallyHiddenText: "change repeat count",
                  classes: "govuk-link--no-visited-state",
                  attributes: { 'data-qa': 'change-repeat-count' }
              }
          ]
      }
  }), summaryListRows) %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check your appointment details before you accept and save</h1>
            <h2 class="govuk-heading-m">Appointment details</h2>
            {{ govukSummaryList({
                attributes: { 'data-qa': 'appointment-details' },
                rows: summaryListRows
            }) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Accept and save",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
