{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Appointments Management - Create Single Appointment - Check Answers" %}
{% set pageId = 'appointments-create-single-check-answers-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check your appointment details before you accept and save</h1>
            <h2 class="govuk-heading-m">Appointment details</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Prisoner"
                        },
                        value: {
                            html:
                                '<div>
                                    <div>' + session.createSingleAppointmentJourney.prisoner.name | toTitleCase + '</div>
                                    <div>' + session.createSingleAppointmentJourney.prisoner.prisonerNumber + '</div>
                                    <div>' + session.createSingleAppointmentJourney.prisoner.cellLocation + '</div>
                                </div>'
                        },
                        actions: {
                            items: [
                                {
                                    href: "select-prisoner?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "change prisoner"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Category"
                        },
                        value: {
                            text: session.createSingleAppointmentJourney.category.description
                        },
                        actions: {
                            items: [
                                {
                                    href: "category?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "change category"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: session.createSingleAppointmentJourney.location.description
                        },
                        actions: {
                            items: [
                                {
                                    href: "location?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "change location"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: startDate | formatDate('EEEE d MMMM yyyy')
                        },
                        actions: {
                            items: [
                                {
                                    href: "date-and-time?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "change date"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Start time"
                        },
                        value: {
                            text: startTime | formatDate('HH:mm')
                        },
                        actions: {
                            items: [
                                {
                                    href: "date-and-time?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "change start time"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "End time"
                        },
                        value: {
                            text: endTime | formatDate('HH:mm')
                        },
                        actions: {
                            items: [
                                {
                                    href: "date-and-time?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "change end time"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Accept and save",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
