{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Appointments Management - Create Single Appointment - Confirmation" %}
{% set pageId = 'appointments-create-single-confirmation-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Appointment created"
            }) }}
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                {{ confirmationMessage }}
            </p>
            <p class="govuk-body">
                <a href="/appointments/create-single/start" class="govuk-link">Create another appointment</a>
            </p>
        </div>
    </div>
{% endblock %}
