{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "components/datePicker.njk" import datePicker %}
{% from "components/timePicker.njk" import timePicker %}

{% set pageTitle = "Appointments Management - Create Single Appointment - Date and Time" %}
{% set pageId = 'appointments-create-single-date-and-time-page' %}
{% set backLinkHref = "name" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">When is the appointment?</h1>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ datePicker({
                    id: 'startDate',
                    name: 'startDate',
                    label: {
                        text: "Appointment date",
                        classes: "govuk-fieldset__legend--m"
                    },
                    hint: {
                        text: "For example, 31 01 2023"
                    },
                    renderedErrorMessage: validationErrors | findError('startDate'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.startDate or session.createSingleAppointmentJourney.startDate
                }) }}
                {{ timePicker({
                    id: 'startTime',
                    name: 'startTime',
                    label: {
                        text: 'Start time',
                        classes: "govuk-fieldset__legend--m"
                    },
                    hint: {
                        text: "For example, 09:30 or 14:55"
                    },
                    renderedErrorMessage: validationErrors | findError('startTime'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.startTime or session.createSingleAppointmentJourney.startTime
                }) }}
                {{ timePicker({
                    id: 'endTime',
                    name: 'endTime',
                    label: {
                        text: 'End time',
                        classes: "govuk-fieldset__legend--m"
                    },
                    hint: {
                        text: "For example, 09:30 or 14:55"
                    },
                    renderedErrorMessage: validationErrors | findError('endTime'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.endTime or session.createSingleAppointmentJourney.endTime
                }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
