{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "components/datePicker.njk" import datePicker %}
{% from "components/activitySummary.njk" import activitySummary %}

{% set pageTitle = "Appointments Management - Create Single Appointment - Date and Time" %}
{% set pageId = 'appointments-create-single-date-and-time-page' %}
{% set backLinkHref = "name" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ datePicker({
                    label: {
                        text: "Enter the end date for this schedule",
                        classes: "govuk-fieldset__legend--l"
                    },
                    hint: {
                        text: "For example, 31 01 2023"
                    },
                    id: 'startDate',
                    name: 'startDate',
                    renderedErrorMessage: validationErrors | findError('startDate'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.startDate or session.createSingleAppointmentJourney.startDate
                }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
