{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Appointments Management - Create Single Appointment - Location" %}
{% set pageId = 'appointments-create-single-location-page' %}
{% set backLinkHref = "/category" %}

{% set options = [{ value: '', text: '' }] %}
{% for location in locations %}
    {% set options = (options.push( { value: location.locationId, text: location.userDescription }), options) %}
{% endfor %}

{% block header %}
    {{ super() }}
    <link href="/assets/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSelect({
                    label: {
                        text: "Where is the appointment?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Start typing a location and select from the list of options."
                    },
                    formGroup: {
                        classes: "location-autocomplete-formgroup"
                    },
                    id: "locationId",
                    name: "locationId",
                    errorMessage: validationErrors | findError('locationId'),
                    value: formResponses.locationId or session.createSingleAppointmentJourney.location.id,
                    items: options
                }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <meta name="autocompleteElements" content="locationId"/>
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script src="/assets/js/autocomplete.js"></script>
{% endblock %}
