{% extends "layout.njk" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../partials/summaryCardWithTwoAxes.njk" import summaryCardWithTwoAxes %}
{% from "../../../../partials/activities/prisonerEducation.njk" import prisonerEducation %}
{% from "../../../../partials/activities/suitabilityTag.njk" import suitablityTag %}
{% from "../../../../partials/earliestReleaseDate.njk" import earliestReleaseDate %}


{% set pageTitle = applicationName + " - Allocate to an activity - Review prisoners that do not meet activity requirements" %}
{% set pageId = 'activity-requirements-review-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ session.allocateJourney.activity.name }}</span>
            <h1 class="govuk-heading-xl">Review {{ prisoners | length }} {% if prisoners | length == 1 %}person{% else %}people{% endif %} who does not meet activity requirements</h1>
            <p class="govuk-body">Review people who do not meet the requirements for this activity. You can remove anyone who should not be allocated.</p>
            <p class="govuk-body">Only people who do not meet a requirement are included on this page.</p>

            {% for prisoner in prisoners %}
                {% set removeLink = 'activity-requirements-review/'+prisoner.prisonerNumber+'/remove' %}
                {% set rows = [
                    [{
                        text: 'Workplace risk assessment level'
                    },{
                        text: prisoner.workplaceRiskAssessment.riskLevel | toTitleCase or "None assigned"
                    },{
                        html: suitablityTag(prisoner.workplaceRiskAssessment.suitable)
                    }
                    ],[{
                        text: 'Education level'
                    },{
                        html: prisonerEducation(prisoner.education.education)
                    },{
                        html: suitablityTag(prisoner.education.suitable)
                    }],[{
                        text: 'Earliest release date'
                    }, 
                    { 
                        html: earliestReleaseDate(prisoner.releaseDate.earliestReleaseDate) 
                    }, {
                        html: govukTag({
                            text: 'Not applicable',
                            classes: 'govuk-tag--grey'
                        }) if prisoner.releaseDate.suitable else suitablityTag(
                            prisoner.releaseDate.suitable
                        )
                    }]
                ] %}
                {% set head = [
                        {
                            text: "Type of requirement",
                            classes: "govuk-!-padding-top-0"
                        },
                        {
                            text: prisoner.prisonerName | toTitleCase | possessive +" details",
                            classes: "govuk-!-padding-top-0"
                        },
                        {
                            text: "Meets requirement",
                            classes: "govuk-!-padding-top-0"
                        }
                    ] %}

                    {{
                        summaryCardWithTwoAxes(prisoner, rows, head, removeLink, true)
                    }}
            {% endfor %}
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}