{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-confirmation-title.njk" import appointmentConfirmationTitle %}

{% set pageTitle = "Appointment scheduled" %}

{% set pageId = 'appointment-scheduled-confirmation-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
           {{ govukPanel({ titleText: pageTitle }) }}

            <p class="govuk-body">
                You have successfully scheduled an appointment for 1 person on {{ vlb.prisonAppointments[0].appointmentDate | toDate | formatDate }}
            </p>

            {% if not court.enabled %}
            <h2 class="govuk-heading-m">Email {{ court.description }} to confirm the booking</h2>
            <p class="govuk-body">
                You must email {{ court.description }} to confirm the booking. This is because they do not yet have access to the Book a video link service.
            </p>
            {% endif %}

            <h2 class="govuk-heading-m">What you can do next</h2>
            <p class="govuk-body">
                <a href="/appointments" class="govuk-link govuk-link--no-visited-state" data-qa="create-another-link">Schedule another appointment</a>
            </p>
            <p class="govuk-body">
                <a href="/appointments/video-link-booking/{{ vlb.videoLinkBookingId }}" class="govuk-link govuk-link--no-visited-state" data-qa="view-appointment-link">View, print movement slips and manage this appointment</a>
            </p>
        </div>
    </div>
{% endblock %}
