{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}
{% from "partials/service-user-name.njk" import serviceUserName %}

{% set pageId = 'video-booking-details-page' %}
{% set hardBackLinkText = 'Go to Appointments Dashboard' %}
{% set hardBackLinkHref = '/appointments/search?startDate=' + mainAppointment.appointmentDate | formatDate('yyyy-MM-dd') %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l" data-qa="caption">Manage appointments</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2" data-qa='heading'>Video Link - Court Hearing</h1>
            <span class="govuk-caption-m govuk-!-margin-bottom-4" data-qa="date-caption">{{ mainAppointment.appointmentDate | formatDate }}</span>

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Video link booking details"
                    }
                },
                rows: [
                    {
                        key: {
                            text: "Attendee"
                        },
                        value: {
                            html: showProfileLink({
                                name: prisoner | fullName,
                                prisonerNumber: prisoner.prisonerNumber,
                                cellLocation: statusBasedCellLocation(prisoner.cellLocation, prisoner.status, prisoner.prisonId == user.activeCaseLoadId),
                                inCaseLoad: prisoner.prisonId == user.activeCaseLoadId
                            })
                        }
                    },
                    {
                        key: {
                            text: "Court"
                        },
                        value: {
                            text: videoBooking.courtDescription
                        }
                    },
                    {
                        key: {
                            text: "Hearing type"
                        },
                        value: {
                            text: videoBooking.courtHearingTypeDescription
                        },
                        actions: {
                            items: [
                                {
                                    href: 'amend/' + videoBooking.videoLinkBookingId + '/hearing-details',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: mainAppointment.appointmentDate | formatDate
                        },
                        actions: {
                            items: [
                                {
                                    href: 'amend/' + videoBooking.videoLinkBookingId + '/date-and-time',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    },
                    {
                        key: {
                            text: "Room for hearing"
                        },
                        value: {
                            text: (rooms | find('key', mainAppointment.prisonLocKey)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: 'amend/' + videoBooking.videoLinkBookingId + '/location',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    },
                    {
                        key: {
                            text: "Hearing start time"
                        },
                        value: {
                            text: mainAppointment.startTime
                        },
                        actions: {
                            items: [
                                {
                                    href: 'amend/' + videoBooking.videoLinkBookingId + '/date-and-time',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    },
                    {
                        key: {
                            text: "Hearing end time"
                        },
                        value: {
                            text: mainAppointment.endTime
                        },
                        actions: {
                            items: [
                                {
                                    href: 'amend/' + videoBooking.videoLinkBookingId + '/date-and-time',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    },
                    {
                        key: {
                            text: "Video Link URL"
                        },
                        value: {
                            text: videoBooking.videoLinkUrl
                        }
                    } if videoBooking.videoLinkUrl,
                    {
                        key: {
                            text: "Extra information"
                        },
                        value: {
                            text: videoBooking.comments or "None provided"
                        },
                        actions: {
                            items: [
                                {
                                    href: 'amend/' + videoBooking.videoLinkBookingId + '/extra-information',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    }
                ]
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Pre-court hearing"
                    },
                    actions: {
                        items: [
                            {
                                href: 'amend/' + videoBooking.videoLinkBookingId + '/date-and-time',
                                text: "Change",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    } if isAmendable
                },
                classes: 'govuk-summary-list--no-keys' if not preAppointment,
                rows: [
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: (rooms | find('key', preAppointment.prisonLocKey)).description
                        }
                    },
                    {
                        key: {
                            text: "Start time"
                        },
                        value: {
                            text: preAppointment.startTime
                        }
                    },
                    {
                        key: {
                            text: "End time"
                        },
                        value: {
                            text: preAppointment.endTime
                        }
                    }
                ] if preAppointment else [ { value: { text: 'Not scheduled' } } ]
            }) }}

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Post-court hearing"
                    },
                    actions: {
                        items: [
                            {
                                href: 'amend/' + videoBooking.videoLinkBookingId + '/date-and-time',
                                text: "Change",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    } if isAmendable
                },
                classes: 'govuk-summary-list--no-keys' if not postAppointment,
                rows: [
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: (rooms | find('key', postAppointment.prisonLocKey)).description
                        }
                    },
                    {
                        key: {
                            text: "Start time"
                        },
                        value: {
                            text: postAppointment.startTime
                        }
                    },
                    {
                        key: {
                            text: "End time"
                        },
                        value: {
                            text: postAppointment.endTime
                        }
                    }
                ] if postAppointment else [ { value: { text: 'Not scheduled' } } ]
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Video link booking history"
                    }
                },
                rows: [
                    {
                        key: {
                            text: "Created by"
                        },
                        value: {
                            text: serviceUserName(userMap.get(videoBooking.createdBy))
                        }
                    },
                    {
                        key: {
                            text: "Date created"
                        },
                        value: {
                            text: videoBooking.createdAt | parseISODate | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Last edited by"
                        },
                        value: {
                            text: serviceUserName(userMap.get(videoBooking.amendedBy))
                        }
                    } if videoBooking.amendedBy,
                    {
                        key: {
                            text: "Date last edited"
                        },
                        value: {
                            text: videoBooking.amendedAt | parseISODate | formatDate
                        }
                    } if videoBooking.amendedAt
                ]
            }) }}
        </div>
    </div>
{% endblock %}

{% macro appointmentDetails(appointment, rooms, user) %}
    {{ govukSummaryList({
        card: {
            title: {
                text: "Appointment details"
            }
        },
        rows: [
            {
                key: {
                    text: "Location"
                },
                value: {
                    text: (rooms | find('key', appointment.prisonLocKey)).description
                }
            },
            {
                key: {
                    text: "Start time"
                },
                value: {
                    text: appointment.startTime
                }
            },
            {
                key: {
                    text: "End time"
                },
                value: {
                    text: appointment.endTime
                }
            }
        ]
    }) }}
{% endmacro %}
