{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "partials/service-user-name.njk" import serviceUserName %}

{% set pageId = 'video-booking-details-page' %}
{% set hardBackLinkText = 'Go to Appointments Dashboard' %}
{% set hardBackLinkHref = '/appointments/search?startDate=' + mainAppointment.appointmentDate | formatDate('yyyy-MM-dd') %}

{% block content %}
    <div class="govuk-grid-row govuk-!-display-none-print">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l" data-qa="caption">Manage appointments</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2" data-qa='heading'>Video Link - Court Hearing</h1>
            <span class="govuk-caption-m govuk-!-margin-bottom-4" data-qa="date-caption">{{ mainAppointment.appointmentDate | toDate | formatDate }}</span>

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Appointment details"
                    },
                    actions: {
                        items: [
                            {
                                href: '#',
                                text: "Edit booking",
                                classes: "govuk-link--no-visited-state"
                            },
                            {
                                href: '#',
                                text: "Cancel booking",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    } if isAmendable
                },
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: ((prisoner.firstName + " " + prisoner.lastName) | toTitleCase) + ' (' + prisoner.prisonerNumber + ')'
                        }
                    },
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prisoner.prisonName
                        }
                    },
                    {
                        key: {
                            text: "Prison room"
                        },
                        value: {
                            text: (rooms | find('key', mainAppointment.prisonLocKey)).description
                        }
                    },
                    {
                        key: {
                            text: "Court"
                        },
                        value: {
                            text: videoBooking.courtDescription
                        }
                    } if videoBooking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Probation team"
                        },
                        value: {
                            text: videoBooking.probationTeamDescription
                        }
                    } if videoBooking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Hearing type"
                        },
                        value: {
                            text: videoBooking.courtHearingTypeDescription
                        }
                    } if videoBooking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Meeting type"
                        },
                        value: {
                            text: videoBooking.probationMeetingTypeDescription
                        }
                    } if videoBooking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: mainAppointment.appointmentDate | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Hearing start time"
                        },
                        value: {
                            text: mainAppointment.startTime
                        }
                    } if videoBooking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Meeting start time"
                        },
                        value: {
                            text: mainAppointment.startTime
                        }
                    } if videoBooking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Hearing end time"
                        },
                        value: {
                            text: mainAppointment.endTime
                        }
                    } if videoBooking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Meeting end time"
                        },
                        value: {
                            text: mainAppointment.endTime
                        }
                    } if videoBooking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Prison room for pre-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', preAppointment.prisonLocKey)).description
                        }
                    } if preAppointment,
                    {
                        key: {
                            text: "Pre-hearing start time"
                        },
                        value: {
                            text: preAppointment.startTime
                        }
                    } if preAppointment,
                    {
                        key: {
                            text: "Pre-hearing end time"
                        },
                        value: {
                            text: preAppointment.endTime
                        }
                    } if preAppointment,
                    {
                        key: {
                            text: "Prison room for post-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', postAppointment.prisonLocKey)).description
                        }
                    } if postAppointment,
                    {
                        key: {
                            text: "Post-hearing start time"
                        },
                        value: {
                            text: postAppointment.startTime
                        }
                    } if postAppointment,
                    {
                        key: {
                            text: "Post-hearing end time"
                        },
                        value: {
                            text:  postAppointment.endTime
                        }
                    } if postAppointment,
                    {
                        key: {
                            text: "Comments"
                        },
                        value: {
                            text: videoBooking.comments or "None provided"
                        },
                        actions: {
                            items: [
                                {
                                    href: '#',
                                    text: "Change comments" if videoBooking.comments else "Add comments",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    },
                    {
                        key: {
                            text: "Video Link URL"
                        },
                        value: {
                            text: videoBooking.videoLinkUrl
                        }
                    } if videoBooking.videoLinkUrl
                ]
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-display-none-print">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Appointment history"
                    }
                },
                rows: [
                    {
                        key: {
                            text: "Created by"
                        },
                        value: {
                            text: serviceUserName(userMap.get(videoBooking.createdBy))
                        }
                    },
                    {
                        key: {
                            text: "Date created"
                        },
                        value: {
                            text: videoBooking.createdAt | parseISODate | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Last edited by"
                        },
                        value: {
                            text: serviceUserName(userMap.get(videoBooking.amendedBy))
                        }
                    } if videoBooking.amendedBy,
                    {
                        key: {
                            text: "Date last edited"
                        },
                        value: {
                            text: videoBooking.amendedAt | parseISODate | formatDate
                        }
                    } if videoBooking.amendedAt
                ]
            }) }}
        </div>
    </div>
{% endblock %}
