ACTIVITIES_API_URL=https://activities-api-dev.prison.service.justice.gov.uk

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
TOKEN_VERIFICATION_API_URL=https://token-verification-api-dev.prison.service.justice.gov.uk
MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
PRISON_API_URL=https://prison-api-dev.prison.service.justice.gov.uk
PRISON_REGISTER_API_URL=https://prison-register-dev.hmpps.service.justice.gov.uk
PRISONER_SEARCH_API_URL=https://prisoner-search-dev.prison.service.justice.gov.uk
WHEREABOUTS_API_URL=https://whereabouts-api-dev.service.justice.gov.uk
NOMIS_USER_API_URL=https://nomis-user-dev.aks-dev-1.studio-hosting.service.justice.gov.uk
INCENTIVES_API_URL=https://incentives-api-dev.hmpps.service.justice.gov.uk
INCENTIVES_URL=https://incentives-ui-dev.hmpps.service.justice.gov.uk
DPS_URL=https://digital-dev.prison.service.justice.gov.uk
NON_ASSOCIATIONS_URL=https://non-associations-dev.hmpps.service.justice.gov.uk
ALERTS_API_URL=https://alerts-api-dev.hmpps.service.justice.gov.uk
COMPONENT_API_URL=https://frontend-components-dev.hmpps.service.justice.gov.uk
NON_ASSOCIATIONS_API_URL=https://non-associations-api-dev.hmpps.service.justice.gov.uk
BOOK_A_VIDEO_LINK_API_URL=https://book-a-video-link-api-dev.prison.service.justice.gov.uk
LOCATIONS_INSIDE_PRISON_API_URL=https://locations-inside-prison-api-dev.hmpps.service.justice.gov.uk
NOMIS_MAPPING_API_URL=https://nomis-sync-prisoner-mapping-dev.hmpps.service.justice.gov.uk
VIDEO_CONFERENCE_SCHEDULE_URL=https://video-conference-schedule-dev.prison.service.justice.gov.uk

CASE_NOTES_API_URL=https://dev.offender-case-notes.service.justice.gov.uk
REPORTING_API_URL=https://dpr-tools-api-test.hmpps.service.justice.gov.uk

API_CLIENT_ID=<extract from K8s - refer to README>
API_CLIENT_SECRET=<extract from K8s - refer to README>
SYSTEM_CLIENT_ID=<extract from K8s - refer to README>
SYSTEM_CLIENT_SECRET=<extract from K8s - refer to README>

LANG=en_GB
DB_USER=activities-management
DB_PASS=activities-management
DB_NAME=activities-management-db
DB_SSL_MODE=prefer
DB_SERVER=localhost

## FEATURE FLAGS
BOOK_A_VIDEO_LINK_FEATURE_TOGGLE_ENABLED=true
DEALLOCATION_AFTER_ALLOCATION_FEATURE_TOGGLE_ENABLED=true
IN_SERVICE_REPORTING_ENABLED=true
MULTIPLE_PRISONER_ALLOCATION_ENABLED=true
WAITLIST_WITHDRAWN_ENABLED=false
PRISONER_ALLOCATIONS_ENABLED=true