{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/filter/macro.njk" import mojFilter %}

{% set pageTitle = applicationName + " - Daily attendance summary" %}
{% set pageId = 'daily-attendance-summary-page' %}
{% set backLinkHref = "/attendance-summary/select-period" %}

{% block content %}
    {% set filterOptionsHtml %}
    {{ govukRadios({
            idPrefix: 'categoryFilters',
            name: 'categoryFilters',
            classes: "govuk-radios--small",
            fieldset: {
                legend: {
                    text: 'Categories',
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            items: attendanceSummaryFilters.categoryFilters
        }) }}
    {% endset %}
    <div class="moj-filter-layout" data-module="activities-list-filter">
        <form id="filter-form" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <input type="hidden" name="activityDate" value="{{ activityDate | formatDate('yyyy-MM-dd') }}">
            <div class="moj-filter-layout__filter govuk-!-display-none-print">
                {% set selectedCategories = [] %}
                {% for category in attendanceSummaryFilters.categoryFilters %}
                    {% if (category.checked === true) %}
                        {% set selectedCategories = (selectedCategories.push({
                           href: 'update-filters?clearCategory=' + category.value, text: category.value
                       }), selectedCategories) %}
                    {% endif %}
                {% endfor %}
                {{ mojFilter({
                    heading: {
                        text: 'Filter'
                    },
                    optionsHtml: filterOptionsHtml
                }) }}
            </div>
            <hr class="print-only"/>
            <div class="moj-filter-layout__content">
                <div class="moj-action-bar govuk-!-display-none-print">
                    <div class="moj-action-bar__filter"></div>
                </div>
                {{ govukTabs({
                    items: [
                        {
                            label: "Daily summary",
                            id: "day-tab",
                            panel: {
                                html: summaryHtml("DAY", "Daily", activityDate)
                            }
                        },
                        {
                            label: "AM session",
                            id: "am-tab",
                            panel: {
                                html: summaryHtml("AM", "AM session", activityDate)
                            }
                        },
                        {
                            label: "PM session",
                            id: "pm-tab",
                            panel: {
                                html: summaryHtml("PM", "PM session", activityDate)
                            }
                        },
                        {
                            label: "ED session",
                            id: "ed-tab",
                            panel: {
                                html: summaryHtml("ED", "ED session", activityDate)
                            }
                        }
                    ]
                }) }}
            </div>
        </form>
    </div>
{% endblock %}

{% macro summaryHtml(timeSlot, timeSlotDescription, activityDate) %}
    <div class="govuk-grid-column-one-half govuk-!-text-align-left">
        <p class="govuk-body ">{{ now | formatDate('EEEE, dd MMMM yyyy') }}</p>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-text-align-right">
        <p>Updated at {{ now | formatDate('HH:MM') }} on {{ now | formatDate('dd MMMM yyyy') }} </p>
    </div>
    <div><h1 class="class="govuk-heading-xl">{{ timeSlotDescription }} attendance summary</h1></div>
    <div><h2 class="class="govuk-heading-s">{{ totalAllocated[timeSlot] }} total allocations for
        <a href="/attendance/activities?date={{ activityDate | formatDate('yyyy-MM-dd') }}" class="govuk-link govuk-link--no-visited-state" data-qa="create-another-link">{{ totalActivities[timeSlot] }} activities</a></h2></div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Not yet attended</p>
            <h3 class="govuk-heading-xl">{{ totalNotAttended[timeSlot] }}</h3>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Absences</p>
            <h3 class="govuk-heading-xl">{{ totalAbsences[timeSlot] }}</h3>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Attended</p>
            <h3 class="govuk-heading-xl">{{ totalAttended[timeSlot] }}</h3>
        </div>
    </div>
    <h3 class="govuk-heading-s">Absences</h3>
    <h3 class="govuk-heading-xs">{{ totalPaidAbsences[timeSlot] }} paid absences</h3>
    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">People with cancelled sessions</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalCancelled[timeSlot]  }}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Sick</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalPaidSick[timeSlot] }}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Not required</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalNotRequired[timeSlot] }}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body govuk-!-margin-bottom-0">Rest day</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ totalPaidRest[timeSlot] }}</p>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Clash</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalClash[timeSlot] }}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Other</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalPaidOther[timeSlot] }}</p>
        </div>
    </div>
    <h3 class="govuk-heading-xs">{{ totalUnPaidAbsences[timeSlot] }} unpaid absences</h3>
    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Sick</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalUnpaidSick[timeSlot] }}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Refused</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalRefused[timeSlot] }}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Rest day</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalUnpaidRest[timeSlot] }}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-margin-bottom-0">Other</p>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ totalUnpaidOther[timeSlot] }}</p>
        </div>
    </div>
{% endmacro %}
