{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "moj/components/filter/macro.njk" import mojFilter %}

{% set pageTitle = applicationName + " - Daily attendance summary" %}
{% set pageId = 'daily-attendance-summary-page' %}
{% set backLinkHref = "/attendance-summary/select-period" %}

{% block content %}
    {% set filterOptionsHtml %}
    {{ govukCheckboxes({
            idPrefix: 'categoryFilters',
            name: 'categoryFilters',
            classes: "govuk-radios--small",
            hint: {
                text: "Select all that apply"
            },
            fieldset: {
                legend: {
                    text: 'Categories',
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            items: attendanceSummaryFilters.categoryFilters
        }) }}
        <div class="govuk-!-margin-bottom-4">
            <a href="#" class="govuk-link govuk-link--no-visited-state" data-module="select-all-link" data-checkbox-name="categoryFilters">Select all</a>
        </div>
        <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
            Apply filters
        </button>
    {% endset %}
    <div class="moj-filter-layout" data-module="activities-list-filter">
        <form id="filter-form" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <input type="hidden" name="activityDate" value="{{ activityDate | formatDate('yyyy-MM-dd') }}">
            <div class="moj-filter-layout__filter govuk-!-display-none-print">
                {% set selectedCategories = [] %}
                {% for category in attendanceSummaryFilters.categoryFilters %}
                    {% if (category.checked === true) %}
                        {% set selectedCategories = (selectedCategories.push({
                           href: 'update-filters?clearCategory=' + category.value, text: category.value
                       }), selectedCategories) %}
                    {% endif %}
                {% endfor %}
                {{ mojFilter({
                    heading: {
                        text: 'Filter'
                    },
                    optionsHtml: filterOptionsHtml
                }) }}
            </div>
            <hr class="print-only"/>
            <div class="moj-filter-layout__content">
                <div class="moj-action-bar govuk-!-display-none-print">
                    <div class="moj-action-bar__filter"></div>
                </div>
                {{ govukTabs({
                    classes: "govuk-tabs--borderless",
                    items: [
                        {
                            label: "Daily summary",
                            id: "day-tab",
                            panel: {
                                html: summaryHtml("DAY", "Daily", activityDate)
                            }
                        },
                        {
                            label: "AM session",
                            id: "am-tab",
                            panel: {
                                html: summaryHtml("AM", "AM session", activityDate)
                            }
                        },
                        {
                            label: "PM session",
                            id: "pm-tab",
                            panel: {
                                html: summaryHtml("PM", "PM session", activityDate)
                            }
                        },
                        {
                            label: "ED session",
                            id: "ed-tab",
                            panel: {
                                html: summaryHtml("ED", "ED session", activityDate)
                            }
                        }
                    ]
                }) }}
            </div>
        </form>
    </div>
{% endblock %}

{% macro summaryHtml(timeSlot, timeSlotDescription, activityDate) %}
    <div class="govuk-grid-column-one-half govuk-!-padding-0 govuk-!-text-align-left">
        <p class="govuk-body govuk-!-margin-bottom-0">{{ activityDate | formatDate('EEEE, dd MMMM yyyy') }}</p>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-padding-0 govuk-!-text-align-right">
        <p class="govuk-body govuk-!-margin-bottom-0">Updated at {{ now | formatDate('HH:mm') }} on {{ now | formatDate('dd MMMM yyyy') }} </p>
    </div>
    <div>
        <h1 class="govuk-heading-l">All not attended yet</h1>
    </div>

{% endmacro %}
