<div class="govuk-grid-row govuk-!-margin-bottom-6">
<div class="govuk-grid-column-one-third">
    <div class="information-card">
        {{ govukTable({
            caption: "Current allocation",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            rows: [
                [
                    {
                        text: "Vacancies:"
                    },
                    {
                        text: schedule.activity.capacity - schedule.activity.allocated
                    }
                ],
                [
                    {
                        text: "Allocated and due to attend:"
                    },
                    {
                        text: activeAllocations
                    }
                ],
                [
                    {
                        text: "Allocated but not started yet:"
                    },
                    {
                        text: schedule.activity.allocated - activeAllocations
                    }
                ],
                [
                    {
                        text: "Capacity:"
                    },
                    {
                        text: schedule.activity.capacity
                    }
                ],
                [
                    {
                        text: "On waitlist:"
                    },
                    {
                        text: waitlistSize
                    }
                ]
            ]
        }) }}
    </div>
</div>
