{% set rows = [] %}

<form method='POST'>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ stickySelect({
        idPrefix: 'waitlistApplications',
        type: 'check',
        caption: "waitlist and applications",
        captionClasses: "govuk-visually-hidden",
        name: 'selectedApplications',
        head: [
            {
                text: "Activity",
                attributes: { "aria-sort": "ascending" }
            },
            {
                text: "Request date",
                attributes: { "aria-sort": "none" }
            },
            {
                text: "Requester",
                attributes: { "aria-sort": "none" }
            }
        ],
        rows: rows,
        actions: [],
        itemsDescription: 'person',
        itemsDescriptionPlural: 'people'
    }) }}
</form>
