{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "partials/appointmentPrisonerSummary.njk" import appointmentPrisonerSummary %}
{% from "pages/appointments/partials/prisoner-list.njk" import prisonerList %}

{% set pageTitle = "Appointments Management - Appointment Series Details" %}
{% set pageId = 'appointments-view-details-page' %}

{% set occurrenceSummaryListRows = [
    {
        key: {
            text: "Occurrence"
        },
        value: {
            text: "Date",
            classes: "govuk-!-font-weight-bold"
        }
    }
] %}

{% set occurrenceTableRows = [] %}
{% for occurrence in appointment.occurrences %}
    {% set occurrenceDate = occurrence.startDate | toDate %}
    {% set occurrenceTableRows = (occurrenceTableRows.push([
        {
            text: occurrence.sequenceNumber,
            classes: "govuk-!-font-weight-regular govuk-!-text-align-right",
            attributes: { 'data-qa': 'occurrence-sequence-no-' + occurrence.sequenceNumber }
        }, {
            text: occurrenceDate | formatDate('d MMM yyyy'),
            attributes: { 'data-qa': 'occurrence-date-' + occurrence.sequenceNumber }
        }, {
            html: govukTag({ text: "Edited" }) if occurrence.updated,
            attributes: { 'data-qa': 'occurrence-edited-' + occurrence.sequenceNumber }
        }, {
            html: '<a href="/appointments/' + appointment.id + '/occurrence/' + occurrence.id + '"
                class="govuk-link--no-visited-state">
                View and edit<span class="govuk-visually-hidden"> appointment ' + occurrence.sequenceNumber + '</span>
            </a>',
            classes: 'govuk-!-text-align-right',
            attributes: { 'data-qa': 'view-and-edit-occurrence-' + occurrence.sequenceNumber }
        }
    ]), occurrenceTableRows) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l" data-qa="caption">{{ appointment.category.description }} - {{ ("group" if appointment.appointmentType == AppointmentType.GROUP) + ("individual" if appointment.appointmentType == AppointmentType.INDIVIDUAL) }} series</span>
            <h1 class="govuk-heading-l">Series overview</h1>

            {% if appointment.repeat %}
                {{ govukSummaryList({
                    card: {
                        title: {
                            text: "Series details"
                        }
                    },
                    rows: [
                        {
                            key: {
                                text: "Frequency"
                            },
                            value: {
                                text: ("Every weekday (Monday to Friday)" if appointment.repeat.period == AppointmentRepeatPeriod.WEEKDAY) +
                                ("Daily (includes weekends)" if appointment.repeat.period == AppointmentRepeatPeriod.DAILY) +
                                ("Weekly" if appointment.repeat.period == AppointmentRepeatPeriod.WEEKLY) +
                                ("Fortnightly" if appointment.repeat.period == AppointmentRepeatPeriod.FORTNIGHTLY) +
                                ("Monthly" if appointment.repeat.period == AppointmentRepeatPeriod.MONTHLY)
                            }
                        }, {
                            key: {
                                text: "Occurrences"
                            },
                            value: {
                                text: appointment.repeat.count
                            }
                        }
                    ],
                    attributes: { 'data-qa': 'appointment-series-details' }
                }) }}
            {% endif %}

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Remaining appointments</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">
                                Print all movement slips
                            </a>
                        </li>
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">
                                Cancel all appointments
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    {{ govukTable({
                        head: [
                            {
                                text: "Occurrence",
                                classes: 'govuk-table__header govuk-table__header--occurrence-count'
                            }, {
                                text: "Date",
                                classes: 'govuk-table__header'
                            }, {
                                html: '<span class="govuk-visually-hidden">Notes</span>'
                            }, {
                                html: '<span class="govuk-visually-hidden">Actions</span>'
                            }
                        ],
                        rows: occurrenceTableRows,
                        attributes: { 'data-qa': 'appointment-occurrences' }
                    }) }}
                </div>
            </div>

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Series history"
                    }
                },
                rows: [
                    {
                        key: {
                            text: "Created by"
                        },
                        value: {
                            text: appointment.createdBy | fullName | toTitleCase | initialiseName
                        }
                    }, {
                        key: {
                            text: "Date created"
                        },
                        value: {
                            text: appointment.created | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate('EEEE d MMMM yyyy')
                        }
                    }
                ],
                attributes: { 'data-qa': 'appointment-history' }
            }) }}
        </div>
    </div>
{% endblock %}
