{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}
{% from "components/timePicker.njk" import timePicker %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}

{% set pageTitle = appointmentJourneyTitle("Date of set of back-to-backs", session.appointmentJourney) %}
{% set pageId = 'appointment-set-date-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ hmppsDatePicker({
                    id: "startDate",
                    name: "startDate",
                    label: {
                        text: "When are the appointments?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "For example, " + exampleDatePickerDate()
                    },
                    errorMessage: validationErrors | findError('startDate'),
                    classes: 'hmpps-datepicker--fixed-width',
                    value: formResponses.startDate or ((session.editAppointmentJourney.startDate or session.appointmentJourney.startDate) | isoDateToDatePickerDate)
                }) }}
                {{ govukButton({
                    text: "Confirm and save" if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT else "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
