{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% set pageTitle = appointmentJourneyTitle("Add extra information for a set - Appointments - DPS", session.appointmentJourney) %}
{% set pageId = 'appointment-set-extra-information-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <h1 class="govuk-heading-l">
              Add extra information to movement slips (optional)
            </h1>
            <p class="govuk-body" data-qa="first-paragraph">
              {% if not prisonerExtraInformationEnabled %}
                Add any important information for who’s attending about how to prepare for their appointment, like something they need to bring, or do beforehand.
              {% else %}
                Add details about who will be attending, or other relevant appointment information which will not be shared with the attendees. Or add information the attendees need to know about their appointment, like something then need to bring or do beforehand.
              {% endif %}
            </p>
            <p class="govuk-body" data-qa="second-paragraph">
              For confidentiality, the information you enter is not shown on the printed unlock list. The list will say ‘Extra information’. Staff can check appointment details in this service to read it in full.
            </p>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {% set prisonersList = [] %}
                {% for appointment in appointments %}
                    {% set prisonersList = (prisonersList.push([
                        {
                            html: showProfileLink({
                                firstName: appointment.prisoner.firstName,
                                middleNames: appointment.prisoner.middleNames,
                                lastName: appointment.prisoner.lastName,
                                prisonerNumber: appointment.prisoner.number,
                                inCaseLoad: appointment.prisoner.prisonCode == user.activeCaseLoadId
                            }),
                            classes: 'govuk-table__cell--vertical-align-top',
                            attributes: {
                                'data-qa': 'prisoner-info-cell'
                            }
                        }, {
                            html: extraInformationHtml(appointment),
                            classes: 'govuk-table__cell--vertical-align-top',
                            attributes: {
                                'data-qa': 'extra-information-cell'
                            }
                        }, {
                            html: '<a href="appointment-set-extra-information/' + appointment.prisoner.number + '" class="govuk-link govuk-link--no-visited-state">' + ('Edit' if (appointment.extraInformation or (prisonerExtraInformationEnabled and appointment.prisonerExtraInformation)) else 'Add') + ' extra information</a>',
                            classes: 'govuk-!-text-align-right govuk-table__cell--vertical-align-top',
                            attributes: {
                                'data-qa': 'actions-cell'
                            }
                        }
                    ]), prisonersList) %}
                {% endfor %}

                {{ govukTable({
                    attributes: {
                        'data-qa': 'extra-information-table'
                    },
                    head: [
                        {
                            text: "Name",
                            classes: 'govuk-table__header'
                        }, {
                            html: '<span class="govuk-visually-hidden">Extra information</span>',
                            classes: 'govuk-!-width-one-half'
                        }, {
                            html: '<span class="govuk-visually-hidden">Actions</span>'
                        }
                    ],
                    rows: prisonersList
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% macro extraInformationHtml(appointment) %}
  {% if not prisonerExtraInformationEnabled %}
    <span class="preserve-line-breaks">{{ appointment.extraInformation | escape }}</span>
  {% else %}
    {% if appointment.extraInformation or appointment.prisonerExtraInformation %}
      {{ govukTag({ text: 'Extra information', classes: 'govuk-tag--medium govuk-tag--yellow', attributes: { 'data-qa': 'extra-information-tag' } }) }}
    {% endif %}
  {% endif %}
{% endmacro %}
