{% extends "layout.njk" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% set pageTitle = appointmentJourneyTitle("Upload list set", session.appointmentJourney) %}
{% set pageId = 'appointment-set-upload-page' %}
{% set backLinkHref = "/appointments" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <form action="appointment-set-upload?_csrf={{ csrfToken }}{{ '&preserveHistory=true' if preserveHistory else '' }}" method="POST" enctype="multipart/form-data">
                {{ govukFileUpload({
                    id: "file",
                    name: "file",
                    label: {
                        text: "Upload your list of prison numbers",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },

                    hint: {
                        text: "Your list of prison numbers must be in a CSV file. You can also include start and end times for each appointment. Use the 24-hour clock, for example 14:00, not 2:00pm."
                    },
                    errorMessage: validationErrors | findError('file')
                }) }}
                {{ govukDetails({
                  summaryText: "How to use a CSV file",
                  html: howToUseCSVFile()
                }) }}
                {{ govukButton({
                    text: "Upload file"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}

{% macro howToUseCSVFile() %}
   <p class="govuk-body">A CSV file is a type of spreadsheet. Download the template if you need one, then add prison numbers and any appointment times. When you upload it to this service a list of attendees will be created.</p>
   <p class="govuk-body">Download the <a href="/assets/downloads/appointment-set.csv" download>prison number list template</a> (CSV, 1kb)</p>
{% endmacro %}
