.search-input {
  $root: &;
  
  margin-bottom: govuk-spacing(6);

  &__form-inputs {
    margin-bottom: govuk-spacing(6);
  }

  .govuk-input {
    margin-bottom: govuk-spacing(6);
  }

  .govuk-button {
    margin: 0;
  }

  &--inline-search {
    #{$root}__form-inputs {
      display: flex;
      align-items: flex-start;
    }

    .govuk-input {
      margin-bottom: 0;
      margin-right: govuk-spacing(1);
    }
  }
}
