.govuk-main-wrapper
  min-height: 600px

table th, table td, table .form-control
  font-size: 16px
  @media print
    font-size: 8px

.govuk-table__cell-no-border
  padding: 10px 20px 10px 0
  text-align: left
  vertical-align: top

.list-button
  float: right
  margin-bottom: 0

.list-details
  margin-bottom: 0

.candidate-activity-detail
  background-color: #F2F1F0
  padding: 5px 0 0 15px


