.sticky-select {
  .govuk-table__head {
    @media print {
      position: revert;
    }

    position: sticky;
    z-index: 999;
    top: 0px;
  }

  .govuk-table__header {
    background: govuk-colour("white");
    border-bottom: 2px govuk-colour("mid-grey") solid;
  }

  .govuk-checkboxes__item, .govuk-radios__item {
    margin-left: 10px;
  }

  .moj-multi-select__radio {
    display: inline-block;
    padding-left: 0;
  }

  .govuk-table__row {
    &:nth-of-type(even) {
      @media not print {
        background: govuk-colour(light-grey);
      }
    }
  }

  .sticky-select-action-bar {
    position: sticky;
    z-index: 1000;
    bottom: -1px;
    background-color: $govuk-brand-colour;
    margin-top: 0;
    margin-bottom: 0;
    --half-table-width: 50%;
    --half-viewport-width: 50vw;
    margin-left: calc(var(--half-table-width) - var(--half-viewport-width) - var(--filters-action-adjust, 0vw));
    margin-right: calc(var(--half-table-width) - var(--half-viewport-width) + var(--filters-action-adjust, 0vw));
    padding: 20px 0;

    &--active {
      display: block !important;
    }

    &--fixed {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__selected-summary {
      display: none;
    }

    &__count {
      @include govuk-font($size: 19, $weight: bold);
      color: white;
    }

    &__clear-link {
      @extend %govuk-link;
      @include govuk-font($size: 19);
      color: white;
      margin-left: 10px;

      &:visited, &:hover {
        color: white;
      }

      &:hover {
        @include govuk-font($size: 19, $weight: bold);
        cursor: pointer;
      }
    }

    .govuk-width-container {
      display: flex;
      align-items: center;
      justify-content: right;
    }

    .govuk-button-group {
      gap: 10px;
    }

    .govuk-button-group, .govuk-button {
      margin: 0;
    }
  }
}

.js-enabled .sticky-select-action-bar {
  display: none;

  &__selected-summary {
    display: revert;
  }

  .govuk-width-container {
    justify-content: space-between;
  }
}

// This is required to override a style added by govuk-frontend 
// which sets the S-P-T to 0 when sticky is used
@supports (position: sticky) {
  .govuk-template {
      scroll-padding-top: 80px !important;
  }
}