{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Allocate to an activity - Activities" %}
{% set pageId = 'allocate-to-activity-activities-page' %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Activities dashboard</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% set rows = [
                [
                    {
                        html: '<h2 class="govuk-heading-m govuk-!-margin-bottom-3">Total</h2>'
                    },
                    {
                        attributes: {
                            id: 'capacity-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.capacity
                    },
                    {
                        attributes: {
                            id: 'allocated-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.allocated
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.percentageAllocated + '%'
                    },
                    {
                        attributes: {
                            id: 'vacancies-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.vacancies
                    }
                ]
            ] %}

            {% for activity in activities %}
                {% set rows = (rows.push([
                    {
                        attributes: {
                            id: 'activity-' + loop.index,
                            "data-sort-value": activity.summary
                        },
                        html: '
                                <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
                                    <a href="/activities/allocate/activities/' + activity.id + '/schedules" class="govuk-link govuk-link--no-visited-state">' + activity.summary + '</a>
                                </h2>
                              '
                    },
                    {
                        attributes: {
                            id: 'capacity-' + loop.index,
                            "data-sort-value": activity.capacity
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: activity.capacity
                    },
                    {
                        attributes: {
                            id: 'allocated-' + loop.index,
                            "data-sort-value": activity.allocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: activity.allocated
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-' + loop.index,
                            "data-sort-value": activity.percentageAllocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: activity.percentageAllocated + '%'
                    },
                    {
                        attributes: {
                            id: 'vacancies-' + loop.index,
                            "data-sort-value": activity.vacancies
                        },
                        classes: 'govuk-table__cell--numeric',
                        html: '
                                <span class="govuk-tag govuk-tag--' + ('green' if activity.vacancies == 0 else 'red') + '">' + activity.vacancies + '</span>
                              '
                    }
                ]), rows) %}
            {% endfor %}

            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                caption: "Activities",
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Activity name",
                        attributes: {
                            "aria-sort": "ascending"
                        }
                    },
                    {
                        text: "Capacity",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Percentage allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Vacancies",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    }
                ],
                rows: rows
            }) }}
        </div>
    </div>
{% endblock %}
