{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Allocate to an activity - Categories" %}
{% set pageId = 'allocate-to-activity-categories-page' %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Allocation dashboard: categories view</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body">Use the dashboard to identify activities with vacancies or search for an activity by name.</p>

            <h2 class="govuk-heading-m">Allocation dashboard</h2>

            {% set rows = [
                [
                    {
                        html: '<h3 class="govuk-heading-m govuk-!-margin-bottom-3">Total</h3>'
                    },
                    {
                        attributes: {
                            id: 'capacity-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.capacity
                    },
                    {
                        attributes: {
                            id: 'allocated-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.allocated
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.percentageAllocated + '%'
                    },
                    {
                        attributes: {
                            id: 'vacancies-total'
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.vacancies
                    }
                ]
            ] %}

            {% for category in categories %}
                {% set rows = (rows.push([
                    {
                        attributes: {
                            id: 'category-' + loop.index,
                            "data-sort-value": category.name
                        },
                        html: '
                                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                                    <a href="categories/' + category.id + '/activities" class="govuk-link govuk-link--no-visited-state">' + category.name + '</a>
                                </h3>
                              '
                    },
                    {
                        attributes: {
                            id: 'capacity-' + loop.index,
                            "data-sort-value": category.capacity
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: category.capacity
                    },
                    {
                        attributes: {
                            id: 'allocated-' + loop.index,
                            "data-sort-value": category.allocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: category.allocated
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-' + loop.index,
                            "data-sort-value": category.percentageAllocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: category.percentageAllocated + '%'
                    },
                    {
                        attributes: {
                            id: 'vacancies-' + loop.index,
                            "data-sort-value": category.vacancies
                        },
                        classes: 'govuk-table__cell--numeric',
                        html: '
                                <span class="govuk-tag govuk-tag--' + ('green' if category.vacancies <= 0 else 'red') + '">' + category.vacancies + '</span>
                              '
                    }
                ]), rows) %}
            {% endfor %}

            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                caption: "Categories",
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Activity category",
                        attributes: {
                            "aria-sort": "ascending"
                        }
                    },
                    {
                        text: "Capacity",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Percentage allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Vacancies",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    }
                ],
                rows: rows
            }) }}
        </div>
    </div>
{% endblock %}
