{% extends "tabsLayout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Manage activities and schedules" %}
{% set mainClasses = "app-container govuk-body" %}
{% set pageId = 'people-allocated-now-page' %}
{% set backLinkHref = "/" %}

{% block tabPanel %}
    <div>
        <h2 class="govuk-heading-m">People allocated now</h2>
        <p>Review the list of people currently allocated to identify any non-associations or other risks. You can also remove someone from the activity by selecting their name.</p>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% set rows = [] %}

            {% for row in rowData %}

                {% set allocationsHtml = '' %}
                {% for allocation in row.allocations %}
                    {% set allocationsHtml = allocationsHtml + '<span class="govuk-!-display-block">' + allocation + '</span>' %}
                {% endfor %}

                {% set rows = (rows.push([
                    {
                        attributes: {
                        id: 'name-' + loop.index
                    },
                        text: row.name
                    },
                    {
                        attributes: {
                        id: 'prison-number' + loop.index
                    },
                        text: row.prisonNumber
                    },
                    {
                        attributes: {
                        id: 'location-' + loop.index
                    },
                        html: row.location
                    },
                    {
                        attributes: {
                        id: 'allocation-' + loop.index
                    },
                        html: allocationsHtml
                    }
                ]), rows) %}
            {% endfor %}

            {{ govukTable({
                caption: "People allocated now",
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Name"
                    },
                    {
                        text: "Prisoner number"
                    },
                    {
                        text: "Location"
                    },
                    {
                        text: "Allocation"
                    }
                ],
                rows: rows
            }) }}
        </div>
    </div>
{% endblock %}

