{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Allocate to an activity - Schedules" %}
{% set pageId = 'allocate-to-activity-schedules-page' %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Allocation dashboard: schedule view</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% set rows = [
                [
                    {
                        html: '<h2 class="govuk-heading-m govuk-!-margin-bottom-0">Total</h2>',
                        attributes: {
                            "data-sort-fixed": "bottom"
                        }
                    },
                    {
                        text: "",
                        attributes: {
                            "data-sort-fixed": "bottom"
                        }
                    },
                    {
                        attributes: {
                            id: 'capacity-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.capacity
                    },
                    {
                        attributes: {
                            id: 'allocated-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.allocated
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.percentageAllocated + '%'
                    },
                    {
                        attributes: {
                            id: 'vacancies-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.vacancies
                    }
                ]
            ] %}

            {% for schedule in schedules %}
                {% set rows = (rows.push([
                    {
                        attributes: {
                            id: 'schedule-' + loop.index,
                            "data-sort-value": schedule.description
                        },
                        html: '
                                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                                    <a href="/allocate/' + schedule.id + '/allocate" class="govuk-link govuk-link--no-visited-state">' + schedule.description + '</a>
                                </h2>
                              '
                    },
                    {
                        attributes: {
                            id: 'location-' + loop.index,
                            "data-sort-value": schedule.internalLocation.description
                        },
                        text: schedule.internalLocation.description
                    },
                    {
                        attributes: {
                            id: 'capacity-' + loop.index,
                            "data-sort-value": schedule.capacity
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: schedule.capacity
                    },
                    {
                        attributes: {
                        id: 'allocated-' + loop.index,
                            "data-sort-value": schedule.allocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: schedule.allocated
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-' + loop.index,
                            "data-sort-value": schedule.percentageAllocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: schedule.percentageAllocated + '%'
                    },
                    {
                        attributes: {
                            id: 'vacancies-' + loop.index,
                            "data-sort-value": schedule.vacancies
                        },
                        classes: 'govuk-table__cell--numeric',
                        html: '
                                <span class="govuk-tag govuk-tag--' + ('green' if schedule.vacancies <= 0 else 'red') + '">' + schedule.vacancies + '</span>
                              '
                    }
                ]), rows) %}
            {% endfor %}

            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table',
                    'data-table-fixed-rows': true
                },
                caption: "Schedules",
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Activity series",
                        attributes: {
                            "aria-sort": "ascending"
                        }
                    },
                    {
                        text: "Location",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Capacity",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Percentage allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Vacancies",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    }
                ],
                rows: rows
            }) }}
        </div>
    </div>
{% endblock %}
