{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% macro datePicker(params) %}
    {{ govukDateInput({
        id: params.id,
        hint: params.hint,
        errorMessage:
            params.renderedErrorMessage or
            params.validationErrors | findError(params.id + '-day') or
            params.validationErrors | findError(params.id + '-month') or
            params.validationErrors | findError(params.id + '-year'),
        fieldset: {
            legend: {
                text: params.label.text,
                classes: params.label.classes,
                isPageHeading: params.label.isPageHeading
            }
        } if params.label,
        items: [
            {
                id: params.id + '-day',
                label: 'Day',
                name: params.id + '[day]',
                classes: 'govuk-input--width-2' + (' govuk-input--error' if params.validationErrors | findError(params.id + '-day') or params.renderedErrorMessage else ''),
                attributes: {
                    'maxlength': 2
                },
                value: params.formResponses['day']
            },
            {
                id: params.id + '-month',
                label: 'Month',
                name: params.id + '[month]',
                classes: 'govuk-input--width-2' + (' govuk-input--error' if params.validationErrors | findError(params.id + '-month') or params.renderedErrorMessage else ''),
                attributes: {
                    'maxlength': 2
                },
                value: params.formResponses['month']
            },
            {
                id: params.id + '-year',
                label: 'Year',
                name: params.id + '[year]',
                classes: 'govuk-input--width-4' + (' govuk-input--error' if params.validationErrors | findError(params.id + '-year') or params.renderedErrorMessage else ''),
                attributes: {
                    'maxlength': 4
                },
                value: params.formResponses['year']
            }
        ]
    }) }}
{% endmacro %}
