{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro daysAndTimes(dailySlots) %}
    {% set dayRows = [] %}
    {% for day in dailySlots %}
        {% set scheduleText %}
            {% set comma = joiner(', ') %}
            {% for slot in day.slots -%}
                {{ ' and ' if loop.last and not loop.first else comma() }}{{ slot | upper }}
            {%- else %}
                <span class='govuk-hint'>Not scheduled</span>
            {% endfor %}
        {% endset %}

        {% set dayRows = (dayRows.push(
            {
                key: {
                    html: '<span' + (' class="govuk-hint"' if not day.slots | length) + '>' + day.day + '</span>'
                },
                value: {
                    html: scheduleText
                }
            }
        ), dayRows) %}
    {% endfor %}

    {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: dayRows
    }) }}
{% endmacro %}