{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/activities/waitingListStatusDescription.njk" import waitingListStatusDescription %}

{% macro waitlistStatusBadge(status) %}
    {% set class =
        ('govuk-tag--green' if status == 'APPROVED') or
        ('govuk-tag--red' if status == 'DECLINED') or
        ('govuk-tag--yellow' if status == 'PENDING')
    %}

    {{govukTag({
        text: waitingListStatusDescription(status),
        classes: class
    })}}
{% endmacro %}
