{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Activities Management - Record Attendance" %}
{% set pageId = 'attendance-view-details-page' %}

{% set summaryListRows = [] %}
{% set summaryListRows = (summaryListRows.push(
     {
        key: {
            text: "Attendance"
        },
        value: {
            text: attendance.attendanceReason.description or "Not recorded yet"
        },
        actions: {
            items: [{
                href: attendance.id + "/edit-attendance",
                text: "Change",
                visuallyHiddenText: "Change attendance option"
            }]
        } if attendance.editable and attendance.status !== 'WAITING'
     }
), summaryListRows) %}

{% if attendance.attendanceReason.code == 'CANCELLED' %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Cancellation reason"
            },
            value: {
                text: attendance.comment
            }
        }
    ), summaryListRows) %}
{% endif %}
{% if attendance.otherAbsenceReason %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Absence reason"
            },
            value: {
                text: attendance.otherAbsenceReason
            }
        }
    ), summaryListRows) %}
{% endif %}
{% set summaryListRows = (summaryListRows.push(
    {
        key: {
            text: "Pay"
        },
        value: { text: ('£' + (attendance.payAmount / 100) | toFixed) if attendance.issuePayment else 'None' }
    }
), summaryListRows) %}

{% if attendance.incentiveLevelWarningIssued %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Incentive Level Warning"
            },
            value: { text: "Yes" if attendance.incentiveLevelWarningIssued else "No"}
        }
    ), summaryListRows) %}
{% endif %}
{% if attendance.caseNoteText %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Case Note"
            },
            value: {
                text: attendance.caseNoteText
            }
        }
    ), summaryListRows) %}
{% endif %}
{# Always show "comment" row if comments are applicable to attendance reason #}
{% if attendance.attendanceReason.code == 'SICK' %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Comment"
            },
            value: {
                text: attendance.comment
            }
        }
    ), summaryListRows) %}
{% endif %}

{% set summaryListRows = (summaryListRows.push(
    {
        key: {
         text: "Reset by" if attendance.status === 'WAITING' else "Recorded by"
        },
        value: {
         text: attendance.recordedBy
        }
    },
    {
        key: {
         text: "Date and time"
        },
        value: {
         text: attendance.recordedTime | parseISODate | formatDate('d MMMM yyyy \'at\' HH:mm:ss')
        }
    }
), summaryListRows) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <span class="govuk-caption-l" data-qa="caption">{{ activity.summary }}</span>
                <h1 class="govuk-heading-l">Attendance record for {{ attendee.name | toTitleCase }}</h1>
                <div class="govuk-inset-text">
                    <a href="../attendance-list" class="govuk-link govuk-link--no-visited-state">{{ instance.activitySchedule.activity.summary }}</a>
                    on {{ instance.date | toDate | formatDate('d MMMM yyyy') }} ({{ instance.startTime | getTimeSlotFromTime | upper }}) 
               </div>
               {% if attendance.status === 'WAITING' %}
                   <h2 class="govuk-heading-m">Attendance record reset</h2>
               {% endif %}
                {{ govukSummaryList({
                    rows: summaryListRows,
                    classes: "govuk-!-margin-bottom-9",
                    attributes: { 'data-qa': 'appointment-details' }
                }) }}

                {% if attendance.attendanceHistory | length %}
                    <h2 class="govuk-heading-m" data-qa="history-heading">Change history for this attendance record</h2>
                    {% set changeNo = attendance.attendanceHistory | length %}
                    {% for attendanceHistory in attendance.attendanceHistory %}
                        {% set recordedTime = attendanceHistory.recordedTime.split('T') %}
                        <h3 class="govuk-heading-s" data-qa="history-heading">Change {{ changeNo }}</h3>
                        {% set historyListRows = [] %}
                        {% set historyListRows = (historyListRows.push(
                             {
                                key: {
                                    text: "Attendance"
                                },
                                value: {
                                    text: attendanceHistory.attendanceReason.description or "Not recorded yet"
                                }
                             }
                        ), historyListRows) %}

                        {% if attendanceHistory.attendanceReason.code == 'CANCELLED' %}
                            {% set historyListRows = (historyListRows.push(
                                {
                                    key: {
                                        text: "Cancellation reason"
                                    },
                                    value: {
                                        text: attendanceHistory.comment
                                    }
                                }
                            ), historyListRows) %}
                        {% endif %}

                        {% if attendanceHistory.otherAbsenceReason %}
                            {% set historyListRows = (historyListRows.push(
                                {
                                    key: {
                                        text: "Absence reason"
                                    },
                                    value: {
                                        text: attendanceHistory.otherAbsenceReason
                                    }
                                }
                            ), historyListRows) %}
                        {% endif %}

                        {% set historyListRows = (historyListRows.push(
                            {
                                key: {
                                    text: "Pay"
                                },
                                value: { text: ('£' + (attendance.payAmount / 100) | toFixed) if attendanceHistory.issuePayment else 'None' }
                            }
                        ), historyListRows) %}

                        {% if attendanceHistory.incentiveLevelWarningIssued %}
                            {% set historyListRows = (historyListRows.push(
                                {
                                    key: {
                                        text: "Incentive Level Warning"
                                    },
                                    value: { text: "Yes" if attendanceHistory.incentiveLevelWarningIssued else "No"}
                                }
                            ), historyListRows) %}
                            {% set historyListRows = (historyListRows.push(
                                {
                                    key: {
                                        text: "Case Note"
                                    },
                                    value: {
                                        text: attendanceHistory.caseNoteText
                                    }
                                }
                            ), historyListRows) %}
                        {% endif %}

                        {# Always show "comment" row if comments are applicable to attendance reason #}
                        {% if attendanceHistory.attendanceReason.code == 'SICK' %}
                            {% set historyListRows = (historyListRows.push(
                                {
                                    key: {
                                        text: "Comment"
                                    },
                                    value: {
                                        text: attendanceHistory.comment
                                    }
                                }
                            ), historyListRows) %}
                        {% endif %}

                        {% set historyListRows = (historyListRows.push(
                            {
                                key: {
                                 text: "Recorded by"
                                },
                                value: {
                                 text: attendanceHistory.recordedBy
                                }
                            }, {
                                key: {
                                    text: "Date and time"
                                },
                                value: {
                                    text: attendanceHistory.recordedTime | parseISODate | formatDate('d MMMM yyyy \'at\' HH:mm:ss')
                                }
                            }
                        ), historyListRows) %}

                        {{ govukSummaryList({
                            rows: historyListRows,
                            classes: "history-list-row-count govuk-!-margin-bottom-9",
                            attributes: { 'data-qa': 'attendance-history' }
                        }) }}

                        {% set changeNo = changeNo - 1 %}
                    {% endfor %}
                {% endif %}

                {% if attendance.issuePayment and attendance.attendanceReason.code == 'ATTENDED' and attendance.editable %}
                    {{ govukButton({
                        text: "Remove pay and add case note",
                        classes: "govuk-button--warning"
                    }) }}
                {% endif %}

                <p class="govuk-body govuk-!-display-none-print no-js-hidden">
                    <a href="{{ dpsUrl }}/prisoner/{{ attendance.prisonerNumber }}"
                       class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">View the prisoner's profile
                    </a>
                </p>

            </form>
        </div>
    </div>
{% endblock %}
