{% extends "layout.njk" %}

{% from "partials/attendance/attendanceTag.njk" import attendanceTag %}
{% from "components/alertsList.njk" import alertsList %}
{% from "components/sticky-select.njk" import stickySelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/attendance/otherEvent.njk" import otherEvent %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/formatSessions.njk" import formatSessions %}
{% from "partials/service-user-name.njk" import serviceUserName %}

{% set pageTitle = applicationName + " - Record attendance" %}
{% set pageId = 'attendance-list-page' %}
{% set cancelledComment = '' %}
{% if instance.comment !== undefined and instance.comment !== null %}
  {% set cancelledComment = " - "+instance.comment %}
{% endif %}
{% set activityDate = instance.date | toDate | formatDate %}
{% if selectedSessions.length > 0 %}
    {% set hardBackLinkText = 'Go back to activities for ' + activityDate + ' - ' + formatSessions(selectedSessions) %}
    {% set hardBackLinkHref = '/activities/attendance/activities?date=' + session.recordAttendanceRequests.activityDate + '&sessionFilters=' + selectedSessions | join(",") %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if instance.cancelled %}
                {% set cancelledSessionHeadingHtml %}
                    <h3 class="govuk-notification-banner__heading">Session cancelled</h3>
                    <p class="govuk-body">This activity session has been cancelled by {{ serviceUserName(userMap.get(instance.cancelledBy)) }} on {{ instance.cancelledTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate }} for the following reason:</p>
                    <ul class="govuk-list govuk-list--bullet"><li>{{ instance.cancelledReason }} {{ cancelledComment }}</li></ul>
                {% endset %}
                {{ govukNotificationBanner({
                    type: 'important',
                    html: cancelledSessionHeadingHtml,
                    classes: 'govuk-!-display-none-print'
                }) }}
            {% endif %}

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                {{ instance.activitySchedule.activity.summary }} - record attendance
                <span class="govuk-caption-l">
                    {{ instance.startTime }} to {{ instance.endTime }} ({{ instance.startTime | getTimeSlotFromTime | upper }})
                </span>
                <span class="govuk-caption-l">{{ activityDate }}</span>
                <span class="govuk-caption-l">
                    {{ 
                        ("In cell" if instance.activitySchedule.activity.inCell) or 
                        ("On wing" if instance.activitySchedule.activity.onWing) or 
                        ("Off wing" if instance.activitySchedule.activity.offWing) or 
                        instance.activitySchedule.activity.location | capitalize }}
                </span>
            </h1>

            <div class="govuk-button-group govuk-!-display-none-print">
                {{ govukButton({
                    text: "Print attendance list",
                    classes: "govuk-button--blue js-print no-js-hidden"
                }) }}
                {% if instance.isAmendable %}
                    {% if instance.cancelled %}
                        <a href="uncancel" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Uncancel this session</a>
                    {% else %}
                        {{ govukButton({
                            text: "Cancel this session",
                            classes: "govuk-button--secondary",
                            href: 'cancel'
                        }) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">{{ attendance | length }} {{ "person" if attendance | length == 1 else "people" }} allocated</h2>
            {% if instance.activitySchedule.activity.attendanceRequired %} 
                <ul class="govuk-list">
                    <li>
                        <span>Attended:</span>
                        {% if attendanceSummary.attendanceCount == 0 %}
                            -
                        {% else %}
                            <span class="govuk-!-font-weight-bold">{{ attendanceSummary.attended }}</span> ({{ attendanceSummary.attendedPercentage }}%)
                        {% endif %}
                    </li>
                    <li>
                        <span>Absent:</span>
                        {% if attendanceSummary.attendanceCount == 0 %}
                            -
                        {% else %}
                            <span class="govuk-!-font-weight-bold">{{ attendanceSummary.notAttended }}</span> ({{ attendanceSummary.notAttendedPercentage }}%)
                        {% endif %}
                    </li>
                    <li>
                        <span>Not recorded:</span>
                        {% if attendanceSummary.attendanceCount == 0 %}
                            -
                        {% else %}
                            <span class="govuk-!-font-weight-bold">{{ attendanceSummary.notRecorded }}</span> ({{ attendanceSummary.notRecordedPercentage }}%)
                        {% endif %}
                    </li>
                </ul>     
            {% endif %}    

            {% if instance.date | toDate > now and not instance.cancelled %}
                {{ govukInsetText({
                    text: 'You cannot record attendance for this session until, ' + instance.date | formatDate
                }) }}
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="print-only">
                {{ govukTextarea({
                    attributes: { placeholder: 'Notes' },
                    id: "notes-textarea"
                }) }}
            </div>
        </div>
    </div>

    <hr class="print-only"/>

    {% set rows = [] %}
    {% for attendee in attendance | sort(false, false, 'location') %}
        {% set rows = (rows.push({
            visuallyHiddenText: 'Select ' + attendee.prisoner | firstNameLastName | toTitleCase | prisonerName,
            value: instance.id + '-' + attendee.attendance.id + '-' + attendee.prisoner.prisonerNumber,
            selectable: attendee.attendance.status === "WAITING" and attendee.attendance.editable and instance.activitySchedule.activity.attendanceRequired === true,
            items: [
                {
                    html: '<span class="print-checkbox govuk-!-margin-left-3"></span>',
                    classes: 'govuk-table_cell print-only'
                } if instance.activitySchedule.activity.attendanceRequired else 
                {
                    html: '<span class="govuk-!-margin-left-0"></span>',
                    classes: 'govuk-table_cell print-only'
                },
                {
                    html: showProfileLink({
                        name: attendee.prisoner | firstNameLastName,
                        prisonerNumber: attendee.prisoner.prisonerNumber,
                        inCaseLoad: attendee.prisoner.prisonId == user.activeCaseLoadId
                    }),
                    attributes: {
                        "data-qa": "prisoner-details",
                        "data-sort-value": attendee.prisoner | firstNameLastName | prisonerNameForSorting
                    }
                },
                {
                    text: statusBasedCellLocation(attendee.prisoner.cellLocation, attendee.prisoner.status, attendee.prisoner.prisonId == user.activeCaseLoadId),
                    attributes: {
                        "data-qa": "location"
                    }
                },
                {
                    html: alertsList({ alerts: attendee.prisoner.alerts, category: attendee.prisoner.category }),
                    classes: 'hmpps-max-width-240',
                    attributes: {
                        "data-qa": "alert-list"
                    }
                },
                {
                    html: renderOtherEvents(attendee.otherEvents),
                    attributes: {
                        "data-qa": "other-events"
                    }
                },
                {
                    html: attendanceTag(attendee.attendance.status, attendee.attendance.attendanceReason.code, instance.activitySchedule.activity.attendanceRequired) + ' ' + renderPayStatus(attendee.attendance, isPayable),
                    classes: 'govuk-!-display-none-print',
                    attributes: {
                        "data-qa": "attendance"
                    }
                },
                {
                    classes: 'print-only',
                    text: ''
                },
                {
                    html: renderViewLink(attendee.attendance),
                    classes: 'govuk-!-display-none-print'
                }
            ]
        }), rows) %}
    {% endfor %}

    <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ stickySelect({
            type: 'check',
            id: "attendanceList",
            caption: "Attendance list",
            captionClasses: "govuk-visually-hidden",
            name: 'selectedAttendances',
            head: [
                {
                    text: "",
                    classes: 'print-only'
                },
                {
                    text: "Name",
                    attributes: { "aria-sort": "ascending" }
                },
                {
                    text: "Cell location",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Relevant alerts"
                },
                {
                    text: "Clashing events"
                },
                {
                    text: "Attendance and pay",
                    classes: 'govuk-!-display-none-print',
                    colspan: 2,
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Notes",
                    classes: 'govuk-table__header print-only hmpps-width-20-percent'
                }
            ],
            rows: rows,
            actions: [
                {
                    text: 'Mark as attended',
                    formAction: 'attended'
                },
                {
                    text: 'Mark as not attended',
                    formAction: 'not-attended'
                }
            ],
            itemsDescription: 'person',
            itemsDescriptionPlural: 'people',
            pagination: {
                previous: {
                    title: 'Previous session',
                    label: instance.previousScheduledInstanceDate | toDate | formatDate('d MMMM yyyy'),
                    href: '/activities/attendance/activities/' + instance.previousScheduledInstanceId + '/attendance-list'
                } if instance.previousScheduledInstanceId,
                next: {
                    title: 'Next session',
                    label: instance.nextScheduledInstanceDate | toDate | formatDate('d MMMM yyyy'),
                    href: '/activities/attendance/activities/' + instance.nextScheduledInstanceId + '/attendance-list'
                } if instance.nextScheduledInstanceId
            }
        }) }}
    </form>

    <div class="print-only govuk-body-s govuk-!-margin-top-6">Printed at {{ now | formatDate('h:mmbbb \'on\' EEEE, d MMMM yyyy') }}</div>
{% endblock %}

{% macro renderOtherEvents(otherEvents) %}
    {% for event in otherEvents %}
        {{ otherEvent(event) }}
        {% if not loop.last %}<hr class="mid-grey-tint-20-hr dash-border">{% endif %}
    {% endfor %}
{% endmacro %}

{% macro renderPayStatus(attendance, payable) %}
    {% if attendance and attendance.status != 'WAITING' %}
        {% if attendance.issuePayment %}
            {{ govukTag({
                text: "Pay",
                classes: "govuk-tag--green"
            }) }}
        {% elseif payable %}
            {{ govukTag({
                text: "No pay",
                classes: "govuk-tag--red"
            }) }}
        {% else %}
            {{ govukTag({
                text: "Unpaid",
                classes: "govuk-tag--green"
            }) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro renderViewLink(attendance) %}
    {% if attendance.status === 'COMPLETED' or attendance.attendanceHistory|length %}
        <a href="attendance-details/{{ attendance.id }}" class="govuk-link govuk-link--no-visited-state">
            {% if attendance.editable and instance.activitySchedule.activity.attendanceRequired %}
                View or Edit
            {% else %}
                View
            {% endif %}
        </a>
    {% endif %}
{% endmacro %}
