{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = "Activities Management - Record Attendance" %}
{% set pageId = 'edit-attendance-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <h1 class="govuk-heading-l">Change attendance details for {{ attendee.name | toTitleCase }}</h1>
                <div class="govuk-inset-text">
                    <a href="/activities/attendance/activities/{{ instance.id }}/attendance-list" class="govuk-link govuk-link--no-visited-state">{{ instance.activitySchedule.activity.summary }}</a> {{ instance.startTime }} - {{ instance.endTime }} on {{ instance.date | toDate | formatDate('d MMMM yyyy') }}
               </div>
                <h2 class="govuk-heading-m">Did {{ attendee.name | toTitleCase }} attend {{ instance.activitySchedule.activity.summary }} {{ instance.date | toDate | formatDate('d MMMM yyyy') }} ({{ instance.timeSlot }})?</h2>

                {{ govukRadios({
                  name: "attendanceOption",
                  errorMessage: validationErrors | findError('attendanceOption'),
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No"
                    },
                    {
                      divider: "or"
                    },
                    {
                      value: "reset",
                      text: "Reset attendance record"
                    }
                  ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
