{% extends "layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}

{% set pageTitle = applicationName + " - Record attendance" %}
{% set pageId = 'select-period-page' %}
{% set hardBackLinkHref = "/activities/attendance" %}
{% set hardBackLinkText = "Back" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">Record activity attendance</span>
            <h1 class="govuk-heading-l">Choose details to record attendance</h1>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    name: "datePresetOption",
                    fieldset: {
                        legend: {
                            text: "Attendance date",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: validationErrors | findError('datePresetOption'),
                    items: [
                        {
                            value: "today",
                            text: "Today - " + now | formatDate('d MMMM yyyy', false),
                            checked: formResponses.datePresetOption == 'today'
                        },
                        {
                            value: "yesterday",
                            text: "Yesterday - " + now | addDays(-1) | formatDate('d MMMM yyyy', false),
                            checked: formResponses.datePresetOption == 'yesterday'
                        },
                        {
                            value: "other",
                            text: "A different date",
                            checked: formResponses.datePresetOption == 'other',
                            conditional: { 
                                html: hmppsDatePicker({
                                    id: 'date',
                                    name: 'date',

                                    classes: 'hmpps-datepicker--fixed-width',
                                    label: {
                                        text: 'Other date',
                                        classes: 'govuk-visually-hidden'
                                    },
                                    hint: {
                                        text: 'Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select.'
                                    },
                                    errorMessage: validationErrors | findError('date'),
                                    value: formResponses.date or date
                                })
                            }
                        }
                    ]
                }) }}

                {{ govukCheckboxes({
                    name: "sessions",
                    fieldset: {
                        legend: {
                            text: "Time period",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: validationErrors | findError('sessions'),
                    items: [
                        {
                            value: TimeSlot.AM,
                            text: "AM (morning)",
                            checked: sessions and TimeSlot.AM in (sessions)
                        },
                        {
                            value: TimeSlot.PM,
                            text: "PM (afternoon)",
                            checked: sessions and TimeSlot.PM in (sessions)
                        },
                        {
                            value: TimeSlot.ED,
                            text: "ED (evening)",
                            checked: sessions and TimeSlot.ED in (sessions)
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
