{{ govukRadios({
    idPrefix: 'activityFilter',
    name: 'activityFilter',
    classes: "govuk-radios--small",
    fieldset: {
        legend: {
            text: 'People with or without events:',
            classes: 'govuk-visually-hidden'
        }
    },
    items:[
        {
            value: 'With',
            text: 'Show people with events',
            checked: 'With' == session.unlockListJourney.activityFilter
        },
        {
            value: 'Without',
            text: 'Show people without events',
            checked: 'Without' == session.unlockListJourney.activityFilter
        },
        {
            value: 'Both',
            text: 'Show everyone',
            checked: 'Both' == session.unlockListJourney.activityFilter
        }
    ]
}) }}