%status-style {
  text-transform: uppercase;

  display: inline-block;
  border: 3px solid;
  padding: 6px;
  margin-left: 0;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  min-width: 100px;
  user-select: none;

  @media print {
    margin-top: 2px;
    margin-bottom: 0 !important;
    font-size: 6pt;
    padding: 4px;
    color: black !important;
    border: 1px solid black !important;
    background: none !important;
    min-width: auto;
    vertical-align: top;
  }
}

.alerts-list {
  @extend %govuk-list;
  margin-bottom: 0;

  @media screen {
    display: flex;
    flex-wrap: wrap;
  }
}

.alert-status {
  @extend %status-style;

  img {
    height: 16px;
    margin-right: 3px;

    @media print {
      display: none;
    }
  }

  &--acct {
    color: #d34700;
    border-color: #d34700;
  }

  &--arsonist {
    color: #df3034;
    border-color: #df3034;
  }

  &--assault {
    color: #4c2c92;
    border-color: #4c2c92;
  }

  &--conflict {
    color: #800000;
    border-color: #800000;
  }

  &--disability {
    color: #2b88c8;
    border-color: #2b88c8;
  }

  &--elist {
    color: #28a197;
    border-color: #28a197;
  }

  &--controlled-unlock {
    color: #2e358b;
    border-color: #2e358b;
  }

  &--no-one-to-one {
    color: #903;
    border-color: #903;
  }

  &--risk-females {
    color: #6f71af;
    border-color: #6f71af;
  }

  &--tact {
    color: #d53880;
    border-color: #d53880;
  }
}

.cat-a-status {
  @extend %status-style;

  &--a,
  &--e {
    color: #00437b;
    border-color: #00437b;
  }

  &--h {
    background-color: #00437b;
    color: white;
    border-color: #00437b;
  }

  &--p {
    border: 3px dashed;
    color: #00437b;
    border-color: #00437b;
  }
}
