.autocomplete__wrapper {
  @include govuk-media-query($until: desktop) {
    width: available;
  }

  @include govuk-media-query($from: desktop) {
    width: 50%;
  }
}
.moj-filter {
  .autocomplete__wrapper {
    width: 100%;
  }
}
.autocomplete {
  &__option {
    font-family: Arial
  }

  &__input {
    &--show-all-values {
      padding: 5px;
    }
  }
}
