{% extends "layout.njk" %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    {% include 'partials/beforeContent.njk' %}
  </div>
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    <div class="govuk-width-container">{% block heading %}{% endblock %}</div>
    <div class="homepage-content">
      <div class="govuk-width-container">{% block content %}{% endblock %}</div>
    </div>
  </main>
{% endblock %}
