{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-ui.min.js"></script>
  <link href="/assets/stylesheets/jquery-ui.min.css" rel="stylesheet">

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    attributes: {
      role: "complementary"
    },
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your feedback will help us to improve it.'
  }) }}

  {% if backLinkHref %}
    <nav>
      {{ govukBackLink({
        text: "Back",
        href: backLinkHref,
        classes: 'js-backlink' if not noJsBackLink
      }) }}
    </nav>
  {% endif %}
  {% include 'partials/formErrorSummary.njk' %}
  <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/js/main.js"></script>

  {# Javascript block for individual pages #}
  {% block pageScripts %}{%  endblock %}
{% endblock %}
