{% extends "govuk/template.njk" %}

{% block head %}
  <!-- Google Tag Manager -->
      <script nonce='{{ cspNonce }}'>
        ;(function(w,d,s,l,i) {
          w[l]=w[l]||[];
          w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
          var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),
            dl=l!='dataLayer'?'&l='+l:'';

          j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+ i + dl +'{{ tagManagerEnvironment | safe }}';

          var n=d.querySelector('[nonce]');
          n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));
          f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','{{ tagManagerContainerId }}');
      </script>
  <!-- End Google Tag Manager -->

  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
  {% block meta %}{% endblock %}
{% endblock %}


{% block main %}
  {% if liveIssueOutageBannerEnabled or plannedDowntimeOutageBannerEnabled %}
    {% include 'partials/serviceOutageBanner.njk' %}
  {% endif %}
  <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
  {% block beforeContent %}
    {% include 'partials/beforeContent.njk' %}
  {% endblock %}
    <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}



{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body> to avoid blocking the initial render. #}
  <script nonce="{{ cspNonce }}">
    window.applicationInsightsConnectionString = '{{ applicationInsightsConnectionString }}'
    window.applicationInsightsRoleName = '{{ applicationInsightsRoleName }}'
    window.authenticatedUser = '{{ user.username }}'
  </script>
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {# Expose the DPR related assets #}
  <script type="module" src="/assets/ext/day.js"></script>
  <script type="module" src="/assets/ext/dayjs/plugin/customParseFormat.js"></script>
  <script type="module" src="/assets/ext/chart.js"></script>
  <script type="module" src="/assets/ext/chartjs-datalabels.js"></script>

  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
