{% extends "govuk/template.njk" %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <script src="/assets/vendor/html5shiv-3.7.3.min.js"></script>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <![endif]-->

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "partials/header.njk" %}
  {% endif %}
  {% block meta %}{% endblock %}
{% endblock %}

{% block beforeContent %}
  {% include 'partials/beforeContent.njk' %}
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {{ govukFooter({
      classes: 'govuk-!-display-none-print'
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body> to avoid blocking the initial render. #}
  <script nonce="{{ cspNonce }}">
    window.applicationInsightsConnectionString = '{{ applicationInsightsConnectionString }}'
    window.applicationInsightsRoleName = '{{ applicationInsightsRoleName }}'
    window.authenticatedUser = '{{ user.username }}'
  </script>
  <script type="module" src="/assets/javascript/activities.min.js"></script>
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
  {# Expose the DPR related assets #}
  <script type="module" src="/assets/ext/day.js"></script>
  <script type="module" src="/assets/ext/dayjs/plugin/customParseFormat.js"></script>
  <script type="module" src="/assets/ext/chart.js"></script>
  <script type="module" src="/assets/ext/chartjs-datalabels.js"></script>

  <script type="module" src="/assets/dpr/js/all.mjs"></script>
  <script type="module" nonce="{{ cspNonce }}">
    import initAll from "/assets/dpr/js/all.mjs";

    initAll();
  </script>
{% endblock %}
