{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/filter/macro.njk" import mojFilter %}

{% set pageTitle = applicationName + " - Manage Schedules - Activities" %}
{% set pageId = 'manage-schedules-activities-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Activities dashboard</h1>
            <p class="govuk-body-l">Select an activity to edit details including pay rates, requirements and schedule. You can also end an activity.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="moj-filter-layout" data-module="activities-list-filter">
                <form method='GET'>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <div class="moj-filter-layout__filter govuk-!-display-none-print">
                        {{ mojFilter({
                            heading: {
                                text: 'Filters'
                            },
                            optionsHtml: activitiesFilters(filters)
                        }) }}
                    </div>
                    <hr class="print-only" />
                    <div class="moj-filter-layout__content">
                        <div class="moj-action-bar govuk-!-display-none-print">
                            <div class="moj-action-bar__filter"></div>
                        </div>

                        {% set rows = [] %}
                        {% for activity in activities %}
                            {% set rows = (rows.push([
                                {
                                    attributes: {
                                        id: 'activity-' + loop.index,
                                        "data-sort-value": activity.activityName
                                    },
                                    html: '
                                            <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
                                                <a href="/activities/schedule/activities/' + activity.id + '" class="govuk-link govuk-link--no-visited-state">' + (activity.activityName | escape) + '</a>
                                            </h2>
                                        '
                                },
                                {
                                    attributes: {
                                        id: 'activity-' + loop.index,
                                        "data-sort-value": activity.createdTime
                                    },
                                    text: activity.createdTime | parseISODate | formatDate('d MMM yyyy')
                                },
                                {
                                    attributes: {
                                        id: 'activity-' + loop.index,
                                        "data-sort-value": activity.category.name
                                    },
                                    text: activity.category.name
                                },
                                {
                                    attributes: {
                                        id: 'activity-' + loop.index,
                                        "data-sort-value": activity.activityState
                                    },
                                    text: renderActivityState(activity.activityState)
                                }
                            ]), rows) %}
                        {% endfor %}

                        {{ govukTable({
                            attributes: {
                                'data-module': 'moj-sortable-table'
                            },
                            caption: "Activities",
                            captionClasses: "govuk-visually-hidden",
                            head: [
                                {
                                    text: "Activity name",
                                    attributes: {
                                        "aria-sort": "ascending"
                                    }
                                },
                                {
                                    text: "Date created",
                                    attributes: {
                                        "aria-sort": "none"
                                    }
                                },
                                {
                                    text: "Activity category",
                                    attributes: {
                                        "aria-sort": "none"
                                    }
                                },
                                {
                                    text: "State",
                                    attributes: {
                                        "aria-sort": "none"
                                    }
                                }
                            ],
                            rows: rows
                        }) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% macro renderActivityState(activityState) %}
    {% if activityState === 'LIVE' %}
        {{ govukTag({
            text: activityState,
            classes: "govuk-tag--blue"
           })
        }}
    {% else %}
        {{ govukTag({
            text: activityState,
            classes: "govuk-tag--red"
           })
        }}
    {% endif %}
{% endmacro %}

{% macro activitiesFilters(filters) %}
    {% set stateOptions = [
        {
            value: "live",
            text: "Live",
            checked: filters.stateFilter == "live"
        },
        {
            value: "archived",
            text: "Archived",
            checked: filters.stateFilter == "archived"
        },
        {
            value: "all",
            text: "Both (live or archived)",
            checked: filters.stateFilter == "all"
        }
    ] %}

    {{ govukRadios({
        id: "stateFilter",
        name: "stateFilter",
        classes: "govuk-radios--small",
        fieldset: {
            legend: {
                text: 'Status',
                classes: 'govuk-fieldset__legend--m'
            }
        },
        items: stateOptions
    }) }}
{% endmacro %}
