{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/card.njk" import card %}

{% set pageTitle = applicationName + " - Edit activity - Check pay" %}
{% set pageId = 'check-pay-page' %}
{% set backLinkHref = "activities/" + session.createJourney.activityId %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-m">{{ session.createJourney.category.name }} | Risk level: {{ session.createJourney.riskLevel | toTitleCase }}</span>
            <span class="govuk-heading-m">{{ session.createJourney.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">View or change details for {{ session.createJourney.name }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% for incentiveLevelPay in incentiveLevelPays %}
                <h2 class="govuk-heading-m">{{ incentiveLevelPay.incentiveLevel }} incentive level pay rates</h2>
                {% for pay in incentiveLevelPay.pays %}
                    {% set rows = [] %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "Amount"
                            },
                            value: {
                                text: pay.rate | toMoney
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "People on this rate"
                            },
                            value: {
                                text: pay.peopleCount or "None"
                            }
                        }
                    ), rows) %}

                    {% set cardItems = [] %}
                    {% if not pay.peopleCount %}
                        {% set cardItems = (cardItems.push(
                            {
                                href: "/activities/create/pay/single?iep=" + pay.incentiveLevel + "&bandId=" + pay.bandId + "&fromEditActivity=true&preserveHistory=true",
                                text: "Change",
                                classes: "govuk-link--no-visited-state",
                                attributes: { 'data-qa': 'change-pay' }
                            }
                        ), cardItems) %}
                        {% set cardItems = (cardItems.push(
                            {
                                href: "/activities/create/remove-pay?iep=" + pay.incentiveLevel + "&bandId=" + pay.bandId + "&fromEditActivity=true&preserveHistory=true",
                                text: "Delete pay rate",
                                classes: "govuk-link--no-visited-state",
                                attributes: { 'data-qa': 'remove-pay' }
                            }
                        ), cardItems) %}
                    {% endif %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: pay.bandAlias
                            },
                            actions: {
                                items: cardItems
                            }
                        },
                        rows: rows
                    }) }}
                {% endfor %}
            {% endfor %}

            {% if flatPay | length %}
                <h2 class="govuk-heading-m">Flat rate (applies to all incentive levels)</h2>
            {% endif %}
            {% set rows = [] %}
            {% for flatRate in flatPay %}
                {% set rows = (rows.push(
                    {
                        key: {
                            text: flatRate.bandAlias
                        },
                        value: {
                            text: flatRate.rate | toMoney
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/pay/flat?bandId=" + flatRate.bandId + '&preserveHistory=true&fromEditActivity=true',
                                    text: "Change",
                                    visuallyHiddenText: "change pay rate"
                                },
                                {
                                    href: "/activities/create/remove-flat-rate?bandId=" + flatRate.bandId + '&preserveHistory=true&fromEditActivity=true',
                                    text: "Remove",
                                    visuallyHiddenText: "remove flat rate"
                                }
                            ]
                        }
                    }
                ), rows) %}
            {% endfor %}
            {{ govukSummaryList({
                rows: rows
            }) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm"
                    }) }}
                    {{ govukButton({
                        text: "Add another pay rate",
                        href: '/activities/create/pay-rate-type?fromEditActivity=true&preserveHistory=true',
                        classes: "govuk-button--secondary"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
