{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/card.njk" import card %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Edit activity - Check pay" %}
{% set pageId = 'check-pay-page' %}
{% set hardBackLinkText = 'Back to edit activity details' %}
{% set hardBackLinkHref = "/activities/view/" + session.createJourney.activityId %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Edit pay rates</h1>

            {{ govukButton({
                text: "Add new pay rate",
                href: '../pay-rate-type?preserveHistory=true',
                classes: 'govuk-!-margin-0'
            }) }}

            {{ govukInsetText({
                text: 'You can add new pay rates. You can only edit or delete pay rates if no one is allocated to them.'
            }) }}

            {% for incentiveLevelPay in incentiveLevelPays %}
                <h2 class="govuk-heading-m">{{ incentiveLevelPay.incentiveLevel }} incentive level pay rates</h2>
                {% for pay in incentiveLevelPay.pays %}
                    {% set rows = [] %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "Amount"
                            },
                            value: {
                                text: pay.rate | toMoney
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "People on this rate"
                            },
                            value: {
                                text: pay.peopleCount or "None"
                            }
                        }
                    ), rows) %}

                    {% set cardItems = [] %}
                    {% if not pay.peopleCount %}
                        {% set cardItems = (cardItems.push(
                            {
                                href: "../pay/single?iep=" + pay.incentiveLevel + "&bandId=" + pay.bandId + "&preserveHistory=true",
                                text: "Change",
                                classes: "govuk-link--no-visited-state",
                                attributes: { 'data-qa': 'change-pay' }
                            }
                        ), cardItems) %}
                        {% set cardItems = (cardItems.push(
                            {
                                href: "../remove-pay?iep=" + pay.incentiveLevel + "&bandId=" + pay.bandId + "&preserveHistory=true",
                                text: "Delete pay rate",
                                classes: "govuk-link--no-visited-state",
                                attributes: { 'data-qa': 'remove-pay' }
                            }
                        ), cardItems) %}
                    {% endif %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: pay.bandAlias
                            },
                            actions: {
                                items: cardItems
                            }
                        },
                        rows: rows
                    }) }}
                {% endfor %}
            {% endfor %}

            {% if flatPay | length %}
                <h2 class="govuk-heading-m">Flat rate (applies to all incentive levels)</h2>
            {% endif %}
            {% set rows = [] %}
            {% for flatRate in flatPay %}
                {% set rows = (rows.push(
                    {
                        key: {
                            text: flatRate.bandAlias
                        },
                        value: {
                            text: flatRate.rate | toMoney
                        },
                        actions: {
                            items: [
                                {
                                    href: "../pay/flat?bandId=" + flatRate.bandId + '&preserveHistory=true',
                                    text: "Change",
                                    visuallyHiddenText: "change pay rate"
                                },
                                {
                                    href: "../remove-flat-rate?bandId=" + flatRate.bandId + '&preserveHistory=true',
                                    text: "Remove",
                                    visuallyHiddenText: "remove flat rate"
                                }
                            ]
                        }
                    }
                ), rows) %}
            {% endfor %}
            {{ govukSummaryList({
                rows: rows
            }) if rows | length }}

            <div class="govuk-!-margin-bottom-6 govuk-body">
                <a href="/activities/view/{{ session.createJourney.activityId }}" class="govuk-link govuk-link--no-visited-state gov-!-margin-bottom-6">Return to edit activity page</a>
            </div>
        </div>
    </div>
{% endblock %}
