{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "../../../partials/activities/days-and-times.njk" import daysAndTimes %}

{% set pageTitle = applicationName + " - Activities Dashboard - View activity" %}
{% set pageId = 'view-activity-page' %}
{% set hardBackLinkText = 'Back to activities dashboard' %}
{% set hardBackLinkHref = '/activities/schedule/activities' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Edit activity details</h1>
            <h2 class="govuk-heading-m">Activity details</h2>

            {{ govukSummaryList({
                  rows: [
                    {
                        key: {
                            text: "Activity category"
                        },
                        value: {
                            text: activity.category.name
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/category?fromEditActivity=true&preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change category",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    },
                    {
                        key: {
                            text: "Activity name"
                        },
                        value: {
                            text: activity.summary
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/name?fromEditActivity=true&preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change activity name",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    },
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: locationText(schedule)
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/location?fromEditActivity=true&preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change location",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    },
                    {
                        key: {
                            text: "Capacity"
                        },
                        value: {
                            text: schedule.capacity
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/capacity?fromEditActivity=true&preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change capacity",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Requirements and suitability</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Suitable for workplace risk assessment level"
                        },
                        value: {
                            text: riskLevel(activity)
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/risk-level?fromEditActivity=true&preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change risk level",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    },
                    {
                        key: {
                            text: "Education requirements"
                        },
                        value: {
                            html: educationRequirementsContent(activity.minimumEducationLevel)
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/check-education-level?fromEditActivity=true&preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change education levels",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    }
                ]
            }) }}
            <h2 class="govuk-heading-m">Pay rates</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Pay rates"
                        },
                        value: {
                            html: paySummary(incentiveLevelPays)
                        },
                        actions: {
                            items: [
                                {
                                    href: "/activities/schedule/check-pay?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change pay",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Schedule and dates</h2>
            {{ govukInsetText({ 
                text: 'The current week is: Week ' + currentWeek,
                classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-0'
            }) if session.createJourney.scheduleWeeks > 1 and currentWeek }}
            {% set dateAndScheduleRows = [{
                key: {
                    text: "Start date"
                },
                value: {
                    text: schedule.startDate | toDate | formatDate('EEEE d MMMM yyyy')
                },
                actions: {
                    items: [
                        {
                            html: govukTag({ text: 'Started', classes: 'govuk-tag--small govuk-tag--green' })
                        } if schedule.startDate <= now | toDateString else
                        {
                            href: "/activities/create/start-date?fromEditActivity=true&preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change start date",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                }
            }] %}

            {% set dateAndScheduleRows = (dateAndScheduleRows.push({
                key: {
                    text: "End date"
                },
                value: {
                    text: schedule.endDate | toDate | formatDate('EEEE d MMMM yyyy') if schedule.endDate else "None set"
                },
                actions: {
                    items: [
                        {
                            href: "/activities/create/end-date?fromEditActivity=true&preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change end date",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                } if (not schedule.endDate) or (schedule.endDate >= now | toDateString)
            }), dateAndScheduleRows) %}

            {% set dateAndScheduleRows = (dateAndScheduleRows.push({
                key: {
                    text: "Repeats"
                },
                value: {
                    text: session.createJourney.scheduleWeeks + ' weekly' if session.createJourney.scheduleWeeks > 1 else 'Weekly'
                }
            }), dateAndScheduleRows) %}

            {% for week, slots in dailySlots %}
                {% set dateAndScheduleRows = (dateAndScheduleRows.push(
                    {
                        key: {
                            text: "Week " + week
                        },
                        value: { html: daysAndTimes(slots) },
                        actions: {
                            items: [
                                {
                                    href: "/activities/create/days-and-times/" + week + "?fromEditActivity=true&preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change days and times",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                    }
                ), dateAndScheduleRows) %}
            {% endfor %}

            {% set dateAndScheduleRows = (dateAndScheduleRows.push(
                {
                    key: {
                        text: "Runs on bank holidays"
                    },
                    value: {
                        text: "Yes" if schedule.runsOnBankHoliday else "No"
                    },
                    actions: {
                        items: [
                            {
                                href: "/activities/create/bank-holiday-option?fromEditActivity=true&preserveHistory=true",
                                text: "Change",
                                visuallyHiddenText: "change bank holiday",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    } if (schedule.endDate >= now | toDateString) or (not schedule.endDate)
                }
            ), dateAndScheduleRows) %}

            {{ govukSummaryList({
                rows: dateAndScheduleRows
            }) }}

            <div class="govuk-button-group">
                <a href="/activities/schedule/activities" class="govuk-link">Return to dashboard</a>
            </div>

        </div>
    </div>
{% endblock %}

{% macro educationRequirementsContent(educationRequirements) %}
    {% if educationRequirements | length > 0 %}
        {% for educationRequirement in educationRequirements %}
            <div class="govuk-!-margin-bottom-2">
                <div>{{ educationRequirement.studyAreaDescription }}: {{ educationRequirement.educationLevelDescription }}</div>
            </div>
        {% endfor %}
    {% else %}
        None
    {% endif %}
{% endmacro %}

{% macro paySummary(incentiveLevelPays) %}
    {% for incentiveLevelPay in incentiveLevelPays %}
        <div class="govuk-!-margin-bottom-2">
            <div class="govuk-!-font-weight-bold">{{ incentiveLevelPay.incentiveLevel }} incentive level pay</div>
            {% for pay in incentiveLevelPay.pays %}
                <div>{{ pay.bandAlias }}: {{ pay.rate | toMoney }}</div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro locationText(schedule) %}
    {% if schedule.activity.inCell %}
        {{ "In cell" }}
    {% elseif schedule.activity.onWing %}
        {{ "On wing" }}
    {% elseif schedule.activity.offWing %}
        {{ "Off wing" }}
    {% else %}
        {{ schedule.internalLocation.description | trim | title }}
    {% endif %}
{% endmacro %}

{% macro activityStartedTag() %}
    {{ govukTag({
        text: "Started",
        classes: "govuk-tag--green"
    }) }}
{% endmacro %}

{% macro activitySummary() %}
    {% if schedule.endDate >= now | toDateString %}
        href: "/activities/create/name?fromEditActivity=true&preserveHistory=true",
        text: "Change",
        visuallyHiddenText: "change activity name",
        classes: "govuk-link--no-visited-state"
    {% endif %}
{% endmacro %}

{% macro riskLevel(activity) %}
    {% if activity.riskLevel == 'low' %}
        Low
    {% elseif activity.riskLevel == 'medium' %}
        Low and Medium
    {% elseif activity.riskLevel == 'high' %}
        Low, Medium and High
    {% endif %}
{% endmacro %}
