{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "pages/appointments/partials/occurrence-movement-slip.njk" import occurrenceMovementSlip %}

{% extends "layout.njk" %}

{% set pageTitle = "Appointments Management - Movement Authorisation" %}
{% set pageId = 'occurrence-movement-slip-page' %}

{% block header %}
{% endblock %}

{% block beforeContent %}
    <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-button-group float-right govuk-!-display-none-print">
                {{ govukButton({
                    text: "Print movement slip" + ("s" if appointmentOccurrence.prisoners.length > 1 ),
                    classes: "govuk-button--blue js-print no-js-hidden",
                    preventDoubleClick: true
                }) }}
            </div>
        </div>
    </div>
    {{ occurrenceMovementSlip(appointmentOccurrence, now) }}
{% endblock %}

{% block footer %}
{% endblock %}
