{% extends "layout.njk" %}

{% from "components/searchBar.njk" import searchBar %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Record attendance" %}
{% set pageId = 'activities-page' %}
{% set backLinkHref = "select-period" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ activities.length }} {{ 'activity' if activities.length == 1 else 'activities' }} scheduled for {{ date | formatDate('d MMMM yyyy', true)}}</h1>
            <ul class="govuk-list">
                <li><a href="select-period" class="govuk-link govuk-!-font-size-19">View the schedule for a different day</a></li>
            </ul>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form>
                <input type="hidden" name="date" value="{{ date | formatDate('yyyy-MM-dd') }}">
                {{ searchBar({
                    inputParams: {
                        id: 'searchTerm',
                        name: 'searchTerm',
                        label: {
                            text: 'Search by activity name',
                            classes: 'govuk-label--s'
                        },
                        value: searchTerm
                    },
                    buttonParams: {
                        text: 'Search'
                    }
                }) }}
            </form>
        </div>
    </div>

    {{ scheduledActivitiesTable('Morning sessions', activities.am, 1) }}
    {{ scheduledActivitiesTable('Afternoon sessions', activities.pm, 2) }}
    {{ scheduledActivitiesTable('Evening sessions', activities.ed, 3) }}
{% endblock %}

{% macro scheduledActivitiesTable(caption, activities, tableNumber) %}
    {% if activities %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% set rows = [] %}
                {% for activity in activities %}
                    {% set rows = (rows.push([
                        {
                            attributes: {
                                id: 'activity-' + tableNumber + '-' + loop.index,
                                "data-sort-value": activity.name
                            },
                            html: '
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                                        <a href="activities/' + activity.id + '/attendance-list" class="govuk-link govuk-link--no-visited-state">' + activity.name + '</a>
                                    </h2>
                                    <div class="govuk-hint govuk-!-margin-bottom-1 govuk-!-font-size-14">' + activity.scheduleName + '</div>
                                  '
                        },
                        {
                            attributes: {
                                id: 'location-' + tableNumber + '-' + loop.index,
                                "data-sort-value": activity.location
                            },
                            text: activity.location
                        },
                        {
                            attributes: {
                                id: 'time-' + tableNumber + '-' + loop.index,
                                "data-sort-value": activity.time
                            },
                            text: activity.time
                        },
                        {
                            attributes: {
                                id: 'scheduled-' + tableNumber + '-'  + loop.index,
                                "data-sort-value": activity.allocated
                            },
                            classes: 'govuk-table__cell--numeric',
                            text: activity.allocated
                        },
                        {
                            attributes: {
                                id: 'attended-' + tableNumber + '-' + loop.index,
                                "data-sort-value": activity.attended
                            },
                            classes: 'govuk-table__cell--numeric',
                            text: activity.attended
                        }
                    ]), rows) %}
                {% endfor %}

                {{ govukTable({
                    attributes: {
                        'data-module': 'moj-sortable-table'
                    },
                    caption: caption + " (" + rows.length + ")",
                    head: [
                        {
                            text: "Activity",
                            attributes: {
                                "aria-sort": "ascending"
                            },
                            classes: 'govuk-!-width-one-quarter'
                        },
                        {
                            text: "Location",
                            attributes: {
                                "aria-sort": "none"
                            },
                            classes: 'govuk-!-width-one-quarter'
                        },
                        {
                            text: "Time",
                            attributes: {
                                "aria-sort": "none"
                            }
                        },
                        {
                            text: "Scheduled",
                            classes: 'govuk-table__header--numeric'
                        },
                        {
                            text: "Attended",
                            classes: 'govuk-table__header--numeric'
                        }
                    ],
                    rows: rows
                }) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}
