{% extends "layout.njk" %}

{% from "partials/attendance/attendanceTag.njk" import attendanceTag %}
{% from "components/multi-select.njk" import multiSelect %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = applicationName + " - Record attendance" %}
{% set pageId = 'attendance-list-page' %}
{% set backLinkHref = "/attendance/select-period" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                <span class="govuk-caption-l">Record attendance</span>
                {{ activity.name }}: {{ activity.location }}
                <span class="govuk-caption-l">{{ activity.time }} on {{ activity.date | formatDate('EEEE, do MMMM yyyy') }}</span>
            </h1>
            <ul class="govuk-list">
                <li><a href="/attendance/select-period" class="govuk-link govuk-!-font-size-19 js-backlink">Choose a different activity</a></li>
                <li><a href="/attendance/select-period" class="govuk-link govuk-!-font-size-19">View the schedule for a different day</a></li>
            </ul>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">{{ activity.allocated }} prisoners allocated</h2>
            <ul class="govuk-list">
                <li>
                    <span>Attended:</span>
                    <span class="govuk-!-font-weight-bold">{{ activity.attended }}</span>
                </li>
                <li>
                    <span>Absent:</span>
                    <span class="govuk-!-font-weight-bold">{{ activity.notAttended }}</span>
                </li>
                <li>
                    <span>Not recorded:</span>
                    <span class="govuk-!-font-weight-bold">{{ activity.notRecorded }}</span>
                </li>
            </ul>
        </div>
    </div>

    {% set rows = [] %}
    {% for attendee in attendees %}
        {% set rows = (rows.push({
            visuallyHiddenText: 'Select ' + attendee.name,
            value: attendee.attendance.id,
            selectable: attendee.attendance.status === "SCHEDULED",
            items: [
                {
                    html: '
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                                <a href="' + dpsUrl + '/prisoner/' + attendee.prisonerNumber + '"
                                   class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">' + attendee.name + '
                                </a>
                            </h2>
                            <div class="govuk-hint govuk-!-margin-bottom-1 govuk-!-font-size-16">' + attendee.prisonerNumber + '</div>
                          '
                },
                {
                    text: attendee.location
                },
                {
                    html: renderOtherEvents(attendee.otherEvents)
                },
                {
                    html: attendanceTag(attendee.attendance) + ' ' + renderPayStatus(attendee.attendance)
                }
            ]
        }), rows) %}
    {% endfor %}

    <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ multiSelect({
            caption: "Attendance list",
            captionClasses: "govuk-visually-hidden",
            name: 'selectedAttendances',
            head: [
                {
                    text: "Name"
                },
                {
                    text: "Cell location"
                },
                {
                    text: "Other scheduled events"
                },
                {
                    text: "Attendance"
                }
            ],
            rows: rows,
            actions: [
                {
                    text: 'Mark as attended',
                    formAction: 'attended'
                },
                {
                    text: 'Mark as not attended',
                    formAction: 'not-attended'
                }
            ]
        }) }}
    </form>
{% endblock %}

{% macro renderOtherEvents(otherEvents) %}
    {% for event in otherEvents %}
        <div>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                {% if event.eventType == 'PRISON_ACT' %}
                    <a href="/attendance/activities/{{ event.eventId }}/attendance-list" class="govuk-link govuk-link--no-visited-state">{{ event.event }}</a>
                {% else %}
                    <span>{{ event.event }}</span>
                {% endif %}
            </h2>
            <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-0">{{ event.startTime }} - {{ event.endTime }}</div>
            <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-0">{{ event.location }}</div>
        </div>
    {% endfor %}
{% endmacro %}

{# TODO – Render recorded pay status #}
{% macro renderPayStatus(attendance) %}
    {% if attendance.status === 'COMPLETED' and attendance.attendanceReason.code ===  'ATT' %}
        {{ govukTag({
          text: "Pay",
          classes: "govuk-tag--blue"
      }) }}
    {% endif %}
{% endmacro %}
