{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Record attendance" %}
{% set pageId = 'activities-page' %}
{% set backLinkHref = "/attendance/select-period" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                <span class="govuk-caption-l">{{ activity.time }} on {{ activity.date | formatDate('do MMMM yyyy') }}</span>
                {{ activity.name }}: record attendance
                <span class="govuk-caption-l">{{ activity.location }}</span>
            </h1>
            <ul class="govuk-list">
                <li><a href="/attendance/select-period" class="govuk-link govuk-!-font-size-19 js-backlink">Choose a different activity</a></li>
                <li><a href="/attendance/select-period" class="govuk-link govuk-!-font-size-19">View the schedule for a different day</a></li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">{{ activity.allocated }} prisoners allocated</h2>
            <ul class="govuk-list">
                <li>
                    <span>Attended:</span>
                    <span class="govuk-!-font-weight-bold">{{ activity.attended }}</span>
                </li>
                <li>
                    <span>Absent:</span>
                    <span class="govuk-!-font-weight-bold">{{ activity.notAttended }}</span>
                </li>
                <li>
                    <span>Not recorded:</span>
                    <span class="govuk-!-font-weight-bold">{{ activity.notRecorded }}</span>
                </li>
            </ul>

            {% set rows = [] %}
            {% for attendee in attendees %}
                {% set rows = (rows.push([
                    {
                        attributes: {
                            id: 'name-' + loop.index,
                            "data-sort-value": attendee.name
                        },
                        text: attendee.name
                    },
                    {
                        attributes: {
                            id: 'location-' + loop.index
                        },
                        text: attendee.location
                    },
                    {
                        attributes: {
                            id: 'attendance-' + loop.index
                        },
                        text: attendee.attendanceLabel
                    }
                ]), rows) %}
            {% endfor %}

            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                caption: "Attendance list",
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Name",
                        attributes: {
                            "aria-sort": "ascending"
                        }
                    },
                    {
                        text: "Location"
                    },
                    {
                        text: "Attendance"
                    }
                ],
                rows: rows
            }) }}
        </div>
    </div>
{% endblock %}
