{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Attendance - Reset Attendance" %}
{% set pageId = 'reset-attendance-page' %}
{% set backLinkHref = '/attendance/activities/' + attendance.scheduleInstanceId + '/attendance-details/' + attendance.id + '/edit-attendance' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    name: "confirm",
                    fieldset: {
                        legend: {
                            text: "Are you sure you want to reset the attendance record for " + attendee | firstNameLastName | toTitleCase + "?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage: validationErrors | findError('confirm'),
                    items: [
                        {
                            value: YesNo.YES,
                            text: "Yes",
                            checked: formResponses.confirm == YesNo.YES
                        },
                        {
                            value: YesNo.NO,
                            text: "No",
                            checked: formResponses.confirm == YesNo.NO
                        }
                    ]
                }) }}

                {{ govukInsetText({
                  text: "The attendance record will be changed to 'not recorded yet' and this will be noted in the change history."
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
