$button-shadow-size: 2px;
$govuk-white-button-colour: govuk-colour("white");
$govuk-white-button-hover-colour: lighten(govuk-colour('blue'), 50%);
$govuk-white-button-shadow-colour: govuk-shade(govuk-colour('blue'), 50%);
$govuk-white-button-text-colour: govuk-shade(govuk-colour('blue'), 50%);

.govuk-button--white {
  background-color: $govuk-white-button-colour;
  box-shadow: 0 $button-shadow-size 0 $govuk-white-button-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-white-button-text-colour;
  }

  &:hover {
    background-color: $govuk-white-button-hover-colour;

    &[disabled] {
      background-color: $govuk-white-button-colour;
    }
  }
}

.govuk-button--blue {
  background-color: govuk-colour('blue');

  $govuk-blue-button-shadow-colour: govuk-shade(govuk-colour('blue'), 40%);
  $govuk-blue-button-hover-colour: govuk-shade(govuk-colour('blue'), 20%);
  box-shadow: 0 $button-shadow-size 0 $govuk-blue-button-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour('white');
  }

  &:hover {
    background-color: $govuk-blue-button-hover-colour;

    &[disabled] {
      background-color: govuk-colour('blue');
    }
  }
}
