html {
  overflow-x: hidden;
}

body {
  //enable background colours on print by default
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

//Hide elements when JS is turned off
.no-js-hidden {
  display: none;
}
.js-enabled .no-js-hidden {
  display: revert;
}

.govuk-main-wrapper {
  min-height: 600px;
  padding-bottom: 0;
}

// Taken from DPS
// https://github.com/ministryofjustice/digital-prison-services/blob/main/sass/pages/_homepage.scss
.homepage-content {
  padding: govuk-spacing(6) 0;
  background: #f0f4f5;
  min-height: 500px;
}

.govuk-table__cell-no-border {
  padding: 10px 20px 10px 0;
  text-align: left;
  vertical-align: top;
}

.list-button {
  float: right;
  margin-bottom: 0;
}

.list-details {
  margin-bottom: 0;
}

.candidate-activity-detail {
  background-color: #f2f1f0;
  padding: 5px 0 0 15px;
}

.float-right {
  float: right;
}

.alternating-row-shading {
  tr:nth-child(even) {
    @media not print {
      background-color: govuk-tint(govuk-colour("light-grey"), 30);
    }
  }
}

.form-group-with-bottom-hint {
  margin-bottom: 0;
}

.bottom-hint {
  margin-bottom: 30px;
}

.govuk-table__header, .govuk-table__cell{
  vertical-align: middle;
}

.govuk-tabs__tab {
  @include govuk-font($size: 19, $weight: bold);
}

.fixed-layout-table {
  table-layout: fixed;
  width: 100%;
}

.hmpps-inline-block {
  display: inline-block;
}

.mid-grey-tint-20-hr {
  border: none;
  border-top: 1px solid govuk-tint(govuk-colour("mid-grey"), 20);
}

.govuk-list {
  margin-bottom: 0;
}

.stacktrace {
  overflow: auto;
}

.govuk-table__celll--vertical-align-top {
  vertical-align: top;
}

.govuk-summary-list--vertical-align-top {
  dt {
    vertical-align: top;
  }
}

.govuk-hint {
  a {
    color: $govuk-link-colour;
  }
}
