html {
  overflow-x: hidden;
}

body {
  //enable background colours on print by default
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

//Hide elements when JS is turned off
.no-js-hidden {
  display: none;
}
.js-enabled .no-js-hidden {
  display: revert;
}

.govuk-main-wrapper {
  min-height: 600px;
  padding-bottom: 0;
}

// Taken from DPS
// https://github.com/ministryofjustice/digital-prison-services/blob/main/sass/pages/_homepage.scss
.homepage-content {
  padding: govuk-spacing(6) 0;
  background: #f0f4f5;
  min-height: 500px;
}

.govuk-table__cell-no-border {
  padding: 10px 20px 10px 0;
  text-align: left;
  vertical-align: top;
}

.list-button {
  float: right;
  margin-bottom: 0;
}

.list-details {
  margin-bottom: 0;
}

.candidate-activity-detail {
  background-color: #f2f1f0;
  padding: 5px 0 0 15px;
}

.float-right {
  float: right;
}

.alternating-row-shading {
  tr:nth-child(even) {
    @media not print {
      background-color: govuk-tint(govuk-colour("light-grey"), 30);
    }
  }
}

.mid-grey-tint-20-hr {
  border: none;
  border-top: 1px solid govuk-colour("mid-grey");
}

.dash-border {
  border-top-style: dashed;
}

.form-group-with-bottom-hint {
  margin-bottom: 0;
}

.bottom-hint {
  margin-bottom: 30px;
}

.govuk-table__header, .govuk-table__cell{
  vertical-align: middle;
}

.govuk-tabs__tab {
  @include govuk-font($size: 19, $weight: bold);
}

.fixed-layout-table {
  table-layout: fixed;
  width: 100%;
}

.hmpps-inline-block {
  display: inline-block;
}

.dashed-mid-grey-tint-20-hr {
  border: none;
  border-top: 1px dashed govuk-tint(govuk-colour("mid-grey"), 20);
}

.govuk-list {
  margin-bottom: 0;
}

.stacktrace {
  overflow: auto;
}

.govuk-table__cell--vertical-align-top {
  vertical-align: top;
}

.govuk-summary-list--vertical-align-top {
  dt {
    vertical-align: top;
  }
}

.govuk-summary-list--equal-widths {
  > .govuk-summary-list__row {
      > .govuk-summary-list__key {
        width: revert;
      }

      > .govuk-summary-list__actions {
        width: revert;
      }
  }
}

.govuk-summary-list__row--no-border {
  > .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    border-bottom: none;
  }
}

.govuk-summary-list--no-keys {
  dt {
    @extend .govuk-visually-hidden;
    position: revert !important;
  }
}

.govuk-summary-list__key--normal-key-weight {
  font-weight: normal;
}

.govuk-hint {
  a {
    color: $govuk-link-colour;
  }
}

.govuk-warning-text--small {
  padding: 5px;

  .govuk-warning-text__icon {
    font-size: 12pt;
    line-height: 20px;
    min-width: 26px;
    min-height: 26px;
    margin-top: -2px;
  }
  .govuk-warning-text__text {
    font-size: 12pt;
    padding-left: 28px;
  }
}

.no-break{
  word-break: normal !important;
}