@page {
  margin: 10px;
}

@media screen {
  .print-only {
    display: none;
  }
}

@include govuk-media-query($media-type: print) {
  // govuk-frontend overrides
  .govuk-heading-l {
    font-size: 19pt;
  }

  .govuk-heading-m {
    font-size: 16pt;
  }

  .govuk-heading-s {
    font-size: 14pt;
  }

  .govuk-body-l {
    font-size: 12pt;
  }

  .printed-page {
    background: none;
  }

  .govuk-table {
    font-size: 12pt;

    &__header {
      vertical-align: bottom;
    }

    // Remove styling from MOJ sortable table colum headers
    [aria-sort] button {
      display: inline;
      position: static;
      color: black;
      padding: 0;
      box-sizing: content-box;

      &:before,
      &:after {
        content: '';
        position: static;
      }
    }
  }

  .govuk-link {
    text-decoration: none;
    font-weight: bold;

    &:link,
    &:visited {
      color: $govuk-text-colour;
    }

    // Remove url from links in printed view within a table
    &[href^="/"], &[href^="http://"], &[href^="https://"] {
      &::after {
        content: '';
      }
    }
  }

  .govuk-tag {
    margin: 0;
    margin-bottom: 5px;
    font-size: 6pt;
    color: red;
    background-color: transparent;
    border: 1px solid red;
  }

  .print-align-right {
    text-align: right;
  }

  .print-checkbox {
    display: inline-block;
    $_checkbox-size: 30px;
    width: $_checkbox-size;
    height: $_checkbox-size;
    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    background: govuk-colour("white");
    color: govuk-colour("mid-grey");
    line-height: $_checkbox-size;
    text-align: center;
  }
}

.govuk-table {
  td, th {
    page-break-inside: avoid;
  }
}
