.govuk-table__header {
  &--appointment-sequence {
    width: 120px;
  }
}

.govuk-table__cell {
  word-break: break-word;

  .govuk-tag {
    word-break: keep-all;
  }
}

.action-column {
  min-width: 70px;
}
