.unlock-list {
  @media print {
    zoom: 75%
  }

  #unlock-list-table {
    margin-bottom: 10px;
  }

  .unlock-list-event {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }

  .print-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .event-details {
    flex-shrink: 1;
    overflow: hidden;
  }

  .checkbox-container {
    display: flex;
    flex-shrink: 0;
    width: 135px;
    align-items: center;

    @include govuk-media-query($until: tablet) {
      width: 120px;
    }
  }

  .checkbox-width {
    width: 45px;
    padding-right: 0 !important;

    @include govuk-media-query($until: tablet, $media-type: print) {
      width: 40px;
      left: -2px;
    }
  }

  .govuk-table__header, .govuk-table__cell {
    @include govuk-media-query($media-type: print) {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 8px;
    }


    @include govuk-media-query($until: tablet, $media-type: print) {
      padding-right: 6px;
    }
  }

  @include govuk-media-query($media-type: print) {
    .govuk-tag {
      margin: 0
    }

    hr {
      margin: 2px 0;
    }
  }
}
