{% extends "homepageLayout.njk" %}
{% from "components/card.njk" import card %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = 'index-page' %}
{% set backLinkText = "Digital prison services" %}
{% set backLinkHref = dpsUrl %}

{% block heading %}
    <h1 class="govuk-heading-l">Activities management</h1>
{% endblock %}

{% block content %}
    <div class="card-group govuk-grid-row">
        <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "id": "ManageUnlockLists",
                "href": "/unlock-list",
                "clickable": "true",
                "heading": "Manage unlock lists",
                "description": "Create and print unlock lists.",
                "data-qa": "manage-unlock-lists"
            }) }}
        </div>

        <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "id": "ManageActivitiesAndAllocations",
                "href": "/activities",
                "clickable": "true",
                "heading": "Manage activities and allocations",
                "description": "Create and edit activities. Allocate people and edit allocations.",
                "data-qa": "manage-activities-and-allocations"
            }) }}
        </div>

        {% if user.isAppointmentsRolledOut %}
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "id": "CreateAndManageAppointments",
                    "href": "/appointments",
                    "clickable": "true",
                    "heading": "Create and manage appointments",
                    "description": "Add and edit appointments for individuals and groups of people.",
                    "data-qa": "create-and-manage-appointments"
                }) }}
            </div>
        {% endif %}

        <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "id": "MarkAndManageAttendance",
                "href": "/attendance",
                "clickable": "true",
                "heading": "Record activity attendance",
                "description": "Mark attendance, cancel activity sessions and see daily attendance summaries.",
                "data-qa": "mark-and-manage-attendance"
            }) }}
        </div>
    </div>
{% endblock %}
