{% extends "homepageLayout.njk" %}
{% from "components/card.njk" import card %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = 'index-page' %}
{% set hardBackLinkText = "Digital Prison Services" %}
{% set hardBackLinkHref = dpsUrl %}

{% block heading %}
    <h1 class="govuk-heading-l">Select service</h1>
{% endblock %}

{% block content %}
    <div class="card-group govuk-grid-row">
        {% if user.isActivitiesRolledOut %}
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/activities",
                    "clickable": "true",
                    "heading": "Activities, unlock and attendance",
                    "description": "Create and edit activities. Allocate people and edit allocations. Log applications and manage waitlists. Print unlock lists and record activity attendance.",
                    "data-qa": "activities-card"
                }) }}
            </div>
        {% endif %}

        {% if user.isAppointmentsRolledOut %}
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/appointments",
                    "clickable": "true",
                    "heading": "Appointments scheduling and attendance",
                    "description": "Create, manage and edit appointments. Print movement slips. Record appointment attendance.",
                    "data-qa": "appointments-card"
                }) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
