{% extends "tabsLayout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitle = applicationName + " - Manage activities and schedules" %}
{% set mainClasses = "app-container govuk-body" %}
{% set pageId = 'schedule-page' %}
{% set backLinkHref = "/" %}

{% block tabPanel %}

    <h1 class="govuk-heading-l">{{ scheduleDescription }} schedule</h1>

    <div class="page-content">
        <p>Check the schedule is compatible with the candidate's current allocations if they have any.</p>
        {{ govukTable({
            head: [ { text: "Days" }, { text: "AM" }, { text: "PM" }, { text: "ED" } ],
            rows: rows
        }) }}
    </div>
{% endblock %}
