{% extends "layout.njk" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "components/searchBar.njk" import searchBar %}
{% from "components/sticky-select.njk" import stickySelect %}

{% from "partials/attendance/otherEvent.njk" import otherEvent %}
{% from "partials/showLocation.njk" import showLocation %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}

{% if numAppointments == 1 %}
    {% set singleAppointment = attendeeRows[0].appointment %}
{% endif %}

{% if singleAppointment %}
    {% set pageTitle = applicationName + " - Record attendance for " + singleAppointment.appointmentName + " - " + singleAppointment.startDate | toDate | formatDate + " " +  singleAppointment.startTime + (" to " + singleAppointment.endTime if singleAppointment.endTime) %}
{% else %}
    {% set pageTitle = applicationName + " - Record attendance for " + numAppointments + " appointments" %}
{% endif %}
{% set pageId = 'appointment-attendees-page' %}

{% if session.recordAppointmentAttendanceJourney.date %}
    {% set hardBackLinkText = 'Go back to appointments on ' + session.recordAppointmentAttendanceJourney.date | toDate | formatDate  %}
    {% set hardBackLinkHref = 'summaries?date=' + session.recordAppointmentAttendanceJourney.date %}
{% endif %}

{% macro attendanceTag(attendee) %}
    {% if attendee.attended === null %}
        Not recorded yet
    {% else %}
        {% if attendee.attended === true %}
            {{ govukTag({ text: 'Attended', classes: 'govuk-tag--green' }) }}
        {% elseif attendee.attended === false %}
            {{ govukTag({ text: 'Did not attend', classes: 'govuk-tag--red' }) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro renderAppointment(appointment) %}
    {{ appointment.appointmentName }}
    <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-0">{{ appointment.startTime }}{{ " to " + appointment.endTime if appointment.endTime }}</div>
    <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-0">{{ showLocation(appointment) }}</div>
{% endmacro %}

{% macro renderViewLink(attendee) %}
    {% if attendee.attended !== null %}
        <a href="attendees/{{ attendee.appointment.id }}/{{ attendee.prisoner.prisonerNumber }}" class="govuk-link govuk-link--no-visited-state" data-qa="view-or-edit-{{ attendee.appointment.id }}-{{ attendee.prisoner.prisonerNumber }}">
            View or edit
        </a>
    {% endif %}
{% endmacro %}

{% macro renderOtherEvents(otherEvents) %}
    {% for event in otherEvents %}
        {{ otherEvent(event, true) }}
        {% if not loop.last %}<hr class="mid-grey-tint-20-hr dash-border">{% endif %}
    {% endfor %}
{% endmacro %}

{% block content %}
<form method='POST'>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l" data-qa="caption">Record appointment attendance</span>

                {% if singleAppointment %}
                    <h1 class="govuk-heading-l govuk-!-margin-0">{{ singleAppointment.appointmentName }}</h1>
                    <span class="govuk-caption-l" data-qa="time-range-caption">{{ singleAppointment.startTime + (" to " + singleAppointment.endTime if singleAppointment.endTime) }}</span>
                    <span class="govuk-caption-l" data-qa="date-caption">{{ singleAppointment.startDate | toDate | formatDate }}</span>
                    <span class="govuk-caption-l govuk-!-margin-bottom-4" data-qa="location">{{ showLocation(singleAppointment) }}</span>
                {% else %}
                    <h1 class="govuk-heading-l govuk-!-margin-0">Record attendance at {{ numAppointments }} appointments</h1>
                    <span class="govuk-caption-l govuk-!-margin-bottom-4" data-qa="date-caption">{{ session.recordAppointmentAttendanceJourney.date | toDate | formatDate }}</span>
                {% endif %}

                <h2 class="govuk-heading-m">{{ attendanceSummary.attendeeCount }} attendee{{ "s" if attendanceSummary.attendeeCount != 1 }}</h2>
            </div>
        </div>

        {% if attendanceSummary.attendeeCount > 1 %}
            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-two-thirds">
                    <ul class="govuk-list">
                        <li data-qa="summary-attended">
                            <span>Attended:</span>
                            <span class="govuk-!-font-weight-bold">{{ attendanceSummary.attended }}</span> ({{ attendanceSummary.attendedPercentage }}%)
                        </li>
                        <li data-qa="summary-not-attended">
                            <span>Did not attend:</span>
                            <span class="govuk-!-font-weight-bold">{{ attendanceSummary.notAttended }}</span> ({{ attendanceSummary.notAttendedPercentage }}%)
                        </li>
                        <li data-qa="summary-not-recorded">
                            <span>Not recorded yet:</span>
                            <span class="govuk-!-font-weight-bold">{{ attendanceSummary.notRecorded }}</span> ({{ attendanceSummary.notRecordedPercentage }}%)
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="govuk-grid-row govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-two-thirds">
                {{ searchBar({
                    inputParams: {
                        id: 'searchTerm',
                        name: 'searchTerm',
                        label: {
                            text: 'Search by prisoner name or prison number',
                            classes: 'govuk-label--s'
                        },
                        type: 'search',
                        value: session.req.query.searchTerm
                    },
                    buttonParams: {
                        text: 'Search'
                    }
                }) }}
            </div>
        </div>

        {% set attendeeListRows = [] %}
        {% for attendee in attendeeRows %}
            {% set prisoner = attendee.prisoner %}
            {% set items = [
                    {
                        html: showProfileLink({
                            firstName: prisoner.firstName,
                            middleNames: prisoner.middleNames,
                            lastName: prisoner.lastName,
                            prisonerNumber: prisoner.prisonerNumber,
                            inCaseLoad: prisoner.prisonCode == user.activeCaseLoadId
                        }),
                        attributes: {
                            'data-qa': 'prisoner-' + loop.index + '-name-and-number',
                            "data-sort-value": prisoner | formatName(NameFormatStyle.lastCommaFirstMiddle, false)
                        }
                    },
                    {
                        text: statusBasedCellLocation(prisoner.cellLocation, prisoner.status, prisoner.prisonCode == user.activeCaseLoadId),
                        attributes: { 'data-qa': 'prisoner-' + loop.index + '-location' }
                    }
                ]
            %}
            {% if numAppointments !== 1 %}
                {% set items = items.concat(
                    {
                        html: renderAppointment(attendee.appointment),
                        attributes: {
                            'data-qa': 'prisoner-' + loop.index + '-location',
                            "data-sort-value": attendee.appointment.appointmentName + attendee.appointment.startTime + attendee.appointment.endTime
                        }
                    }
                ) %}
            {% endif %}
            {% set items = items.concat(
                {
                    html: renderOtherEvents(attendee.otherEvents),
                    attributes: {
                        "data-qa": "other-events"
                    }
                },
                {
                    html: attendanceTag(attendee),
                    attributes: { 'data-qa': 'prisoner-' + loop.index + '-attendance' }
                },
                {
                    html: renderViewLink(attendee)
                }
            ) %}

            {% set attendeeListRows = attendeeListRows.concat({
                visuallyHiddenText: 'Select ' + prisoner | fullName | toTitleCase,
                value: attendee.appointment.id + '-' + prisoner.prisonerNumber,
                selectable: attendee.attended === null,
                items: items
            }) %}
        {% endfor %}

        {% set head = [
            {
                text: "Name",
                attributes: { "aria-sort": "ascending" }
            },
            {
                text: "Cell location",
                attributes: { "aria-sort": "none" }
            }
        ] %}
        {% if numAppointments !== 1 %}
            {% set head = head.concat(
                {
                    text: "Appointment name",
                    attributes: { "aria-sort": "none" }
                }
            ) %}
        {% endif %}
        {% set head = head.concat(
            {
                text: "Clashing events"
            },
            {
                text: "Attendance",
                colspan: 2,
                attributes: { "aria-sort": "none" }
            }
        ) %}

        {{ stickySelect({
            type: 'check',
            id: "attendanceIds",
            caption: "Attendance list",
            captionClasses: "govuk-visually-hidden",
            name: 'attendanceIds',
            head: head,
            rows: attendeeListRows,
            actions: [
                {
                    text: 'Mark as attended',
                    formAction: 'attendees/attend'
                },
                {
                    text: 'Mark as not attended',
                    formAction: 'attendees/non-attend'
                }
            ],
            itemsDescription: 'attendee',
            itemsDescriptionPlural: 'attendees'
        }) }}
    </form>
{% endblock %}
