{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}

{% set pageTitle = "Choose date of appointments" %}
{% set pageId = 'appointment-attendance-select-date-page' %}
{% set hardBackLinkText = "Back to all appointment tasks" %}
{% set hardBackLinkHref = "/appointments" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l" data-qa="caption">Record attendance</span>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                {% set otherDateHintHtml %}
                  <div class="govuk-!-margin-bottom-2">Enter the date, for example {{ exampleDatePickerDate() }}, or click on the calendar to select.</div>
                  <div>You can get movement lists for dates up to 60 days from today.</div>
                {% endset %}

                {{ govukRadios({
                    name: "dateOption",
                    fieldset: {
                        legend: {
                            text: "What date do you want to record attendance for?",
                            classes: "govuk-label--l",
                            isPageHeading: true
                        }
                    },
                    errorMessage: validationErrors | findError('dateOption'),
                    items: [
                        {
                            value: DateOption.TODAY,
                            text: "Today - " + now | formatDate('d MMMM yyyy', false),
                            checked: formResponses.dateOption == DateOption.TODAY
                        },
                        {
                            value: DateOption.TOMORROW,
                            text: "Tomorrow - " + now | addDays(1) | formatDate('d MMMM yyyy', false),
                            checked: formResponses.dateOption == DateOption.TOMORROW
                        },
                        {
                            value: DateOption.OTHER,
                            text: "A different date",
                            label: { text: "Movement date "},
                            checked: formResponses.dateOption == DateOption.OTHER,
                            conditional: { 
                                html: hmppsDatePicker({
                                id: 'date',
                                name: 'date',
                                classes: 'hmpps-datepicker--fixed-width',
                                label: {
                                    text: 'Date',
                                    classes: 'govuk-visually-hidden'
                                },
                                hint: { html: otherDateHintHtml },
                                errorMessage: validationErrors | findError('date'),
                                value: formResponses.date
                              })
                           }
                        }
                    ]
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
