{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Allocate to an activity - Check answers" %}
{% set pageId = 'check-answers-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Check and confirm this allocation</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% set prisonerDetailsHtml %}
                <ul class="govuk-list">
                    <li>{{ prisonerName }}</li>
                    <li>{{ prisonerNumber }}</li>
                    <li>{{ cellLocation }}</li>
                </ul>
            {% endset %}
            {% set endDateOption %}
                {% if endDate %}
                    remove-date-option?preserveHistory=true
                {% else %}
                    end-date?preserveHistory=true
                {% endif %}
            {% endset %}

            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Prisoner details"
                        },
                        value: {
                            html: prisonerDetailsHtml
                        }
                    },
                    {
                        key: {
                            text: "Activity"
                        },
                        value: {
                            text: activityName
                        }
                    },
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: activityLocation or ("In cell" if inCell) or ("On wing" if onWing) or ("Off wing" if offWing)
                        }
                    },
                    {
                        key: {
                            text: "Start of allocation"
                        },
                        value: {
                            text: startDate
                        },
                        actions: {
                            items: [
                                {
                                    href: "start-date?preserveHistory=true",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change",
                                    visuallyHiddenText: "change start date"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "End of allocation"
                        },
                        value: {
                            text: endDate if endDate else "No date set"
                        },
                        actions: {
                            items: [
                                {
                                    href: endDateOption,
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change",
                                    visuallyHiddenText: "change end date"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Pay rate"
                        },
                        value: {
                            html: '<div>' + incentiveLevel + ' incentive level:</div><div>' + payBand + ' - ' + payRate | toMoney + '</div>'
                        },
                        actions: {
                            items: [
                                {
                                    href: "pay-band?preserveHistory=true",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change",
                                    visuallyHiddenText: "change pay rate"
                                }
                            ]
                        }
                    }
                ]
            }) }}
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm this allocation"
                    }) }}
                    <a href="/activities/allocate/cancel" class="govuk-link govuk-link--no-visited-state">Cancel and return to the list of candidates</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
