{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Allocate to an activity - Pay band" %}
{% set pageId = 'pay-band-page' %}
{% set backLinkHref = "/activities/allocate/end-date-option" %}

{% set bandOptions = [] %}
{% for pay in payBands %}
    {% set bandOptions = (bandOptions.push(
        {
            value: pay.bandId,
            text: pay.bandAlias + ' (' + pay.rate | toMoney + ')',
            checked: formResponses.payBand == pay.bandId or session.allocateJourney.inmate.payBand.id == pay.bandId
        }
    ), bandOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-m">Allocate to {{ session.allocateJourney.activity.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">How much do you want to pay {{ prisonerName }}?</h1>
            <p class="govuk-body">
                The current incentive level for {{ prisonerName }} is <span class="govuk-!-font-weight-bold">{{ incentiveLevel }}</span>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Select a " + incentiveLevel + " incentive level pay rate",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    name: "payBand",
                    errorMessage: validationErrors | findError('payBand'),
                    items: bandOptions
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                    <a class="govuk-link js-backlink" href="/activities/allocate/cancel?preserveHistory=true">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
