{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Confirmation of suspension details - Activities - DPS" %}
{% set pageId = 'confirmation-page' %}

{% set sessionIsPaid = session.suspendJourney.paid == YesNo.YES %}
{% set allocationCount = session.suspendJourney.allocations | length %}

{% set unsuspendedWarningText %}
  Unlock and movement lists may need to be printed again if they're due to attend {{ 'this activity' if allocationCount == 1 else 'any of these activities' }} later today.
{% endset %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if session.req.routeContext.mode == 'suspend' %}
                {% if session.suspendJourney.suspendFrom == now | toDateString %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) is now suspended from
                        {% if allocationCount == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }}
                        {% else %}
                            {{ allocationCount }} activities
                        {% endif %}
                        {{ ' with pay' if sessionIsPaid else ' without pay' }}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension started",
                        text: subText
                    }) }}
                    <p class='govuk-body'>While they are suspended, their attendance for {{ 'this activity' if allocationCount == 1 else 'these activities' }} will be recorded as 'Suspended'.</p>
                    {% if allocationCount == 1 %}
                        <p class='govuk-body'>If they were due to attend a session that has already started, attendance for that session will need to be recorded.</p>
                        {% if session.suspendJourney.allocations[0].outsideWork %}
                            <p class='govuk-body'>
                                Temporary absences for {{ session.suspendJourney.inmate.prisonerName | safe }} to go out to this activity should be cancelled.
                                Unlock and movement lists for today may need to be printed again.
                            </p>
                        {% else %}
                            <p class='govuk-body'>Unlock and movement lists for today may need to be printed again to show this suspension.</p>
                        {% endif %}
                    {% else %}
                        <p class='govuk-body'>If they were due to attend any of these activities today, unlock and movement lists may need to be printed again.</p>
                    {% endif %}
                {% else %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) will be suspended from
                        {% if allocationCount == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }}
                        {% else %}
                            {{ allocationCount }} activities
                        {% endif %}
                        {{ ' with pay' if sessionIsPaid else ' without pay' }} from {{ session.suspendJourney.suspendFrom | formatDate('d MMMM yyyy') }}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension added",
                        text: subText
                    }) }}
                    <p class='govuk-body'>From {{ session.suspendJourney.suspendFrom | formatDate('d MMMM yyyy') }}, their attendance for {{ 'this activity' if allocationCount == 1 else 'these activities' }} will be recorded as 'Suspended'.</p>
                    {% if allocationCount == 1 and session.suspendJourney.allocations[0].outsideWork %}
                        <p class='govuk-body'>Temporary absences for {{ session.suspendJourney.inmate.prisonerName | safe }} to go out to this activity should be cancelled.</p>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if session.req.routeContext.mode == 'unsuspend' %}
                {% if session.suspendJourney.suspendUntil == now | toDateString %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) is no longer suspended from
                        {% if allocationCount == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }}
                        {% else %}
                            {{ allocationCount }} activities
                        {% endif %}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension ended",
                        text: subText
                    }) }}

                    {{ govukWarningText({
                        text: unsuspendedWarningText,
                        iconFallbackText: "Warning"
                    }) }}
                {% else %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) will be due to attend
                        {% if allocationCount == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }} again
                        {% else %}
                            {{ allocationCount }} activities again
                        {% endif %}
                        from {{ session.suspendJourney.suspendUntil |  formatDate('d MMMM yyyy') }}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension set to end",
                        text: subText
                    }) }}
                {% endif %}
            {% endif %}

            <div class='govuk-!-margin-bottom-9'>
                <h2 class="govuk-heading-m">What you can do next</h2>
                <p class='govuk-body'>You can:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    {% if session.suspendJourney.allocations | length == 1 %}
                        <li>
                            <a href="/activities/allocation-dashboard/{{ session.suspendJourney.allocations[0].activityId  }}" class='govuk-link govuk-link--no-visited-state'>view current allocations for {{ session.suspendJourney.allocations[0].activityName | safe }}</a>
                        </li>
                    {% endif %}
                        <li>
                            <a href="/activities/prisoner-allocations/{{ session.suspendJourney.inmate.prisonerNumber }}" class='govuk-link govuk-link--no-visited-state'>check and manage {{ session.suspendJourney.inmate.prisonerName | safe }}'s allocations</a>
                        </li>
                        <li>
                            <a href="/activities/suspensions/prisoner/{{ session.suspendJourney.inmate.prisonerNumber }}" class='govuk-link govuk-link--no-visited-state'>manage {{ session.suspendJourney.inmate.prisonerName | safe }}'s suspensions</a>
                        </li>
                        <li>
                            <a href="/activities/suspensions/select-prisoner" class='govuk-link govuk-link--no-visited-state'>find another prisoner</a> to suspend them, or end a suspension
                        </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
