{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = applicationName + " - Suspensions - Confirmation" %}
{% set pageId = 'confirmation-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if session.req.params.mode == 'suspend' %}
                {% if session.suspendJourney.suspendFrom == now | toDateString %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) is now suspended from
                        {% if session.suspendJourney.allocations | length == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }}
                            {% if suspendPrisonerWithPayToggleEnabled %} 
                                {% if session.suspendJourney.paid == YesNo.YES %} 
                                    with pay
                                {% else %} 
                                    without pay
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{ session.suspendJourney.allocations | length }} activities
                            {% if suspendPrisonerWithPayToggleEnabled %} 
                                {% if session.suspendJourney.paid == YesNo.YES %} 
                                    with pay
                                {% else %} 
                                    without pay
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension started",
                        text: subText
                    }) }}
                    <p class='govuk-body'>They will show as ‘Prisoner suspended’ on unlock and movement lists, and when recording attendance.</p>
                    <p class='govuk-body'>If they were due to attend a session that has already started, attendance for that session will need to be recorded.</p>

                    {{ govukWarningText({
                        text: "Unlock and movement lists for the rest of today may need to be printed again, to show this suspension.",
                        iconFallbackText: "Warning"
                    }) }}
                {% else %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) will be suspended from
                        {% if session.suspendJourney.allocations | length == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }}
                            {% if suspendPrisonerWithPayToggleEnabled %} 
                                {% if session.suspendJourney.paid == YesNo.YES %} 
                                    with pay
                                {% else %} 
                                    without pay
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{ session.suspendJourney.allocations | length }} activities
                            {% if suspendPrisonerWithPayToggleEnabled %} 
                                {% if session.suspendJourney.paid == YesNo.YES %} 
                                    with pay
                                {% else %} 
                                    without pay
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        from {{ session.suspendJourney.suspendFrom | formatDate('d MMMM yyyy') }}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension added",
                        text: subText
                    }) }}
                    <p class='govuk-body'>From {{ session.suspendJourney.suspendFrom | formatDate('d MMMM yyyy') }}, they will show as ‘Prisoner suspended’ on unlock and movement lists, and when recording attendance.</p>
                {% endif %}
            {% endif %}

            {% if session.req.params.mode == 'unsuspend' %}
                {% if session.suspendJourney.suspendUntil == now | toDateString %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) is now due to attend
                        {% if session.suspendJourney.allocations | length == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }} again
                        {% else %}
                            their allocated activities again
                        {% endif %}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension ended",
                        text: subText
                    }) }}

                    {{ govukWarningText({
                        text: "Unlock and movement lists for the rest of today may need to be printed again, to show that the prisoner is due to attend.",
                        iconFallbackText: "Warning"
                    }) }}
                {% else %}
                    {% set subText %}
                        {{ session.suspendJourney.inmate.prisonerName | safe }} ({{ session.suspendJourney.inmate.prisonerNumber }}) is now due to attend
                        {% if session.suspendJourney.allocations | length == 1 %}
                            {{ session.suspendJourney.allocations[0].activityName | safe }} again
                        {% else %}
                            their allocated activities again
                        {% endif %}
                        from {{ session.suspendJourney.suspendUntil | formatDate('d MMMM yyyy') }}
                    {% endset %}

                    {{ govukPanel({
                        titleText: "Suspension set to end",
                        text: subText
                    }) }}
                {% endif %}
            {% endif %}

            <div class='govuk-!-margin-bottom-9'>
                <h2 class="govuk-heading-m">What you can do next</h2>
                <p class='govuk-body'>You can:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    {% if session.suspendJourney.allocations | length == 1 %}
                        <li><a href="/activities/allocation-dashboard/{{ session.suspendJourney.allocations[0].activityId  }}" class='govuk-link govuk-link--no-visited-state'>view current allocations for {{ session.suspendJourney.allocations[0].activityName | safe }}</a></li>
                    {% endif %}
                    <li><a href="/activities/suspensions/prisoner/{{ session.suspendJourney.inmate.prisonerNumber }}" class='govuk-link govuk-link--no-visited-state'>manage {{ session.suspendJourney.inmate.prisonerName | safe }}'s suspensions</a></li>
                    <li><a href="/activities/suspensions/select-prisoner" class='govuk-link govuk-link--no-visited-state'>find another prisoner</a> to suspend them, or end a suspension</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
