{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Suspensions - Pay" %}
{% set pageId = 'suspension-pay-page' %}
{% set jsBackLink = true %}

{% set heading %}
{% if session.suspendJourney.allocations | length == 1 %}
        Should {{ session.suspendJourney.inmate.prisonerName | safe }} be paid for {{ session.suspendJourney.allocations[0].activityName | safe }} while they’re suspended?
    {% else %}
        Should {{ session.suspendJourney.inmate.prisonerName | safe }} be paid for activities while they’re suspended?
    {% endif %}
{% endset %}

{% set hintHTML %}
{% if extraContent %}
    <div class="govuk-inset-text"><p class="govuk-body">{{session.suspendJourney.inmate.prisonerName | safe}} is currently paid for {{ extraContent.numberPaid }} of {{extraContent.totalAllocations }} you’re suspending them from:</p>
    <ul class="govuk-list govuk-list--bullet">
            {% for allocation in extraContent.paidAllocations | sortBy('activityName') %}
                <li>{{allocation.activityName}}</li>
            {% endfor %}
        </ul>
    </div>

{% endif %}
{% endset %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Manage suspensions from activities</span>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                {{ govukRadios({
                    classes: "govuk-radios",
                    name: "toBePaid",
                    fieldset: {
                        legend: {
                            text: heading,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        html: hintHTML
                    },
                    errorMessage: validationErrors | findError('toBePaid'),
                    items: [
                        {
                            value: YesNo.YES,
                            text: "Yes",
                            checked: session.suspendJourney.toBePaid === YesNo.YES,
                            hint: {
                                text: "They’ll be paid for each session they’re suspended from."
                            }
                        },
                        {
                            value: YesNo.NO,
                            text: "No",
                            checked: session.suspendJourney.toBePaid === YesNo.NO
                        }
                    ]
                }) }}

                {{ govukButton({ text: "Continue"}) }}
            </form>
        </div>
    </div>
{% endblock %}