{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{# TODO: These three imports can be removed when the flag is removed #}
{% from "partials/activities/days-and-custom-times.njk" import daysAndCustomTimes %}
{% from "partials/activities/suspension-badge.njk" import suspensionBadge %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Suspensions - View allocations" %}
{% set pageId = 'view-allocations-page' %}

{% if suspendPrisonerWithPayToggleEnabled %}
    {% set activeAllocationRows = [] %}
    {% for allocation in activeAllocations %}
        {% set activeAllocationRows = (activeAllocationRows.push([
        {
            html: '<a href="/activities/allocation-dashboard/'+allocation.activityId+'">'+allocation.activitySummary+'</a>'
        },
        {
            text: allocation.startDate | formatDate('d MMMM yyyy')
        },
        {
            text:  allocation.endDate | formatDate('d MMMM yyyy') or 'No end date set'
        },
        {
            text: allocation.payRate | toMoney if allocation.payRate else 'Unpaid'
        },
        {
            html: '<a href=../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + allocation.id +' data-qa="suspend-'+allocation.id+'">Suspend from activity <span class="govuk-visually-hidden">{{ allocation.activitySummary }}</span></a>'
        }
        ]), activeAllocationRows) %}
    {% endfor %}

    {% set suspendedAllocationRows = [] %}
    {% for allocation in suspendedAllocations %}
        {% set paid %}
        {% if allocation.prisonPayBand and (allocation.status == PrisonerSuspensionStatus.SUSPENDED_WITH_PAY or allocation.plannedSuspension.paid) %} 
                Yes
            {% elif allocation.prisonPayBand == null %} 
                No - activity is unpaid
            {% else %} 
                No
            {% endif %}
        {% endset %}

        {% set suspendedAllocationRows = (suspendedAllocationRows.push([
        {
            html: '<a href="/activities/allocation-dashboard/'+allocation.activityId+'">'+allocation.activitySummary+'</a>'
        },
        {
            text: allocation.plannedSuspension.plannedStartDate | formatDate('d MMMM yyyy')
        },
        {
            text:  allocation.plannedSuspension.plannedEndDate | formatDate('d MMMM yyyy') or 'No end date set'
        },
        {
            text: paid or 'Unknown'
        },
        {
            html: '<a href=./' + session.req.params.prisonerNumber + '/view-suspensions?allocationId=' + allocation.id +' data-qa="end-suspension-'+allocation.id+'">View or end suspension</a>'
        }
        ]), suspendedAllocationRows) %}
    {% endfor %}
{% endif %}

{% block content %}
    {% if suspendPrisonerWithPayToggleEnabled %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <span class="govuk-caption-xl">Manage suspensions from activities</span>
                <h1 class="govuk-heading-l">{{ prisonerName }}'s activities</h1>

                {% if allocationCount == 0 %}
                    {{ govukInsetText({
                        text: prisonerName + " is not allocated to any activities."
                    }) }}
                {% endif %}

                {% if activeAllocations | length %}
                    {{ govukTable({
                    caption: prisonerName | possessive + " active allocations",
                    captionClasses: "govuk-visually-hidden",
                    firstCellIsHeader: false,
                    attributes: { "data-qa": "active-allocations" },
                    head: [
                        {
                        text: "Activity"
                        },
                        {
                        text: "Allocation start date"
                        },
                        {
                        text: "Allocation end date"
                        },
                        {
                        text: "Pay rate"
                        },
                        {
                        html: "<p class='govuk-visually-hidden'>Suspend activity</p>"
                        }
                    ],
                    rows: activeAllocationRows
                    }) }}
                {% elif suspendedAllocations | length %}
                    <p class='govuk-body' data-qa="no-active-allocations">{{ prisonerName }} is currently suspended from every activity that they're allocated to.</p>
                {% endif %}

                {% if suspendedAllocations | length %}
                    <h2 class="govuk-heading-m">{{ prisonerName | possessive }} suspensions</h2>
                    {{ govukTable({
                    caption: "Activities " + prisonerName + " is suspended from",
                    captionClasses: "govuk-visually-hidden",
                    firstCellIsHeader: false,
                    attributes: { "data-qa": "suspended-allocations" },
                    head: [
                        {
                        text: "Activity"
                        },
                        {
                        text: "Suspension start date"
                        },
                        {
                        text: "Suspension end date"
                        },
                        {
                        text: "Paid while suspended?"
                        },
                        {
                        html: "<p class='govuk-visually-hidden'>View or end suspension</p>"
                        }
                    ],
                    rows: suspendedAllocationRows
                    }) }}
                {% endif %}

                <div class="govuk-button-group">
                    {% if activeAllocations | length and not suspendedAllocations | length %}
                        {{ govukButton({
                                text: "Suspend from all activities",
                                href: '../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + activeAllocationIdsForSuspending,
                                attributes: {
                                    "data-qa": "suspend-all-button"
                                },
                                classes: "govuk-button--warning"
                            }) }}
                    {% endif %}
                    {% if suspendedAllocations | length and not activeAllocations | length %}
                        {{ govukButton({
                                text: "End all suspensions",
                                href: session.req.params.prisonerNumber + '/view-suspensions',
                                attributes: {
                                    "data-qa": "end-all-suspensions-button"
                                },
                                classes: "govuk-button--warning"
                            }) }}
                    {% endif %}
                    <p class="govuk-body">
                        <a class="govuk-link govuk-link--no-visited-state" href="../select-prisoner">Find another prisoner to manage their suspensions</a>
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <span class="govuk-caption-xl">Manage suspensions from activities</span>
                <h1 class="govuk-heading-l">{{ prisonerName }}'s activities</h1>

                {% if activities | length == 0 %}
                    {{ govukInsetText({
                    text: prisonerName + " is not allocated to any activities."
                }) }}
                {% else %}
                    {% if activities | length == 1 %}
                        <p class='govuk-body'>{{ prisonerName }} is currently allocated to one activity.</p>
                    {% else %}
                        <p class='govuk-body'>{{ prisonerName }} is currently allocated to {{ activities | length }} activities.</p>
                    {% endif %}

                    <p class='govuk-body'>Select an activity to suspend {{ prisonerName }} from attending, or to end their suspension.</p>

                    {% set rows = [] %}
                    {% for activity in activities | sortBy('allocation.activitySummary') %}
                        {% set slotsHtml %}
                        {% for week, slots in activity.slots %}
                            {% if activity.slots | length > 1 %}
                                <div class='govuk-heading-s govuk-!-margin-bottom-1'>
                                    Week {{ week }}
                                    {{ govukTag({
                                        text: "Current week", classes: 'govuk-tag--green govuk-!-margin-left-2'
                                    }) if activity.currentWeek == week }}
                                </div>
                            {% endif %}
                            {{  daysAndCustomTimes(slots, false, false) }}
                        {% endfor %}
                        {% endset %}

                        {% set rows = (rows.push(
                        {
                            key: {
                                html: '<div class="govuk-!-margin-bottom-3">' + activity.allocation.activitySummary + '</div>' +
                                suspensionBadge(activity.allocation.status, activity.allocation.plannedSuspension, now)
                            },
                            value: {
                                html: slotsHtml
                            },
                            actions: {
                                items: [
                                    {
                                        href: session.req.params.prisonerNumber + '/view-suspensions?allocationId=' + activity.allocation.id,
                                        text: "View or end suspension",
                                        visuallyHiddenText: "View or end suspension from " + activity.allocation.activitySummary
                                    } if activity.allocation.plannedSuspension else
                                    {
                                        href: '../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + activity.allocation.id,
                                        text: "Suspend from activity",
                                        visuallyHiddenText: "Suspend from " + activity.allocation.activitySummary
                                    }
                                ]
                            }
                        }
                    ), rows) %}
                    {% endfor %}

                    {{ govukSummaryList({
                    rows: rows
                }) }}
                {% endif %}

                <div class="govuk-button-group">
                    {% if activities | length > 1 %}
                        {% if activities | flatMap('allocation.plannedSuspension') | removeUndefined | length < activities | length %}
                            {{ govukButton({
                            text: "Suspend from all activities",
                            href: '../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + activities | flatMap('allocation.id'),
                            classes: "govuk-button--warning"
                        }) }}
                        {% else %}
                            {{ govukButton({
                            text: "End all suspensions",
                            href: session.req.params.prisonerNumber + '/view-suspensions',
                            classes: "govuk-button--warning"
                        }) }}
                        {% endif %}
                    {% endif %}
                    <a class="govuk-link govuk-link--no-visited-state" href="../select-prisoner">Find another prisoner to manage their suspensions</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}