{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/activities/days-and-times.njk" import daysAndTimes %}
{% from "partials/activities/suspension-badge.njk" import suspensionBadge %}

{% set pageTitle = applicationName + " - Suspensions - View allocations" %}
{% set pageId = 'view-allocations-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-xl">Manage suspensions from activities</span>
            <h1 class="govuk-heading-xl">{{ prisonerName }}'s activities</h1>

            {% if activities | length == 0 %}
                {{ govukInsetText({
                    text: prisonerName + " does not have any allocations."
                }) }}
            {% else %}

                <p class='govuk-body'>{{ prisonerName }} is currently allocated to {{ activities | length }} activities.</p>
                <p class='govuk-body'>Select an activity to suspend {{ prisonerName }} from attending, or to end their suspension.</p>

                {% set rows = [] %}
                {% for activity in activities | sortBy('allocation.activitySummary') %}
                    {% set slotsHtml %}
                        {% for week, slots in activity.scheduledSlots %}
                            {% if activity.scheduledSlots | length > 1 %}
                                <div class='govuk-heading-s govuk-!-margin-bottom-1'>
                                    Week {{ week }}
                                    {{ govukTag({
                                        text: "Current week", classes: 'govuk-tag--green govuk-!-margin-left-2'
                                    }) if activity.currentWeek == week }}
                                </div>
                            {% endif %}
                            {{ daysAndTimes(slots, false, false) }}
                        {% endfor %}
                    {% endset %}

                    {% set rows = (rows.push(
                        {
                            key: {
                                html: '<div class="govuk-!-margin-bottom-3">' + activity.allocation.activitySummary + '</div>' +
                                suspensionBadge(activity.allocation.status, activity.allocation.plannedSuspension, now)
                            },
                            value: {
                                html: slotsHtml
                            },
                            actions: {
                                items: [
                                    {
                                        href: session.req.params.prisonerNumber + '/view-suspensions?allocationId=' + activity.allocation.id,
                                        text: "View or end suspension",
                                        visuallyHiddenText: "View or end suspension from " + activity.allocation.activitySummary
                                    } if activity.allocation.plannedSuspension else
                                    {
                                        href: '../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + activity.allocation.id,
                                        text: "Suspend from activity",
                                        visuallyHiddenText: "Suspend from " + activity.allocation.activitySummary
                                    }
                                ]
                            }
                        }
                    ), rows) %}
                {% endfor %}

                {{ govukSummaryList({
                    classes: 'govuk-summary-list--equal-widths',
                    rows: rows
                }) }}

            {% endif %}

            <div class="govuk-button-group">
                {% if activities | length > 1 %}
                    {% if activities | flatMap('allocation.plannedSuspension') | removeUndefined | length < activities | length %}
                        {{ govukButton({
                            text: "Suspend from all activities",
                            href: '../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + activities | flatMap('allocation.id'),
                            classes: "govuk-button--warning"
                        }) }}
                    {% else %}
                        {{ govukButton({
                            text: "End all suspensions",
                            href: session.req.params.prisonerNumber + '/view-suspensions',
                            classes: "govuk-button--warning"
                        }) }}
                    {% endif %}
                {% endif %}
                <a class="govuk-link govuk-link--no-visited-state" href="../select-prisoner">Find another prisoner to manage their suspensions</a>
            </div>
        </div>
    </div>
{% endblock %}
