{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Suspensions - View allocations" %}
{% set pageId = 'view-allocations-page' %}

{% set activeAllocationRows = [] %}
{% for allocation in activeAllocations %}
    {% set activeAllocationRows = (activeAllocationRows.push([
    {
        html: '<a href="/activities/allocation-dashboard/'+allocation.activityId+'">'+allocation.activitySummary+'</a>'
    },
    {
        text: allocation.startDate | formatDate('d MMMM yyyy')
    },
    {
        text:  allocation.endDate | formatDate('d MMMM yyyy') or 'No end date set'
    },
    {
        text: allocation.prisonPayBand?.description or 'Unknown'
    },
    {
        html: '<a href=../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + allocation.id +'>Suspend from activity</a>'
    }
    ]), activeAllocationRows) %}
{% endfor %}

{% set suspendedAllocationRows = [] %}
{% for allocation in suspendedAllocations %}
    {% set paid %} 
        {% if allocation.status == PrisonerSuspensionStatus.SUSPENDED_WITH_PAY %} 
            Yes
        {% elif allocation.prisonPayBand == null %} 
            No - activity is unpaid
        {% else %} 
            No
        {% endif %}
    {% endset %}

    {% set suspendedAllocationRows = (suspendedAllocationRows.push([
    {
        html: '<a href="/activities/allocation-dashboard/'+allocation.activityId+'">'+allocation.activitySummary+'</a>'
    },
    {
        text: allocation.plannedSuspension.plannedStartDate | formatDate('d MMMM yyyy')
    },
    {
        text:  allocation.plannedSuspension.plannedEndDate | formatDate('d MMMM yyyy') or 'No end date set'
    },
    {
        text: paid or 'Unknown'
    },
    {
        html: '<a href=./' + session.req.params.prisonerNumber + '/view-suspensions?allocationId=' + allocation.id +'>View or end suspension</a>'
    }
    ]), suspendedAllocationRows) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-xl">Manage suspensions from activities</span>
            <h1 class="govuk-heading-l">{{ prisonerName }}'s activities</h1>

            {% if allocationCount == 0 %}
                {{ govukInsetText({
                    text: prisonerName + " is not allocated to any activities."
                }) }}
            {% endif %}

            {% if activeAllocations | length %}
                {{ govukTable({
                caption: prisonerName | possessive + " active allocations",
                captionClasses: "govuk-visually-hidden",
                firstCellIsHeader: false,
                head: [
                    {
                    text: "Activity"
                    },
                    {
                    text: "Allocation start date"
                    },
                    {
                    text: "Allocation end date"
                    },
                    {
                    text: "Pay rate"
                    },
                    {
                    text: ""
                    }
                ],
                rows: activeAllocationRows
                }) }}
            {% elif suspendedAllocations | length %}
                <p class='govuk-body'>{{ prisonerName }} is currently suspended from every activity that they're allocated to.</p>
            {% endif %}

            {% if suspendedAllocations | length %}
                {{ govukTable({
                caption: "Activities " + prisonerName + " is suspended from",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: false,
                head: [
                    {
                    text: "Activity"
                    },
                    {
                    text: "Suspension start date"
                    },
                    {
                    text: "Suspension end date"
                    },
                    {
                    text: "Paid while suspended?"
                    },
                    {
                    text: ""
                    }
                ],
                rows: suspendedAllocationRows
                }) }}
            {% endif %}

            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="../select-prisoner">Find another prisoner to manage their suspensions</a></p>
                


                {# {% set rows = [] %}
                {% for activity in activities | sortBy('allocation.activitySummary') %}
                    {% set slotsHtml %}
                        {% for week, slots in activity.slots %}
                            {% if activity.slots | length > 1 %}
                                <div class='govuk-heading-s govuk-!-margin-bottom-1'>
                                    Week {{ week }}
                                    {{ govukTag({
                                        text: "Current week", classes: 'govuk-tag--green govuk-!-margin-left-2'
                                    }) if activity.currentWeek == week }}
                                </div>
                            {% endif %}
                            {{  daysAndCustomTimes(slots, false, false) }}
                        {% endfor %}
                    {% endset %}

                    {% set rows = (rows.push(), rows) %}
                {% endfor %}

                {{ govukSummaryList({
                    rows: rows
                }) }}

            {% endif %} #}

            {# <div class="govuk-button-group">
                {% if activities | length > 1 %}
                    {% if activities | flatMap('allocation.plannedSuspension') | removeUndefined | length < activities | length %}
                        {{ govukButton({
                            text: "Suspend from all activities",
                            href: '../suspend/' + session.req.params.prisonerNumber + '/suspend-from?allocationIds=' + activities | flatMap('allocation.id'),
                            classes: "govuk-button--warning"
                        }) }}
                    {% else %}
                        {{ govukButton({
                            text: "End all suspensions",
                            href: session.req.params.prisonerNumber + '/view-suspensions',
                            classes: "govuk-button--warning"
                        }) }}
                    {% endif %}
                {% endif %}
                <a class="govuk-link govuk-link--no-visited-state" href="../select-prisoner">Find another prisoner to manage their suspensions</a>
            </div> #}
        </div>
    </div>
{% endblock %}
