{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}
{% from "components/stat.njk" import stat %}

{% set pageTitle = "Appointments attendance summary" %}
{% set pageId = 'appointment-attendance-summary-stats-dashboard' %}
{% set hardBackLinkText = "Back to choose a date" %}
{% set hardBackLinkHref = "/appointments/attendance-summary/select-date" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-l">{{ date | formatDate }}</span>
      <h1 class="govuk-heading-xl">Appointments attendance summary</h1>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-padding-right-0 govuk-!-text-align-right">
      <div class="govuk-hint govuk-!-font-size-16">Updated at {{ now | formatDate('HH:mm') }} on {{ now | formatDate('d MMMM yyyy') }}</div>
      {{ govukButton({
          text: "Refresh",
          classes: "govuk-button--blue"
      }) }}
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-body-l">{{ totalAttendees or 0 }} attendees for 
          <a href="/appointments/attendance/summaries?dateOption=other&date={{ date | formatDate('yyyy-MM-dd') }}">{{ totalAppointments or 0 }} appointments.</a>
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="moj-filter-layout" data-module="activities-list-filter">
        <div class="moj-filter-layout__filter moj-filter-layout__filter--small">
          <form id="filter-form" method="POST" action="update-filters" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            {{ mojFilter({
            heading: {
                text: 'Filter'
            },
            optionsHtml: filterOptionsHtml
        }) }}
          </form>
        </div>
        <div class="moj-filter-layout__content">
          <div class="moj-action-bar">
            <div class="moj-action-bar__filter moj-action-bar__filter--no-actions"></div>
          </div>
          {{ stat({
          heading: "Attended",
          number: 70,
          visuallyHiddenText: "prisoners, which is",
          percentage: 70,
          width: 'stat--small',
          link: {
            href: '#',
            text: 'All attended'
          }
        }) }}
          {{ stat({
          heading: "Not attended",
          number: 20,
          visuallyHiddenText: "prisoners, which is",
          percentage: 20,
          width: 'stat--small',
          link: {
            href: '#',
            text: 'All not attended'
          }
        }) }}
          {{ stat({
          heading: "Not recorded yet",
          number: 10,
          visuallyHiddenText: "prisoners, which is",
          percentage: 10,
          width: 'stat--small',
          link: {
            href: '#',
            text: 'All not recorded yet'
          }
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h3 class="govuk-body-l">Attendance by tier</h3>
        <p class="govuk-body-l">Attendances recorded at appointments in eachtier.</p>

        {{ stat({
          heading: "Tier 1",
          number: 50,
          visuallyHiddenText: "prisoners, which is",
          percentage: 50,
          width: 'stat--small',
          link: {
            href: '#',
            text: 'All tier 1'
          }
        }) }}
          {{ stat({
          heading: "Tier 2",
          number: 30,
          visuallyHiddenText: "prisoners, which is",
          percentage: 30,
          width: 'stat--small',
          link: {
            href: '#',
            text: 'All tier 2'
          }
        }) }}
          {{ stat({
          heading: "Routine (also called 'foundational')",
          number: 20,
          visuallyHiddenText: "prisoners, which is",
          percentage: 20,
          width: 'stat--small',
          link: {
            href: '#',
            text: 'All routine'
          }
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h3 class="govuk-body-l">Cancelled appointments</h3>

          {{ stat({
          heading: "Cancelled appointments",
          number: 12,
          visuallyHiddenText: "prisoners, which is",
          width: 'stat--small',
          link: {
            href: '#',
            text: 'All cancelled'
          }
        }) }}

        </div>
      </div>
    </div>
  </div>

{% endblock %}