$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all-ie8';
@import 'moj/all-ie8';

@import './components/header-bar';
@import './components/card';
@import './components/search-bar';
@import './components/accessible-autocomplete';
@import './components/multi-select';
@import './components/button';
@import './components/spikes/datepicker';
@import './components/spikes/alert-flags';
@import './components/spikes/calendar';
@import './components/time-picker';
@import './print';
@import './local';
