{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/add-prisoner-list.njk" import addPrisonerList %}

{% set editMessage = getAppointmentEditMessage(session.appointmentJourney, session.editAppointmentJourney) %}
{% set pageTitle = appointmentJourneyTitle(editMessage + ' which appointments', session.appointmentJourney) %}
{% set pageId = 'appointment-apply-to-page' %}
{% set jsBackLink = true %}

{% set applyToItems = [] %}
{% for applyToOption in applyToOptions %}
    {% set applyToItems = (applyToItems.push({
        value: applyToOption.applyTo,
        text: applyToOption.description,
        hint: {
            html: applyToOption.additionalDescription
        }
    } ), categoryOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <h1 class="govuk-heading-l">Which appointments do you want to {{ editMessage }}?</h1>

            {{ addPrisonerList(session.editAppointmentJourney.addPrisoners) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    name: "applyTo",
                    errorMessage: validationErrors | findError('applyTo'),
                    items: applyToItems
                }) }}

                {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

                {% if frequencyText %}
                    {{ govukInsetText({
                        text: frequencyText,
                        attributes: { 'data-qa': 'frequency-text' }
                    }) }}
                {% endif %}

                {{ govukButton({
                    text: getAppointmentEditApplyToCta(session.appointmentJourney, session.editAppointmentJourney)
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
