{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}

{% set pageTitle = appointmentJourneyTitle("Type", session.appointmentJourney) %}
{% set pageId = 'appointments-create-category-page' %}
{% if session.appointmentJourney.type == AppointmentType.INDIVIDUAL %}
    {% if session.appointmentJourney.prisonNumber %}
        {% set backLinkHref = dpsUrl + '/prisoner/' + session.appointmentJourney.prisonNumber %}
    {% else %}
        {% set backLinkHref = "/appointments/create/select-prisoner?query=" + session.appointmentJourney.prisoners[0].number %}
    {% endif %}
{% else %}
    {% set backLinkHref = "/appointments/create/review-prisoners" %}
{% endif %}

{% set options = [{ value: "-", text: "" }] %}
{% for category in categories %}
    {% set options = (options.push( { value: category.code, text: category.description } ), options) %}
{% endfor %}

{% block meta %}
    <meta name="autocompleteElements" content="categoryCode"/>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSelect({
                    id: "categoryCode",
                    name: "categoryCode",
                    type: "search",
                    label: {
                        text: "What is the appointment?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Start typing a name and select from the list of options"
                    },
                    errorMessage: validationErrors | findError('categoryCode'),
                    items: options,
                    value: formResponses.categoryCode or session.appointmentJourney.category.code
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
