{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "partials/appointmentPrisonerSummary.njk" import appointmentPrisonerSummary %}
{% from "partials/showProfileLink.njk" import showProfileLink %}

{% set pageTitle = appointmentJourneyTitle("Check and confirm set" if session.appointmentJourney.type == AppointmentType.BULK else "Check and confirm appointment details", session.appointmentJourney) %}
{% set pageId = 'appointments-create-check-answers-page' %}

{% set summaryListRows = [] %}

{% if session.appointmentJourney.type == AppointmentType.INDIVIDUAL %}
    {% set prisoner = session.appointmentJourney.prisoners[0] %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Attendee"
            },
            value: {
                html: appointmentPrisonerSummary(
                    prisoner.name,
                    prisoner.number,
                    prisoner.cellLocation,
                    dpsUrl
                )
            },
            actions: {
                items: [
                    {
                        href: "select-prisoner?preserveHistory=true",
                        text: "Change",
                        visuallyHiddenText: "change attendee",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'change-prisoner' }
                    }
                ]
            }
        }
    ), summaryListRows) %}
{% endif %}

{% set summaryListRows = (summaryListRows.push(
    {
        key: {
            text: "Appointment name"
        },
        value: {
            text: session.appointmentJourney.appointmentName
        },
        actions: {
            items: [
                {
                    href: "name?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change appointment name",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-name' }
                }
            ]
        }
    }
), summaryListRows) %}

{% set summaryListRows = (summaryListRows.push(
    {
        key: {
            text: "Location"
        },
        value: {
            text: session.appointmentJourney.location.description
        },
        actions: {
            items: [
                {
                    href: "location?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change location",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-location' }
                }
            ]
        }
    },
    {
        key: {
            text: "Date"
        },
        value: {
            text: session.appointmentJourney.startDate.date | parseISODate | formatDate
        },
        actions: {
            items: [
                {
                    href: 'bulk-appointment-date?preserveHistory=true' if session.appointmentJourney.type == AppointmentType.BULK else 'date-and-time?preserveHistory=true',
                    text: "Change",
                    visuallyHiddenText: "change date",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-start-date' }
                }
            ]
        }
    },
    {
        key: {
            text: "Start time"
        },
        value: {
            text: session.appointmentJourney.startTime.date | parseISODate | formatDate('HH:mm')
        },
        actions: {
            items: [
                {
                    href: "date-and-time?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change start time",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-start-time' }
                }
            ]
        }
    } if session.appointmentJourney.startTime,
    {
        key: {
            text: "End time"
        },
        value: {
            text: session.appointmentJourney.endTime.date | parseISODate | formatDate('HH:mm')
        },
        actions: {
            items: [
                {
                    href: "date-and-time?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change end time",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-end-time' }
                }
            ]
        }
    } if session.appointmentJourney.endTime,
    {
        key: {
            text: "Repeats"
        },
        value: {
            text: ("Yes" if session.appointmentJourney.repeat == YesNo.YES) +
                  ("No" if session.appointmentJourney.repeat == YesNo.NO)
        },
        actions: {
            items: [
                {
                    href: "repeat?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change repeats",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-repeat' }
                }
            ]
        }
    } if session.appointmentJourney.repeat
), summaryListRows) %}
{% if session.appointmentJourney.repeat == YesNo.YES %}
  {% set summaryListRows = (summaryListRows.push({
      key: {
          text: "Frequency"
      },
      value: {
          text: ("Every weekday (Monday to Friday)" if session.appointmentJourney.repeatPeriod == AppointmentRepeatPeriod.WEEKDAY) +
                ("Daily (includes weekends)" if session.appointmentJourney.repeatPeriod == AppointmentRepeatPeriod.DAILY) +
                ("Weekly" if session.appointmentJourney.repeatPeriod == AppointmentRepeatPeriod.WEEKLY) +
                ("Fortnightly" if session.appointmentJourney.repeatPeriod == AppointmentRepeatPeriod.FORTNIGHTLY) +
                ("Monthly" if session.appointmentJourney.repeatPeriod == AppointmentRepeatPeriod.MONTHLY)
      },
      actions: {
          items: [
              {
                  href: "repeat-period-and-count?preserveHistory=true",
                  text: "Change",
                  visuallyHiddenText: "change repeat period",
                  classes: "govuk-link--no-visited-state",
                  attributes: { 'data-qa': 'change-repeat-period' }
              }
          ]
      }
  }), summaryListRows) %}
  {% set summaryListRows = (summaryListRows.push({
      key: {
          text: "Number of appointments"
      },
      value: {
          text: session.appointmentJourney.repeatCount
      },
      actions: {
          items: [
              {
                  href: "repeat-period-and-count?preserveHistory=true",
                  text: "Change",
                  visuallyHiddenText: "change number of appointments",
                  classes: "govuk-link--no-visited-state",
                  attributes: { 'data-qa': 'change-repeat-count' }
              }
          ]
      }
  }), summaryListRows) %}
{% endif %}
{% if session.appointmentJourney.type !== AppointmentType.BULK %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Extra information"
            },
            value: {
                html: '<span class="preserve-line-breaks">' + (session.appointmentJourney.comment | escape) + '</span>'
            },
            actions: {
                items: [
                    {
                        href: "comment?preserveHistory=true",
                        text: "Change",
                        visuallyHiddenText: "change extra information",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'change-comment' }
                    }
                ]
            }
        }
    ), summaryListRows) %}
{% endif %}
{% if session.appointmentJourney.type == AppointmentType.BULK %}
    {% set summaryListRows = (summaryListRows.push(
        {
            key: {
                text: "Appointments created"
            },
            value: {
                text: session.bulkAppointmentJourney.appointments | length
            }
        }
    ), summaryListRows) %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check and confirm the appointment details</h1>
            <h2 class="govuk-heading-m">Appointment details</h2>

            <form method="POST" data-module="form-spinner" data-loading-text="Preparing your appointments">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSummaryList({
                    rows: summaryListRows,
                    attributes: { 'data-qa': 'appointment-details' }
                }) }}

                {{ prisonersList() if session.appointmentJourney.type == AppointmentType.GROUP }}

                {{ bulkAppointments() if session.appointmentJourney.type == AppointmentType.BULK }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% macro prisonersList() %}
    {% set prisonerListRows = [{
        key: {
            text: "Number of attendees"
        },
        value: {
            text: session.appointmentJourney.prisoners | length
        },
        actions: {
            items: [
                {
                    href: "review-prisoners?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change prisoners",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-prisoners' }
                }
            ]
        }
    }] %}

    {% for prisoner in session.appointmentJourney.prisoners %}
        {% set prisonerListRows = (prisonerListRows.push({
            key: {
                text: "Name of attendee"
            },
            value: {
                html: showProfileLink({
                    name: prisoner.name,
                    prisonerNumber: prisoner.number
                })
            }
        }), prisonerListRows) %}
    {% endfor %}

    <h2 class="govuk-heading-m">Attendee details</h2>
    {{ govukSummaryList({
        rows: prisonerListRows,
        attributes: { 'data-qa': 'prisoner-details' }
    }) }}
{% endmacro %}

{% macro bulkAppointments() %}
    <div class="govuk-button-group">
        {{ govukButton({
            text: "Confirm",
            preventDoubleClick: true
        }) }}
    </div>

    <h2 class="govuk-heading-m">{{ ("Attendee details" if session.bulkAppointmentJourney.appointments.length == 1 else "Details of attendees") }}</h2>

    {% for appointment in session.bulkAppointmentJourney.appointments %}
        {{ govukSummaryList({
            card: {
                title: {
                    text: "Appointment " + loop.index
                }
            },
            rows: [{
                key: {
                    text: "Attendee"
                },
                value: {
                    html: appointmentPrisonerSummary(
                        appointment.prisoner.name,
                        appointment.prisoner.number,
                        appointment.prisoner.cellLocation
                    )
                }
            }, {
                key: {
                    text: "Start time"
                },
                value: {
                    text: appointment.startTime.hour | padNumber + ":" + appointment.startTime.minute | padNumber
                },
                actions: {
                    items: [
                        {
                            href: "review-bulk-appointment?preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change start time",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                }
            }, {
                key: {
                    text: "End time"
                },
                value: {
                    text: appointment.endTime.hour | padNumber + ":" + appointment.endTime.minute | padNumber
                },
                actions: {
                    items: [
                        {
                            href: "review-bulk-appointment?preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change end time",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                }
            }, {
                key: {
                    text: "Extra information"
                },
                value: {
                    html: '<span class="preserve-line-breaks">' + appointment.comment | escape + '</span>'
                },
                actions: {
                    items: [
                        {
                            href: "bulk-appointment-comments/" + appointment.prisoner.number + "?preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change extra information",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                }
            }]
        }) }}
    {% endfor %}
{% endmacro %}
