{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/showLocation.njk" import showLocation %}

{% set pageTitle = appointmentJourneyTitle("Check and confirm set" if session.appointmentJourney.type == AppointmentType.SET else "Check and confirm appointment details", session.appointmentJourney) %}
{% set pageId = 'appointment-check-answers-page' %}

{% set appointmentDetailsRows = [
    {
        key: {
            text: "Appointment name"
        },
        value: {
            text: session.appointmentJourney.appointmentName
        },
        actions: {
            items: [
                {
                    href: "name?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change appointment name",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-name' }
                }
            ]
        }
    }, {
        key: {
            text: "Tier"
        },
        value: {
            text: tier
        },
        actions: {
            items: [
                {
                    href: "tier?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change appointment tier",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-tier' }
                }
            ]
        }
    }, {
        key: {
            text: "Host"
        },
        value: {
            text: organiser
        },
        actions: {
            items: [
                {
                    href: "host?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change appointment host",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-host' }
                }
            ]
        }
    } if session.appointmentJourney.organiserCode
] %}

{% set schedulingInformationRows = [] %}
{% set schedulingInformationRows = (schedulingInformationRows.push(
    {
        key: {
            text: "Location"
        },
        value: {
            text: showLocation(session.appointmentJourney, session.appointmentJourney.location.description)
        },
        actions: {
            items: [
                {
                    href: "location?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change location",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-location' }
                }
            ]
        }
    },
    {
        key: {
            text: "Date"
        },
        value: {
            text: session.appointmentJourney.startDate | parseIsoDate | formatDate
        },
        actions: {
            items: [
                {
                    href: 'appointment-set-date?preserveHistory=true' if session.appointmentJourney.type == AppointmentType.SET else 'date-and-time?preserveHistory=true',
                    text: "Change",
                    visuallyHiddenText: "change date",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-start-date' }
                }
            ]
        }
    },
    {
        key: {
            text: "Start time"
        },
        value: {
            text: session.appointmentJourney.startTime.date | parseISODate | formatDate('HH:mm')
        },
        actions: {
            items: [
                {
                    href: "date-and-time?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change start time",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-start-time' }
                }
            ]
        }
    } if session.appointmentJourney.startTime,
    {
        key: {
            text: "End time"
        },
        value: {
            text: session.appointmentJourney.endTime.date | parseISODate | formatDate('HH:mm')
        },
        actions: {
            items: [
                {
                    href: "date-and-time?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change end time",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-end-time' }
                }
            ]
        }
    } if session.appointmentJourney.endTime,
    {
        key: {
            text: "Repeats"
        },
        value: {
            text: ("Yes" if session.appointmentJourney.repeat == YesNo.YES) +
                  ("No" if session.appointmentJourney.repeat == YesNo.NO)
        },
        actions: {
            items: [
                {
                    href: "repeat?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change repeats",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-repeat' }
                }
            ] if session.appointmentJourney.retrospective == YesNo.NO
        }
    } if session.appointmentJourney.repeat
), schedulingInformationRows) %}
{% if session.appointmentJourney.repeat == YesNo.YES %}
  {% set schedulingInformationRows = (schedulingInformationRows.push({
      key: {
          text: "Frequency"
      },
      value: {
          text: ("Every weekday (Monday to Friday)" if session.appointmentJourney.frequency == AppointmentFrequency.WEEKDAY) +
                ("Daily (includes weekends)" if session.appointmentJourney.frequency == AppointmentFrequency.DAILY) +
                ("Weekly" if session.appointmentJourney.frequency == AppointmentFrequency.WEEKLY) +
                ("Fortnightly" if session.appointmentJourney.frequency == AppointmentFrequency.FORTNIGHTLY) +
                ("Monthly" if session.appointmentJourney.frequency == AppointmentFrequency.MONTHLY)
      },
      actions: {
          items: [
              {
                  href: "repeat-frequency-and-count?preserveHistory=true",
                  text: "Change",
                  visuallyHiddenText: "change frequency",
                  classes: "govuk-link--no-visited-state",
                  attributes: { 'data-qa': 'change-frequency' }
              }
          ]
      }
  }), schedulingInformationRows) %}
  {% set schedulingInformationRows = (schedulingInformationRows.push({
      key: {
          text: "Number of appointments"
      },
      value: {
          text: session.appointmentJourney.numberOfAppointments
      },
      actions: {
          items: [
              {
                  href: "repeat-frequency-and-count?preserveHistory=true",
                  text: "Change",
                  visuallyHiddenText: "change number of appointments",
                  classes: "govuk-link--no-visited-state",
                  attributes: { 'data-qa': 'change-number-of-appointments' }
              }
          ]
      }
  }), schedulingInformationRows) %}
{% endif %}

{% set extraInfoRows = [] %}
{% if session.appointmentJourney.type !== AppointmentType.SET %}
    {% set extraInfoRows = (extraInfoRows.push(
        {
            key: {
                text: "Extra information"
            },
            value: {
                html: '<span class="preserve-line-breaks">' + (session.appointmentJourney.extraInformation | escape) + '</span>'
            },
            actions: {
                items: [
                    {
                        href: "extra-information?preserveHistory=true",
                        text: "Change",
                        visuallyHiddenText: "change extra information",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'change-extra-information' }
                    }
                ] if session.appointmentJourney.retrospective == YesNo.NO
            }
        }
    ), extraInfoRows) %}
{% endif %}
{% if session.appointmentJourney.type == AppointmentType.SET %}
    {% set schedulingInformationRows = (schedulingInformationRows.push(
        {
            key: {
                text: "Appointments created"
            },
            value: {
                text: session.appointmentSetJourney.appointments | length
            }
        }
    ), schedulingInformationRows) %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check and confirm the appointment details</h1>

            <form method="POST" data-module="form-spinner" data-loading-text="Preparing your appointments">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <h2 class="govuk-heading-m">Appointment details</h2>
                {{ govukSummaryList({
                    rows: appointmentDetailsRows,
                    attributes: { 'data-qa': 'appointment-details' }
                }) }}

                <h2 class="govuk-heading-m">Scheduling information</h2>
                {{ govukSummaryList({
                    rows: schedulingInformationRows,
                    attributes: { 'data-qa': 'scheduling-information' }
                }) }}

                {% if extraInfoRows | length %}
                    <h2 class="govuk-heading-m">Extra information</h2>
                    {{ govukSummaryList({
                        rows: extraInfoRows,
                        attributes: { 'data-qa': 'extra-information' }
                    }) }}
                {% endif %}

                {{ prisonersList() if session.appointmentJourney.type == AppointmentType.GROUP }}

                {{ appointmentSet() if session.appointmentJourney.type == AppointmentType.SET }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% macro prisonersList() %}
    {% set prisonerListRows = [{
        key: {
            text: "Number of attendees"
        },
        value: {
            text: session.appointmentJourney.prisoners | length
        },
        actions: {
            items: [
                {
                    href: "review-prisoners?preserveHistory=true",
                    text: "Change",
                    visuallyHiddenText: "change prisoners",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'change-prisoners' }
                }
            ]
        }
    }] %}

    {% for prisoner in session.appointmentJourney.prisoners %}
        {% set prisonerListRows = (prisonerListRows.push({
            key: {
                text: "Name of attendee"
            },
            value: {
                html: showProfileLink({
                    firstName: prisoner.firstName,
                    lastName: prisoner.lastName,
                    prisonerNumber: prisoner.number,
                    cellLocation: prisoner.cellLocation
                })
            }
        }), prisonerListRows) %}
    {% endfor %}

    <h2 class="govuk-heading-m">Attendee details</h2>
    {{ govukSummaryList({
        rows: prisonerListRows,
        attributes: { 'data-qa': 'prisoner-details' }
    }) }}
{% endmacro %}

{% macro appointmentSet() %}
    <div class="govuk-button-group">
        {{ govukButton({
            text: "Confirm",
            preventDoubleClick: true
        }) }}
    </div>

    <h2 class="govuk-heading-m">{{ ("Attendee details" if session.appointmentSetJourney.appointments.length == 1 else "Details of attendees") }}</h2>

    {% for appointment in session.appointmentSetJourney.appointments %}
        {{ govukSummaryList({
            card: {
                title: {
                    text: "Appointment " + loop.index
                }
            },
            rows: [{
                key: {
                    text: "Attendee"
                },
                value: {
                    html: showProfileLink({
                        firstName: appointment.prisoner.firstName,
                        lastName: appointment.prisoner.lastName,
                        prisonerNumber: appointment.prisoner.number,
                        cellLocation: appointment.prisoner.cellLocation
                    })
                }
            }, {
                key: {
                    text: "Start time"
                },
                value: {
                    text: appointment.startTime.hour | padNumber + ":" + appointment.startTime.minute | padNumber
                },
                actions: {
                    items: [
                        {
                            href: "appointment-set-times?preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change start time",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                }
            }, {
                key: {
                    text: "End time"
                },
                value: {
                    text: appointment.endTime.hour | padNumber + ":" + appointment.endTime.minute | padNumber
                },
                actions: {
                    items: [
                        {
                            href: "appointment-set-times?preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change end time",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                }
            }, {
                key: {
                    text: "Extra information"
                },
                value: {
                    html: '<span class="preserve-line-breaks">' + appointment.extraInformation | escape + '</span>'
                },
                actions: {
                    items: [
                        {
                            href: "appointment-set-extra-information/" + appointment.prisoner.number + "?preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "change extra information",
                            classes: "govuk-link--no-visited-state"
                        }
                    ]
                }
            }]
        }) }}
    {% endfor %}
{% endmacro %}
