{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {% set pageTitle = appointmentJourneyTitle("change extra information", session.appointmentJourney) %}
{% else %}
    {% set pageTitle = appointmentJourneyTitle("Add extra information", session.appointmentJourney) %}
{% endif %}

{% set pageId = 'appointments-create-comment-page' %}
{% set backLinkHref = backLinkHref %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appointmentTypeCaption(session) }}
      {% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
        <h1 class="govuk-heading-l">
            <label class="govuk-label govuk-label--l" for="comment">Change the extra information (optional)</label>
        </h1>
        <p class="govuk-body" data-qa="first-paragraph">
            You can change the information about how to prepare for the appointment. Note that changes will not appear on any movement slips that have already been printed.
        </p>
      {% else %}
        <h1 class="govuk-heading-l">
            <label class="govuk-label govuk-label--l" for="comment">Add extra information (optional)</label>
        </h1>
        <p class="govuk-body" data-qa="first-paragraph">
            Add any important information about how to prepare for the appointment. It will be printed on the movement slip.
        </p>
      {% endif %}
      <p class="govuk-body">
          Wing staff will be notified there is extra information on the printed unlock list, but for confidentiality the full text will only be visible when you view the details of the appointment in this service.
      </p>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="4000">
          <div class="govuk-form-group">
            <textarea class="govuk-textarea govuk-js-character-count" id="comment" name="comment" rows="5" aria-describedby="comment-info">{{ formResponses.comment or session.appointmentJourney.comment }}</textarea>
          </div>
          <div id="comment-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 4000 characters
          </div>
        </div>

        {{ govukButton({
          text: "Update extra information" if isCtaAcceptAndSave else "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
