{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-confirmation-title.njk" import appointmentConfirmationTitle %}

{% set pageTitle = appointmentJourneyTitle("Set scheduled" if session.appointmentJourney.type == AppointmentType.SET else "Appointment scheduled", session.appointmentJourney, session.appointmentJourney.retrospective == YesNo.YES) %}

{% set pageId = 'appointment-scheduled-confirmation-page' %}

{% set titleText = appointmentConfirmationTitle(appointmentSet, session.appointmentJourney) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
               {{ govukPanel({
                    titleText: titleText
                }) }}
            <p class="govuk-body" data-qa="message">
                {% if appointment.appointmentType == AppointmentType.GROUP %}
                    You have successfully {{"created" if session.appointmentJourney.retrospective == YesNo.YES else "scheduled" }} an appointment for {{ appointment.attendees | length }} {{ "person" if appointment.attendees.length == 1 else "people" }}
                {% endif %}

                {% if appointmentSet %}
                    You have successfully {{"created" if session.appointmentJourney.retrospective == YesNo.YES else "scheduled" }} {{ "an appointment for 1 person on" if appointmentSet.appointments | length == 1 else "appointments for " + appointmentSet.appointments | length + " people starting on" }} {{ (appointment.startDate or appointmentSet.startDate) | toDate | formatDate }}
                {% elseif not appointment.appointmentSeries.schedule %}
                    on {{ (appointment.startDate or appointmentSet.startDate) | toDate | formatDate }}.
                {% else %}
                    starting on {{ appointment.startDate | toDate | formatDate }}.
                    It will repeat {{ ("every weekday (Monday to Friday)" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.WEEKDAY) +
                                    ("daily (includes weekends)" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.DAILY) +
                                    ("weekly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.WEEKLY) +
                                    ("fortnightly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.FORTNIGHTLY) +
                                    ("monthly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.MONTHLY) }}
                    for {{ appointment.appointmentSeries.schedule.numberOfAppointments }}
                    {% if appointment.appointmentSeries.schedule.numberOfAppointments == 1 %}
                        appointment
                    {% else %}
                        appointments
                    {% endif %}
                {% endif %}
            </p>

            <h2 class="govuk-heading-m">What you can do next</h2>
            <p class="govuk-body">
                <a href="/appointments" class="govuk-link govuk-link--no-visited-state" data-qa="create-another-link">Schedule another appointment</a>
            </p>

            {% if appointmentSet %}
                <p class="govuk-body">
                    <a href="/appointments/set/{{ appointmentSet.id }}" class="govuk-link govuk-link--no-visited-state" data-qa="view-appointment-link">View, print movement slips and manage this set of appointments</a>
                </p>
            {% elseif session.appointmentJourney.retrospective != YesNo.YES %}
                <p class="govuk-body">
                    <a href="/appointments/{{ appointment.id }}" class="govuk-link govuk-link--no-visited-state" data-qa="view-appointment-link">View, print movement slips and manage this appointment</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
