{% extends "layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-confirmation-title.njk" import appointmentConfirmationTitle %}

{% set pageTitle = appointmentJourneyTitle("Set scheduled - Appointments - DPS" if appointmentJourney.type == AppointmentType.SET else "Appointment scheduled - Appointments - DPS", appointmentJourney, appointmentJourney.retrospective == YesNo.YES) %}

{% set pageId = 'appointment-scheduled-confirmation-page' %}

{% set titleText = appointmentConfirmationTitle(appointmentSet, appointmentJourney) %}
{% set retrospective = appointmentJourney.retrospective == YesNo.YES %}
{% set confirmationVerb = "created" if retrospective else "scheduled" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukPanel({
            titleText: titleText
        })
      }}
      <p class="govuk-body" data-qa="message">
        {% if appointmentSet %}
          You have successfully {{ confirmationVerb }}
          {{ "an appointment for " + appointmentSet.appointments[0].attendees[0].prisoner | formatName(NameFormatStyle.firstLast, false) if appointmentSet.appointments | length == 1 else "appointments for " + appointmentSet.appointments | length + " people starting" }}
          on {{ appointmentSet.startDate | toDate | formatDate }}.
        {% else %}
          {% set attendeeDescription = appointment.attendees[0].prisoner | formatName(NameFormatStyle.firstLast, false) if appointment.attendees.length == 1 else (appointment.attendees | length) + " people" %}
          You have successfully {{ confirmationVerb }} an appointment for {{ attendeeDescription }}
          {% if not appointment.appointmentSeries.schedule %}
            on {{ appointment.startDate | toDate | formatDate }}.
          {% else %}
            starting on {{ appointment.startDate | toDate | formatDate }}. It will repeat
            {{
              ("every weekday (Monday to Friday)" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.WEEKDAY) +
              ("daily (includes weekends)" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.DAILY) +
              ("weekly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.WEEKLY) +
              ("fortnightly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.FORTNIGHTLY) +
              ("monthly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.MONTHLY)
            }}
            for {{ appointment.appointmentSeries.schedule.numberOfAppointments }}
            {{ "appointment." if appointment.appointmentSeries.schedule.numberOfAppointments == 1 else "appointments." }}
          {% endif %}
        {% endif %}
      </p>

      <h2 class="govuk-heading-m">What you can do next</h2>
      {% for action in actions %}
        <p class="govuk-body">
          <a href="{{ action.href }}" class="govuk-link govuk-link--no-visited-state" data-qa="{{ action.dataQa }}"
            >{{ action.text }}</a
          >
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
