{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/add-prisoner-list.njk" import addPrisonerList %}

{% set editMessage = getAppointmentEditMessage(session.appointmentJourney, session.editAppointmentJourney) %}
{% set pageTitle = appointmentJourneyTitle(editMessage + ' this appointment', session.appointmentJourney) %}
{% set pageId = 'appointment-confirm-edit-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <h1 class="govuk-heading-l">Are you sure you want to {{ editMessage }} this appointment – {{ startDate | formatDate }}?</h1>

            {{ addPrisonerList(session.editAppointmentJourney.addPrisoners) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    name: "confirm",
                    errorMessage: validationErrors | findError('confirm'),
                    items: [
                        {
                            value: YesNo.YES,
                            text: "Yes"
                        },
                        {
                            value: YesNo.NO,
                            text: "No"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: getConfirmAppointmentEditCta(session.appointmentJourney, session.editAppointmentJourney)
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
