{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}
{% from "components/timePicker.njk" import timePicker %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}

{% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {% set pageTitle = appointmentJourneyTitle("change date and time", session.appointmentJourney) %}
    {% set pageHeading = "Enter the new date and time" %}
{% elif session.appointmentJourney.mode == AppointmentJourneyMode.COPY %}
    {% set pageTitle = appointmentJourneyTitle("change date", session.appointmentJourney) %}
    {% set pageHeading = "Enter date of the appointment" %}
{% else %}
    {% set pageTitle = appointmentJourneyTitle("Date and time of appointment", session.appointmentJourney) %}
    {% set pageHeading = "Enter the date and time of the appointment" %}
{% endif %}

{% set pageId = 'appointment-date-and-time-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ hmppsDatePicker({
                    id: "startDate",
                    name: "startDate",
                    label: {
                        text: "Date",
                        classes: "govuk-label--m"
                    },
                    hint: {
                        text: 'Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select.'
                    },
                    errorMessage: validationErrors | findError('startDate'),
                    classes: 'hmpps-datepicker--fixed-width',
                    value: formResponses.startDate or ((session.editAppointmentJourney.startDate or session.appointmentJourney.startDate) | isoDateToDatePickerDate)
                }) }}
                {% if session.appointmentJourney.mode != AppointmentJourneyMode.COPY %}
                    {{ timePicker({
                        id: 'startTime',
                        name: 'startTime',
                        label: {
                            text: 'Start time',
                            classes: "govuk-fieldset__legend--m"
                        },
                        renderedErrorMessage: validationErrors | findError('startTime'),
                        validationErrors: validationErrors,
                        formResponses: formResponses.startTime or session.editAppointmentJourney.startTime or session.appointmentJourney.startTime
                    }) }}
                    {{ timePicker({
                        id: 'endTime',
                        name: 'endTime',
                        label: {
                            text: 'End time',
                            classes: "govuk-fieldset__legend--m"
                        },
                        renderedErrorMessage: validationErrors | findError('endTime'),
                        validationErrors: validationErrors,
                        formResponses: formResponses.endTime or session.editAppointmentJourney.endTime or session.appointmentJourney.endTime
                    }) }}
                {%  endif %}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
