{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {% set pageTitle = appointmentJourneyTitle("change extra information", session.appointmentJourney) %}
{% else %}
    {% set pageTitle = appointmentJourneyTitle("Add extra information", session.appointmentJourney) %}
{% endif %}

{% set pageId = 'appointment-extra-information-page' %}
{% set jsBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appointmentTypeCaption(session) }}
      {% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
        <h1 class="govuk-heading-l">
            <label class="govuk-label govuk-label--l" for="extraInformation">Change the extra information (optional)</label>
        </h1>
        <p class="govuk-body" data-qa="first-paragraph">
            Add or edit any important information for who’s attending about how to prepare for their appointment. Note that changes will not appear on any movement slips that have already been printed.
        </p>
      {% else %}
        <h1 class="govuk-heading-l">
            {% if session.appointmentJourney.category.code == 'VLB' %}
                 <label class="govuk-label govuk-label--l" for="extraInformation">Enter the court name and any extra information</label>
            {% else %}
                <label class="govuk-label govuk-label--l" for="extraInformation">Add extra information (optional)</label>
            {% endif %}
        </h1>

        <p class="govuk-body" data-qa="first-paragraph">
            {% if session.appointmentJourney.category.code == 'VLB' %}
                 Enter the court the booking is for, plus:
                 <ul>
                     <li class='govuk-list govuk-list--bullet'> details of any briefings before or after the hearing </li>
                     <li class='govuk-list govuk-list--bullet'> other important information for who's attending about how to prepare for their appointment </li>
                 </ul>
               <p> This will be printed on the prisioner's movement slip. </p>
            {% else %}
                <p class="govuk-body" data-qa="first-paragraph">
                        Add any important information for who’s attending about how to prepare for their appointment. It will be printed on their movement slip.
                </p>
            {% endif %}
         </p>
      {% endif %}
      <p class="govuk-body">
          Wing staff will see the words ‘Extra information’ on the printed unlock list, but for confidentiality the full message will be viewable only in the appointment details within this service.
      </p>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="4000">
          <div class="govuk-form-group">
            {{ govukCharacterCount({
                id: "extraInformation",
                name: "extraInformation",
                errorMessage: validationErrors | findError("extraInformation"),
                value: formResponses.extraInformation or extraInformation,
                maxlength: "4000"
            }) }}
          </div>
        </div>
        {{ govukButton({
          text: "Update extra information" if isCtaAcceptAndSave else "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
