{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {% set pageTitle = appointmentJourneyTitle("Change appointment host", session.appointmentJourney) %}
    {% set pageHeading = "Enter the new appointment tier" %}
{% else %}
    {% set pageTitle = appointmentJourneyTitle("Appointment host", session.appointmentJourney) %}
    {% set pageHeading = "What is the appointment host?" %}
{% endif %}

{% set pageId = 'host-page' %}
{% set jsBackLink = true %}

{% set organiserOptions = [] %}
{% for organiserKey, organiserText in organiserDescriptions %}
    {% set organiserOptions = (organiserOptions.push({
        value: organiserKey,
        text: organiserText,
        checked: formResponses.organiser == organiserKey or session.appointmentJourney.organiserCode == organiserKey
    }), organiserOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ appointmentTypeCaption(session) }}
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Who hosts this appointment?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    name: "host",
                    errorMessage: validationErrors | findError('host'),
                    items: organiserOptions
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
