{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}

{% set serviceTitle = ' - Appointments - DPS' %}

{% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {% set pageTitle = appointmentJourneyTitle("change location" + serviceTitle, session.appointmentJourney) %}
    {% set pageHeading = "Enter the new location" %}
{% else %}
    {% set pageTitle = appointmentJourneyTitle("Appointment set location" + serviceTitle if session.appointmentJourney.type == AppointmentType.SET else "Appointment location" + serviceTitle, session.appointmentJourney) %}
    {% set pageHeading = ("Where will the appointments take place?" if session.appointmentJourney.type == AppointmentType.SET else "Where will the appointment take place?") %}
{% endif %}

{% set pageId = 'appointment-location-page' %}
{% set jsBackLink = true %}

{% set options = [{ value: "-", text: "" }] %}
{% for location in locations %}
    {% set options = (options.push({ value: location.dpsLocationId, text: location.description }), options) %}
{% endfor %}

{% set selectedLocation = session.appointmentJourney.location %}
{% if editAppointmentJourney and editAppointmentJourney.location is defined %}
    {% set selectedLocation = editAppointmentJourney.location %}
{% endif %}

{% set selectedInCell = session.appointmentJourney.inCell %}
{% if editAppointmentJourney and editAppointmentJourney.inCell is defined %}
    {% set selectedInCell = editAppointmentJourney.inCell %}
{% endif %}

{% set selectedLocationId = formResponses.locationId or selectedLocation.id %}

{% set selectedLocationType = formResponses.locationType %}
{% if not selectedLocationType %}
    {% if selectedInCell %}
        {% set selectedLocationType = LocationType.IN_CELL %}
    {% elseif selectedLocationId %}
        {% set selectedLocationType = LocationType.OUT_OF_CELL %}
    {% endif %}
{% endif %}

{% block meta %}
    <meta name="autocompleteElements" content="locationId"/>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    id: "location-type",
                    name: "locationType",
                    items: [
                        {
                            value: LocationType.OUT_OF_CELL,
                            text: "Search for a location",
                            checked: selectedLocationType == LocationType.OUT_OF_CELL,
                            conditional: {
                                html: govukSelect({
                                    id: "locationId",
                                    name: "locationId",
                                    label: {
                                        text: "Start typing a location and select from the list of options."
                                    },
                                    errorMessage: validationErrors | findError('locationId'),
                                    value: selectedLocationId,
                                    items: options
                                })
                            }
                        },
                        {
                            value: LocationType.IN_CELL,
                            text: "In cell",
                            checked: selectedLocationType == LocationType.IN_CELL
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Update location" if isCtaAcceptAndSave else "Continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}