{% extends "layout.njk" %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/summaryCardWithTable.njk" import summaryCardWithTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageId = 'appointment-review-non-associations-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Review {{ nonAssociations | length }} people with non-associations</h1>
            {{ govukWarningText({
                text: "Check an attendee’s prisoner profile for full details of their non-associations.",
                iconFallbackText: "Warning"
            }) }}
            <p class="govuk-body">You’re reviewing {{ nonAssociations | length }} people with non-associations out of a total of {{ attendesTotalCount }} attendees.</p>

            {% for attendee in nonAssociations %}
                {{ summaryCardWithTable(attendee) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}