{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {% set pageTitle = appointmentJourneyTitle("no attendees added" if prisoners.length == 0 else "Review additional attendee" + ("s" if prisoners.length > 1), session.appointmentJourney) %}
{% else %}
    {% if session.appointmentJourney.type == AppointmentType.BULK %}
        {% set pageTitle = appointmentJourneyTitle("No attendees for set" if prisoners.length == 0 else "Review back-to-backs list", session.appointmentJourney) %}
    {% else %}
        {% set pageTitle = appointmentJourneyTitle("No attendees" if prisoners.length == 0 else "Review attendee list", session.appointmentJourney) %}
    {% endif %}
{% endif %}

{% set pageId = 'appointments-create-review-prisoners-page' %}
{% set backLinkHref = backLinkHref %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            {% if prisoners.length == 0 %}
                {% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
                    <h1 class="govuk-heading-l">There are no attendees to add</h1>
                    <p class="govuk-body">You’ve removed the last new attendee.</p>
                    <p class="govuk-body">You can <a href="/appointments/{{ appointmentId }}/occurrence/{{ occurrenceId }}" class="govuk-link--no-visited-state">return to the appointment details</a> or add someone else to continue updating.</p>
                {% elseif session.appointmentJourney.type == AppointmentType.BULK %}
                    <h1 class="govuk-heading-l">There are no attendees for this set</h1>
                    <p class="govuk-body">You’ve removed the last attendee for this set of appointments.</p>
                    <p class="govuk-body">You need to add a new list of prison numbers to continue scheduling the set of back-to-backs.</p>
                {% else %}
                    <h1 class="govuk-heading-l">There are no attendees for this appointment</h1>
                    <p class="govuk-body">You’ve removed the last attendee for this appointment.</p>
                    <p class="govuk-body">You need to add someone to continue scheduling it.</p>
                {% endif %}
            {% else %}
                {% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
                    <h1 class="govuk-heading-l">{{ "Review the additional attendee" + ("s" if prisoners.length > 1) }}</h1>
                {% elseif session.appointmentJourney.type == AppointmentType.BULK %}
                    <h1 class="govuk-heading-l">Review who you’re scheduling appointments for</h1>
                    <p class="govuk-body">You can remove anyone who is not required. If you want to add someone, change the list of prison numbers in the CSV file and <a href="upload-bulk-appointment" class="govuk-link--no-visited-state">upload it again</a>.</p>
                {% else %}
                    <h1 class="govuk-heading-l">Review who’s attending the appointment</h1>
                    <p class="govuk-body">Add or remove people, or continue with the current {{ "attendee" if prisoners.length == 1 else "list of attendees" }}.</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="govuk-grid-column-two-thirds">
            {% set prisonersList = [] %}
            {% for prisoner in prisoners %}
                {% set prisonersList = (prisonersList.push([
                    {
                        attributes: {
                            "data-sort-value": prisoner.name | toTitleCase | prisonerName(false)
                        },
                        html: showProfileLink({
                            name: prisoner.name,
                            prisonerNumber: prisoner.number,
                            link: true
                        })
                    }, {
                        text: prisoner.cellLocation
                    }, {
                        html: '<a href="review-prisoners/' + prisoner.number + '/remove' + ('?preserveHistory=true' if preserveHistory else '') + '"
                            class="govuk-link--no-visited-state">
                            Remove<span class="govuk-visually-hidden"> prison number ' + prisoner.number + '</span>
                        </a>',
                        classes: 'govuk-!-text-align-right',
                        attributes: { 'data-qa': 'remove-prison-number-' + prisoner.number }
                    }
                ]), prisonersList) %}
            {% endfor %}

            {% if prisoners.length == 0 %}
                {{ govukButton({
                    text: ("Add a new list" if session.appointmentJourney.type == AppointmentType.BULK else "Add someone to the list"),
                    href: ("upload-bulk-appointment" if session.appointmentJourney.type == AppointmentType.BULK else "how-to-add-prisoners") + ('?preserveHistory=true' if preserveHistory else ''),
                    attributes: { 'data-qa': 'add-prisoner-primary' }
                }) }}
            {% else %}
                {{ govukTable({
                    attributes: {
                        'data-module': 'moj-sortable-table',
                        'data-qa': 'prisoners-list-table'
                    },
                    head: [
                        {
                            text: "Name",
                            attributes: { "aria-sort": "none" },
                            classes: 'govuk-table__header'
                        },
                        {
                            text: "Cell location",
                            attributes: { "aria-sort": "ascending" },
                            classes: 'govuk-table__header'
                        }, {
                            html: '<span class="govuk-visually-hidden">Actions</span>'
                        }
                    ],
                    rows: prisonersList
                }) }}

            {% if session.appointmentJourney.type != AppointmentType.BULK %}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Add another person",
                        classes: "govuk-button--secondary",
                        href: "how-to-add-prisoners" + ('?preserveHistory=true' if preserveHistory else ''),
                        attributes: { 'data-qa': 'add-prisoner-secondary' }
                    }) }}
                </div>
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
