{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% if session.appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {% set pageTitle = appointmentJourneyTitle("Change appointment tier", session.appointmentJourney) %}
{% else %}
    {% set pageTitle = appointmentJourneyTitle("Appointment tier", session.appointmentJourney) %}
{% endif %}

{% set pageId = 'appointment-tier-page' %}
{% set jsBackLink = true %}

{% set activityTierOptions = [] %}
{% for tierKey, tierText in eventTierDescriptions %}
    {% set activityTierOptions = (activityTierOptions.push({
        value: tierKey,
        text: tierText,
        checked: formResponses.tier == tierKey or session.appointmentJourney.tierCode == tierKey
    }), activityTierOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ appointmentTypeCaption(session) }}
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Which tier are the appointments in?" if session.appointmentJourney.type == AppointmentType.SET else "Which tier is the appointment in?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: 'Recording whether the appointments are tier 1 (core curriculum, for example a health clinic or induction assessment), tier 2 (extra-curricular, for example an Alcohol Awareness Day event or Storybook Mums and Dads) or not purposeful (also called foundational) helps ensure there is a balanced regime.'
                    },
                    id: "tier",
                    name: "tier",
                    errorMessage: validationErrors | findError('tier'),
                    items: activityTierOptions
                }) }}

                {{ govukButton({
                    text: "Update tier" if isCtaAcceptAndSave else "Continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
