{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% set pageTitle = appointmentJourneyTitle("Upload by CSV", session.appointmentJourney) %}
{% set pageId = 'appointments-upload-by-csv-page' %}
{% set backLinkHref = "how-to-add-prisoners" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session.appointmentJourney.type) }}
            <h1 class="govuk-heading-l">Use a CSV file to create a group appointment</h1>

            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-body">You can use a CSV file to create a one-off or repeat appointment for a group of people.</p>

                <p class="govuk-body">You must include a prison number for each individual.</p>

                <a href="/assets/downloads/prisoner-list.csv" download>Download CSV file template</a>
            </div>

            <form method="POST" action="upload-by-csv{{ '?preserveHistory=true' if preserveHistory else '' }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
