{% extends "layout.njk" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% set pageTitle = appointmentJourneyTitle("Upload Prisoner List", session.appointmentJourney) %}
{% set pageId = 'appointments-create-upload-prisoner-list-page' %}
{% set backLinkHref = "upload-by-csv" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <form action="upload-prisoner-list?_csrf={{ csrfToken }}{{ '&preserveHistory=true' if preserveHistory else '' }}" method="POST" enctype="multipart/form-data">
                {{ govukFileUpload({
                    id: "file",
                    name: "file",
                    label: {
                        text: "Upload a CSV file of prison numbers",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Upload a CSV file with the prison numbers of all people attending this appointment"
                    },
                    errorMessage: validationErrors | findError('file')
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
