{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "components/scheduleSummary.njk" import scheduleSummary %}

{% set pageTitle = applicationName + " - Create a schedule - Check answers" %}
{% set pageId = 'check-answers-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Check details for {{ session.createScheduleJourney.name }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h2 class="govuk-heading-m">Schedule details</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: { text: "Schedule name" },
                        value: { text: session.createScheduleJourney.name },
                        actions: {
                            items: [
                                {
                                    href: "name?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "Change schedule name"
                                }
                            ]
                        }
                    },
                    {
                        key: { text: "Start date" },
                        value: { text: startDate },
                        actions: {
                            items: [
                                {
                                    href: "start-date?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "Change start date"
                                }
                            ]
                        }
                    },
                    {
                        key: { text: "End date" },
                        value: { text: endDate },
                        actions: {
                            items: [
                                {
                                    href: "end-date?fromReview=true",
                                    text: "Change",
                                    visuallyHiddenText: "Change end date"
                                }
                            ]
                        }
                    },
                    {
                        key: { text: "Schedule" },
                        value: { html: scheduleSummary(session.createScheduleJourney.days, times) },
                        actions: {
                        items: [
                            {
                                href: "days-and-times?fromReview=true",
                                text: "Change",
                                visuallyHiddenText: "Change schedule"
                            }
                        ]
                    }
                    },
                     {
                        key: { text: "Runs on bank holidays" },
                        value: { text: session.createScheduleJourney.runsOnBankHoliday },
                        actions: {
                        items: [
                            {
                                href: "bank-holiday-option?fromReview=true",
                                text: "Change",
                                visuallyHiddenText: "Change location"
                            }
                        ]
                    }
                    },
                    {
                        key: { text: "Location" },
                        value: { text: session.createScheduleJourney.location.name },
                        actions: {
                        items: [
                            {
                                href: "location?fromReview=true",
                                text: "Change",
                                visuallyHiddenText: "Change location"
                            }
                        ]
                    }
                    },
                    {
                        key: { text: "Capacity" },
                        value: { text: session.createScheduleJourney.capacity },
                        actions: {
                        items: [
                            {
                                href: "capacity?fromReview=true",
                                text: "Change",
                                visuallyHiddenText: "Change capacity"
                            }
                        ]
                    }
                    }
                ]
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h2 class="govuk-heading-m">Activity details</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: { text: "Category" },
                        value: { text: activity.category.name }
                    },
                    {
                        key: { text: "Name" },
                        value: { text: activity.summary }
                    },
                    {
                        key: { text: "Risk level" },
                        value: { text: activity.riskLevel | toTitleCase }
                    },
                    {
                        key: { text: "Minimum incentive level" },
                        value: { text: activity.minimumIncentiveLevel }
                    }
                ]
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <p>
                <a class="govuk-link govuk-link--no-visited-state" href="/schedule/activities">Cancel and return to activities dashboard</a>
            </p>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Create schedule"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
