{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Spikes" %}
{% set backLinkHref = "/" %}

{% block content %}

    {% from "govuk/components/input/macro.njk" import govukInput %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Validation spike</h1>
            <form method="POST">
                <p>{{ flash }}</p>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ govukInput({
                    id: "mustNotBeBlank",
                    name: "mustNotBeBlank",
                    classes: 'govuk-!-width-two-thirds',
                    label: {
                        text: "Validated string"
                    },
                    errorMessage: validationErrors | findError('mustNotBeBlank')
                }) }}

                <div class="govuk-button-group govuk-!-padding-top-4">
                    {{ govukButton({
                        attributes: {
                            id: 'btnSubmit'
                        },
                        text: "Submit",
                        preventDoubleClick: true
                    }) }}

                    <a class="govuk-link js-backlink" href="/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
