{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
            {% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% set pageTitle = applicationName + " - Success" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Validation success"
            }) }}

            {{ govukButton({
                text: "Return to home",
                href: '/'
            }) }}
        </div>
    </div>
{% endblock %}