{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "partials/appointmentPrisonerSummary.njk" import appointmentPrisonerSummary %}
{% from "pages/appointments/partials/prisoner-list.njk" import prisonerList %}

{% set pageTitle = "Appointments Management - Appointment Details" %}
{% set pageId = 'appointment-occurrence-view-details-page' %}

{% set occurenceLink = '/appointments/' + occurrence.appointmentId + '/occurrence/' + occurrence.id  %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l" data-qa="caption">View {{ (" and manage " if occurrence.isCancelled == false) }}an appointment</span>
            <h1 class="govuk-heading-l" data-qa='heading'>{{ occurrence.category.description }} appointment - {{ occurrence.startDate | toDate | formatDate("EEEE, d MMMM yyyy") }}</h1>
            {% if occurrence.isCancelled %}
                <p>{{ govukTag({ text: "Cancelled" }) if occurrence.isCancelled }}</p>
            {% endif %}

            {% if occurrence.repeat %}
                {{ govukSummaryList({
                    card: {
                        title: {
                            text: "Series details"
                        },
                        actions: {
                            items: [
                                {
                                    href: "/appointments/" + occurrence.appointmentId,
                                    text: "View series",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'view-series' }
                                }
                            ]
                        }
                    },
                    rows: [
                        {
                            key: {
                                text: "Frequency"
                            },
                            value: {
                                text: ("Every weekday (Monday to Friday)" if occurrence.repeat.period == AppointmentRepeatPeriod.WEEKDAY) +
                                ("Daily (includes weekends)" if occurrence.repeat.period == AppointmentRepeatPeriod.DAILY) +
                                ("Weekly" if occurrence.repeat.period == AppointmentRepeatPeriod.WEEKLY) +
                                ("Fortnightly" if occurrence.repeat.period == AppointmentRepeatPeriod.FORTNIGHTLY) +
                                ("Monthly" if occurrence.repeat.period == AppointmentRepeatPeriod.MONTHLY)
                            }
                        }, {
                            key: {
                                text: "Appointment"
                            },
                            value: {
                                text: occurrence.sequenceNumber + " of " + occurrence.repeat.count
                            }
                        }
                    ],
                    attributes: { 'data-qa': 'appointment-series-details' }
                }) }}
            {% endif %}

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Appointment details"
                    },
                    actions: {
                        items: [
                            {
                                href: occurenceLink + "/edit/start/cancel",
                                text: "Cancel appointment",
                                classes: "govuk-link--no-visited-state",
                                attributes: { 'data-qa': 'cancel-appointment' }
                            }
                        ]
                    } if occurrence.isCancelled == false and appointmentInPast == false
                },
                rows: [
                    {
                        key: {
                            text: "Appointment name"
                        },
                        value: {
                            text: occurrence.category.description
                        }
                    }, {
                        key: {
                            text: "Show appointment name on unlock list"
                        },
                        value: {
                            text: ("Yes" if occurrence.appointmentDescription == null or occurrence.appointmentDescription == '') + ("No" if occurrence.appointmentDescription.length > 0)
                        }
                    }, {
                        key: {
                            text: "Alternative appointment name"
                        },
                        value: {
                            text: occurrence.appointmentDescription
                        }
                    } if occurrence.appointmentDescription != null and occurrence.appointmentDescription != '', {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: occurrence.internalLocation.description
                        },
                        actions: {
                            items: [
                                {
                                    href: occurenceLink + "/edit/start/location",
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-location' }
                                }
                            ]
                        } if occurrence.isCancelled == false and appointmentInPast == false
                    }, {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: occurrence.startDate | toDate | formatDate('EEEE, d MMMM yyyy')
                        },
                        actions: {
                            items: [
                                {
                                    href: occurenceLink + "/edit/start/date-and-time",
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-date' }
                                }
                            ]
                        } if occurrence.isCancelled == false and appointmentInPast == false
                    }, {
                        key: {
                            text: "Start time"
                        },
                        value: {
                            text: occurrence.startTime
                        },
                        actions: {
                            items: [
                                {
                                    href: occurenceLink + "/edit/start/date-and-time",
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-start-time' }
                                }
                            ]
                        } if occurrence.isCancelled == false and appointmentInPast == false
                    }, {
                        key: {
                            text: "End time"
                        },
                        value: {
                            text: occurrence.endTime
                        },
                        actions: {
                            items: [
                                {
                                    href: occurenceLink + "/edit/start/date-and-time",
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-end-time' }
                                }
                            ]
                        } if occurrence.isCancelled == false and appointmentInPast == false
                    }, {
                        key: {
                            text: "Heads up"
                        },
                        value: {
                            html: '<span class="preserve-line-breaks">' + (occurrence.comment | safe) + '</span>'
                        },
                        actions: {
                            items: [
                                {
                                    href: occurenceLink + "/edit/start/comment",
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-comment' }
                                }
                            ]
                        } if occurrence.isCancelled == false and appointmentInPast == false
                    }
                ],
                attributes: { 'data-qa': 'appointment-details' }
            }) }}

            {{ prisonerList(occurrence.appointmentId, occurrence.id, occurrence.appointmentType, occurrence.repeat, occurrence.prisoners, occurrence.isCancelled, appointmentInPast) }}

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Appointment history"
                    }
                },
                rows: [
                    {
                        key: {
                        text: "Created by"
                    },
                        value: {
                            text: occurrence.createdBy | fullName | toTitleCase | initialiseName
                        }
                    }, {
                        key: {
                            text: "Date created"
                        },
                        value: {
                            text: occurrence.created | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate('EEEE, d MMMM yyyy')
                        }
                    }, {
                        key: {
                            text: "Last edited by"
                        },
                        value: {
                            text: occurrence.updatedBy | fullName | toTitleCase | initialiseName
                        }
                    } if occurrence.updatedBy, {
                        key: {
                            text: "Date last edited"
                        },
                        value: {
                            text: occurrence.updated | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate('EEEE, d MMMM yyyy')
                        }
                    } if occurrence.updated
                ],
                attributes: { 'data-qa': 'appointment-history' }
            }) }}
        </div>
    </div>
{% endblock %}
