{% macro appointmentJourneyTitle(pageName, appointmentJourney) -%}
  {{ "Appointments Management - " + appointmentJourney.mode | capitalize + " " + appointmentJourney.type | capitalize + " Appointment - " + pageName }}
{%- endmacro %}
