{% macro appointmentJourneyTitle(pageName, appointmentJourney, retrospective) -%}
  {% if retrospective %}
    {{ "Appointment created" }}
  {% elseif appointmentJourney.mode == AppointmentJourneyMode.EDIT %}
    {{ ("Repeating " if appointmentJourney.repeat == YesNo.YES else "One-off ") + pageName }}
  {% else %}
    {{ pageName }}
  {% endif %}
{%- endmacro %}
