{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}

{% macro attendeeActions(appointment, attendee) %}
    {% if appointment.attendees.length > 1 and appointment.isCancelled == false and appointment.isExpired == false %}
    <a href="/appointments/{{ appointment.appointmentId }}/edit/start/{{ attendee.prisoner.prisonerNumber }}/remove" class="govuk-link govuk-link--no-visited-state">
        Remove <span class="govuk-visually-hidden"> prisoner {{ attendee.prisoner.prisonerNumber }}</span>
    </a>
    {% endif %}
{% endmacro %}

{% macro attendeeList(appointment) %}
    {% set appointmentLink = '/appointments/' + appointment.id  %}
    {% set attendeeListRows = [] %}
    {% for attendee in appointment.attendees %}
        {% set prisoner = attendee.prisoner %}
        {% set attendeeListRows = (attendeeListRows.push([
            {
                html: '<span class="print-checkbox"></span>',
                classes: "print-only"
            }, {
                text: "Name of attendee",
                classes: "govuk-table__cell--vertical-align-top govuk-!-font-weight-bold govuk-!-display-none-print"
            }, {
                html: showProfileLink({
                    name: prisoner | fullName,
                    prisonerNumber: prisoner.prisonerNumber,
                    cellLocation: prisoner.cellLocation,
                    link: true
                }),
                classes: 'govuk-!-display-none-print',
                attributes: { 'data-qa': 'prisoner-' + loop.index + '-name-and-number-and-cell-location', "data-sort-value": prisoner | fullName | toTitleCase | prisonerName(false) }
            }, {
                text: prisoner | fullName | toTitleCase | prisonerName(false),
                classes: 'print-only'
            }, {
                text: prisoner.prisonerNumber,
                classes: 'print-only'
            }, {
                text: statusBasedCellLocation(prisoner.cellLocation, prisoner.status),
                classes: 'print-only'
            }, {
                html: attendeeActions(appointment, attendee),
                classes: 'govuk-!-text-align-right govuk-!-display-none-print',
                attributes: { 'data-qa': 'remove-prisoner-' + loop.index }
            }
        ]), attendeeListRows) %}
    {% endfor %}

    {% set attendeeActionItems = [{
        href: appointmentLink + "/movement-slip",
        text: "Print movement slip" + ("s" if appointment.attendees.length > 1 ),
        classes: "govuk-link--no-visited-state",
        attributes: {
            'target': '_blank',
            'data-qa': 'print-movement-slips'
        }
    }] if appointment.isExpired == false %}
    {% if appointment.appointmentType == AppointmentType.GROUP and appointment.isExpired == false %}
        {% set attendeeActionItems = (attendeeActionItems.push(
            {
                href: appointmentLink + "/edit/start/prisoners/add",
                text: "Add attendees",
                classes: "govuk-link--no-visited-state",
                attributes: { 'data-qa': 'add-prisoners' }
            }
        ), attendeeActionItems) %}
    {% endif %}

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">{{ appointment.attendees | length + (" attendee" if appointment.attendees.length == 1 else " attendees") }}</h2>
        </div>
        <div class="govuk-summary-card__content">
            {{ govukTable({
                head: [
                    {
                        text: "Attended",
                        classes: "print-only"
                    }, {
                        html: '<span class="govuk-visually-hidden">Name of attendee</span>',
                        classes: "govuk-!-display-none-print"
                    }, {
                        text: "Attendee",
                        classes: "govuk-!-display-none-print",
                        attributes: { "aria-sort": "ascending" }
                    }, {
                        text: "Name",
                        classes: "print-only"
                    }, {
                        text: "Prison number",
                        classes: "print-only"
                    }, {
                        text: "Cell location",
                        classes: "print-only"
                    }, {
                        html: '<span class="govuk-visually-hidden">Actions</span>',
                        classes: "govuk-!-display-none-print"
                    }
                ],
                rows: attendeeListRows,
                attributes: {
                    'data-module': 'moj-sortable-table',
                    'data-qa': 'appointment-appointments'
                }
            }) }}
        </div>
    </div>

    {{ govukSummaryList({
        card: {
            title: {
                text: appointment.attendees | length + (" attendee" if appointment.attendees.length == 1 else " attendees")
            },
            actions: {
                items: attendeeActionItems
            } if appointment.isCancelled == false and appointment.isExpired == false,
            attributes: { 'data-qa': 'prisoner-list-title' }
        },
        rows: attendeeListRows,
        attributes: { 'data-qa': 'prisoner-list' }
    }) }}
{% endmacro %}
