{% macro occurrenceMovementSlip(appointmentOccurrence, printedAt) %}
    {% macro labelAndValue(label, value, rowClasses, valueClasses) %}
        <div class="movement-slip__summary__row {{ rowClasses }}">
            <dt class="movement-slip__summary__row__key">{{ label }}</dt>
            <dl class="movement-slip__summary__row__value {{ valueClasses }}" data-qa="{{ label.toLowerCase().replace(" ","-").replace(" ","-") }}">{{ value | safe }}</dl>
        </div>
    {% endmacro %}

    {% for prisoner in appointmentOccurrence.prisoners %}
        <div class="movement-slip">
            <h2 class="govuk-heading-m movement-slip-header">{{ user.activeCaseLoad.description }} <span class="govuk-!-font-weight-regular">Movement authorisation slip</span></h2>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ prisoner | fullName | toTitleCase }}, {{ prisoner.prisonerNumber }}</h1>
            <span class="govuk-caption-m govuk-!-margin-bottom-3" data-qa="caption">{{ prisoner.prisonCode + '-' + prisoner.cellLocation }}</span>

            <dl class='movement-slip__summary'>
                {{ labelAndValue('Appointment', appointmentOccurrence.appointmentDescription if appointmentOccurrence.appointmentDescription else appointmentOccurrence.category.description) }}
                {{ labelAndValue('Time', '<ul class="govuk-list">' +
                    '<li>' + appointmentOccurrence.startTime + ' to ' + appointmentOccurrence.endTime + '</li>' +
                    '<li>' + (appointmentOccurrence.startDate | toDate | formatDate('EEEE, d MMMM yyyy')) + '</li>' +
                '</ul>') }}
                {{ labelAndValue('Location', appointmentOccurrence.internalLocation.description) }}
                {{ labelAndValue('Heads up', appointmentOccurrence.comment, 'movement-slip__row--no-border', 'preserve-line-breaks') }}
            </dl>

            <p class="govuk-body-s movement-slip-footer">Printed at {{ printedAt | formatDate("h:mm 'on' EEEE, d MMMM yyyy") }}</p>
        </div>
    {% endfor %}
{% endmacro %}
