{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "partials/showProfileLink.njk" import showProfileLink %}

{% macro prisonerList(appointmentType, prisoners) %}
    {% set prisonerListRows = [] %}
    {% for prisoner in prisoners %}
        {% set prisonerListRows = (prisonerListRows.push({
            key: {
                text: "Prisoner"
            },
            value: {
                html: showProfileLink({
                    name: prisoner | fullName,
                    prisonerNumber: prisoner.prisonerNumber,
                    cellLocation: prisoner.cellLocation,
                    link: true
                })
            }
        }), prisonerListRows) %}
    {% endfor %}

    {{ govukSummaryList({
        card: {
            title: {
                text: ("Prisoner" if prisoners.length == 1 ) + ("Prisoners (" + prisoners | length + ")" if prisoners.length > 1 )
            },
            actions: {
                items: [
                    {
                        href: "#",
                        text: "Print movement slips",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'print-movement-slips' }
                    },
                    {
                        href: "#",
                        text: "Add prisoners",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'add-prisoners' }
                    },
                    {
                        href: "#",
                        text: "Remove prisoners",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'remove-prisoners' }
                    }
                ]
            }
        },
        rows: prisonerListRows,
        attributes: { 'data-qa': 'prisoner-list' }
    }) }}
{% endmacro %}
