.autocomplete__wrapper {
  @include govuk-media-query($until: desktop) {
    width: available;
  }

  @include govuk-media-query($from: desktop) {
    width: 50%;
  }
}
.autocomplete__option {
  font-family: Arial
}
