{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Not Required or Excused - Check and confirm" %}
{% set pageId = 'not-required-or-excused-check-and-confirm' %}
{% set jsBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Record activity attendance</span>
      <h1 class="govuk-heading-l">Check and confirm that {{ "1 person is" if selectedPrisoners | length == 1 else selectedPrisoners | length + " people are" }} not required for this session</h1>
      <p class="govuk-body">People not required:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        {% for prisoner in selectedPrisoners %}
          <li>{{ prisoner.prisonerName | toTitleCase }} ({{ prisoner.prisonerNumber }})</li>
        {% endfor %}
      </ul>
      {% if isPaid %}
        <p class="govuk-body govuk-!-margin-bottom-6">They will be paid overnight on {{ instance.date | formatDate }}.</p>
        {% else %}
        <p class="govuk-body govuk-!-margin-bottom-6">They will not be paid for this session.</p>
      {% endif %}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm as not required",
            preventDoubleClick: true
          }) }}
          <a class="govuk-link js-backlink" href="/activities/attendance/{{ session.recordAttendanceJourney.activityId }}/activities/{{ instance.id }}/attendance-list">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}