.sticky-header {
    .govuk-table__head {
      @media print {
        position: revert;
      }
  
      position: sticky;
      z-index: 999;
      top: 0px;
    }

    .govuk-table__header {
      background: govuk-colour("white");
      border-bottom: 2px govuk-colour("mid-grey") solid;
    }
  
  // This is required to override a style added by govuk-frontend 
  // which sets the S-P-T to 0 when sticky is used
  @supports (position: sticky) {
    .govuk-template {
        scroll-padding-top: 80px !important;
    }
  }
}