{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Activities Dashboard - View activity" %}
{% set pageId = 'view-activity-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">View or change details for {{ activity.summary }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Activity category"
                        },
                        value: {
                            text: activity.category.name
                        }
                    },
                    {
                        key: {
                            text: "Activity name"
                        },
                        value: {
                            text: activity.summary
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Requirements and pay</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Risk assessment level"
                        },
                        value: {
                            text: activity.riskLevel | capitalize
                        }
                    },
                    {
                        key: {
                            text: "Education requirements"
                        },
                        value: {
                            html: educationRequirementsContent(activity.educationRequirements)
                        }
                    },
                    {
                        key: {
                            text: "Pay rates"
                        },
                        value: {
                            html: paySummary(incentiveLevelPays)
                        }
                    },
                    {
                        key: {
                            text: "Minimum incentive level"
                        },
                        value: {
                            text: activity.minimumIncentiveLevel
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Dates and schedule</h2>
            {% set dateAndScheduleRows = [{
                key: {
                    text: "Start date"
                },
                value: {
                    text: schedule.startDate | toDate | formatDate('EEEE d MMMM yyyy')
                },
                actions: {
                    items: [
                        {
                            href: "/create/start-date?fromEditActivity=true",
                            text: "Change",
                            visuallyHiddenText: "change start date"
                        }
                    ]
                }
            }] %}

            {% if schedule.endDate %}
                {% set dateAndScheduleRows = (dateAndScheduleRows.push({
                    key: {
                        text: "End date"
                    },
                    value: {
                        text: schedule.endDate | toDate | formatDate('EEEE d MMMM yyyy')
                    },
                    actions: {
                        items: [
                            {
                                href: "/create/end-date?fromEditActivity=true",
                                text: "Change",
                                visuallyHiddenText: "change end date"
                            }
                        ]
                    }
                }), dateAndScheduleRows) %}
            {% else %}
                {% set dateAndScheduleRows = (dateAndScheduleRows.push({
                    key: {
                        text: "End date"
                    },
                    value: {
                        text: "None set"
                    },
                    actions: {
                        items: [
                            {
                                href: "/create/end-date?fromEditActivity=true",
                                text: "Change",
                                visuallyHiddenText: "change end date"
                            }
                        ]
                    }
                }), dateAndScheduleRows) %}
            {% endif %}

            {% set dateAndScheduleRows = (dateAndScheduleRows.push(
                {
                    key: {
                        text: "Days and times"
                    },
                    value: {
                        html: daysAndTimes(schedule.dailySlots)
                    },
                    actions: {
                        items: [
                            {
                                href: "/create/days-and-times?fromEditActivity=true",
                                text: "Change",
                                visuallyHiddenText: "change days and times"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Runs on bank holidays"
                    },
                    value: {
                        text: "Yes" if schedule.runsOnBankHoliday else "No"
                    },
                    actions: {
                        items: [
                            {
                                href: "/create/bank-holiday-option?fromEditActivity=true",
                                text: "Change",
                                visuallyHiddenText: "change bank holiday"
                            }
                        ]
                    }
                }
            ), dateAndScheduleRows) %}

            {{ govukSummaryList({
                rows: dateAndScheduleRows
            }) }}

            <h2 class="govuk-heading-m">Location and capacity</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: "In cell" if schedule.activity.inCell else schedule.internalLocation.description
                        }
                    },
                    {
                        key: {
                            text: "Capacity"
                        },
                        value: {
                            text: schedule.capacity
                        }
                    }
                ]
            }) }}

            <div class="govuk-button-group">
                <a href="/schedule/activities" class="govuk-link">Return to dashboard</a>
            </div>

        </div>
    </div>
{% endblock %}

{% macro educationRequirementsContent(educationRequirements) %}
    {% if educationRequirements | length > 0 %}
        {% for educationRequirement in educationRequirements %}
            <div class="govuk-!-margin-bottom-2">
                <div class="govuk-!-font-weight-bold">{{ educationRequirement.educationLevelCode }} {{ educationRequirement.educationLevelDescription }}</div>
            </div>
        {% endfor %}
    {% else %}
        None
    {% endif %}
{% endmacro %}

{% macro paySummary(incentiveLevelPays) %}
    {% for incentiveLevelPay in incentiveLevelPays %}
        <div class="govuk-!-margin-bottom-2">
            <div class="govuk-!-font-weight-bold">{{ incentiveLevelPay.incentiveLevel }} incentive level pay</div>
            {% for pay in incentiveLevelPay.pays %}
                <div>{{ pay.prisonPayBand.alias }}: {{ pay.rate | toMoney }}</div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro daysAndTimes(dailySlots) %}
    {% for day in dailySlots %}
        <div class="govuk-!-margin-bottom-2">
            {{ day.day }}
            {% set comma = joiner(', ') %}
            ({% for slot in day.slots %}{{ comma() }}{{ slot.startTime | getTimeSlotFromTime }}{% endfor %})
        </div>
    {% endfor %}
{% endmacro %}
