{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set statusColours = {
  SICK: "govuk-tag--yellow",
  CLASH: "govuk-tag--yellow",
  ATTENDED: "govuk-tag--dark-green",
  CANCELLED: "",
  NOT_REQUIRED: "govuk-tag--yellow",
  SUSPENDED: "govuk-tag--yellow",
  REFUSED: "govuk-tag--red",
  REST: "govuk-tag--yellow",
  OTHER: "govuk-tag--yellow"
} %}

{% macro attendanceTag(attendance) %}
    {% if attendance.status === 'COMPLETED' %}
      {{ govukTag({
          text: attendance.attendanceReason.description,
          classes: statusColours[attendance.attendanceReason.code]
      }) }}
    {% else %}
      Not recorded yet
    {% endif %}
{% endmacro %}
