{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set attendanceTags = {
  SICK: {
    text: "Sick",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  },
  CLASH: {
    text: "Clash",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  },
  ATTENDED: {
    text: "Attended",
    classes: "govuk-tag--green govuk-!-margin-bottom-1"
  },
  CANCELLED: {
    text: "Cancelled",
    classes: "govuk-tag--blue govuk-!-margin-bottom-1"
  },
  NOT_REQUIRED: {
    text: "Not required",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  },
  SUSPENDED: {
    text: "Suspended",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  },
  AUTO_SUSPENDED: {
    text: "Temporarily absent",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  },
  REFUSED: {
    text: "Refused",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  },
  REST: {
    text: "Rest day",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  },
  OTHER: {
    text: "Other absence",
    classes: "govuk-tag--red govuk-!-margin-bottom-1"
  }
} %}

{% macro attendanceTag(status, code, attendanceRequired) %}
    {% if status %}
      {% if attendanceRequired === false %}
        Not required
      {% elif status === 'COMPLETED' %}
          {{ govukTag(attendanceTags[code]) }}
      {% else %}
        Not recorded {{ "yet" if attendance.editable }}
      {% endif %}
    {% else %}
      -
    {% endif %}
{% endmacro %}
