{% macro alertFlags(alerts) %}
    {% for alert in alerts %}
        {% if alert == "ACCT" %}
            {% set className = "acct-status" %}
        {% endif %}
        {% if alert == "CONFLICT" %}
            {% set className = "conflict-status" %}
        {% endif %}
        {% if alert == "E-LIST" %}
            {% set className = "elist-status" %}
        {% endif %}
        {% if alert == "NO ONE-TO-ONE" %}
            {% set className = "no-one-to-one-status" %}
        {% endif %}
        {% if alert == "PEEP" %}
            {% set className = "disability-status" %}
        {% endif %}
        {% if alert == "QUARANTINED" %}
            {% set className = "quarantined-status" %}
        {% endif %}
        {% if alert == "REVERSE COHORTING UNIT" %}
            {% set className = "reverse-cohorting-unit-status" %}
        {% endif %}
        {% if alert == "PROTECTIVE ISOLATION UNIT" %}
            {% set className = "protective-isolation-unit-status" %}
        {% endif %}
        {% if alert == "SHIELDING UNIT" %}
            {% set className = "shielding-unit-status" %}
        {% endif %}
        {% if alert == "REFUSING TO SHIELD" %}
            {% set className = "refusing-to-shield-status" %}
        {% endif %}
        {% if alert == "CAT A" %}
            {% set className = "cata-status" %}
        {% endif %}
        {% if alert == "CAT A High" %}
            {% set className = "cata-high--status" %}
        {% endif %}
        {% if alert == "CAT A Prov" %}
            {% set className = "cata-prov-status" %}
        {% endif %}

        {% if className == null %}
            <span>{{alert}}</span>&nbsp;
        {% else %}
            <span class="{{className}}">{{ alert }}</span>&nbsp;
        {% endif %}

    {% endfor %}
{% endmacro %}
