{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/sticky-select.njk" import stickySelect %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/miniProfile.njk" import miniProfile %}

{% set pageTitle = "Prisoner activity allocations - Activities - DPS" %}
{% set pageId = 'prisoner-allocations-dashboard' %}
{% set jsBackLink = true %}

{% set prisonerName = prisoner | firstNameLastName | toTitleCase %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
            <h1 class="govuk-heading-l">{{ prisonerName }}'s activity allocations</h1>
            {{ miniProfile(prisonerProfile) }}

            {% if locationStatus %}
                <strong class="govuk-tag govuk-tag--grey no-max-width govuk-!-margin-top-7">{{ locationStatus }}</strong>
            {% endif %}

            {% if hasNonAssociations %}
                <div class="govuk-inset-text">
                    <a href="/activities/prisoner-allocations/{{ prisoner.prisonerNumber }}/non-associations" class="govuk-link--no-visited-state" target="_blank">View {{ prisonerName }}'s open non-associations</a>, to check if they may come into contact with someone they must be kept apart from.
                </div>
            {% endif %}
        </div>
    </div>

    {% set allocationsHtml %}
    {% include 'partials/activities/allocation-dashboard/allocationsHtml.njk' %}
    {% endset %}

    {{ govukTabs({
        classes: "govuk-tabs--borderless",
        items: [
            {
                label: "Allocations",
                id: "allocations-tab",
                panel: {
                    html: allocationsHtml
                }
            }
        ]
    }) }}
{% endblock %}