{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Record attendance" %}
{% set pageId = 'prisoner-allocations-dashboard' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Prisoner's activity allocations</h1>
        </div>
    </div>
{% endblock %}