.filter {
  padding: 20px 0;
  margin-bottom: 20px;

  background-color: govuk-colour("light-grey");

  &__items {
    display: flex;
    flex-wrap: wrap;

    .govuk-form-group {
      flex: 0 0 calc(33.3% - 20px);
      padding: 0 10px;

      .govuk-label {
        @include govuk-media-query($from: tablet) {
          min-height: 75px;
        }
      }
    }

    &--quarters {
      .govuk-form-group {
        flex: 0 0 calc(25% - 20px);
      }
    }
  }

  button {
    margin: 0 10px;
    @include govuk-media-query($until: tablet) {
      width: calc(100% - 20px);
    }
  }

  form {
    display: inherit;
  }
}

.moj-action-bar__filter--no-actions {
  &:after {
    content: none;
  }
}

.moj-filter-layout__filter--small {
  max-width: 340px;
}

.stat--small {
  width: 20%;
  float: left;
}

.stat--med {
  width: 25%;
  float: left;
}