{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/multi-select.njk" import multiSelect %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/searchBar.njk" import searchBar %}

{% set pageTitle = applicationName + " - Allocate" %}
{% set pageId = 'allocation-dashboard-page' %}
{% set backLinkHref = "/allocation-dashboard" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">You're allocating to {{ schedule.description }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-two-thirds">
            <p>Check the requirements for this activity so that you can allocate suitable candidates.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class='related-tasks'>
                <ul class='govuk-list'>
                    <li><a href="/allocation-dashboard?preserveHistory=true" class="govuk-link govuk-link--no-visited-state">Find other activities with vacancies</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-one-third">
            <div class="information-card">
                {{ govukTable({
                    caption: "Current allocation",
                    captionClasses: "govuk-table__caption--m",
                    firstCellIsHeader: true,
                    rows: [
                        [
                            {
                                text: "Vacancies:"
                            },
                            {
                                text: schedule.activity.capacity - schedule.activity.allocated
                            }
                        ],
                        [
                            {
                                text: "Allocated:"
                            },
                            {
                                text: schedule.activity.allocated
                            }
                        ],
                        [
                            {
                                text: "Capacity:"
                            },
                            {
                                text: schedule.activity.capacity
                            }
                        ]
                    ]
                }) }}
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="information-card">
                {% set requiredEducationHtml %}
                    <div>
                        {% for education in schedule.activity.minimumEducationLevel %}
                            <div>{{ education.studyAreaDescription }}: {{ education.educationLevelDescription }}</div>
                        {% else %}
                            None required
                        {% endfor %}
                    </div>
                {% endset %}

                {{ govukTable({
                    caption: "Requirements",
                    captionClasses: "govuk-table__caption--m",
                    firstCellIsHeader: true,
                    rows: [
                        [
                            {
                                text: "Suitable for workplace risk assessment:"
                            },
                            {
                                text: suitableForWra
                            }
                        ],
                        [
                            {
                                text: "Suitable for incentive level:"
                            },
                            {
                                text: suitableForIep
                            }
                        ],
                        [
                            {
                                text: "Education level:"
                            },
                            {
                                html: requiredEducationHtml
                            }
                        ]
                    ]
                }) }}
            </div>
        </div>
    </div>

    {{ govukTabs({
        classes: "govuk-tabs--borderless",
        items: [
            {
                label: "Currently allocated",
                id: "currently-allocated-tab",
                panel: {
                    html: currentlyAllocatedHtml
                }
            },
            {
                label: "Candidates",
                id: "candidates-tab",
                panel: {
                    html: candidatesHtml
                }
            },
            {
                label: schedule.description + " schedule",
                id: "schedule-tab",
                panel: {
                    html: scheduleHtml
                }
            }
        ]
    }) }}
{% endblock %}

{% set currentlyAllocatedHtml %}
    {% set rows = [] %}
    {% for row in currentlyAllocated %}
        {% set otherAllocationsHtml %}
            <ul class='govuk-list'>
                {% for allocation in row.otherAllocations %}
                    <li><a href='/allocation-dashboard/{{ allocation.id }}' class='govuk-link govuk-link--no-visited-state' target='_blank'>{{ allocation.scheduleName }}</a></li>
                {% else %}
                    <li>None</li>
                {% endfor %}
            </ul>
        {% endset %}

        {% set rows = (rows.push({
            visuallyHiddenText: 'Select ' + row.name,
            value: row.prisonerNumber,
            selectable: true,
            items: [
                {
                    html: '
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                            <a href="' + dpsUrl + '/prisoner/' + row.prisonerNumber + '"
                               class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">' + row.name | toTitleCase + '
                            </a>
                        </h2>
                        <div class="govuk-hint govuk-!-margin-bottom-1">' + row.prisonerNumber + '</div>
                        <div class="govuk-hint govuk-!-margin-bottom-1">' + row.cellLocation + '</div>
                    ',
                    attributes: {
                        "data-sort-value": row.name
                    }
                },
                {
                    text: row.startDate | formatDate('d MMMM yyyy') + (' to ' + row.endDate | formatDate('d MMMM yyyy') if row.endDate)
                },
                {
                    html: otherAllocationsHtml
                },
                {
                    text: row.releaseDate | formatDate('d MMMM yyyy') if row.releaseDate else 'TBC'
                }
            ]
        }), rows) %}
    {% endfor %}

    <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ multiSelect({
            caption: "Currently allocated",
            captionClasses: "govuk-visually-hidden",
            name: 'selectedAllocations',
            head: [
                {
                    text: "Prisoner details"
                },
                {
                    text: "Allocation start and end"
                },
                {
                    text: "Other allocations"
                },
                {
                    text: "Earliest release date"
                }
            ],
            rows: rows,
            actions: [
                {
                    text: 'Remove from activity',
                    formAction: schedule.id + '/deallocate'
                },
                {
                    text: 'Edit allocation',
                    formAction: schedule.id + '/check-allocation',
                    maxItems: 1
                }
            ],
            itemsDescription: {
                singular: 'person',
                plural: 'people'
            }
        }) }}
    </form>
{% endset %}

{% set candidatesHtml %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-one-half">
            <p>
                Your candidate list has been filtered to show people who match all the requirements for this activity.
                Use the filters to expand or reduce the list. You can also search for someone you want to allocate.
            </p>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-one-half">
            <form method='GET'>
                <label class="govuk-label" for="candidate-search-input">Search by name or prison number:</label>
                {{ searchBar({
                    inputParams: {
                        id: 'candidate-search-input',
                        name: 'candidateQuery',
                        value: filters.candidateQuery
                    },
                    buttonParams: {
                        text: 'Search'
                    }
                }) }}
            </form>
        </div>
    </div>
    <div class='filter'>
        <form method='GET'>
            <div class="filter__items">
                {% set employmentOptions = [
                    {
                        value: 'Everyone',
                        text: 'Everyone',
                        selected: filters.employmentFilter == 'Everyone'
                    },
                    {
                        value: 'Not in work',
                        text: 'Not in work',
                        selected: filters.employmentFilter == 'Not in work'
                    },
                    {
                        value: 'In work',
                        text: 'In work',
                        selected: filters.employmentFilter == 'In work'
                    }
                ] %}
                {{ govukSelect({
                    id: "employmentFilter",
                    name: "employmentFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people who are:"
                    },
                    items: employmentOptions
                }) }}

                {% set riskLevelOptions = [
                    {
                        value: 'Any Workplace Risk Assessment',
                        text: 'Any Workplace Risk Assessment',
                        selected: filters.riskLevelFilter == 'Any Workplace Risk Assessment'
                    },
                    {
                        value: 'Low',
                        text: 'Low',
                        selected: filters.riskLevelFilter == 'Low'
                    },
                    {
                        value: 'Low or Medium',
                        text: 'Low or Medium',
                        selected: filters.riskLevelFilter == 'Low or Medium'
                    },
                    {
                        value: 'Low or Medium or High',
                        text: 'Low or Medium or High',
                        selected: filters.riskLevelFilter == 'Low or Medium or High'
                    },
                    {
                        value: 'No Workplace Risk Assessment',
                        text: 'No Workplace Risk Assessment',
                        selected: filters.riskLevelFilter == 'No Workplace Risk Assessment'
                    }
                ] %}
                {{ govukSelect({
                    id: "riskLevelFilter",
                    name: "riskLevelFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people whose workplace risk assessment is:"
                    },
                    items: riskLevelOptions
                }) }}

                {% set incentiveLevelOptions = [
                    {
                        value: 'All Incentive Levels',
                        text: 'All Incentive Levels',
                        selected: filters.incentiveLevelFilter == 'All Incentive Levels'
                    }
                ] %}
                {% for incentiveLevel in incentiveLevels %}
                    {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                        {
                            value: incentiveLevel.iepDescription,
                            text: incentiveLevel.iepDescription,
                            selected: filters.incentiveLevelFilter == incentiveLevel.iepDescription
                        }
                    ), incentiveLevelOptions) %}
                {% endfor %}
                {% for incentiveLevel in incentiveLevels %}
                    {% if loop.first or loop.last %}
                        {% set option = incentiveLevel.iepDescription %}
                    {% else %}
                        {% set option = option + ' or ' + incentiveLevel.iepDescription %}
                        {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                            {
                                value: option,
                                text: option,
                                selected: filters.incentiveLevelFilter == option
                            }
                        ), incentiveLevelOptions) %}
                    {% endif %}
                {% endfor %}
                {% for incentiveLevel in incentiveLevels | reverse %}
                    {% if loop.first or loop.last %}
                        {% set option = incentiveLevel.iepDescription %}
                    {% else %}
                        {% set option = incentiveLevel.iepDescription + ' or ' + option %}
                        {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                            {
                                value: option,
                                text: option,
                                selected: filters.incentiveLevelFilter == option
                            }
                        ), incentiveLevelOptions) %}
                    {% endif %}
                {% endfor %}

                {{ govukSelect({
                    id: "incentiveLevelFilter",
                    name: "incentiveLevelFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people who have the following incentive level:"
                    },
                    items: incentiveLevelOptions
                }) }}
            </div>

            {{ govukButton({
                text: "Apply filters"
            }) }}
        </form>
    </div>

    {% set rows = [] %}
    {% for row in pagedCandidates.content %}
        {% set currentAllocationsHtml %}
            <ul class='govuk-list'>
                {% for allocation in row.otherAllocations %}
                    <li><a href='/allocation-dashboard/{{ allocation.scheduleId }}' class='govuk-link govuk-link--no-visited-state' target='_blank'>{{ allocation.activitySummary }}</a></li>
                {% else %}
                    <li>None</li>
                {% endfor %}
            </ul>
        {% endset %}
        {% set educationLevelHtml %}
            <div>
                {% for educationLevel in row.educationLevels %}
                    <div>{{ educationLevel.studyArea }} - {{ educationLevel.educationLevel }}</div>
                {% endfor %}
            </div>
        {% endset %}
        {% set id = 'selectedAllocation' + (('-' + loop.index0) if loop.index0 else '') %}
        {% set rows = (rows.push([
            {
                html: '
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input govuk-!-padding-top-3" id="' + id + '" name="selectedAllocation" type="radio" value="' + row.prisonerNumber + '">
                            <label class="govuk-label govuk-radios__label" for="' + id + '">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                                    <a href="' + dpsUrl + '/prisoner/' + row.prisonerNumber + '"
                                       class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">' + row.name | toTitleCase + '
                                    </a>
                                </h2>
                                <div class="govuk-hint govuk-!-margin-bottom-1">' + row.prisonerNumber + '</div>
                                <div class="govuk-hint govuk-!-margin-bottom-1">' + row.cellLocation + '</div>
                            </label>
                        </div>
                    </div>
                '
            },
            {
                html: currentAllocationsHtml
            },
            {
                text: row.releaseDate | formatDate('d MMMM yyyy') if row.releaseDate else 'TBC'
            },
            {
                html: educationLevelHtml
            }
        ]), rows) %}
    {% endfor %}

    <form method='POST' action='{{ schedule.id }}/allocate'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukTable({
            caption: "Candidates",
            captionClasses: "govuk-visually-hidden",
            head: [
                {
                    text: "Candidate details"
                },
                {
                    text: "Current allocations"
                },
                {
                    text: "Earliest release date"
                },
                {
                    text: "Education level"
                }
            ],
            rows: rows
        }) }}

        {% if pagedCandidates.totalPages > 1 %}
            {{ govukPagination({
                previous: {
                    href: "/page/" + (pagedCandidates.number - 1) + '?id=candidates-tab'
                } if not pagedCandidates.first,
                next: {
                    href: "/page/" + (pagedCandidates.number + 1) + '?id=candidates-tab'
                } if not pagedCandidates.last,
                items: [
                    {
                        number: 1,
                        href: "/page/0" + "?id=candidates-tab",
                        current: pagedCandidates.number == 0
                    },
                    {
                        ellipsis: true
                    },
                    {
                        number: pagedCandidates.number + 1,
                        current: true
                    } if pagedCandidates.number != (pagedCandidates.totalPages - 1) and pagedCandidates.number != 0,
                    {
                        ellipsis: true
                    } if pagedCandidates.number != (pagedCandidates.totalPages - 1) and pagedCandidates.number != 0,
                    {
                        number: pagedCandidates.totalPages,
                        href: "/page/" + (pagedCandidates.totalPages - 1) + '?id=candidates-tab',
                        current: pagedCandidates.number == pagedCandidates.totalPages - 1
                    }
                ]
            }) }}
        {% endif %}

        {% if rows.length > 0 %}
            {{ govukButton({
                text: "Select candidate"
            }) }}
        {% endif %}
    </form>
{% endset %}

{% set scheduleHtml %}
    {% set rows = [] %}

    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
        {% set columns = [
            {
                text: day
            }
        ] %}

        {% for timeSlot in ['am', 'pm', 'ed'] %}
            {% set slotMatches = false %}
            {% for slot in schedule.slots %}
                {% set dayMatchesSlot = day | startsWithAny(slot.daysOfWeek) %}
                {% set slotMatches = dayMatchesSlot and (slotMatches or slot.startTime | getTimeSlotFromTime == timeSlot) %}
            {% endfor %}

            {% set columns = (columns.push(
                {
                    html: govukTag({
                        text: "Yes" if slotMatches else "No",
                        classes: "govuk-tag--grey" if not slotMatches
                    })
                }
            ), columns) %}
        {% endfor %}

        {% set rows = (rows.push(columns), rows) %}
    {% endfor %}

    <p>Check the activity schedule is compatible with any current allocations. 
    You can check individual schedules using the <a href="{{ dpsUrl }}/prisoner-search?keywords=&location={{ user.activeCaseLoad.caseLoadId }}") }}
                                                    target='_blank' class='govuk-link--no-visited-state'>prisoner profile</a></p>
    <p>This schedule {{ "runs" if schedule.runsOnBankHoliday else "does not run" }} on bank holidays.</p>

    {{ govukTable({
        caption: "Schedule",
        captionClasses: "govuk-visually-hidden",
        head: [ { text: "Days" }, { text: "AM" }, { text: "PM" }, { text: "ED" } ],
        rows: rows
    }) }}
{% endset %}
