{% extends "layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Select Attended" %}
{% set pageId = 'select-attended-page' %}
{% set hardBackLinkText = 'Back' %}
{% set hardBackLinkHref = backLink %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ requiredSelections | length }} of the {{ attendanceDetails | length }}
            <span class="govuk-caption-l">Record activity attendance <span class="govuk-visually-hidden">for</span></span>
            {% if attendanceDetails | length > 1 %}
                {% if requiredSelections | length == 1 %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Select the activities that {{ requiredSelections[0] | formatName(NameFormatStyle.firstLast, false) }} attended</h1>
                    <p class="govuk-body">One of the people you're recording attendance for was allocated to more than one activity. Confirm which activity they attended</p>
                {% else %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Select the activities that {{ attendanceDetails | length }} people attended</h1>
                    <p class="govuk-body">{{ requiredSelections | length }} of the {{ attendanceDetails | length }} people you're recording attendance for were allocated to more than one activity. Confirm which activity they attended</p>
                {% endif %}
            {% else %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Select the activities that {{ attendanceDetails[0] | formatName(NameFormatStyle.firstLast, false) }} attended</h1>
                <p class="govuk-body">{{ attendanceDetails[0] | formatName(NameFormatStyle.firstLast, false) }} was allocated to more than one activity in this session. Confirm which activity they attended</p>
            {% endif %}
            
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% for prisoner in attendanceDetails %}
                    {% set prisonerIndex = loop.index0 %}
                    {% set hasActivityClash = false %}
                    <input type="hidden" name="{{ "attendedData[" + prisonerIndex + "][prisonerNumber]" }}" value="{{ prisoner.prisonerNumber }}"/>
                    <input type="hidden" name="{{ "attendedData[" + prisonerIndex + "][prisonerName]" }}" value="{{ prisoner | formatName(NameFormatStyle.firstLast, false) }}"/>

                    {% if prisoner.instances | length > 1 %}
                        {% if requiredSelections > 1 %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ prisoner | formatName(NameFormatStyle.lastCommaFirst, false) }}</h2>
                            <div class="govuk-hint">{{ prisoner.prisonerNumber }}</div>                            
                        {% endif %}

                        {% if not loop.first %}<hr class="govuk-!-margin-bottom-6"/>{% endif %}
                        {% set instanceCheckboxes = [] %}
                        {% for instance in prisoner.instances %}
                            {% set instanceCheckboxes = (instanceCheckboxes.push({
                                value: instance.id,
                                text: instance.activitySchedule.description,
                                checked: formResponses.attendedData[prisonerIndex].selectedInstanceIds and instance.id | string in formResponses.attendedData[prisonerIndex].selectedInstanceIds
                            }), instanceCheckboxes) %}
                        {% endfor %}

                        {{ govukCheckboxes({
                            name: "attendedData[" + prisonerIndex + "][selectedInstanceIds]",
                            fieldset: {
                                legend: {
                                    text: "Select the activities that " + prisoner | formatName(NameFormatStyle.firstLast, false) + " attended",
                                    classes: "govuk-visually-hidden"
                                }
                            },
                            items: instanceCheckboxes,
                            errorMessage: validationErrors | findError("attendedData-"  + prisonerIndex + "-selectedInstanceIds")
                        }) }}
                    {% else %}
                        <input type="hidden" name="{{ "attendedData[" + prisonerIndex + "][selectedInstanceIds]" }}" value="{{ prisoner.instances[0].id }}" />
                    {% endif %}

                {% endfor %}

                {{ govukButton({
                    text: "Confirm and record attendance",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}