{% extends "layout.njk" %}

{% from "partials/attendance/attendanceRowsTableWithStickySelect.njk" import attendanceRowsTableWithStickySelect %}

{% set pageTitle = applicationName + " - Select people by residential location" %}
{% set pageId = 'select-people-by-residential-location-page' %}
{% set hardBackLinkText = 'Back' %}
{% set hardBackLinkHref = "choose-details-by-residential-location" %}

{% set displayDate = activityDate | formatDate %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                <span class="govuk-caption-l">Record activity attendance <span class="govuk-visually-hidden">for</span></span>
                {{ location.name }} - record or edit activity attendance
                <span class="govuk-caption-l">{{ displayDate }} - {{ timePeriodFilter }}</span>
            </h1>
                
            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">{{ attendanceRows | length }}
                        {{ "person" if attendanceRows | length == 1 else "people" }} allocated</h2>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-full">
            <form method='POST' data-module="form-spinner" data-loading-text="Marking attendance">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ attendanceRowsTableWithStickySelect(attendanceRows, instance, user.activeCaseLoadId, true, false, 'select-people-by-residential-location/') }}
            </form>
        </div>
    </div>
{% endblock %}

    