{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Allocate to an activity - Activities" %}
{% set pageId = 'manage-allocations-activities-page' %}
{% set hardBackLinkHref = "/activities/allocations" %}
{% set hardBackLinkText = "Back" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Allocation dashboard</h1>
            <p class="govuk-body-l">Select an activity to see who is currently allocated, manage the waitlist, and allocate people.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class='related-tasks'>
                <ul class='govuk-list'>
                    <li><a href="/activities/create/start" class="govuk-link govuk-link--no-visited-state" target='_blank'>Create an activity</a></li>
                    <li><a href="/activities/dashboard" class="govuk-link govuk-link--no-visited-state" target='_blank'>Edit activities</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% set rows = [
                [
                    {
                        html: '<h2 class="govuk-heading-m govuk-!-margin-bottom-0">Total</h2>',
                        attributes: {
                            "data-sort-fixed": "bottom"
                        }
                    },
                    {
                        attributes: {
                            id: 'category-total',
                            "data-sort-fixed": "bottom"
                        },
                        text: ''
                    },
                    {
                        attributes: {
                            id: 'capacity-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.capacity
                    },
                    {
                        attributes: {
                            id: 'allocated-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.allocated
                    },
                    {
                        attributes: {
                            id: 'vacancies-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.vacancies
                    },
                    {
                        attributes: {
                            id: 'waitlist-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.waitlisted
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-total',
                            "data-sort-fixed": "bottom"
                        },
                        classes: 'govuk-table__cell--numeric govuk-!-font-weight-bold',
                        text: total.percentageAllocated + '%'
                    }
                ]
            ] %}

            {% for activity in activities %}
                {% set rows = (rows.push([
                    {
                        attributes: {
                            id: 'activity-' + loop.index,
                            "data-sort-value": activity.activityName | upper
                        },
                        html: '
                                <p class="govuk-heading-m govuk-!-margin-bottom-0">
                                    <a href="/activities/allocation-dashboard/' + activity.id + '" class="govuk-link govuk-link--no-visited-state">' + (activity.activityName | escape) + '</a>
                                </p>
                              '
                    },
                    {
                        attributes: {
                            id: 'category-' + loop.index,
                            "data-sort-value": activity.category.name
                        },
                        text: activity.category.name
                    },
                    {
                        attributes: {
                            id: 'capacity-' + loop.index,
                            "data-sort-value": activity.capacity
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: activity.capacity
                    },
                    {
                        attributes: {
                            id: 'allocated-' + loop.index,
                            "data-sort-value": activity.allocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: activity.allocated
                    },
                    {
                        attributes: {
                            id: 'vacancies-' + loop.index,
                            "data-sort-value": activity.vacancies
                        },
                        classes: 'govuk-table__cell--numeric',
                        html: '
                                <span class="govuk-tag govuk-tag--' + ('green' if activity.vacancies <= 0 else 'red') + '">' + activity.vacancies + '</span>
                              '
                    },
                    {
                        attributes: {
                            id: 'waitlist-' + loop.index,
                            "data-sort-value": activity.waitlisted
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: activity.waitlisted
                    },
                    {
                        attributes: {
                            id: 'percentage-allocated-' + loop.index,
                            "data-sort-value": activity.percentageAllocated
                        },
                        classes: 'govuk-table__cell--numeric',
                        text: activity.percentageAllocated + '%'
                    }
                ]), rows) %}
            {% endfor %}

            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table',
                    'data-table-fixed-rows': 'true'
                },
                classes: 'sticky-header',
                caption: "Activities",
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Activity",
                        attributes: {
                            "aria-sort": "ascending"
                        }
                    },
                    {
                        text: "Category",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Capacity",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Vacancies",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Waitlist",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    },
                    {
                        text: "Percentage allocated",
                        attributes: {
                            "aria-sort": "none"
                        },
                        classes: 'govuk-table__header--numeric'
                    }
                ],
                rows: rows
            }) }}
        </div>
    </div>
{% endblock %}
