{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/sticky-select.njk" import stickySelect %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/searchBar.njk" import searchBar %}
{% from "partials/splitLine.njk" import splitLine %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/activities/waitlist-status-badge.njk" import waitlistStatusBadge %}
{% from "partials/activities/suspension-badge.njk" import suspensionBadge %}
{% from "partials/earliestReleaseDate.njk" import earliestReleaseDate %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}

{% set pageTitle = applicationName + " - Allocate" %}
{% set pageId = 'allocation-dashboard-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Manage allocations</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ schedule.description }}</h1>
            <p class="govuk-body-l">Check the requirements for this activity so that you can allocate suitable candidates.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class='related-tasks'>
                <ul class='govuk-list'>
                    <li><a href="/activities/allocation-dashboard?preserveHistory=true" class="govuk-link govuk-link--no-visited-state">Find other activities with vacancies</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% include '../../../partials/activities/allocation-dashboard/currentAllocationInformationCard.njk' %}
    {% include '../../../partials/activities/allocation-dashboard/requirementsInformationCard.njk' %}

    {% set currentlyAllocatedHtml %}
        {% include '../../../partials/activities/allocation-dashboard/currentlyAllocatedHtml.njk' %}
    {% endset %}
    {% set waitlistHtml %}
        {% include '../../../partials/activities/allocation-dashboard/waitlistHtml.njk' %}
    {% endset %}
    {% set candidatesHtml %}
        {% include '../../../partials/activities/allocation-dashboard/candidatesHtml.njk' %}
    {% endset %}
    {% set scheduleHtml %}
        {% include '../../../partials/activities/allocation-dashboard/scheduleHtml.njk' %}
    {% endset %}

    {{ govukTabs({
        classes: "govuk-tabs--borderless",
        items: [
            {
                label: "Currently allocated",
                id: "currently-allocated-tab",
                panel: {
                    html: currentlyAllocatedHtml
                }
            },
            {
                label: "Waitlist",
                id: "waitlist-tab",
                panel: {
                    html: waitlistHtml
                }
            },
            {
                label: "Other people",
                id: "candidates-tab",
                panel: {
                    html: candidatesHtml
                }
            },
            {
                label: schedule.description + " schedule",
                id: "schedule-tab",
                panel: {
                    html: scheduleHtml
                }
            }
        ]
    }) }}
{% endblock %}
