{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/sticky-select.njk" import stickySelect %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/searchBar.njk" import searchBar %}
{% from "partials/showRequester.njk" import showRequester %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/activities/waitlist-status-badge.njk" import waitlistStatusBadge %}
{% from "partials/earliestReleaseDate.njk" import earliestReleaseDate %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}

{% set pageTitle = applicationName + " - Allocate" %}
{% set pageId = 'allocation-dashboard-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Manage allocations</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ schedule.description }}</h1>
            <p class="govuk-body-l">Check the requirements for this activity so that you can allocate suitable candidates.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class='related-tasks'>
                <ul class='govuk-list'>
                    <li><a href="/activities/allocation-dashboard?preserveHistory=true" class="govuk-link govuk-link--no-visited-state">Find other activities with vacancies</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-one-third">
            <div class="information-card">
                {{ govukTable({
                    caption: "Current allocation",
                    captionClasses: "govuk-table__caption--m",
                    firstCellIsHeader: true,
                    rows: [
                        [
                            {
                                text: "Vacancies:"
                            },
                            {
                                text: schedule.activity.capacity - schedule.activity.allocated
                            }
                        ],
                        [
                            {
                                text: "Allocated and due to attend:"
                            },
                            {
                                text: activeAllocations
                            }
                        ],
                        [
                            {
                                text: "Allocated but not started yet:"
                            },
                            {
                                text: schedule.activity.allocated - activeAllocations
                            }
                        ],
                        [
                            {
                                text: "Capacity:"
                            },
                            {
                                text: schedule.activity.capacity
                            }
                        ],
                        [
                            {
                                text: "On waitlist:"
                            },
                            {
                                text: waitlistSize
                            }
                        ]
                    ]
                }) }}
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="information-card">
                {% set requiredEducationHtml %}
                    <div>
                        {% for education in schedule.activity.minimumEducationLevel %}
                            <div>{{ education.studyAreaDescription }}: {{ education.educationLevelDescription }}</div>
                        {% else %}
                            None required
                        {% endfor %}
                    </div>
                {% endset %}

                {% set suitableForIepHtml %}
                    <div>{{ suitableForIep }}</div>
                    {% if schedule.activity.paid %}
                        <div class="govuk-!-margin-top-2">
                            <p class='govuk-hint'>You can control which incentive levels are suitable by <a class='govuk-link govuk-link--no-visited-state' href='/activities/view/{{ activity.id }}' target='_blank'>adding or removing corresponding pay rates.</a></p>
                        </div>
                    {% endif %}
                {% endset %}

                {{ govukTable({
                    caption: "Requirements",
                    captionClasses: "govuk-table__caption--m",
                    firstCellIsHeader: true,
                    rows: [
                        [
                            {
                                text: "Suitable for workplace risk assessment:"
                            },
                            {
                                text: suitableForWra
                            }
                        ],
                        [
                            {
                                text: "Suitable for incentive level:"
                            },
                            {
                                html: suitableForIepHtml
                            }
                        ],
                        [
                            {
                                text: "Education level:"
                            },
                            {
                                html: requiredEducationHtml
                            }
                        ]
                    ]
                }) }}
            </div>
        </div>
    </div>

    {{ govukTabs({
        classes: "govuk-tabs--borderless",
        items: [
            {
                label: "Currently allocated",
                id: "currently-allocated-tab",
                panel: {
                    html: currentlyAllocatedHtml
                }
            },
            {
                label: "Waitlist",
                id: "waitlist-tab",
                panel: {
                    html: waitlistHtml
                }
            },
            {
                label: "Other people",
                id: "candidates-tab",
                panel: {
                    html: candidatesHtml
                }
            },
            {
                label: schedule.description + " schedule",
                id: "schedule-tab",
                panel: {
                    html: scheduleHtml
                }
            }
        ]
    }) }}
{% endblock %}

{% set currentlyAllocatedHtml %}
    {% set rows = [] %}
    {% for row in currentlyAllocated %}
        {% set otherAllocationsHtml %}
            <ul class='govuk-list'>
                {% for allocation in row.otherAllocations %}
                    <li><a href='/activities/allocation-dashboard/{{ allocation.activityId }}' class='govuk-link govuk-link--no-visited-state' target='_blank'>{{ allocation.scheduleName | escape }}</a></li>
                {% else %}
                    <li>None</li>
                {% endfor %}
            </ul>
        {% endset %}

        {% set allocatedDatesHtml %}
            <div>{{ row.startDate | formatDate('d MMMM yyyy')}}</div>
            {% if row.endDate %}
                <div>to {{ row.endDate | formatDate('d MMMM yyyy') }}</div>
            {% endif %}
            {% if row.status == 'AUTO_SUSPENDED' or  row.status == 'SUSPENDED' %}
                <hr class="mid-grey-tint-20-hr dash-border">
                {{ govukTag({
                    text: "Suspended",
                    classes: "govuk-tag--red"
                }) }}
            {% endif %}
        {% endset %}

        {% set rows = (rows.push({
            visuallyHiddenText: 'Select ' + row.name | toTitleCase | prisonerName,
            value: row.allocationId,
            selectable: true,
            items: [
                {
                    html: showProfileLink({
                        name: row.name,
                        prisonerNumber: row.prisonerNumber,
                        inCaseLoad: row.prisonerPrisonCode == user.activeCaseLoadId
                    }),
                    attributes: {
                        "data-sort-value": row.name | prisonerName(false)
                    }
                },
                {
                    text: statusBasedCellLocation(row.cellLocation, row.prisonerStatus, row.prisonerPrisonCode == user.activeCaseLoadId)
                },
                {
                    html: allocatedDatesHtml,
                    attributes: {
                        "data-sort-value": row.startDate | formatDate('yyyy-MM-dd')
                    }
                },
                {
                    html: otherAllocationsHtml
                },
                {
                    html: earliestReleaseDate(row.earliestReleaseDate),
                    attributes: {
                        "data-sort-value": row.earliestReleaseDate.releaseDate | formatDate('yyyy-MM-dd')
                    }
                }
            ]
        }), rows) %}
    {% endfor %}

    <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ stickySelect({
            idPrefix: 'allocated',
            type: 'check',
            caption: "Currently allocated",
            captionClasses: "govuk-visually-hidden",
            name: 'selectedAllocations',
            head: [
                {
                    text: "Prisoner details",
                    attributes: { "aria-sort": "ascending" }
                },
                {
                    text: "Cell location",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Allocation start and end",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Other allocations"
                },
                {
                    text: "Earliest release date",
                    attributes: { "aria-sort": "none" }
                }
            ],
            rows: rows,
            actions: [
                {
                    text: 'Remove from activity',
                    formAction: activity.id + '/deallocate'
                },
                {
                    text: 'Edit allocation',
                    formAction: activity.id + '/check-allocation',
                    maxItems: 1
                }
            ],
            itemsDescription: 'person',
            itemsDescriptionPlural: 'people'
        }) }}
    </form>
{% endset %}

{% set waitlistHtml %}
    <div class='filter'>
        <form method='GET'>
            <div class="filter__items filter__items--quarters">
                {% set employmentOptions = [
                    {
                        value: 'Not in work',
                        text: 'Not in work',
                        selected: filters.employmentFilter == 'Not in work'
                    },
                    {
                        value: 'In work',
                        text: 'In work',
                        selected: filters.employmentFilter == 'In work'
                    },
                    {
                        value: 'Everyone',
                        text: 'Everyone',
                        selected: filters.employmentFilter == 'Everyone'
                    }
                ] %}
                {{ govukSelect({
                    name: "employmentFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people who are:"
                    },
                    items: employmentOptions
                }) }}

                {% set riskLevelOptions = [
                    {
                        value: 'Any Workplace Risk Assessment',
                        text: 'Any workplace risk assessment',
                        selected: filters.riskLevelFilter == 'Any Workplace Risk Assessment'
                    },
                    {
                        value: 'Low',
                        text: 'Low',
                        selected: filters.riskLevelFilter == 'Low'
                    },
                    {
                        value: 'Low or Medium',
                        text: 'Low or Medium',
                        selected: filters.riskLevelFilter == 'Low or Medium'
                    },
                    {
                        value: 'Low or Medium or High',
                        text: 'Low or Medium or High',
                        selected: filters.riskLevelFilter == 'Low or Medium or High'
                    },
                    {
                        value: 'No Workplace Risk Assessment',
                        text: 'No workplace risk assessment',
                        selected: filters.riskLevelFilter == 'No Workplace Risk Assessment'
                    }
                ] %}
                {{ govukSelect({
                    name: "riskLevelFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people whose workplace risk assessment is:"
                    },
                    items: riskLevelOptions
                }) }}

                {% set incentiveLevelOptions = [
                    {
                        value: suitableForIep,
                        text: 'Any suitable incentive level',
                        selected: filters.incentiveLevelFilter == suitableForIep
                    }
                ] %}
                {% for incentiveLevel in incentiveLevels %}
                    {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                        {
                            value: incentiveLevel.levelName,
                            text: incentiveLevel.levelName,
                            selected: filters.incentiveLevelFilter == incentiveLevel.levelName and incentiveLevel.levelName != suitableForIep
                        }
                    ), incentiveLevelOptions) %}
                {% endfor %}
                {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                    {
                        value: 'All Incentive Levels',
                        text: 'All incentive levels',
                        selected: filters.incentiveLevelFilter == 'All Incentive Levels'
                    }
                ), incentiveLevelOptions) %}
                {{ govukSelect({
                    name: "incentiveLevelFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people who have the following incentive level:"
                    },
                    items: incentiveLevelOptions
                }) }}

                {% set waitlistStatusOptions = [
                    {
                        value: 'Any',
                        text: 'Any',
                        selected: filters.waitlistStatusFilter == 'Any'
                    },
                    {
                        value: 'APPROVED',
                        text: 'Approved',
                        selected: filters.waitlistStatusFilter == 'APPROVED'
                    },
                    {
                        value: 'DECLINED',
                        text: 'Declined',
                        selected: filters.waitlistStatusFilter == 'DECLINED'
                    },
                    {
                        value: 'PENDING',
                        text: 'Pending',
                        selected: filters.waitlistStatusFilter == 'PENDING'
                    }
                ] %}
                {{ govukSelect({
                    name: "waitlistStatusFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people whose application is:"
                    },
                    items: waitlistStatusOptions
                }) }}
            </div>

            {{ govukButton({
                text: "Apply filters",
                name: 'filtersApplied',
                value: 'true'
            }) }}
        </form>
    </div>

    {% set rows = [] %}
    {% for row in waitlistedPrisoners %}
        {% set currentAllocationsHtml %}
            <ul class='govuk-list'>
                {% for allocation in row.otherAllocations %}
                    <li><a href='/activities/allocation-dashboard/{{ allocation.activityId }}' class='govuk-link govuk-link--no-visited-state' target='_blank'>{{ allocation.scheduleName | escape }}</a></li>
                {% else %}
                    <li>None</li>
                {% endfor %}
            </ul>
        {% endset %}
        {% set rows = (rows.push({
            visuallyHiddenText: 'Select ' + row.name | toTitleCase | prisonerName,
            value: row.waitlistApplicationId,
            selectable: true,
            forbiddenActionId: 'waitlist-action-1' if row.status != 'APPROVED',
            items: [
                {
                    html: showProfileLink({
                        name: row.name,
                        prisonerNumber: row.prisonerNumber,
                        cellLocation: statusBasedCellLocation(row.cellLocation, row.prisonerStatus, row.prisonerPrisonCode == user.activeCaseLoadId),
                        inCaseLoad: row.prisonerPrisonCode == user.activeCaseLoadId
                    }),
                    attributes: {
                        "data-sort-value": row.name | prisonerName(false)
                    }
                },
                {
                    html: showRequester(row.requestedBy, row.requestDate),
                    attributes: {
                        "data-sort-value": row.requestDate | formatDate('yyyy-MM-dd')
                    }
                },
                {
                    html: earliestReleaseDate(row.earliestReleaseDate)
                },
                {
                    html: currentAllocationsHtml
                },
                {
                    text: waitlistStatusBadge(row.status),
                    attributes: {
                     "data-sort-value": row.status
                    }
                }
            ]
        }), rows) %}
    {% endfor %}

    <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ stickySelect({
            idPrefix: 'waitlist',
            type: 'radio',
            caption: "Waitlist applications",
            captionClasses: "govuk-visually-hidden",
            name: 'selectedWaitlistApplication',
            head: [
                {
                    text: "Name",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Request date and requester",
                    attributes: { "aria-sort": "ascending" }
                },
                {
                    text: "Release date",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Current allocations"
                },
                {
                    text: "Status",
                    classes: 'min-width--110',
                    attributes: { "aria-sort": "none" }
                }
            ],
            rows: rows,
            actions: [
                {
                    text: 'View or edit application',
                    formAction: activity.id + '/view-waitlist-application'
                },
                {
                    text: 'Allocate',
                    formAction: activity.id + '/allocate?source=Waitlist' + (' - filters' if session.req.query.filtersApplied)
                }
            ],
            itemsDescription: 'person',
            itemsDescriptionPlural: 'people'
        }) }}
    </form>
{% endset %}

{% set candidatesHtml %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-one-half">
            <p>
                Select the person you want to allocate. The list shows people who are not currently allocated or on the waitlist. People who have had an application declined are shown.
                Use the filters to identify candidates, or search for someone.
            </p>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-one-half">
            <form method='GET'>
                <label class="govuk-label" for="candidate-search-input">Search by name or prison number:</label>
                {{ searchBar({
                    inputParams: {
                        id: 'candidate-search-input',
                        name: 'candidateQuery',
                        value: filters.candidateQuery
                    },
                    buttonParams: {
                        text: 'Search'
                    }
                }) }}
            </form>
        </div>
    </div>
    <div class='filter'>
        <form method='GET'>
            <div class="filter__items">
                {% set employmentOptions = [
                    {
                        value: 'Not in work',
                        text: 'Not in work',
                        selected: filters.employmentFilter == 'Not in work'
                    },
                    {
                        value: 'In work',
                        text: 'In work',
                        selected: filters.employmentFilter == 'In work'
                    },
                    {
                        value: 'Everyone',
                        text: 'Everyone',
                        selected: filters.employmentFilter == 'Everyone'
                    }
                ] %}
                {{ govukSelect({
                    id: "employmentFilter",
                    name: "employmentFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people who are:"
                    },
                    items: employmentOptions
                }) }}

                {% set riskLevelOptions = [
                    {
                        value: 'Any Workplace Risk Assessment',
                        text: 'Any workplace risk assessment',
                        selected: filters.riskLevelFilter == 'Any Workplace Risk Assessment'
                    },
                    {
                        value: 'Low',
                        text: 'Low',
                        selected: filters.riskLevelFilter == 'Low'
                    },
                    {
                        value: 'Low or Medium',
                        text: 'Low or Medium',
                        selected: filters.riskLevelFilter == 'Low or Medium'
                    },
                    {
                        value: 'Low or Medium or High',
                        text: 'Low or Medium or High',
                        selected: filters.riskLevelFilter == 'Low or Medium or High'
                    },
                    {
                        value: 'No Workplace Risk Assessment',
                        text: 'No Workplace Risk Assessment',
                        selected: filters.riskLevelFilter == 'No Workplace Risk Assessment'
                    }
                ] %}
                {{ govukSelect({
                    id: "riskLevelFilter",
                    name: "riskLevelFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people whose workplace risk assessment is:"
                    },
                    items: riskLevelOptions
                }) }}

                {% set incentiveLevelOptions = [
                    {
                        value: suitableForIep,
                        text: 'Any suitable incentive level',
                        selected: filters.incentiveLevelFilter == suitableForIep
                    }
                ] %}
                {% for incentiveLevel in incentiveLevels %}
                    {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                        {
                            value: incentiveLevel.levelName,
                            text: incentiveLevel.levelName,
                            selected: filters.incentiveLevelFilter == incentiveLevel.levelName and incentiveLevel.levelName != suitableForIep
                        }
                    ), incentiveLevelOptions) %}
                {% endfor %}
                {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                    {
                        value: 'All Incentive Levels',
                        text: 'All incentive levels',
                        selected: filters.incentiveLevelFilter == 'All Incentive Levels'
                    }
                ), incentiveLevelOptions) %}

                {{ govukSelect({
                    id: "incentiveLevelFilter",
                    name: "incentiveLevelFilter",
                    classes: "govuk-!-width-full",
                    label: {
                        text: "Showing people who have the following incentive level:"
                    },
                    items: incentiveLevelOptions
                }) }}
            </div>

            {{ govukButton({
                id: 'apply-filters',
                text: "Apply filters",
                name: 'filtersApplied',
                value: 'true'
            }) }}
        </form>
    </div>

    {% set rows = [] %}
    {% for row in pagedCandidates.content %}
        {% set currentAllocationsHtml %}
            <ul class='govuk-list'>
                {% for allocation in row.otherAllocations %}
                    <li><a href='/activities/allocation-dashboard/{{ allocation.activityId }}' class='govuk-link govuk-link--no-visited-state' target='_blank'>{{ allocation.activitySummary }}</a></li>
                {% else %}
                    <li>None</li>
                {% endfor %}
            </ul>
        {% endset %}
        {% set rows = (rows.push({
            visuallyHiddenText: 'Select ' + row.name | toTitleCase,
            value: row.prisonerNumber,
            selectable: true,
            items: [
                {
                    html: showProfileLink({
                        name: row.name,
                        prisonerNumber: row.prisonerNumber,
                        cellLocation: row.cellLocation
                    }),
                    attributes: {
                        "data-sort-value": row.name | prisonerName(false)
                    }
                },
                {
                    html: currentAllocationsHtml
                },
                {
                    html: earliestReleaseDate(row.earliestReleaseDate)
                }
            ]
        }), rows) %}
    {% endfor %}

    <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ stickySelect({
            idPrefix: 'candidate',
            type: 'radio',
            caption: "Candidates",
            captionClasses: "govuk-visually-hidden",
            name: 'selectedAllocation',
            head: [
                {
                    text: "Candidate details"
                },
                {
                    text: "Current allocations"
                },
                {
                    text: "Earliest release date"
                }
            ],
            rows: rows,
            actions: [
                {
                    text: 'Allocate',
                    formAction: activity.id + '/allocate?source=Other people' +
                        (' - search' if filters.candidateQuery and not session.req.query.filtersApplied) +
                        (' - filters' if session.req.query.filtersApplied)
                }
            ],
            itemsDescription: 'person',
            itemsDescriptionPlural: 'people',
            pagination: {
                previous: {
                    title: 'Previous page',
                    label: pagedCandidates.number + ' of ' + pagedCandidates.totalPages,
                    href: '/page/' + (pagedCandidates.number - 1) + '?id=candidates-tab'
                } if not pagedCandidates.first,
                next: {
                    title: 'Next page',
                    label: (pagedCandidates.number + 2) + ' of ' + pagedCandidates.totalPages,
                    href: '/page/' + (pagedCandidates.number + 1) + '?id=candidates-tab'
                } if not pagedCandidates.last
            }
        }) }}
    </form>
{% endset %}

{% set scheduleHtml %}
    <p>This activity {{ "runs" if schedule.runsOnBankHoliday else "does not run" }} on bank holidays.</p>
    {% for week, slots in dailySlots %}
        {% set rows = [] %}
        {% if scheduleWeeks > 1 %}
            <h2 class="govuk-heading-m">Week {{ week }}</h2>
        {% endif %}
        {{ govukTag({
            text: "Current week", classes: 'govuk-tag--small govuk-tag--green'
        }) if scheduleWeeks > 1 and currentWeek == week }}
        {% for day in slots %}
            {% set columns = [
                {
                    text: day.day,
                    classes: 'govuk-!-width-one-quarter'
                }
            ] %}
            {% for timeSlot in ['am', 'pm', 'ed'] %}
                {% set slotMatches = false %}

                {% for slot in day.slots %}
                    {% set slotMatches = (slot == timeSlot) or slotMatches %}
                {% endfor %}

                {% set columns = (columns.push(
                    {
                        html: govukTag({
                            text: "Yes" if slotMatches else "No",
                            classes: "govuk-tag--grey" if not slotMatches
                        })
                    }
                ), columns) %}
            {% endfor %}
            {% set rows = (rows.push(columns), rows) %}
        {% endfor %}
        {{ govukTable({
            caption: "Schedule",
            captionClasses: "govuk-visually-hidden",
            head: [ { text: "Days" }, { text: "AM" }, { text: "PM" }, { text: "ED" } ],
            rows: rows,
            classes: "govuk-!-margin-bottom-6"
        }) }}
    {% endfor %}
{% endset %}
