{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Update allocation - Check answers" %}
{% set pageId = 'check-allocation-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{ allocation.activitySummary }}</span>
            <span class="govuk-heading-xl">Change allocation details for {{ prisonerName }} ({{ allocation.prisonerNumber }})</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Start of allocation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ allocation.startDate | formatDate('EEEE, dd MMMM yyyy') }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if isStarted %}
                                {{ govukTag({
                                    text: "Started",
                                    classes: "govuk-tag--green"
                                }) }}
                            {% else %}
                                <a href="/activities/allocation-dashboard/{{ allocation.id }}/start-date"
                                   class="govuk-link govuk-link--no-visited-state">
                                    Change
                                </a>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            End of allocation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if allocation.endDate %}
                                {{ allocation.endDate | formatDate('EEEE, dd MMMM yyyy') }}
                            {% else %}
                                None set
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if allocation.endDate %}
                                <a href="/activities/allocation-dashboard/{{ allocation.id }}/end-date-option"
                                   class="govuk-link govuk-link--no-visited-state">
                                    Change
                                </a>
                            {% else %}
                                <a href="/activities/allocation-dashboard/{{ allocation.id }}/end-date"
                                   class="govuk-link govuk-link--no-visited-state">
                                    Change
                                </a>
                            {% endif %}
                        </dd>
                    </div>
                    {% if allocation.endDate %}
                      <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Reason for allocation ending
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                          {{ allocation.plannedDeallocation.plannedReason.description }}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                            <a href="/activities/allocation-dashboard/{{ allocation.id }}/reason"
                                               class="govuk-link govuk-link--no-visited-state">
                                                Change
                                            </a>
                                    </dd>
                       </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Pay rate
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ (pay.prisonPayBand.alias + ' - ' + pay.rate | toMoney) if pay else '£0' }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if isOnlyPay %}
                                No alternative pay rates
                            {% else %}
                                <a href="/activities/allocation-dashboard/{{ allocation.id }}/pay-band"
                                   class="govuk-link govuk-link--no-visited-state">
                                    Change
                                </a>
                            {% endif %}
                        </dd>
                    </div>
                </dl>
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Return to currently allocated"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
