{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}

{% set pageTitle = applicationName + " - Edit allocation - End date" %}
{% set pageId = 'edit-allocation-end-date-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ session.allocateJourney.activity.name }}</span>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ hmppsDatePicker({
                    id: 'endDate',
                    name: 'endDate',
                    label: {
                        text: "When is " + session.allocateJourney.inmate.prisonerName + "'s last day on this activity?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    classes: 'hmpps-datepicker--fixed-width',
                    hint: {
                        text: 'Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select'
                    },
                    errorMessage: validationErrors | findError('endDate'),
                    value: formResponses.endDate or session.allocateJourney.endDate | isoDateToDatePickerDate
                }) }}

                {{ govukInsetText({
                  text: "Note that their name will be on any unlock and movement lists that have already been printed."
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({ text: "Continue" }) }}
                    <a class="govuk-link js-backlink" href="/activities/allocation-dashboard/{{session.allocateJourney.activity.activityId}}/check-allocation/{{session.allocateJourney.inmate.prisonerNumber}}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
