{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Edit Allocation - Pay band" %}
{% set pageId = 'pay-band-page' %}
{% set backLinkHref = "/" %}
{% set backLinkHref = '/activities/allocation-dashboard/'+ scheduleId + '/check-allocation/' +prisonerNumber %}

{% set bandOptions = [] %}
{% for pay in payBands %}
    {% set bandOptions = (bandOptions.push(
        {
            value: pay.bandId,
            text: pay.bandAlias + ' (' + pay.rate | toMoney + ')',
            checked: formResponses.payBand == pay.bandId or payBandId == pay.bandId
        }
    ), bandOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Select a pay band for {{ prisonerName }}, {{ prisonerNumber }}</h1>
            <p class="govuk-body">
                The current incentive level for {{ prisonerName }} is <span class="govuk-!-font-weight-bold">{{ incentiveLevel }}</span>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" id="allocationId" name="allocationId" value="{{ allocationId }}">
                <input type="hidden" id="scheduleId" name="scheduleId" value="{{ scheduleId }}">
                <input type="hidden" id="prisonerNumber" name="prisonerNumber" value="{{ prisonerNumber }}">
                {{ govukRadios({
                    name: "payBand",
                    errorMessage: validationErrors | findError('payBand'),
                    items: bandOptions
                }) }}

                {{ govukButton({
                    text: "Update pay band"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
