{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Edit Allocation - Pay band" %}
{% set pageId = 'pay-band-page' %}
{% set backLinkHref = "/" %}
{% set backLinkHref = '/activities/allocation-dashboard/'+ scheduleId + '/check-allocation/' +prisonerNumber %}

{% set bandOptions = [] %}
{% for pay in payBands %}
    {% set bandOptions = (bandOptions.push(
        {
            value: pay.bandId,
            text: pay.bandAlias + ' - ' + pay.rate | toMoney,
            checked: formResponses.payBand == pay.bandId or payBandId == pay.bandId
        }
    ), bandOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ allocation.activitySummary }}</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Change the pay rate for {{ prisonerName }}, {{ prisonerNumber }}</h1>
            {{ govukInsetText ({
                html: prisonerName + ' is currently on <span class="govuk-!-font-weight-bold">' + incentiveLevel | lower + '</span> incentive level.'
            }) }}
            </p>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" id="allocationId" name="allocationId" value="{{ allocationId }}">
                <input type="hidden" id="scheduleId" name="scheduleId" value="{{ scheduleId }}">
                <input type="hidden" id="prisonerNumber" name="prisonerNumber" value="{{ prisonerNumber }}">
                {{ govukRadios({
                    name: "payBand",
                    errorMessage: validationErrors | findError('payBand'),
                    items: bandOptions
                }) }}

                {{ govukButton({
                    text: "Update pay band"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
