{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "components/datePicker.njk" import datePicker %}

{% set pageTitle = applicationName + " - Edit allocation - Start date" %}
{% set pageId = 'edit-allocation-start-date-page' %}
{% set backLinkHref = '/activities/allocation-dashboard/'+ activityId + '/check-allocation/' +prisonerNumber %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ allocation.activitySummary }}</span>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ datePicker({
                    id: 'startDate',
                    label: {
                        text: "Change when you want " + prisonerName + " to start attending this activity",
                        classes: "govuk-fieldset__legend--xl",
                        isPageHeading: true
                    },
                    hint: {
                        text: "For example, " + exampleDate()
                    },
                    renderedErrorMessage: validationErrors | findError('startDate'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.startDate or startDate
                }) }}
                <input type="hidden" id="endDate" name="endDate" value="{{ endDate }}">
                <input type="hidden" id="allocationId" name="allocationId" value="{{ allocationId }}">
                <input type="hidden" id="activityId" name="activityId" value="{{ activityId }}">
                <input type="hidden" id="prisonerNumber" name="prisonerNumber" value="{{ prisonerNumber }}">
                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Update start date"
                  }) }}
                    <a class="govuk-link js-backlink" href="/activities/allocation-dashboard/{{activityId}}/check-allocation/{{prisonerNumber}}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
