{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Spikes" %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="GET" action="/spikes/calendar-spike">
                {{ govukInput({
                    label: {
                        text: "Prisoner number",
                        classes: "govuk-label--xl",
                        isPageHeading: true
                    },
                    hint: {
                        text: "The number of the prisoner whose calendar you wish to view. "
                    },
                    id: "prisonerNumber",
                    name: "prisonerNumber",
                    classes: "govuk-!-width-one-half",
                    errorMessage: validationErrors | findError('name')
                }) }}

                {{ govukButton({
                    text: "OK"
                }) }}
            </form>
        </div>
    </div> 
{% endblock %}