{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/datePicker.njk" import datePicker %}

{% set pageTitle = "Choose date of appointments" %}
{% set pageId = 'create-schedule-start-date-page' %}
{% set hardBackLinkText = "Back to all appointment tasks" %}
{% set hardBackLinkHref = "/appointments" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <span class="govuk-caption-l" data-qa="caption">Manage appointments</span>

                {{ datePicker({
                    id: 'startDate',
                    label: {
                        text: "What date do you want to view appointments for?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "For example, " + exampleDate()
                    },
                    renderedErrorMessage: validationErrors | findError('startDate'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.startDate or session.createJourney.startDate
                }) }}
                
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
