.govuk-tag {
  vertical-align: middle;
}

.govuk-tag--small {
  font-size: .875rem;
  line-height: 1;
}

.govuk-tag--dark-green {
  background: govuk-colour("green");
  color: govuk-colour("white");
}

.govuk-tag--red-border {
  border: 3px solid #d34700;
  color: #d34700;
  background-color: white;
}
