{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create an activity - Category" %}
{% set pageId = 'category-page' %}
{% set backLinkHref = "/allocate" %}

{% set categoryOptions = [] %}
{% for category in categories %}
    {% set categoryOptions = (categoryOptions.push(
        {
            value: category.id,
            text: category.name,
            hint: {
                text: category.description
            },
            checked: formResponses.category == category.id or session.createJourney.category.id == category.id
        }
    ), categoryOptions) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Select a category for the new activity",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                    },
                    name: "category",
                    errorMessage: validationErrors | findError('category'),
                    items: categoryOptions
                }) }}

                {% if session.req.query.fromEditActivity %}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update category"
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
