{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create an activity - Check education levels" %}
{% set pageId = 'check-education-levels-page' %}
{% set backLinkHref = "education-level" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-m">{{ session.createJourney.category.name }} | Risk level: {{ session.createJourney.riskLevel | toTitleCase }} | Minimum incentive: {{ session.createJourney.minimumIncentiveLevel }}</span>
            <span class="govuk-heading-m">{{ session.createJourney.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Review education levels and qualifications for {{ session.createJourney.name }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% for educationLevel in educationLevels %}
                {% set rows = [] %}
                    {% set rows = (rows.push(
                    {
                        key: {
                            text: educationLevel.educationLevelCode
                        },
                        value: {
                            text: educationLevel.educationLevelDescription
                        },
                        actions: {
                            items: [
                                {
                                    href: "remove-education-level?code=" + educationLevel.educationLevelCode,
                                    text: "Remove",
                                    visuallyHiddenText: "remove education level"
                                }
                            ]
                        }
                    }
                    ), rows) %}
                <h2 class='govuk-heading-m'>Level or qualification</h2>
                {{ govukSummaryList({
                    rows: rows
                }) }}
            {% endfor %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm education levels"
                    }) }}
                    {{ govukButton({
                        text: "Add another education level",
                        href: 'education-level',
                        classes: "govuk-button--secondary"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
