{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create an activity - education level" %}
{% set pageId = 'create-activity-education-level-page' %}
{% set backLinkHref = "qualification" %}

{% set options = [{ value: '', text: '' }] %}
{% for referenceCode in referenceCodes %}
    {% set options = (options.push( { value: referenceCode.code, text: referenceCode.description }), options) %}
{% endfor %}

{% block meta %}
    <meta name="autocompleteElements" content="referenceCode"/>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-m">{{ session.createJourney.category.name }} | Risk level: {{ session.createJourney.riskLevel | toTitleCase }} | Minimum incentive: {{ session.createJourney.minimumIncentiveLevel }}</span>
            <span class="govuk-heading-m">{{ session.createJourney.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Select education levels or other qualifications</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p>Choose the education level or qualification that participants need to be eligible for this activity.</p>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSelect({
                    id: "referenceCode",
                    name: "referenceCode",
                    label: {
                        text: "Education Level",
                        classes: 'govuk-visually-hidden'
                    },
                    hint: {
                        text: "Start typing an education level and select from the list of options."
                    },
                    errorMessage: validationErrors | findError('referenceCode'),
                    value: formResponses.referenceCode or session.createActivityJourney.educationLevels.educationLevelCode,
                    items: options
                }) }}
                {{ govukButton({
                    text: "Review and add more education levels"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
