{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "components/datePicker.njk" import datePicker %}

{% set pageTitle = applicationName + " - Create a schedule - End date" %}
{% set pageId = 'create-schedule-end-date-page' %}
{% set backLinkHref = "end-date-option" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-m">{{ session.createJourney.category.name }} | Risk level: {{ session.createJourney.riskLevel | toTitleCase }} | Minimum incentive: {{ session.createJourney.minimumIncentiveLevel }}</span>
            <span class="govuk-heading-m">{{ session.createJourney.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ datePicker({
                    id: 'endDate',
                    label: {
                        text: "Enter the end date for this activity",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "For example, 31 01 2023"
                    },
                    renderedErrorMessage: validationErrors | findError('endDate'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.endDate or session.createJourney.endDate
                }) }}
                <input type="hidden" id="startDate" name="startDate" value="{{ startDate }}">
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
