{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create a schedule - Location" %}
{% set pageId = 'create-schedule-location-page' %}
{% set backLinkHref = "bank-holiday-option" %}

{% set options = [{ value: '-', text: '' }] %}
{% for location in locations %}
    {% set options = (options.push( { value: location.locationId, text: location.userDescription }), options) %}
{% endfor %}

{% block meta %}
    <meta name="autocompleteElements" content="location"/>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-m">{{ session.createJourney.category.name }} | Risk level: {{ session.createJourney.riskLevel | toTitleCase }} | Minimum incentive: {{ session.createJourney.minimumIncentiveLevel }}</span>
            <span class="govuk-heading-m">{{ session.createJourney.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSelect({
                    id: "location",
                    name: "location",
                    label: {
                        text: "Where does this activity take place?",
                        classes: "govuk-label--xl",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Start typing a location and select from the list of options."
                    },
                    formGroup: {
                        classes: "location-autocomplete-formgroup"
                    },
                    errorMessage: validationErrors | findError('location'),
                    value: formResponses.location or session.createJourney.location.id,
                    items: options
                }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
