{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create an activity - Qualifications" %}
{% set pageId = 'qualification-page' %}
{% set backLinkHref = "check-pay" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-m">{{ session.createJourney.category.name }} | Risk level: {{ session.createJourney.riskLevel | toTitleCase }} | Minimum incentive: {{ session.createJourney.minimumIncentiveLevel }}</span>
            <span class="govuk-heading-m">{{ session.createJourney.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Do people allocated on this activity need certain education levels or other qualifications?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    name: "qualificationOption",
                    errorMessage: validationErrors | findError('qualificationOption'),
                    classes: 'govuk-radios--inline',
                    items: [
                        {
                            value: "yes",
                            html: "Yes",
                            checked: formResponses.qualificationOption == 'yes' or session.createJourney.qualificationOption == 'yes'
                        },
                        {
                            value: "no",
                            html: "No",
                            checked: formResponses.qualificationOption == 'no' or session.createJourney.qualificationOption == 'no'
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
