{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create an activity - Remove pay confirmation" %}
{% set pageId = 'create-activity-remove-pay-confirmation-page' %}
{% set backLinkHref = "/create/check-pay" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="iep" value="{{ iep }}" />
                <input type="hidden" name="bandId" value="{{ bandId }}" />
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    name: "choice",
                    fieldset: {
                        legend: {
                            text: "Are you sure you want to remove this pay rate?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage: validationErrors | findError('choice'),
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Confirm"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
