{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create an activity - Risk level" %}
{% set pageId = 'risk-level-page' %}
{% set backLinkHref = "name" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-m">{{ session.createJourney.category.name }}</span>
            <span class="govuk-heading-m">{{ session.createJourney.name }}</span>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Workplace risk assessment levels: which ones are suitable for this activity?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                    },
                    name: "riskLevel",
                    errorMessage: validationErrors | findError('riskLevel'),
                    hint: {
                        text: "Select the relevant workplace risk assessment levels for this activity.
                        The levels you select will be used to filter candidates before allocation."
                    },
                    items: [
                        {
                            value: "low",
                            html: "Only <span class='govuk-!-font-weight-bold'>low workplace
                                risk assessment level</span> is suitable",
                            checked: formResponses.riskLevel == 'low' or session.createJourney.riskLevel == 'low'
                        },
                        {
                            value: "medium",
                            html: "<span class='govuk-!-font-weight-bold'>Either low or medium workplace
                                risk assessment levels</span> are suitable",
                            checked: formResponses.riskLevel == 'medium' or session.createJourney.riskLevel == 'medium'
                        },
                        {
                            value: "high",
                            html: "<span class='govuk-!-font-weight-bold'>Any of low, medium or high workplace
                                risk assessment levels</span> are suitable",
                            checked: formResponses.riskLevel == 'high' or session.createJourney.riskLevel == 'high'
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
