{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/datePicker.njk" import datePicker %}

{% set pageTitle = applicationName + " - Unlock list" %}
{% set pageId = 'select-date-and-location-page' %}
{% set backLinkHref = "/activities/unlock-list" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Not attended yet list: select a date</h1>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                {{ govukRadios({
                    name: "dateOption",
                    hint: {
                        text: "You can view the list for any of the last 15 days."
                    },
                    errorMessage: validationErrors | findError('dateOption'),
                    items: [
                        {
                            value: "today",
                            text: "Today - " + now | formatDate('d MMMM yyyy', false),
                            checked: formResponses.dateOption == 'today'
                        },
                        {
                            value: "yesterday",
                            text: "Yesterday - " + now | addDays(-1) | formatDate('d MMMM yyyy', false),
                            checked: formResponses.dateOption == 'yesterday'
                        },
                        {
                            value: "other",
                            text: "A different date",
                            label: { text: "Unlock date "},
                            checked: formResponses.dateOption == 'other',
                            conditional: { html:
                              datePicker({
                                id: 'date',
                                hint: { text: 'For example, 27 3 2022' },
                                renderedErrorMessage: validationErrors | findError('date'),
                                validationErrors: validationErrors,
                                formResponses: formResponses.date
                              })
                           }
                        }
                    ]
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        type: "submit"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
