{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = "Does the activity take place inside or outside the prison grounds? - Activities - DPS" %}
{% set pageId = 'activity-type-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ activityJourneyCaption(createJourney) }}
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Does the activity take place inside or outside the prison grounds?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    name: "type",
                    errorMessage: validationErrors | findError('type'),
                    items: [
                        {
                            value: "internal",
                            text: "Inside",
                            checked: formResponses.type == 'internal' or createJourney.type == 'internal'
                        },
                        {
                            value: "external",
                            text: "Outside",
                            hint: {
                                text: "The activity category will be set as ‘Outside activity’."
                            },
                            checked: formResponses.type == 'external' or createJourney.type == 'external'
                        }
                    ]
                }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
