{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create a schedule - Activity times option" %}
{% set pageId = 'activity-times-option-page' %}
{% set jsBackLink = true %}
{% set regimeTimes %}
    <table class="govuk-table">
        {% for schedule in regimeTimes %}
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ schedule.daysOfWeek }}</td>
                <td class="govuk-table__cell">AM - {{ schedule.amStart }} to {{ schedule.amFinish }}</td>
                <td class="govuk-table__cell">PM - {{ schedule.pmStart }} to {{ schedule.pmFinish }}</td>
                <td class="govuk-table__cell">ED - {{ schedule.edStart }} to {{ schedule.edFinish }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endset %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Select how to set the activity start and end times</h1>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    id: "ActivtyTimesOption",
                    name: "ActivtyTimesOption",
                    items: [
                        {
                            value: "regime",
                            text: "Use the prison\'s regime times",
                            checked: session.createJourney.usePrisonRegimeTime == true
                        },
                        {
                            value: "custom",
                            text: "Select the start and end times",
                            checked: session.createJourney.usePrisonRegimeTime == false
                        }
                    ],
                    errorMessage: validationErrors | findError('usePrisonRegimeTime'),
                    hint: {
                        text: "If the sessions of this activity do not follow the prison\'s regime times, you can set different start and end times."
                    }
                }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
                {{ govukDetails({
                summaryText: "Check the prison\'s regime times for the sessions when this activity runs",
                html: regimeTimes
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
