{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create a schedule - Bank Holiday option" %}
{% set pageId = 'create-schedule-bank-holiday-option-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Does this activity run on bank holidays?</h1>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                      {% if session.req.query.fromEditActivity %}
                        {{ govukInsetText({
                          text: "Any changes to the schedule will take effect from tomorrow."
                        }) }}
                      {% endif %}
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    name: "runsOnBankHoliday",
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: session.createJourney.runsOnBankHoliday == true
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: session.createJourney.runsOnBankHoliday == false
                        }
                    ],
                    errorMessage: validationErrors | findError('runsOnBankHoliday')
                }) }}
                {% if session.req.query.fromEditActivity %}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update bank holiday scheduling"
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
