{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create a schedule - Capacity" %}
{% set pageId = 'create-schedule-capacity-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ activityJourneyCaption(session.createJourney) }}
                {{ govukInput({
                    label: {
                        text: "Change the capacity" if session.req.params.mode == 'edit' else "How many people can be allocated to this activity?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        html: '
                            <p class="govuk-hint">Enter the maximum number (known as capacity) of people who can be allocated.</p>
                            <p class="govuk-hint">You\'ll be able to overallocate to ensure the activity is not short-handed.</p>
                        '
                    },
                    id: "capacity",
                    name: "capacity",
                    inputmode: "numeric",
                    spellcheck: false,
                    classes: "govuk-input--width-5",
                    errorMessage: validationErrors | findError('capacity'),
                    value: formResponses.capacity or session.createJourney.capacity
                }) }}
                {% if session.req.params.mode == 'edit' %}
                    {{ govukInsetText({
                      text: (session.createJourney.allocations | length) + " people are currently allocated to this activity."
                    }) }}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update capacity",
                        preventDoubleClick: true
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
