{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Check education levels" %}
{% set pageId = 'check-education-levels-page' %}
{% set backLinkHref = "education-level" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class='govuk-heading-l'>Review education levels and qualifications</h2>

            {% if educationLevels | length %}
                <h2 class='govuk-heading-m'>Level or qualification</h2>
            {% else %}
                <p class="govuk-body">No levels or qualifications added</p>
            {% endif %}

            {% if session.req.query.fromEditActivity %}
                {% set fromEditText = "&fromEditActivity=true" %}
            {% else %}
                {% set fromEditText = "" %}
            {% endif %}
            {% for educationLevel in educationLevels %}
                {% set rows = [] %}
                    {% set rows = (rows.push(
                    {
                        key: {
                            text: educationLevel.educationLevelDescription
                        },
                        value: {
                            text: educationLevel.studyAreaDescription
                        },
                        actions: {
                            items: [
                                {
                                    href: "remove-education-level?eduLevel=" + educationLevel.educationLevelCode + "&studyArea=" + educationLevel.studyAreaCode + fromEditText,
                                    text: "Remove",
                                    visuallyHiddenText: "remove education level"
                                }
                            ]
                        }
                    }
                    ), rows) %}
                {{ govukSummaryList({
                    rows: rows
                }) }}
            {% endfor %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div>
                    {{ govukButton({
                        text: "Add a qualification",
                        href: 'education-level' + ('?fromEditActivity=true' if session.req.query.fromEditActivity),
                        classes: "govuk-button--secondary govuk-!-margin-bottom-8"
                    }) }}
                </div>
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
