{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}
{% from "partials/activities/days-and-times.njk" import daysAndTimes %}

{% set pageTitle = applicationName + " - Create an activity - Check answers" %}
{% set pageId = 'check-answers-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Check details for {{ session.createJourney.name }}</h1>

            <h2 class="govuk-heading-m">Activity details</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Activity category"
                        },
                        value: {
                            text: session.createJourney.category.name
                        },
                        actions: {
                            items: [
                                {
                                    href: "category?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change category"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Activity name"
                        },
                        value: {
                            text: session.createJourney.name
                        },
                        actions: {
                            items: [
                                {
                                    href: "name?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change name"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Requirements and pay</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Suitable workplace risk assessment levels"
                        },
                        value: {
                            text: ("Low" if session.createJourney.riskLevel == 'low') +
                            ("Low and Medium" if session.createJourney.riskLevel == 'medium') +
                            ("Low, Medium and High" if session.createJourney.riskLevel == 'high')
                        },
                        actions: {
                            items: [
                                {
                                    href: "risk-level?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change risk level"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Education levels"
                        },
                        value: {
                            html: educationLevelSummary(session.createJourney.educationLevels)
                        },
                        actions: {
                            items: [
                                {
                                    href: "check-education-level?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change education levels"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Pay rates"
                        },
                        value: {
                            html: paySummary(incentiveLevelPays, session.createJourney.flat)
                        },
                        actions: {
                            items: [
                                {
                                    href: "check-pay?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change pay rates"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Schedule and dates</h2>
            {% set scheduleRows = [
                {
                    key: {
                        text: "Start date"
                    },
                    value: {
                        text: session.createJourney.startDate | parseIsoDate | formatDate('do MMMM yyyy')
                    },
                    actions: {
                        items: [
                            {
                                href: "start-date?preserveHistory=true",
                                text: "Change",
                                visuallyHiddenText: "change start date"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "End date"
                    },
                    value: {
                        text: session.createJourney.endDate | parseIsoDate | formatDate('do MMMM yyyy') if session.createJourney.endDate else 'Not set'
                    },
                    actions: {
                        items: [
                            {
                                href: "end-date?preserveHistory=true",
                                text: "Change",
                                visuallyHiddenText: "change end date"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Repeats"
                    },
                    value: {
                        text: session.createJourney.scheduleWeeks + ' weekly' if session.createJourney.scheduleWeeks > 1 else 'Weekly'
                    },
                    actions: {
                        items: [
                            {
                                href: "schedule-frequency?preserveHistory=true",
                                text: "Change",
                                visuallyHiddenText: "change schedule frequency"
                            }
                        ]
                    }
                }
            ] %}

            {% for week, slots in dailySlots %}
                {% set scheduleRows = (scheduleRows.push(
                    {
                        key: {
                            text: 'Week ' + week
                        },
                        value: { html: daysAndTimes(slots) },
                        actions: {
                            items: [{
                                href: "days-and-times/" + week + "?preserveHistory=true",
                                text: "Change",
                                visuallyHiddenText: "Change schedule"
                            }]
                        }
                    }
                ), scheduleRows) %}
            {% endfor %}

            {% set scheduleRows = (scheduleRows.push(
                {
                    key: { text: "Runs on bank holidays" },
                    value: { text: "Yes" if session.createJourney.runsOnBankHoliday else "No"},
                    actions: {
                        items: [{
                            href: "bank-holiday-option?preserveHistory=true",
                            text: "Change",
                            visuallyHiddenText: "Change bank holiday option"
                        }]
                    }
                }
            ), scheduleRows) %}

            {{ govukSummaryList({
                rows: scheduleRows
            }) }}

            <h2 class="govuk-heading-m">Location and capacity</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: locationText(session.createJourney)
                        },
                        actions: {
                            items: [
                                {
                                    href: "location?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change location"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Capacity"
                        },
                        value: {
                            text: session.createJourney.capacity
                        },
                        actions: {
                            items: [
                                {
                                    href: "capacity?preserveHistory=true",
                                    text: "Change",
                                    visuallyHiddenText: "change capacity"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Create activity"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% macro paySummary(incentiveLevelPays) %}
    {% for incentiveLevelPay in incentiveLevelPays %}
        <div class="govuk-!-margin-bottom-2">
            <div class="govuk-!-font-weight-bold">{{ incentiveLevelPay.incentiveLevel }} incentive level pay</div>
            {% for pay in incentiveLevelPay.pays %}
                <div>{{ pay.prisonPayBand.alias }}: {{ pay.rate | toMoney }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    {% if session.createJourney.flat | length %}
        <div class="govuk-!-margin-bottom-2">
            <div class="govuk-!-font-weight-bold">Flat rate pay</div>
            {% for flatRate in session.createJourney.flat %}
                <div>{{ flatRate.bandAlias }}: {{ flatRate.rate | toMoney }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro educationLevelSummary(educationLevels) %}
    {% for educationLevel in educationLevels %}
        <div>{{ educationLevel.studyAreaDescription }}: {{ educationLevel.educationLevelDescription }}</div>
    {% else %}
        None set
    {% endfor %}
{% endmacro %}

{% macro locationText(journey) %}
    {% if journey.inCell %}
        {{ "In cell" }}
    {% elseif journey.onWing %}
        {{ "On wing" }}
    {% elseif journey.offWing %}
        {{ "Off wing" }}
    {% else %}
        {{ journey.location.name }}
    {% endif %}
{% endmacro %}
