{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../partials/activities/acitivity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Check pay" %}
{% set pageId = 'check-pay-page' %}
{% set backLinkHref = "pay" %}

{% block content %}
    {% if session.req.query.fromEditActivity %}
        {% set fromEditText = "&fromEditActivity=true" %}
    {% else %}
        {% set fromEditText = "" %}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Review pay rates for {{ session.createJourney.name }}</h1>

            {% for incentiveLevelPay in incentiveLevelPays %}
                <h2 class="govuk-heading-m">Pay rates for {{ incentiveLevelPay.incentiveLevel }} incentive level</h2>
                {% set rows = [] %}
                {% for pay in incentiveLevelPay.pays %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: pay.bandAlias
                            },
                            value: {
                                text: pay.rate | toMoney
                            },
                            actions: {
                                items: [
                                    {
                                        href: "pay?iep=" + pay.incentiveLevel + "&bandId=" + pay.bandId + fromEditText + "&preserveHistory=true",
                                        text: "Change",
                                        visuallyHiddenText: "change pay rate"
                                    },
                                    {
                                        href: "remove-pay?iep=" + pay.incentiveLevel + "&bandId=" + pay.bandId + fromEditText + "&preserveHistory=true",
                                        text: "Remove",
                                        visuallyHiddenText: "remove pay rate"
                                    }
                                ]
                            }
                        }
                    ), rows) %}
                {% endfor %}
                {{ govukSummaryList({
                    rows: rows
                }) }}
            {% endfor %}

            {% if flatPay | length %}
                <h2 class="govuk-heading-m">Flat rate (applies to all incentive levels)</h2>
            {% endif %}
            {% set rows = [] %}
            {% for flatRate in flatPay %}
                {% set rows = (rows.push(
                    {
                        key: {
                            text: flatRate.bandAlias
                        },
                        value: {
                            text: flatRate.rate | toMoney
                        },
                        actions: {
                            items: [
                                {
                                    href: "pay?bandId=" + flatRate.bandId,
                                    text: "Change",
                                    visuallyHiddenText: "change pay rate"
                                },
                                {
                                    href: "remove-flat-rate?bandId=" + flatRate.bandId + fromEditText + "&preserveHistory=true",
                                    text: "Remove",
                                    visuallyHiddenText: "remove flat rate"
                                }
                            ]
                        }
                    }
                ), rows) %}
            {% endfor %}
            {{ govukSummaryList({
                rows: rows
            }) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm"
                    }) }}
                    {{ govukButton({
                        text: "Add another pay rate",
                        href: 'pay-rate-type?preserveHistory=true' + fromEditText,
                        classes: "govuk-button--secondary"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
