{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Check pay" %}
{% set pageId = 'check-pay-page' %}

{% if session.req.query.preserveHistory %}
    {% set jsBackLink = true %}
{% else %}
    {% set hardBackLinkText = 'Back to risk level' %}
    {% set hardBackLinkHref = "risk-level" %}
{% endif %}

{% block content %}
    {% set preserveHistoryText = "preserveHistory=true" if session.req.query.preserveHistory else "" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Review pay rates for {{ session.createJourney.name }}</h1>

            {% for incentiveLevelPay in incentiveLevelPays %}
                <h2 class="govuk-heading-m">Pay rates for {{ incentiveLevelPay.incentiveLevel }} incentive level</h2>
                {% set rows = [] %}
                {% for pay in incentiveLevelPay.pays %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: pay.prisonPayBand.alias
                            },
                            value: {
                                text: pay.rate | toMoney
                            },
                            actions: {
                                items: [
                                    {
                                        href: "pay/single?iep=" + pay.incentiveLevel + "&bandId=" + pay.prisonPayBand.id + (("&" + preserveHistoryText) if preserveHistoryText),
                                        text: "Change",
                                        visuallyHiddenText: "change pay rate"
                                    },
                                    {
                                        href: "remove-pay?iep=" + pay.incentiveLevel + "&bandId=" + pay.prisonPayBand.id + (("&" + preserveHistoryText) if preserveHistoryText),
                                        text: "Remove",
                                        visuallyHiddenText: "remove pay rate"
                                    }
                                ]
                            }
                        }
                    ), rows) %}
                {% endfor %}
                {{ govukSummaryList({
                    rows: rows
                }) }}
            {% endfor %}

            {% if flatPay | length %}
                <h2 class="govuk-heading-m">Flat rate (applies to all incentive levels)</h2>
            {% endif %}
            {% set rows = [] %}
            {% for flatRate in flatPay %}
                {% set rows = (rows.push(
                    {
                        key: {
                            text: flatRate.prisonPayBand.alias
                        },
                        value: {
                            text: flatRate.rate | toMoney
                        },
                        actions: {
                            items: [
                                {
                                    href: "pay/flat?bandId=" + flatRate.prisonPayBand.id + (("&" + preserveHistoryText) if preserveHistoryText),
                                    text: "Change",
                                    visuallyHiddenText: "change pay rate"
                                },
                                {
                                    href: "remove-flat-rate?bandId=" + flatRate.prisonPayBand.id + (("&" + preserveHistoryText) if preserveHistoryText),
                                    text: "Remove",
                                    visuallyHiddenText: "remove flat rate"
                                }
                            ]
                        }
                    }
                ), rows) %}
            {% endfor %}

            {{ govukSummaryList({
                rows: rows
            }) if rows | length }}

            {% if flatPay | length == 0 and incentiveLevelPays | length == 0 %}
                <p class="govuk-body">No pay rates have been set for this activity. You must set at least one pay rate.</p>
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukInsetText({
                    text: 'You can create up to 10 rates for each incentive level.'
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Add a pay rate",
                        href: 'pay-rate-type' + (("?" + preserveHistoryText) if preserveHistoryText),
                        classes: "govuk-button--secondary"
                    }) }}
                </div>
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        preventDoubleClick: true
                    }) if flatPay | length > 0 or incentiveLevelPays | length > 0 }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
