{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Create an activity - Confirmation" %}
{% set pageId = 'confirmation-page' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "You've created a new activity: " + session.createJourney.name
            }) }}
            <h2 class="govuk-heading-l">What you can do next</h2>
            <p class="govuk-body">
                You can <a href="/activities/allocation-dashboard/{{ id }}#candidates-tab" class="govuk-link govuk-link--no-visited-state">start allocating people to this activity</a>.
            </p>
            <p class='govuk-body'>You can also:</p>
            <ul>
                <li class='govuk-list govuk-list--bullet'>
                    <a href='/activities/create/start' class='govuk-link govuk-link--no-visited-state'>create another activity</a>
                </li>
                <li class='govuk-list govuk-list--bullet'>
                    <a href='/activities/dashboard' class='govuk-link govuk-link--no-visited-state'>use the activities dashboard</a> to edit an existing activity
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
