{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% from "components/nestedTimeSlotCheckBoxes.njk" import nestedTimeSlotCheckBoxes %}

{% set pageTitle = applicationName + " - Create a schedule - Days and times" %}
{% set pageId = 'create-schedule-days-and-times-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            {% if session.createJourney.scheduleWeeks > 1 %}
                <h1 class="govuk-heading-l">Week {{ session.req.params.weekNumber }} of {{ session.createJourney.scheduleWeeks }}: {{ 'change' if session.req.params.mode == 'edit' else 'select' }} the days and times when this activity runs</h1>
            {% else %}
                <h1 class="govuk-heading-l">{{ 'Change' if session.req.params.mode == 'edit' else 'Select' }} the days and times when this activity runs</h1>
            {% endif %}

            <p class="govuk-body">Select each day that the activity will run, then select the slots when the activity will run on that day.</p>

            {% if session.req.params.mode == 'edit' %}
                <p class="govuk-body">Any changes you make will take effect tomorrow.</p>
                <p class="govuk-body">You should update any unlock lists that have been printed.</p>
            {% elseif session.createJourney.scheduleWeeks > 1 and session.req.params.weekNumber == 1 %}
                <p class="govuk-body">Your chosen start date will fall in week 1 of your schedule, even if there are no sessions planned for the rest of the week</p>
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if currentWeek and session.createJourney.scheduleWeeks > 1 %}
                    {{ govukInsetText({
                        text: "The current week is: Week " + currentWeek
                    }) }}
                {% endif %}

                {% set selectedTimeSlots = session.createJourney.slots[session.req.params.weekNumber] %}
                {% set selectedDays = selectedTimeSlots.days %}
                {{ govukCheckboxes({
                    name: "days",
                    errorMessage: validationErrors | findError('days'),
                    values: formResponses.days or selectedDays,
                    attributes: {
                        'data-qa': 'day-session-checkboxes'
                    },
                    items: [
                        {
                            value: "monday",
                            html: "Monday" + startDayTag('monday', session),
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Monday", validationErrors, formResponses, selectedTimeSlots)
                            }
                        },
                        {
                            value: "tuesday",
                            html: "Tuesday" + startDayTag('tuesday', session),
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Tuesday", validationErrors, formResponses, selectedTimeSlots)
                            }
                        },
                        {
                            value: "wednesday",
                            html: "Wednesday" + startDayTag('wednesday', session),
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Wednesday", validationErrors, formResponses, selectedTimeSlots)
                            }
                        },
                        {
                            value: "thursday",
                            html: "Thursday" + startDayTag('thursday', session),
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Thursday", validationErrors, formResponses, selectedTimeSlots)
                            }
                        },
                        {
                            value: "friday",
                            html: "Friday" + startDayTag('friday', session),
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Friday", validationErrors, formResponses, selectedTimeSlots)
                            }
                        },
                        {
                            value: "saturday",
                            html: "Saturday" + startDayTag('saturday', session),
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Saturday", validationErrors, formResponses, selectedTimeSlots)
                            }
                        },
                        {
                            value: "sunday",
                            html: "Sunday" + startDayTag('sunday', session),
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Sunday", validationErrors, formResponses, selectedTimeSlots)
                            }
                        }
                    ]
                }) }}
                {% if session.req.params.mode == 'edit' %}
                    <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Update days and sessions",
                            preventDoubleClick: true
                        }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukInsetText({
                        text: 'The start date of this activity is ' + session.createJourney.startDate | parseIsoDate | formatDate
                    }) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% macro startDayTag(slotDay, session) %}
    {% set startDay = session.createJourney.startDate | parseIsoDate | formatDate("EEEE", false) | lower %}
    {% if not session.req.params.mode == 'edit' and slotDay == startDay and session.req.params.weekNumber == 1 %}
        {{ govukTag({ text: 'Start day', classes: "govuk-tag--grey" }) }}
    {% endif %}
{% endmacro %}
