{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% from "components/nestedTimeSlotCheckBoxes.njk" import nestedTimeSlotCheckBoxes %}

{% set pageTitle = applicationName + " - Create a schedule - Days and times" %}
{% set pageId = 'create-schedule-days-and-times-page' %}
{% set backLinkHref = "end-date-option" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Enter the days and times when this activity runs</h1>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if session.req.query.fromEditActivity %}
                    {{ govukInsetText({
                        text: "Any changes to the schedule will take effect from tomorrow."
                    }) }}
                {% endif %}
                {{ govukCheckboxes({
                    name: "days",
                    hint: {
                        text: "Select each day that the activity will run, then select the times the activity will run on that day."
                    },
                    errorMessage: validationErrors | findError('days'),
                    values: formResponses.days or session.createJourney.days,
                    items: [
                        {
                            value: "monday",
                            text: "Monday",
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Monday", validationErrors, formResponses, session.createJourney)
                            }
                        },
                        {
                            value: "tuesday",
                            text: "Tuesday",
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Tuesday", validationErrors, formResponses, session.createJourney)
                            }
                        },
                        {
                            value: "wednesday",
                            text: "Wednesday",
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Wednesday", validationErrors, formResponses, session.createJourney)
                            }
                        },
                        {
                            value: "thursday",
                            text: "Thursday",
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Thursday", validationErrors, formResponses, session.createJourney)
                            }
                        },
                        {
                            value: "friday",
                            text: "Friday",
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Friday", validationErrors, formResponses, session.createJourney)
                            }
                        },
                        {
                            value: "saturday",
                            text: "Saturday",
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Saturday", validationErrors, formResponses, session.createJourney)
                            }
                        },
                        {
                            value: "sunday",
                            text: "Sunday",
                            conditional: {
                                html: nestedTimeSlotCheckBoxes("Sunday", validationErrors, formResponses, session.createJourney)
                            }
                        }
                    ]
                }) }}
                {% if session.req.query.fromEditActivity %}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update schedule"
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
{% macro insetChangesText() %}
   {% if session.req.query.fromEditActivity %}
        {{ govukInsetText({
          text: "Any changes to the schedule will take effect from tomorrow."
        }) }}
   {% endif %}
{% endmacro %}
