{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/card.njk" import card %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Edit activity - Check pay" %}
{% set pageId = 'check-pay-page' %}
{% set hardBackLinkText = 'Back to edit activity details' %}
{% set hardBackLinkHref = "/activities/view/" + session.createJourney.activityId %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Review pay rates</h1>

            {{ govukButton({
                text: "Add new pay rate",
                href: '../pay-rate-type?preserveHistory=true',
                classes: 'govuk-!-margin-0'
            }) }}

            {{ govukInsetText({
                text: 'You can add pay rates or edit them. You can only delete pay rates if no one is allocated to them.'
            }) }}

            {% if incentiveLevelPays | length == 0 %}
                <p class="govuk-body">No pay rates have been set for this activity.</p>
                <p class="govuk-body">You must set at least one pay rate or <a href="pay-option?preserveHistoryText=true" class="govuk-link">change the activity to unpaid</a>.</p>
            {% endif %}

            {% for incentiveLevelPay in incentiveLevelPays %}
                <h2 class="govuk-heading-m">{{ incentiveLevelPay.incentiveLevel }} incentive level pay rates</h2>
                {% for pay in incentiveLevelPay.pays %}
                    {% set rows = [] %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "pay Band"
                            },
                            value: {
                                text: pay.payBandId
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "Amount"
                            },
                            value: {
                                text: pay.rate | toMoney
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "Start Date"
                            },
                            value: {
                                text: pay.startDate | isoDateToDatePickerDate
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "People on this rate"
                            },
                            value: {
                                text: pay.allocationCount or "None"
                            }
                        }
                    ), rows) %}

                    {% set cardItems = [
                        {
                            href: "../pay/single?iep=" + pay.incentiveLevel + "&bandId=" + pay.prisonPayBand.id + "&paymentStartDate=" + pay.startDate + "&preserveHistory=true",
                            text: "Change",
                            classes: "govuk-link--no-visited-state",
                            attributes: { 'data-qa': 'change-pay' }
                        }
                    ] %}
                    {% if not pay.allocationCount %}
                        {% set cardItems = (cardItems.push(
                            {
                                href: "../remove-pay?iep=" + pay.incentiveLevel + "&bandId=" + pay.prisonPayBand.id + "&preserveHistory=true",
                                text: "Delete pay rate",
                                classes: "govuk-link--no-visited-state",
                                attributes: { 'data-qa': 'remove-pay' }
                            }
                        ), cardItems) %}
                    {% endif %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: pay.prisonPayBand.alias
                            },
                            actions: {
                                items: cardItems
                            }
                        },
                        rows: rows
                    }) }}
                {% endfor %}
            {% endfor %}
                    <h1> *********************************************** </h1>
             {% for displayPay in displayPays %}
                <h2 class="govuk-heading-m">{{ displayPay.incentiveLevel }} incentive level pay rates</h2>
                {% for pay in displayPay.pays %}
                    {% set rows = [] %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "pay Band"
                            },
                            value: {
                                text: pay.payBandId
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "Amount"
                            },
                            value: {
                                text: pay.rate | toMoney if pay.description === undefined else pay.rate | toMoney + pay.description
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "Start Date"
                            },
                            value: {
                                text: pay.startDate | isoDateToDatePickerDate
                            }
                        }
                    ), rows) %}
                    {% set rows = (rows.push(
                        {
                            key: {
                                text: "People on this rate"
                            },
                            value: {
                                text: pay.allocationCount or "None"
                            }
                        }
                    ), rows) %}

                    {% set cardItems = [
                        {
                            href: "../pay/single?iep=" + pay.incentiveLevel + "&bandId=" + pay.prisonPayBand.id + "&paymentStartDate=" + pay.startDate + "&preserveHistory=true",
                            text: "Change",
                            classes: "govuk-link--no-visited-state",
                            attributes: { 'data-qa': 'change-pay' }
                        }
                    ] %}
                    {% if not pay.allocationCount %}
                        {% set cardItems = (cardItems.push(
                            {
                                href: "../remove-pay?iep=" + pay.incentiveLevel + "&bandId=" + pay.prisonPayBand.id + "&preserveHistory=true",
                                text: "Delete pay rate",
                                classes: "govuk-link--no-visited-state",
                                attributes: { 'data-qa': 'remove-pay' }
                            }
                        ), cardItems) %}
                    {% endif %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: pay.prisonPayBand.alias
                            },
                            actions: {
                                items: cardItems
                            }
                        },
                        rows: rows
                    }) }}
                {% endfor %}
            {% endfor %}

            <div class="govuk-!-margin-top-6">
                {{ 
                    govukButton({
                        text: "Return to edit activity page",
                        href: '/activities/view/' + session.createJourney.activityId,
                        classes: "govuk-button--secondary"
                    })
                }}
            </div>
        </div>
    </div>
{% endblock %}
