{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - education level" %}
{% set pageId = 'create-activity-education-level-page' %}

{% set backLinkHref = "/activities/schedule/activities/" + session.createJourney.activityId if session.req.query.fromEditActivity else "qualification" %}


{% set studyAreaOptions = [{ value: '', text: '' }] %}
{% for studyArea in studyAreas %}
    {% set studyAreaOptions = (studyAreaOptions.push( { value: studyArea.code, text: studyArea.description }), studyAreaOptions) %}
{% endfor %}

{% set eduLevelOptions = [{ value: '', text: '' }] %}
{% for eduLevel in eduLevels %}
    {% set eduLevelOptions = (eduLevelOptions.push( { value: eduLevel.code, text: eduLevel.description }), eduLevelOptions) %}
{% endfor %}

{% block meta %}
    <meta name="autocompleteElements" content="studyAreaCode,eduLevelCode"/>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Select education levels and qualifications</h2>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSelect({
                    id: "studyAreaCode",
                    name: "studyAreaCode",
                    label: {
                        text: "Subject or skill",
                        classes: "govuk-label--m"
                    },
                    hint: {
                        text: "Choose the subject or skill from the list, for example 'Maths' or 'Construction'."
                    },
                    errorMessage: validationErrors | findError('studyAreaCode'),
                    value: formResponses.studyAreaCode or session.createActivityJourney.educationLevels.educationLevelCode,
                    items: studyAreaOptions
                }) }}

                {{ govukSelect({
                    id: "eduLevelCode",
                    name: "eduLevelCode",
                    label: {
                        text: "Education level or other qualification",
                        classes: "govuk-label--m"
                    },
                    hint: {
                        text: "Choose the education level or qualification that participants need to be eligible for this activity."
                    },
                    errorMessage: validationErrors | findError('eduLevelCode'),
                    value: formResponses.eduLevelCode or session.createActivityJourney.educationLevels.educationLevelCode,
                    items: eduLevelOptions
                }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
