{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/datePicker.njk" import datePicker %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../../../partials/activities/acitivity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create a schedule - End date" %}
{% set pageId = 'create-schedule-end-date-page' %}
{% set backLinkHref = "end-date-option" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ activityJourneyCaption(session.createJourney) }}
                {{ datePicker({
                    id: 'endDate',
                    label: {
                        text: "Enter the end date for this activity",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "For example, 31 01 2023"
                    },
                    renderedErrorMessage: validationErrors | findError('endDate'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.endDate or session.createJourney.endDate
                }) }}
                <input type="hidden" id="startDate" name="startDate" value="{{ startDate }}">
                {% if session.req.query.fromEditActivity %}
                    {{ govukInsetText({
                          text: "Anyone allocated to the activity who was due to be taken off after this date will now finish on this date."
                     }) }}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update end date"
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
