{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create a schedule - End date" %}
{% set pageId = 'create-schedule-end-date-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ activityJourneyCaption(session.createJourney) }}
                {{ hmppsDatePicker({
                    id: 'endDate',
                    name: 'endDate',
                    label: {
                        text: "Change the end date for this activity" if session.req.params.mode == 'edit' else "Enter the end date for this activity",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    classes: 'hmpps-datepicker--fixed-width',
                    hint: {
                        text: 'Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select'
                    },
                    errorMessage: validationErrors | findError('endDate'),
                    value: formResponses.endDate or session.createJourney.endDate | isoDateToDatePickerDate
                }) }}
                {% if session.req.params.mode == 'edit' %}
                    {{ govukInsetText({
                          text: "Anyone allocated to the activity who was due to be taken off after this date will now finish on this date."
                     }) }}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update end date"
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
