{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/characterCountInput.njk" import characterCountInput %}
{% from "../../../partials/activities/acitivity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Name" %}
{% set pageId = 'name-page' %}
{% set backLinkHref = "category" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ activityJourneyCaption(session.createJourney) }}
                {{ characterCountInput({
                    label: {
                        text: "What's the new activity called?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Say what the activity is in plain English. You'll be able to add more details like days, times and location later so you don’t have to include them in the name."
                    },
                    id: "name",
                    name: "name",
                    formGroup: {
                        classes: "form-group-with-bottom-hint"
                    },
                    errorMessage: validationErrors | findError('name'),
                    value: formResponses.name or session.createJourney.name,
                    maxlength: "40"
                }) }}

                {% if session.req.query.fromEditActivity %}
                    {{ govukInsetText({
                      text: "If you change the name of this activity, it will update all records. This includes any previous sessions of the activity on the unlock, movement and attendance lists."
                    }) }}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update activity name"
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
