{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Pay Rate option" %}
{% set pageId = 'create-activity-pay-rate-type-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ activityJourneyCaption(session.createJourney) }}
                {% if session.req.params.mode == 'edit' and hasAllocations %}
                    <input type='hidden' name='incentiveLevel' value='{{ iep }}' >
                {% else %}
                    {% set incentiveLevelOptions = [] %}
                    {% for incentiveLevel in incentiveLevels %}
                        {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                            {
                                value: incentiveLevel.levelName,
                                text: incentiveLevel.levelName,
                                checked: incentiveLevel.levelName == formResponses.incentiveLevel or (incentiveLevel.levelName == iep and not formResponses)
                            }
                        ), incentiveLevelOptions)
                        %}
                    {% endfor %}
                    {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                        {
                            divider: "or"
                        }), incentiveLevelOptions)
                    %}
                    {%
                        set incentiveLevelOptions = (incentiveLevelOptions.push(
                        {
                            value: "FLAT_RATE",
                            text: "A flat rate that applies to all incentive levels"
                        }), incentiveLevelOptions)
                    %}
                    {{ govukRadios({
                        name: "incentiveLevel",
                        id: "incentiveLevel",
                        fieldset: {
                            legend: {
                                text: "Choose what kind of pay rate you want to set up for this activity",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--l"
                            }
                        },
                        hint: {
                            text: 'If there’s no pay rate for a certain incentive level, no one on that incentive level can be allocated.'
                        },
                        items: incentiveLevelOptions,
                        errorMessage: validationErrors | findError('incentiveLevel')
                    }) }}
                {% endif %}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}