{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Pay Rate option" %}
{% set pageId = 'create-activity-pay-rate-type-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ activityJourneyCaption(session.createJourney) }}
                {{ govukRadios({
                    name: "payRateTypeOption",
                    fieldset: {
                        legend: {
                            text: "What type of rate do you want to create?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "single",
                            text: "A single pay rate for one incentive level",
                            checked: session.createJourney.payRateTypeOption == "single"
                        },
                        {
                            value: "flat",
                            text: "A flat rate that applies to all incentive levels",
                            checked: session.createJourney.payRateTypeOption == "flat"
                        }
                    ],
                    errorMessage: validationErrors | findError('payRateTypeOption')
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
