{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Pay" %}
{% set pageId = 'pay-page' %}
{% set backLinkHref = "pay-rate-type" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            <h1 class="govuk-heading-l">Enter pay for {{ session.createJourney.name }}</h1>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <p class="govuk-body">Add all the pay rates available for this activity.</p>
                <p class="govuk-body">You can add up to {{ payBands | length }} rates for each incentive level. Each time you add one you'll have the option to add another.</p>
                <p class="govuk-body">When you come to allocate someone to this activity, all the rates that can be paid will be displayed.</p>

                {{ govukInput({
                    id: "rate",
                    name: "rate",
                    label: {
                        text: "1. How much will someone be paid for a session?",
                        classes: "govuk-label--s"
                    },
                    hint: {
                        text: 'Minimum pay for people in your prison is £' + (minimumPayRate / 100) | toFixed + ' and maximum pay is £' + (maximumPayRate / 100) | toFixed + ' per session.'
                    },
                    prefix: {
                        text: "£"
                    },
                    classes: "govuk-input--width-5",
                    errorMessage: validationErrors | findError('rate'),
                    value: formResponses.rate or (rate / 100) | toFixed
                }) }}

                {% set payBandOptions = [
                    {
                        value: 0,
                        text: "-"
                    }
                ] %}
                {% for payBand in payBands %}
                    {% set payBandOptions = (payBandOptions.push(
                        {
                            value: payBand.id,
                            text: payBand.alias,
                            selected: payBand.id == formResponses.bandId or (payBand.id == bandId and not formResponses)
                        }
                    ), payBandOptions) %}
                {% endfor %}
                {{ govukSelect({
                    id: "bandId",
                    name: "bandId",
                    label: {
                        text: "2. Select the pay band",
                        classes: "govuk-label--s"
                    },
                    classes: "govuk-input--width-10",
                    errorMessage: validationErrors | findError('bandId'),
                    items: payBandOptions
                }) }}

                {% if payRateType === "single" %}
                    {% set incentiveLevelOptions = [] %}
                    {% for incentiveLevel in incentiveLevels %}
                        {% set incentiveLevelOptions = (incentiveLevelOptions.push(
                            {
                                value: incentiveLevel.levelName,
                                text: incentiveLevel.levelName,
                                checked: incentiveLevel.levelName == formResponses.incentiveLevel or (incentiveLevel.levelName == iep and not formResponses)
                            }
                        ), incentiveLevelOptions) %}
                    {% endfor %}
                    {{ govukRadios({
                        name: "incentiveLevel",
                        fieldset: {
                            legend: {
                                text: "3. Select the incentive level",
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        hint: {
                          text: 'Only prisoners with the specified incentive level can be allocated to this pay rate.'
                        },
                        items: incentiveLevelOptions,
                        errorMessage: validationErrors | findError('incentiveLevel')
                    }) }}
                {% endif %}

                {{ govukButton({
                    text: "Review and add more rates"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
