{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create an activity - Risk level" %}
{% set pageId = 'risk-level-page' %}
{% set backLinkHref = "name" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% set pageHeading = "Workplace risk assessment levels: which ones are suitable for this activity?" %}
                {% if session.req.query.fromEditActivity %}
                    {% set pageHeading = "Change workplace risk assessment levels" %}
                {% endif %}
                {{ activityJourneyCaption(session.createJourney) }}
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: pageHeading,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    name: "riskLevel",
                    errorMessage: validationErrors | findError('riskLevel'),
                    hint: {
                        text: "Choose one option to set the requirement for the activity."
                    },
                    items: [
                        {
                            value: "low",
                            html: "Only <span class='govuk-!-font-weight-bold'>low</span> workplace
                                risk assessment is suitable",
                            checked: formResponses.riskLevel == 'low' or session.createJourney.riskLevel == 'low'
                        },
                        {
                            value: "medium",
                            html: "Either <span class='govuk-!-font-weight-bold'>low or medium</span> workplace
                                risk assessment is suitable",
                            checked: formResponses.riskLevel == 'medium' or session.createJourney.riskLevel == 'medium'
                        },
                        {
                            value: "high",
                            html: "Anyone is suitable (<span class='govuk-!-font-weight-bold'>low, medium or high</span> workplace risk assessment)",
                            checked: formResponses.riskLevel == 'high' or session.createJourney.riskLevel == 'high'
                        }
                    ]
                }) }}

                {{ govukDetails({
                    summaryText: "What is a workplace risk assessment level?",
                    html: '<p class="govuk-body">Each person in your prison should be given a workplace risk assessment level when they are being considered for an activity that takes place off the wing. This level can be low, medium or high.</p>

                    <p class="govuk-body">When you set the requirement for workplace risk assessment for an activity, you\'re indicating to staff which people will be most suitable for allocation. For example, only people with a low workplace risk assessment are likely to be suitable for an activity with multiple risk factors.</p>'
                }) }}

                {% if session.req.query.fromEditActivity %}
                    {{ govukWarningText({
                        text: "If you change the risk assessment level, people who are currently allocated to this activity may no longer meet the requirements.",
                        iconFallbackText: "Warning"
                    }) }}

                    <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Update risk assessment level"
                        }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
