{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% from "components/timePicker.njk" import timePicker %}

{% set pageTitle = applicationName + " - Create a schedule - Activity session times" %}
{% set pageId = 'session-times-page' %}
{% set createPageHeading = "Select the start and end times for the sessions when this activity runs" %}
{% set editPageHeading = "Change the start and end times for the sessions when this activity runs" %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ activityJourneyCaption(session.createJourney) }}
            {% if session.req.params.mode == 'edit' %}
            <h1 class="govuk-heading-l">{{ editPageHeading }}</h1>
            {% else %}
            <h1 class="govuk-heading-l">{{ createPageHeading }}</h1>
            {% endif %}
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                        {% set rows = [] %} 
                        {% for customSlot in sessionSlots %}     
                            {% set formattedStart = customSlot.start | getSplitTime %}
                            {% set formattedFinish = customSlot.finish | getSplitTime %}
                            {% set rows = (rows.push([
                                {
                                    html: customSlot.dayOfWeek | title
                                },
                                {
                                    html: customSlot.timeSlot
                                },
                                {
                                    html: timePicker({
                                        id: 'startTimes-' + customSlot.dayOfWeek + '-' + customSlot.timeSlot,
                                        name: 'startTimes[' + customSlot.dayOfWeek + '-' + customSlot.timeSlot + ']',
                                        renderedErrorMessage: validationErrors | findError('startTimes-' + customSlot.dayOfWeek + '-' + customSlot.timeSlot),
                                        validationErrors: validationErrors,
                                        formResponses: formResponses.startTimes[customSlot.dayOfWeek + '-' + customSlot.timeSlot] or formattedStart
                                })
                                },
                                {
                                    html: timePicker({
                                        id: 'endTimes-' + customSlot.dayOfWeek + '-' + customSlot.timeSlot,
                                        name: 'endTimes[' + customSlot.dayOfWeek + '-' + customSlot.timeSlot + ']',
                                        renderedErrorMessage: validationErrors | findError('endTimes-' + customSlot.dayOfWeek + '-' + customSlot.timeSlot),
                                        validationErrors: validationErrors,
                                        formResponses: formResponses.endTimes[customSlot.dayOfWeek + '-' + customSlot.timeSlot] or formattedFinish
                                        })
                                }]), rows) %}
                        {% endfor %}
                    
                    {{ govukTable({
                        head: [
                                {
                                text: "Day"
                                },
                                 {
                                text: "Session"
                                },
                                {
                                text: "Start time"
                                },
                                {
                                text: "End time"
                                }
                            ],
                        rows: rows                      
                    }) }}
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
