{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/datePicker.njk" import datePicker %}
{% from "partials/activities/activity-journey-caption.njk" import activityJourneyCaption %}

{% set pageTitle = applicationName + " - Create a schedule - Start date" %}
{% set pageId = 'create-schedule-start-date-page' %}
{% set backLinkHref = "qualification" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ activityJourneyCaption(session.createJourney) }}
                {{ datePicker({
                    id: 'startDate',
                    label: {
                        text: "Change the start date for this activity" if session.req.query.fromEditActivity else "Enter the start date for this activity",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "For example, " + exampleDate
                    },
                    renderedErrorMessage: validationErrors | findError('startDate'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.startDate or session.createJourney.startDate
                }) }}
                <input type="hidden" id="endDate" name="endDate" value="{{ endDate }}">
                {% if session.req.query.fromEditActivity %}
                    <div class="govuk-button-group">
                      {{ govukButton({
                        text: "Update start date"
                      }) }}
                        <a class="govuk-link js-backlink" href="/">Cancel</a>
                    </div>
                {% else %}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
