# Per environment values which override defaults in hmpps-activities-management/values.yaml

generic-service:
  replicaCount: 5

  resources:
    requests:
      cpu: 100m
      memory: 768Mi
    limits:
      cpu: 2000m
      memory: 2048Mi

  ingress:
    host: activities.prison.service.justice.gov.uk
    contextColour: green

  env:
    INGRESS_URL: "https://activities.prison.service.justice.gov.uk"
    DPS_URL: "https://digital.prison.service.justice.gov.uk"
    PRISONER_URL: "https://prisoner.digital.prison.service.justice.gov.uk"
    NON_ASSOCIATIONS_URL: "https://non-associations.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"
    ACTIVITIES_API_URL: "https://activities-api.prison.service.justice.gov.uk"
    CASE_NOTES_API_URL: "https://offender-case-notes.service.justice.gov.uk"
    PRISON_API_URL: "https://prison-api.prison.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search.prison.service.justice.gov.uk"
    INCENTIVES_URL: "https://incentives-ui.hmpps.service.justice.gov.uk"
    INCENTIVES_API_URL: "https://incentives-api.hmpps.service.justice.gov.uk"
    COMPONENT_API_URL: "https://frontend-components.hmpps.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api.hmpps.service.justice.gov.uk"
    BOOK_A_VIDEO_LINK_API_URL: "https://book-a-video-link-api.prison.service.justice.gov.uk"
    NON_ASSOCIATIONS_API_URL: "https://non-associations-api.hmpps.service.justice.gov.uk"
    ALERTS_API_URL: "https://alerts-api.hmpps.service.justice.gov.uk"
    REPORTING_API_URL: "http://hmpps-digital-prison-reporting-mi-prod.hmpps-digital-prison-reporting-mi-prod.svc.cluster.local"
    LOCATIONS_INSIDE_PRISON_API_URL: "https://locations-inside-prison-api.hmpps.service.justice.gov.uk"
    NOMIS_MAPPING_API_URL: "https://nomis-sync-prisoner-mapping.hmpps.service.justice.gov.uk"
    VIDEO_CONFERENCE_SCHEDULE_URL: "https://video-conference-schedule.prison.service.justice.gov.uk"
    APPOINTMENT_MULTIPLE_ATTENDANCE_FEATURE_TOGGLE_ENABLED: "true"
    IN_SERVICE_REPORTING_ENABLED: "false"
    ATTEND_ALL_ENABLED: "true"
    LIVE_ISSUE_OUTAGE_BANNER_ENABLED: "false"
    PLANNED_DOWNTIME_OUTAGE_BANNER_ENABLED: "false"
    PLANNED_DOWNTIME_DATE: "2025-05-20"
    PLANNED_DOWNTIME_START_TIME: "9am"
    PLANNED_DOWNTIME_END_TIME: "11am"
    PRISONER_ALLOCATIONS_ENABLED: "true"
    JOURNEY_DATA_TOKEN_DURATION_HOURS: 8

  allowlist:
    groups:
      - internal
      - prisons
      - private_prisons

generic-prometheus-alerts:
  alertSeverity: hmpps-activities-management-prod

