---
# Per environment values which override defaults in hmpps-activities-management/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: activities-preprod.prison.service.justice.gov.uk
    contextColour: green

  env:
    INGRESS_URL: "https://activities-preprod.prison.service.justice.gov.uk"
    DPS_URL: "https://digital-preprod.prison.service.justice.gov.uk"
    NON_ASSOCIATIONS_URL: "https://non-associations-preprod.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    ACTIVITIES_API_URL: "https://activities-api-preprod.prison.service.justice.gov.uk"
    CASE_NOTES_API_URL: "https://preprod.offender-case-notes.service.justice.gov.uk"
    PRISON_API_URL: "https://prison-api-preprod.prison.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search-preprod.prison.service.justice.gov.uk"
    INCENTIVES_API_URL: "https://incentives-api-preprod.hmpps.service.justice.gov.uk"
    FRONTEND_COMPONENT_API_URL: "https://frontend-components-preprod.hmpps.service.justice.gov.uk"
    PRISON_REGISTER_API_URL: "https://prison-register-preprod.hmpps.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-preprod.hmpps.service.justice.gov.uk"
    BOOK_A_VIDEO_LINK_API_URL: "https://book-a-video-link-api-preprod.prison.service.justice.gov.uk"
    NON_ASSOCIATIONS_API_URL: "https://non-associations-api-preprod.hmpps.service.justice.gov.uk"
    ALERTS_API_URL: "https://alerts-api-preprod.hmpps.service.justice.gov.uk"
    REPORTING_API_URL: "http://hmpps-digital-prison-reporting-mi-preprod.hmpps-digital-prison-reporting-mi-preprod.svc.cluster.local"
    LOCATIONS_INSIDE_PRISON_API_URL: "https://locations-inside-prison-api-preprod.hmpps.service.justice.gov.uk"
    NOMIS_MAPPING_API_URL: "https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk"
    VIDEO_CONFERENCE_SCHEDULE_URL: "https://video-conference-schedule-preprod.prison.service.justice.gov.uk"
    SUSPEND_PRISONERS_WITH_PAY_FEATURE_TOGGLE_ENABLED: "true"

  allowlist:
    moj-official-tgw-prod: 51.149.250.0/24

generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
