{% extends "layout.njk" %}

{% from "../../../partials/prisonerInfoBanner.njk" import prisonerInfoBanner %}
{% from "../../../partials/activities/nonAssociationsTable.njk" import nonAssociationsTable %}

{% set pageTitle = applicationName + " - Allocate to an activity - Non-associations" %}
{% set pageId = 'non-associations-page' %}
{% set jsBackLink = true %}
{% set prisonerName = prisoner | firstNameLastName | toTitleCase %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{ activity.description }}</span>
            <h1 class="govuk-heading-l">{{ prisonerName | possessive }} non-associations</h1>
        </div>
        {{ prisonerInfoBanner(prisonerName, prisoner.prisonerNumber, prisoner.cellLocation) }}
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">
        <p class="govuk-body govuk-!-margin-top-5">Check if attending this activity could mean {{ prisonerName }} coming into contact with someone they must be kept apart from.</p>

        <h2 class="govuk-heading-m">People allocated to {{activity.description}}</h2>

        {% if allocatedNonAssociations | length %}
            {{ nonAssociationsTable(allocatedNonAssociations, prisonerName) }}
        {% else %}
            <p class="govuk-body govuk-!-margin-top-5">{{ prisonerName }} has no open non-associations with anyone who is allocated to {{ activity.description }}</p>
        {% endif %}

        <h2 class="govuk-heading-m">Other people in {{prisoner.prisonName}}</h2>
        {% if unallocatedNonAssociations | length %}
            {{ nonAssociationsTable(unallocatedNonAssociations, prisonerName) }}
        {% else %}
            <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-9">{{ prisonerName }} has no open non-associations with anyone else in {{ prisoner.prisonName }}</p>
        {% endif %}
        </div>
    </div>
{% endblock %}