{% extends "layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% from "pages/appointments/partials/attendee-list.njk" import attendeeList %}
{% from "partials/service-user-name.njk" import serviceUserName %}
{% from "partials/showLocation.njk" import showLocation %}

{% set pageTitle = appointment.appointmentName + " - " + appointment.startDate | toDate | formatDate + " " + appointment.startTime + (" to " + appointment.endTime if appointment.endTime) %}
{% set pageId = 'appointment-details-page' %}
{% set hardBackLinkText = 'Go to Appointments Dashboard' %}
{% set hardBackLinkHref = '/appointments/search?startDate=' + appointment.startDate %}

{% set appointmentLink = '/appointments/' + appointment.id  %}

{% set editable = not appointment.isCancelled and not appointment.isDeleted and not appointment.isExpired %}

{% block content %}
    <div class="govuk-grid-row govuk-!-display-none-print">
        <div class="govuk-grid-column-two-thirds">
            {% if appointment.isDeleted %}
                {% set deletedAppointmentHeadingHtml %}
                    <h3 class="govuk-notification-banner__heading">Appointment deleted</h3>
                    <p class="govuk-body">This appointment was deleted by {{ serviceUserName(userMap.get(appointment.cancelledBy)) }} on {{ appointment.cancelledTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate }}</p>
                {% endset %}
                {{ govukNotificationBanner({
                    type: 'important',
                    html: deletedAppointmentHeadingHtml
                }) }}
            {% elseif appointment.isCancelled %}
                {% set cancelledAppointmentHeadingHtml %}
                    <h3 class="govuk-notification-banner__heading">Appointment cancelled</h3>
                    <p class="govuk-body">This appointment was cancelled by {{ serviceUserName(userMap.get(appointment.cancelledBy)) }} on {{ appointment.cancelledTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate }}</p>
                {% endset %}
                {{ govukNotificationBanner({
                    type: 'important',
                    html: cancelledAppointmentHeadingHtml
                }) }}
            {% endif %}

            <span class="govuk-caption-l" data-qa="caption">Manage appointments</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2" data-qa='heading'>{{ appointment.appointmentName }}</h1>
            <span class="govuk-caption-m govuk-!-margin-bottom-4" data-qa="date-caption">{{ appointment.startDate | toDate | formatDate }}</span>

            {% if appointment.appointmentSet %}
                {{ govukInsetText({
                    html: 'This appointment was scheduled in a <strong>set of ' + appointment.appointmentSet.appointmentCount + '</strong>. You can <a href="/appointments/set/' + appointment.appointmentSet.id + '">view the set</a> to print all movement slips at once.'
                }) }}
            {% endif %}

            {% if appointment.appointmentSeries.schedule %}
                {{ govukSummaryList({
                    card: {
                        title: {
                            text: "Series details"
                        },
                        actions: {
                            items: [
                                {
                                    href: "/appointments/series/" + appointment.appointmentSeries.id,
                                    text: "View series",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'view-series' }
                                }
                            ]
                        }
                    },
                    rows: [
                        {
                            key: {
                                text: "Frequency"
                            },
                            value: {
                                text: ("Every weekday (Monday to Friday)" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.WEEKDAY) +
                                ("Daily (includes weekends)" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.DAILY) +
                                ("Weekly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.WEEKLY) +
                                ("Fortnightly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.FORTNIGHTLY) +
                                ("Monthly" if appointment.appointmentSeries.schedule.frequency == AppointmentFrequency.MONTHLY)
                            }
                        }, {
                            key: {
                                text: "Appointment"
                            },
                            value: {
                                text: appointment.sequenceNumber + " of " + appointment.appointmentSeries.schedule.numberOfAppointments
                            }
                        }
                    ],
                    attributes: { 'data-qa': 'appointment-series-details' }
                }) }}
            {% endif %}

            {% set items = [] %}
            {% if not appointment.appointmentSet %}
                {% set items = items.concat(
                    {
                    href: appointmentLink + "/copy",
                    text: "Copy appointment",
                    classes: "govuk-link--no-visited-state",
                    attributes: { 'data-qa': 'copy-appointment' }
                    }
                 ) %}
            {% endif %}

            {% if editable %}
                {% set items = items.concat(
                    {
                        href: appointmentLink + "/edit/start/cancel",
                        text: "Cancel appointment",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'cancel-appointment' }
                    }
                ) %}
            {% endif %}
            {% if uncancellable and not appointment.appointmentSet %}
                {% set items = items.concat(
                    {
                        href: appointmentLink + "/edit/start/uncancel",
                        text: "Uncancel appointment",
                        classes: "govuk-link--no-visited-state",
                        attributes: { 'data-qa': 'uncancel-appointment' }
                    }
                ) %}
            {% endif %}
            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Appointment details"
                    },
                    actions: {
                        items: items
                    }
                },
                rows: [
                    {
                        key: {
                            text: "Appointment name"
                        },
                        value: {
                            text: appointment.appointmentName
                        }
                    }, {
                        key: {
                            text: "Tier"
                        },
                        value: {
                            text: appointment.tier.description or "Not set"
                        },
                        actions: {
                            items: [
                                {
                                    href: appointmentLink + "/edit/start/tier",
                                    text: "Change",
                                    visuallyHiddenText: "tier",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-tier' }
                                }
                            ]
                        } if editable
                    }, {
                        key: {
                            text: "Host"
                        },
                        value: {
                            text: appointment.organiser.description
                        },
                        actions: {
                            items: [
                                {
                                    href: appointmentLink + "/edit/start/host",
                                    text: "Change",
                                    visuallyHiddenText: "host",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-host' }
                                }
                            ]
                        } if editable
                    } if appointment.organiser,
                    {
                        key: {
                            text: "Location"
                        },
                        value: {
                            text: showLocation(appointment)
                        },
                        actions: {
                            items: [
                                {
                                    href: appointmentLink + "/edit/start/location",
                                    text: "Change",
                                    visuallyHiddenText: "location",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-location' }
                                }
                            ]
                        } if editable
                    }, {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: appointment.startDate | toDate | formatDate
                        },
                        actions: {
                            items: [
                                {
                                    href: appointmentLink + "/edit/start/date-and-time",
                                    text: "Change",
                                    visuallyHiddenText: "date",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-date' }
                                }
                            ]
                        } if editable
                    }, {
                        key: {
                            text: "Start time"
                        },
                        value: {
                            text: appointment.startTime
                        },
                        actions: {
                            items: [
                                {
                                    href: appointmentLink + "/edit/start/date-and-time",
                                    text: "Change",
                                    visuallyHiddenText: "start time",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-start-time' }
                                }
                            ]
                        } if editable
                    }, {
                        key: {
                            text: "End time"
                        },
                        value: {
                            text: appointment.endTime
                        },
                        actions: {
                            items: [
                                {
                                    href: appointmentLink + "/edit/start/date-and-time",
                                    text: "Change",
                                    visuallyHiddenText: "end time",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-end-time' }
                                }
                            ]
                        } if editable
                    }, {
                        key: {
                            text: "Extra information"
                        },
                        value: {
                            html: '<span class="preserve-line-breaks">' + ((appointment.extraInformation or "None provided" ) | escape) + '</span>'
                        },
                        actions: {
                            items: [
                                {
                                    href: appointmentLink + "/edit/start/extra-information",
                                    text: "Change",
                                    visuallyHiddenText: "extra information",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: { 'data-qa': 'change-extra-information' }
                                }
                            ]
                        } if editable
                    }
                ],
                attributes: { 'data-qa': 'appointment-details' }
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row print-only">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-0">{{ appointment.appointmentName }}</h1>
            <span class="govuk-caption-l">{{ appointment.startDate | toDate | formatDate }}</span>
            <span class="govuk-caption-l">{{ appointment.startTime + (" to " + appointment.endTime if appointment.endTime) }}</span>
            <span class="govuk-caption-l">{{ showLocation(appointment) }}</span>
            <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ appointment.attendees | length + (" attendee" if appointment.attendees.length == 1 else " attendees") }}</h2>
        </div>
    </div>

    {% if not appointment.isCancelled and not appointment.isDeleted %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds appointment-details__attendee-list">
                <div class="govuk-button-group govuk-!-margin-0 govuk-!-display-none-print">
                    {{ govukButton({
                        attributes: { 
                            id: 'print-movement-list',
                            'data-track-click-event': 'SAA-Appointment-Attendee-List-Printed',
                            'data-track-event-properties': { 
                                user: user.username,
                                prisonCode: user.activeCaseLoadId,
                                appointmentSeriesId: appointment.appointmentSeries.id,
                                appointmentId: appointment.id
                            } | dump,
                            'data-track-event-measurements': {
                                attendeeCount: appointment.attendees | length
                            } | dump
                        },
                        text: "Print attendance list",
                        classes: "govuk-button--blue govuk-!-margin-bottom-2 js-print no-js-hidden",
                        preventDoubleClick: true
                    }) }}

                    {% if appointment.isExpired == false %}
                        {{ govukButton({
                            attributes: { id: 'print-movement-slips', target: "_blank", 'data-qa': 'print-movement-slips' },
                            text: "Print movement slip" + ("s" if appointment.attendees.length > 1 ) ,
                            classes: "govuk-button--blue govuk-link govuk-link--no-visited-state",
                            preventDoubleClick: true,
                            href: appointmentLink + '/movement-slip'
                        }) }}
                    {% endif %}
                </div>

                {{ attendeeList(appointment, user) }}
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row govuk-!-display-none-print">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Appointment history"
                    }
                },
                rows: [
                    {
                        key: {
                        text: "Created by"
                    },
                        value: {
                            text: serviceUserName(userMap.get(appointment.createdBy))
                        }
                    }, {
                        key: {
                            text: "Date created"
                        },
                        value: {
                            text: appointment.createdTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate
                        }
                    }, {
                        key: {
                            text: "Last edited by"
                        },
                        value: {
                            text: serviceUserName(userMap.get(appointment.updatedBy))
                        }
                    } if appointment.updatedBy, {
                        key: {
                            text: "Date last edited"
                        },
                        value: {
                            text: appointment.updatedTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate
                        }
                    } if appointment.updatedTime
                ],
                attributes: { 'data-qa': 'appointment-history' }
            }) }}
        </div>
    </div>
{% endblock %}
