{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "components/alertsList.njk" import alertsList %}
{% from "partials/showUnlockEvents.njk" import showUnlockEvents %}
{% from "partials/showProfileLink.njk" import showProfileLink %}

{% set pageTitle = applicationName + " - Planned events" %}
{% set pageId = "planned-events-page" %}
{% set hardBackLinkText = 'Back' %}
{% set hardBackLinkHref = "select-date-and-location" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-two-thirds govuk-!-print-grid-column-two-thirds govuk-!-margin-bottom-2">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ location }} - Unlock list</h1>
            <div class="govuk-body govuk-!-margin-top-1">
                {{ date |formatDate('cccc d LLLL y') }} - {{ timeSlot | upper }}
            </div>
            <div class="govuk-!-margin-top-4">
                <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                    {{ unlockListItems.length }} prisoners to unlock
                </div>
                <div class="govuk-body govuk-!-margin-bottom-0">{{ movementCounts.leavingWing }}
                    leaving wing
                </div>
                <div class="govuk-body govuk-!-margin-bottom-0">{{ movementCounts.stayingOnWing }}
                    staying on wing
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-print-grid-column-one-third">
            <div class="print-only">
                {{ govukTextarea({
                    attributes: { placeholder: 'Notes' },
                    id: "notes-textarea",
                    formGroup: {
                        classes: "govuk-!-margin-bottom-3"
                    },
                    classes: "govuk-!-margin-bottom-2"
                }) }}
            </div>
        </div>
    </div>

    {% set filterOptionsHtml %}
        {% if subLocations | length %}
            {% set locationFilters = [] %}
            {% for location in subLocations %}
                {% set locationFilters = (locationFilters.push({
                    value: location,
                    text: location,
                    checked: location in session.unlockListJourney.subLocationFilters
                }), locationFilters) %}
            {% endfor %}

            {{ govukCheckboxes({
                idPrefix: 'locationFilters',
                name: 'locationFilters',
                classes: "govuk-checkboxes--small",
                fieldset: {
                    legend: {
                        text: 'Residential location',
                        classes: 'govuk-fieldset__legend--m'
                    }
                },
                items: locationFilters
            }) }}
            <div class="govuk-!-margin-bottom-4">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                   data-module="select-all-link" data-checkbox-name="locationFilters">Select all</a>
            </div>
        {% endif %}

        {{ govukRadios({
            idPrefix: 'activityFilter',
            name: 'activityFilter',
            classes: "govuk-radios--small",
            fieldset: {
                legend: {
                    text: 'Show people who have:',
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            items:[
                {
                    value: 'With',
                    text: 'Scheduled events',
                    checked: 'With' == session.unlockListJourney.activityFilter
                },
                {
                    value: 'Without',
                    text: 'No events',
                    checked: 'Without' == session.unlockListJourney.activityFilter
                },
                {
                    value: 'Both',
                    text: 'Either',
                    checked: 'Both' == session.unlockListJourney.activityFilter
                }
            ]
        }) }}

        {{ govukRadios({
            idPrefix: 'stayingOrLeavingFilter',
            name: 'stayingOrLeavingFilter',
            classes: "govuk-radios--small",
            fieldset: {
                legend: {
                    text: 'Staying or leaving wing',
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            items:[
                {
                    value: 'Staying',
                    text: 'Staying',
                    checked: 'Staying' == session.unlockListJourney.stayingOrLeavingFilter
                },
                {
                    value: 'Leaving',
                    text: 'Leaving',
                    checked: 'Leaving' == session.unlockListJourney.stayingOrLeavingFilter
                },
                {
                    value: 'Both',
                    text: 'Both',
                    checked: 'Both' == session.unlockListJourney.stayingOrLeavingFilter
                }
            ]
        }) }}

        <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
            Apply filters
        </button>
    {% endset %}

    <div class="moj-filter-layout" data-module="activities-list-filter">
        <form id="filter-form" method="POST" action="update-filters" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <div class="moj-filter-layout__filter govuk-!-display-none-print">
                {{ mojFilter({
                    heading: {
                        text: 'Filters'
                    },
                    optionsHtml: filterOptionsHtml
                }) }}
            </div>
            <hr class="print-only" />
            <div class="moj-filter-layout__content">
                <div class="moj-action-bar govuk-!-display-none-print">
                    <div class="moj-action-bar__filter"></div>
                    {{ mojButtonMenu({
                        items: [{
                            attributes: { id: 'print-unlock' },
                            text: "Print this unlock list",
                            classes: "govuk-button--blue js-print no-js-hidden",
                            preventDoubleClick: true
                        }]
                    }) }}
                </div>


                {% set rows = [] %}
                {% for item in unlockListItems %}
                    {% set rows = (rows.push([
                        {
                            attributes: { id: 'activity-' + loop.index, "data-sort-value": item.displayName },
                            html: showProfileLink({
                            name: item.firstName + " " + item.lastName,
                            prisonerNumber: item.prisonerNumber,
                            link: true,
                            classes: 'hmpps-inline-block'
                        }),
                            classes: 'govuk-table_cell'
                        },
                        {
                            attributes: { id: 'cell-location-' + loop.index, "data-sort-value": item.locationSubGroup + ' ' + item.cellLocation },
                            text: item.locationSubGroup + ' ' + item.cellLocation,
                            classes: 'govuk-table_cell'
                        },
                        {
                            html: alertsList({ alerts: item.alerts, category: item.category }),
                            classes: 'govuk-table_cell'
                        },
                        {
                            attributes: { id: 'activity-' + loop.index },
                            html: showUnlockEvents(item.events),
                            classes: 'govuk-table__cell'
                        },
                        {
                            html: '<span class="print-checkbox">R</span>',
                            classes: 'govuk-table_cell govuk-!-padding-top-2 govuk-!-padding-bottom-2 print-only'
                        },
                        {
                            html: '<span class="print-checkbox">C</span>',
                            classes: 'govuk-table__cell govuk-!-padding-top-2 govuk-!-padding-bottom-2 print-only'
                        },
                        {
                            html: '<span class="print-checkbox">G</span>',
                            classes: 'govuk-table__cell govuk-!-padding-top-2 govuk-!-padding-bottom-2 print-only'
                        },
                        {
                            classes: 'govuk-table__cell govuk-!-padding-top-2 govuk-!-padding-bottom-2 print-only',
                            html: ''
                        }
                    ]), rows) %}
                {% endfor %}
                <table>
                    <tbody>
                    <tr>
                        <td>
                            {{ govukTable({
                                attributes: {
                                    'data-module': 'moj-sortable-table',
                                    id: 'unlock-list-table'
                                },
                                caption: "Prisoners",
                                classes: "alternating-row-shading fixed-layout-table",
                                captionClasses: "govuk-visually-hidden",
                                head: [
                                    {
                                        text: "Name",
                                        attributes: { "aria-sort": "none" },
                                        classes: 'govuk-table__header'
                                    },
                                    {
                                        text: "Cell location",
                                        attributes: { "aria-sort": "ascending" },
                                        classes: 'govuk-table__header'
                                    },
                                    {
                                        text: "Relevant alerts",
                                        classes: 'govuk-table__header'
                                    },
                                    {
                                        html: "Activity",
                                        attributes: { "aria-sort": "none" },
                                        classes: 'govuk-table__header'
                                    },
                                    {
                                        html: "<span><span class=\"text-underline\">R</span>efused</span>",
                                        classes: 'govuk-table__header hmpps-table__header--angled-table-header govuk-!-padding-right-1 print-only'
                                    },
                                    {
                                        html: "<span>Rest in <span class=\"text-underline\">C</span>ell</span>",
                                        classes: 'govuk-table__header hmpps-table__header--angled-table-header govuk-!-padding-right-1 print-only'
                                    },
                                    {
                                        html: "<span><span class=\"text-underline\">G</span>one</span>",
                                        classes: 'govuk-table__header hmpps-table__header--angled-table-header govuk-!-padding-right-1 print-only'
                                    },
                                    {
                                        text: "Notes",
                                        classes: 'govuk-table__header print-only hmpps-width-20-percent'
                                    }
                                ],
                                rows: rows
                            }) }}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot class="print-only">
                    <tr>
                        <td class="govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-body">
                            Printed at {{ now | formatDate('h:mmbbb \'on\' EEEE, d MMMM yyyy') }}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
{% endblock %}
