{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "components/alertsList.njk" import alertsList %}
{% from "partials/showUnlockEvents.njk" import showUnlockEvents %}
{% from "partials/showProfileLink.njk" import showProfileLink %}

{% set pageTitle = applicationName + " - Planned events" %}
{% set pageId = "planned-events-page" %}
{% set hardBackLinkText = 'Back' %}
{% set hardBackLinkHref = "select-date-and-location" %}

{% block content %}
   <table class="govuk-table govuk-!-margin-0 unlock-list">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row"><td>
                <div class="govuk-grid-row govuk-!-margin-bottom-1">
                    <div class="govuk-grid-column-two-thirds govuk-!-print-grid-column-one-half govuk-!-margin-bottom-1">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ location.name }} - Unlock list</h1>
                        <div class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{ timeSlot | upper }} session</div>
                        <div class="govuk-caption-l">{{ date |formatDate('cccc d LLLL y') }}</div>
                        <div class="govuk-!-margin-top-2">
                            <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                                {{ unlockListItems.length }} people to unlock
                            </div>
                            <div class="govuk-body govuk-!-margin-bottom-0">{{ movementCounts.leavingWing }}
                                leaving wing
                            </div>
                            <div class="govuk-body govuk-!-margin-bottom-0">{{ movementCounts.stayingOnWing }}
                                staying on wing
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-print-grid-column-one-half">
                        <div class="print-only">
                            <div class="printable-textarea">Notes</div>
                        </div>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible print-only" />
            </td></tr>
        </thead>
        <tbody class="govuk-table__body"><tr class="govuk-table__row"><td>
            {% set filterOptionsHtml %}
                {% if location.children | length %}
                    {% set locationFilters = [] %}
                    {% for subLocation in location.children %}
                        {% set locationFilters = (locationFilters.push({
                            value: subLocation.key,
                            text: subLocation.name,
                            checked: subLocation.key in session.unlockListJourney.subLocationFilters
                        }), locationFilters) %}
                    {% endfor %}

                    {{ govukCheckboxes({
                        idPrefix: 'locationFilters',
                        name: 'locationFilters',
                        classes: "govuk-checkboxes--small",
                        fieldset: {
                            legend: {
                                text: 'Residential location',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: locationFilters
                    }) }}
                    <div class="govuk-!-margin-bottom-4">
                        <a href="#" class="govuk-link govuk-link--no-visited-state"
                        data-module="select-all-link" data-checkbox-name="locationFilters"></a>
                    </div>
                {% endif %}

                {{ govukRadios({
                    idPrefix: 'activityFilter',
                    name: 'activityFilter',
                    classes: "govuk-radios--small",
                    fieldset: {
                        legend: {
                            text: 'Show people who have:',
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items:[
                        {
                            value: 'With',
                            text: 'Scheduled events',
                            checked: 'With' == session.unlockListJourney.activityFilter
                        },
                        {
                            value: 'Without',
                            text: 'No events',
                            checked: 'Without' == session.unlockListJourney.activityFilter
                        },
                        {
                            value: 'Both',
                            text: 'Either',
                            checked: 'Both' == session.unlockListJourney.activityFilter
                        }
                    ]
                }) }}

                {{ govukRadios({
                    idPrefix: 'stayingOrLeavingFilter',
                    name: 'stayingOrLeavingFilter',
                    classes: "govuk-radios--small",
                    fieldset: {
                        legend: {
                            text: 'Staying or leaving wing',
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items:[
                        {
                            value: 'Staying',
                            text: 'Staying',
                            checked: 'Staying' == session.unlockListJourney.stayingOrLeavingFilter
                        },
                        {
                            value: 'Leaving',
                            text: 'Leaving',
                            checked: 'Leaving' == session.unlockListJourney.stayingOrLeavingFilter
                        },
                        {
                            value: 'Both',
                            text: 'Both',
                            checked: 'Both' == session.unlockListJourney.stayingOrLeavingFilter
                        }
                    ]
                }) }}

                <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
                    Apply filters
                </button>
            {% endset %}

            <div class="moj-filter-layout" data-module="activities-list-filter">
                <form id="filter-form" method="POST" action="update-filters" novalidate>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <div class="moj-filter-layout__filter govuk-!-display-none-print">
                        {{ mojFilter({
                            heading: {
                                text: 'Filters'
                            },
                            optionsHtml: filterOptionsHtml
                        }) }}
                    </div>
                    <div class="moj-filter-layout__content">
                        <div class="moj-action-bar govuk-!-display-none-print">
                            <div class="moj-action-bar__filter"></div>
                            {{ mojButtonMenu({
                                items: [{
                                    attributes: { id: 'print-unlock' },
                                    text: "Print this unlock list",
                                    classes: "govuk-button--blue js-print no-js-hidden",
                                    preventDoubleClick: true
                                }]
                            }) }}
                        </div>

                        {% set rows = [] %}
                        {% for item in unlockListItems %}
                            {% set row = [] %}
                            {% set row = (row.push(
                                {
                                    attributes: { 
                                        id: 'activity-' + loop.index, 
                                        "data-sort-value": item.lastName + " " + item.firstName
                                    },
                                    html: prisonerProfile(item),
                                    classes: 'govuk-table_cell govuk-table__cell--vertical-align-top'
                                },
                                {
                                    attributes: { id: 'cell-location-' + loop.index, "data-sort-value": item.cellLocation },
                                    text: item.cellLocation,
                                    classes: 'govuk-table_cell govuk-table__cell--vertical-align-top'
                                },
                                {
                                    html: alertsList({ alerts: item.alerts, category: item.category }),
                                    classes: 'govuk-table_cell govuk-table__cell--vertical-align-top'
                                }
                            ), row) %}

                            {% set row = (row.push(
                                {
                                    attributes: { 
                                        id: 'activity-' + loop.index,
                                        "data-sort-value": (item.events[0].summary) | lower,
                                        colspan: 4
                                    },
                                    html: showUnlockEvents(item.events),
                                    classes: 'govuk-table__cell govuk-table__cell--vertical-align-top govuk-!-padding-right-0'
                                }
                            ), row) %}

                            {% set rows = (rows.push(row), rows) %}
                        {% endfor %}
                        {{ govukTable({
                            attributes: {
                                id: 'unlock-list-table',
                                'data-module': 'moj-sortable-table'
                            },
                            caption: "Prisoners",
                            classes: "fixed-layout-table alternating-row-shading",
                            captionClasses: "govuk-visually-hidden",
                            head: [
                                {
                                    text: "Name",
                                    attributes: { "aria-sort": "none" },
                                    classes: 'govuk-table__header'
                                },
                                {
                                    text: "Cell location",
                                    attributes: { "aria-sort": "ascending" },
                                    classes: 'govuk-table__header'
                                },
                                {
                                    text: "Relevant alerts",
                                    classes: 'govuk-table__header'
                                },
                                {
                                    html: "Event details",
                                    attributes: { "aria-sort": "none", colspan: 4 },
                                    classes: 'govuk-table__header govuk-!-display-none-print hmpps-width-40-percent'
                                },
                                {
                                    html: "Event details",
                                    attributes: { "aria-sort": "none" },
                                    classes: 'govuk-table__header print-only hmpps-width-30-percent'
                                },
                                {
                                    html: "<span><span class=\"text-underline\">R</span>efused</span>",
                                    classes: 'govuk-table__header hmpps-table__header--angled-table-header checkbox-width print-only'
                                },
                                {
                                    html: "<span>Rest in <span class=\"text-underline\">C</span>ell</span>",
                                    classes: 'govuk-table__header hmpps-table__header--angled-table-header checkbox-width print-only'
                                },
                                {
                                    html: "<span><span class=\"text-underline\">U</span>nlocked</span>",
                                    classes: 'govuk-table__header hmpps-table__header--angled-table-header checkbox-width print-only'
                                }
                            ],
                            rows: rows
                        }) }}
                    </div>
                </form>
            </div>
        </td></tr></tbody>
        <tfoot class="print-only">
            <tr>
                <td class="govuk-!-padding-top-1 govuk-body-s">
                    Printed at {{ now | formatDate('h:mmaaa \'on\' EEEE, d MMMM yyyy') }}
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% macro prisonerProfile(item) %}
    <a href="{{ dpsUrl }}/prisoner/{{ item.prisonerNumber }}" target="_blank" class="govuk-link govuk-link--no-visited-state">
        {{ (item.firstName + " " + item.lastName) | toTitleCase | prisonerName }}
    </a>
    <div class="govuk-body-s govuk-!-margin-0" data-qa="prisoner-number">{{ item.prisonerNumber }}</div>
{% endmacro %}
