{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'components/hmppsDatePicker.njk' import hmppsDatePicker %}

{% set pageTitle = applicationName + " - Change of circumstances" %}
{% set pageId = 'select-period-for-changes-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    name: "datePresetOption",
                    fieldset: {
                        legend: {
                            text: "Select the date",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                    },
                    errorMessage: validationErrors | findError('datePresetOption'),
                    items: [
                        {
                            value: "today",
                            text: "Today",
                            checked: formResponses.datePresetOption == 'today'
                        },
                        {
                            value: "yesterday",
                            text: "Yesterday",
                            checked: formResponses.datePresetOption == 'yesterday'
                        },
                        {
                            value: "other",
                            text: "A different date",
                            checked: formResponses.datePresetOption == 'other',
                            conditional: {
                                html: hmppsDatePicker({
                                    id: 'date',
                                    name: 'date',
                                    hint: {
                                        text: 'Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select'
                                    },
                                    classes: 'hmpps-datepicker--fixed-width',
                                    errorMessage: validationErrors | findError('date'),
                                    value: formResponses.date or session.allocateJourney.date | isoDateToDatePickerDate
                                })
                            }
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Submit"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
