{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "components/sticky-select.njk" import stickySelect %}
{% from "partials/showProfileLink.njk" import showProfileLink %}
{% from "partials/statusBasedCellLocation.njk" import statusBasedCellLocation %}

{% set pageTitle = applicationName + " - Review changes in circumstances" %}
{% set pageId = 'change-of-circumstance-page' %}
{% set jsBackLink = true %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Changes in circumstances</h1>

        {% set rows = [] %}

        {% for event in changeEvents %}

            {% set rows = (rows.push({
                visuallyHiddenText: 'Select ' + event.eventReviewId,
                value: event.eventReviewId,
                selectable: event.acknowledgedBy === null,
                items: [
                    {
                        html: showProfileLink({
                            name: event.name,
                            prisonerNumber: event.prisonerNumber,
                            link: true
                        }),
                        attributes: {
                            "data-qa": "prisoner-details"
                        }
                    },
                    {
                        text: statusBasedCellLocation(event.cellLocation, event.prisonerStatus, event.prisonerPrisonCode == user.activeCaseLoadId)
                    },
                    {
                        text: event.eventTime | parseDate("yyyy-MM-dd'T'HH:mm:ss") | formatDate('d MMMM yyyy hh:mm a', false)
                    },
                    {
                        html: renderEventTypeTag(event),
                        classes: 'govuk-!-display-none-print'
                    }
                ]
            }), rows) %}

        {% endfor %}

        {% if rows.length == 0 %}
            <div class="govuk-body">
                <h3>There are no changes to show for this date.</h3>
                <p>To view changes for a different date select the back link and enter different date.</p>
            </div>
        {% else %}

            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="date" value="{{ date }}">
                <input type="hidden" name="page" value="{{ page }}">

                {{ mojPagination(pagination) }}

                {{ stickySelect({
                    type: 'check',
                    id: "changeEvents",
                    caption: "Change events",
                    captionClasses: "govuk-visually-hidden",
                    name: 'selectedEvents',
                    head: [
                        {
                            text: "Name"
                        },
                        {
                            text: "Cell location"
                        },
                        {
                            text: "Event time"
                        },
                        {
                            text: "Event type"
                        }
                    ],
                    rows: rows,
                    actions: [
                        {
                            text: 'Acknowledge',
                            formAction: 'view-changes'
                        }
                    ],
                    itemsDescription: 'event',
                    itemsDescriptionPlural: 'events'
                }) }}

                {{ mojPagination(pagination) }}
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% macro renderEventTypeTag(event) %}
    {% set options = 
        ({ text: "Non-association", classes: "govuk-tag--orange" } if 'non-association' in event.eventType) or
        ({ text: "IEP status", classes: "govuk-tag--green" } if 'iep-review' in event.eventType) or
        ({ text: "Release", classes: "govuk-tag--green" } if 'activities-changed' in event.eventType or 'appointments-changed' in event.eventType or 'prisoner.released' in event.eventType) or
        ({ text: "Cell-move", classes: "govuk-tag--blue" } if '' in event.eventType) or
        { text: "Unknown-event", classes: "govuk-tag--red"} %}

    {% set options = options | setAttribute('classes', options.classes + " govuk-!-font-size-16") %}

    {{ govukTag(options) }}
{% endmacro %}
