{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from 'moj/components/date-picker/macro.njk' import mojDatePicker %}

{% set pageTitle = applicationName + " - Waitlist - Request date" %}
{% set pageId = 'request-date-page' %}
{% set jsBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <span class="govuk-caption-xl">{{ session.waitListApplicationJourney.activity.activityName }}</span>
                {{ mojDatePicker({
                    id: 'requestDate',
                    name: 'requestDate',
                    leadingZeros: 'true',
                    label: {
                        text: "Change the date of " + session.waitListApplicationJourney.prisoner.name + "'s application",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    classes: 'moj-datepicker--fixed-width',
                    hint: {
                        html: govukInsetText({ text: 'If the application has not been dated, use today\'s date.' }) +
                            '<div>Enter the date, for example ' + exampleDatePickerDate() + ', or click on the calendar to select.</div>'
                    },
                    errorMessage: validationErrors | findError('requestDate'),
                    value: formResponses.requestDate or session.waitListApplicationJourney.requestDate | isoDateToDatePickerDate
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Update date of request",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
