{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">You do not have permission to access this page</h1>

  <p class="govuk-body">Only people who manage activities in Digital Prison Services (DPS) can access this page.</p>

  <p class="govuk-body">If you think you should have permission to access this page, contact your local system administrator (LSA).</p>

  <a href="{{ dpsUrl }}" class="govuk-button">Go to Digital Prison Services</a>
{% endblock %}
