{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Page not found</h1>

  <p class="govuk-body">If you typed the web address, check it is correct.</p>

  <p class="govuk-body">If you pasted the web address, check you included the whole address.</p>

  <a href="{{ dpsUrl }}" class="govuk-button">Go to Digital Prison Services</a>
{% endblock %}
