{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "govuk-body" %}
{% set jsBackLink = true %}

{% block content %}
  <h1>{{ message }}</h1>

  {% if isProduction %}
    <p class="govuk-body">The problem has been logged. You can try again.</p>

    <p class="govuk-body">You can report a fault by calling 0800 917 5148 or #6598 from inside an establishment.</p>

    <a href="{{ dpsUrl }}" class="govuk-button">Go to Digital Prison Services</a>
  {% else %}
    {% if status %}<h2>{{ status }}</h2>{% endif %}
    {% if stack %}<pre class="stacktrace">{{ stack }}</pre>{% endif %}
  {% endif %}
{% endblock %}
