{% extends "homepageLayout.njk" %}
{% from "components/card.njk" import card %}

{% set pageTitle = applicationName + " - Create and manage appointments" %}
{% set pageId = 'appointments-management-page' %}
{% set backLinkText = "Digital Prison Services" %}
{% set backLinkHref = dpsUrl %}

{% block heading %}
    <h1 class="govuk-heading-l">Create and manage appointments</h1>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="card-group govuk-grid-row">
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "createIndividualAppointmentCard",
                        "href": "appointments/create/start-individual",
                        "clickable": "true",
                        "heading": "Create individual appointments",
                        "description": "Add an appointment for an individual.",
                        "data-qa": "create-individual-appointment-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "createBulkAppointmentCard",
                        "href": "appointments/create/start-bulk",
                        "clickable": "true",
                        "heading": "Create a bulk appointment",
                        "description": "Add multiple appointments for a number of people.",
                        "data-qa": "create-bulk-appointment-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "createGroupAppointmentCard",
                        "href": "appointments/create/start-group",
                        "clickable": "true",
                        "heading": "Create a group appointment",
                        "description": "Add a one-off or repeat appointment for a group of people.",
                        "data-qa": "create-group-appointment-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "searchAppointmentsCard",
                        "href": "appointments/search/select-date",
                        "clickable": "true",
                        "heading": "View and manage an appointment",
                        "description": "Find and edit an existing appointment.",
                        "data-qa": "search-appointments-card"
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
