{% extends "homepageLayout.njk" %}
{% from "components/card.njk" import card %}

{% set pageTitle = "Schedule and edit appointments" %}
{% set pageId = 'appointments-management-page' %}
{% set hardBackLinkText = "Digital Prison Services" %}
{% set hardBackLinkHref = dpsUrl %}

{% block heading %}
    <h1 class="govuk-heading-l">Appointments scheduling and attendance</h1>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="card-group govuk-grid-row">
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "createGroupAppointmentCard",
                        "href": "/appointments/create/start-group",
                        "clickable": "true",
                        "heading": "Schedule an appointment",
                        "description": "Set up a one-off or repeating appointment for one or more people.",
                        "data-qa": "create-group-appointment-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "createAppointmentSetCard",
                        "href": "/appointments/create/start-set",
                        "clickable": "true",
                        "heading": "Schedule a set of back-to-back appointments",
                        "description": "Set up appointments for a pre-prepared list of people to attend on the same day.",
                        "data-qa": "create-appointment-set-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "searchAppointmentsCard",
                        "href": "/appointments/search/select-date",
                        "clickable": "true",
                        "heading": "Manage existing appointments",
                        "description": "Edit the details of an appointment, including cancelling, adding and removing people, and printing movement slips.",
                        "data-qa": "search-appointments-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "recordAppointmentAttendanceCard",
                        "href": "/appointments/attendance/select-date",
                        "clickable": "true",
                        "heading": "Record appointment attendance",
                        "description": "Record, view and change appointment attendance.",
                        "data-qa": "record-appointment-attendance-card"
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
