{% extends "layout.njk" %}
{% from "components/card.njk" import card %}

{% set pageTitle = "Appointments Management" %}
{% set pageId = 'appointments-management-page' %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Appointments management</h1>

            <div class="card-group govuk-grid-row">
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "createIndividualAppointmentCard",
                        "href": "appointments/create/start-individual",
                        "clickable": "true",
                        "heading": "Create an appointment",
                        "description": "Create an appointment for an individual prisoner in your prison.",
                        "data-qa": "create-individual-appointment-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "createGroupAppointmentCard",
                        "href": "appointments/create/start-group",
                        "clickable": "true",
                        "heading": "Create a group appointment",
                        "description": "Add a one-off or repeat appointment for a group of people.",
                        "data-qa": "create-group-appointment-card"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "id": "searchAppointmentsCard",
                        "href": "appointments/search?startDate=" + now | toDateString,
                        "clickable": "true",
                        "heading": "View and manage an appointment",
                        "description": "Find and edit an existing appointment.",
                        "data-qa": "search-appointments-card"
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
