{% extends "layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "pages/appointments/partials/appointment-type-caption.njk" import appointmentTypeCaption %}
{% from "pages/appointments/partials/appointment-journey-title.njk" import appointmentJourneyTitle %}

{% set pageTitle = appointmentJourneyTitle("Upload by CSV", session.appointmentJourney) %}
{% set pageId = 'appointments-upload-by-csv-page' %}
{% set backLinkHref = "/appointments" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ appointmentTypeCaption(session) }}
            <h1 class="govuk-heading-l">Use a CSV file to create appointments</h1>

            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-body">You can use a CSV file (a type of spreadsheet) to create multiple appointments for a number of people at different times.</p>

                <p class="govuk-body">You must include a prison number for each individual.</p>

                <p class="govuk-body">You can also include start and end times using the 24-hour clock. For example 14:00 not 2:00pm.</p>

                <a href="/assets/downloads/bulk-appointments.csv" download>Download CSV file template</a>
            </div>

            <form method="POST" action="upload-by-csv{{ '?preserveHistory=true' if preserveHistory else '' }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
